<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>-->
    <!-- SlidesJS Required: Link to jquery.slides.js -->

    <!-- End SlidesJS Required -->
        
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Cocoon -Portfolio</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="/css/sns/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="/css/sns/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/sns/css/et-line.css" rel="stylesheet">
    <link href="/css/sns/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="/css/sns/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="/css/sns/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/sns/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="/css/sns/css/main.css" rel="stylesheet">
    <style>
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 21;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 0% auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 70%;
            /* Could be more or less, depending on screen size */
            font-size: 16px;
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .modalBtn {
            font-size: 13px;
            color: black;
        }

        #att_zone {
            width: 900px;
            min-height: 150px;
            padding: 10px;
            border: 1px dotted #00f;
        }

        #att_zone:empty:before {
            content: attr(data-placeholder);
            color: #999;
            font-size: .9em;
        }

        .followBtn {
            position: absolute;
            top: 5px;
            left: 400px;
            width: 70px;
            height: 30px;
            font-size: 13px;
            background-color: skyblue;
            border-color: white;
            color: white;
            font-weight: 700;
        }

        .btnIcon {
            width: 30px;
            height: 25px;
        }

        .profile {
            width: 700px;
            height: 200px;
            margin: 0 auto;
            position: relative;
        }

        .profile>p {
            position: absolute;
            top: 35px;
            left: 300px;
            font-size: 11px;
            color: blue;
        }

        #instaImg {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            position: absolute;
            top: 1px;
            left: 81px;
        }

        .profileImg {
            position: absolute;
            top: 4px;
            left: 84px;
            border-radius: 50%;
            width: 124px;
            height: 124px;
            object-fit: cover;
        }

        .feedCount {
            font-size: 14px;
            font-weight: 600;
            padding-left: 10px;
        }

        #feedCount {
            position: absolute;
            top: 50px;
            left: 300px;
        }

        #profileContent {
            width: 200px;
            position: absolute;
            top: 90px;
            left: 300px;
            font-size: 14px;
            text-align: left;
        }

        .storyProfileImg {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            top: -5px;
            left: -10px;
        }

        .storyProfileName {
            font-size: 15px;
            position: absolute;
            top: 6px;
            left: 57px;
            font-weight: 600;
        }

        .storyImg {
            width: 600px;
            height: 518px;
            position: absolute;
            top: 0px;
            left: -20px;
            object-fit: cover;
        }

        .storyProfileDate {
            position: absolute;
            top: 6px;
            right: 25px;
            font-size: 14px;
        }

        .Feedmodal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 21; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        /* Modal Content/Box */
        .Feedmodal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }
        li.dot{
            background-color: lightgray;
            margin-top: 20px;
            margin-left: 10px;
        }
        li.dot:hover {
            background-color: lightblue;
        }
        li.dot.active {
            background-color: skyblue;
        }

        .boardImg{
            opacity: 0;
        }
        .boardImg.active{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            z-index: 20;
        }

    </style>
    
    <!-- jquery -->
    <script src="/css/sns/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/css/sns/js/popper.js"></script>
    <script src="/css/sns/js/bootstrap.min.js"></script>
    <script src="/css/sns/js/waypoints.min.js"></script>
    <!--slick carousel -->
    <script src="/css/sns/js/slick.min.js"></script>
    <!--Portfolio Filter-->
    <script src="/css/sns/js/imgloaded.js"></script>
    <script src="/css/sns/js/isotope.js"></script>
    <!-- Magnific-popup -->
    <script src="/css/sns/js/jquery.magnific-popup.min.js"></script>
    <!--Counter-->
    <script src="/css/sns/js/jquery.counterup.min.js"></script>
    <!-- WOW JS -->
    <script src="/css/sns/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="/css/sns/js/main.js"></script>

</head>

<body>
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>

    <div class="body-container container-fluid">
        <a class="menu-btn" href="javascript:void(0)">
            <i class="ion ion-grid"></i>
        </a>
        <div class="row justify-content-center">
            <!--=================== side menu ====================-->
            <div class="col-lg-2 col-md-3 col-12 menu_block">

                <!--logo -->
                <div class="logo_box">
                    <a href="#">
                        <img src="/css/sns/img/logo.png" alt="cocoon">
                    </a>
                </div>
                <!--logo end-->

                <!--main menu -->
                <div class="side_menu_section">
                    <ul class="menu_nav">
                        <li> <a href="/own/home">Home</a></li>

                        <li class="active" th:if="${userId.snsNickname == snsInfo.snsNickname}">
                            <a th:href="@{snsFeed(snsNickname=${userId.snsNickname})}">나의 피드</a>
                        </li>
                        <li th:if="${userId.snsNickname != snsInfo.snsNickname}">
                            <a th:href="@{snsFeed(snsNickname=${userId.snsNickname})}">나의 피드</a></li>
                        <li>
                            <a href="services.html">
                                Services
                            </a>
                        </li>
                        <li>
                            <a href="/own/sns">
                                sns메인
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <!--main menu end -->

                <!--filter menu -->
                <div class="side_menu_section">
                    <h4 class="side_title">filter by:</h4>
                    <ul id="filtr-container" class="filter_nav">
                        <li data-filter="*" class="active"><a href="javascript:void(0)">all</a></li>
                        <li data-filter=".branding"> <a href="javascript:void(0)">branding</a></li>
                        <li data-filter=".design"><a href="javascript:void(0)">design</a></li>
                        <li data-filter=".photography"><a href="javascript:void(0)">photography</a></li>
                        <li data-filter=".architecture"><a href="javascript:void(0)">architecture</a></li>
                    </ul>
                </div>
                <!--filter menu end -->


                <!--social and copyright -->
                <div class="side_menu_bottom">
                    <div class="side_menu_bottom_inner">
                        <ul class="social_menu">
                            <li>
                                <a href="#"> <i class="ion ion-social-pinterest"></i> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="ion ion-social-facebook"></i> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="ion ion-social-twitter"></i> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="ion ion-social-dribbble"></i> </a>
                            </li>
                        </ul>
                        <div class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p class="copyright">Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                                    aria-hidden="true"></i> by <a href="https://colorlib.com"
                                    target="_blank">Colorlib</a></p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
                <!--social and copyright end -->

            </div>
            <!--=================== side menu end====================-->

            <!--=================== content body ====================-->
            <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
                <!--=================== filter portfolio start====================-->
                <div id="snsprofilebox" style="border: 1px solid lightgray; text-align: center;">
                    <br>
                    <div class="profile">
                        <img id="instaImg" src="/css/sns/img/insta.png">
                        <span class="modalBtn">
                            <img th:if="${profileImg == null}" class="profileImg" src="/css/sns/img/defaultUser.png">
                            <span th:unless="${profileImg == null}">
                                <img class="profileImg" th:src="|/imgView/${profileImg.mediaServerFile}"></span>
                        </span>

                        <span id="snsNickname" th:text="${snsInfo.snsNickname}" th:value="${snsInfo.snsAccountNo}"
                            style="position: absolute; top:10px; left:300px; font-size:16px; font-weight:700;"></span>

                        <p th:if="${userId.snsNickname == snsInfo.snsNickname}" class="modalBtn">프로필 변경</p>
                        <td th:if="${userId.snsNickname != snsInfo.snsNickname}">
                            <button th:if="${isCheckFollow == 0}" class="followBtn" data-follow="0"
                                value="팔로우">팔로우</button>
                            <button th:unless="${isCheckFollow == 0}" class="followBtn" data-follow="1" value="팔로잉"
                                style="background-color: white; color:black">팔로잉</button>
                        </td>
                        <div id="feedCount">
                            <span style="font-size: 13px; color:black">게시글</span>
                            <span class="feedCount" th:text="${snsFeedCount}"></span>&nbsp;&nbsp;
                            <span class="modalBtn">팔로우</span><span class="feedCount"
                                th:text="${snsFollow}"></span>&nbsp;&nbsp;
                            <span class="modalBtn">팔로워</span><span class="feedCount" th:text="${snsFollower}"
                                id="followerCnt"></span>
                        </div>
                        <div id="profileContent">
                            <div th:if="${snsInfo.snsProfile != null}">
                                <span th:text="${snsInfo.snsProfile}"></span></div>
                            <div th:unless="${snsInfo.snsProfile != null}">프로필 소개글을입력하세요.</div>

                            <div th:if="${snsInfo.snsWebsite != null}">
                                <a th:href="${snsInfo.snsWebsite}" th:text="${snsInfo.snsWebsite}"
                                    style="color: skyblue;"></a></div>
                            <div th:unless="${snsInfo.snsWebsite != null}">웹사이트 링크비어있음</div>
                        </div>
                    </div>
                    <!-- 스토리 등록-->
                    <div th:if="${userId.snsNickname == snsInfo.snsNickname}" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>스토리 등록</p>
                            <form action="/own/snsStory" method="post" enctype="multipart/form-data">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <input th:value="${userId.snsNickname}" name="snsNickname" type="hidden">
                                <input th:value="${userId.snsAccountNo}" name="snsAccountNo" type="hidden">
                                <input name="uploadStory" type="file" id="uploadStory">
                                <label for="uploadStory">사진첨부</label>
                                <input type="submit" role="button" value="확인" />
                            </form>
                        </div>
                    </div>
                    <!-- 다른사람 스토리-->
                    <div th:if="${userId.snsNickname != snsInfo.snsNickname}" class="modal">
                        <div class="modal-content" style="width: 500px; height: 600px;">
                            
                            <div class="storyProfile" style="position:relative; width: 450px; height: 60px;">
                                <span class="close" style="padding-left: 16px; padding-top:2px;">&times;</span>
                            </div>
                            <div class="storyContent" style="position:relative; width:498px;">

                            </div>
                            

                        </div>
                    </div>
                    <!-- 프로필 -->
                    <div th:if="${userId.snsNickname == snsInfo.snsNickname}" class="modal">
                        <div class="modal-content" style="width: 800px; height: 700px;">
                            <span class="close">&times;</span>
                            <p>프로필 변경</p>
                            <form id="form1" action="/own/snsProfile" method="post" enctype="multipart/form-data">
                                <div style="width: 300px; height: 300px; border-radius: 50%; border:1px #00f dotted;">
                                <img id="blah" style="width: 300px; height: 300px; border-radius: 50%; object-fit: cover;"/></div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <input th:value="${userId.snsAccountNo}" name="snsAccountNo" type="hidden">
                                <input th:value="${userId.snsNickname}" name="snsNickname">
                                <input name="uploadProfile" type="file" id="imgInp" />
                                <textarea style="width:400px; height:100px;" placeholder="프로필 소개글을 입력하세요."
                                    name="snsProfile" th:value="${snsInfo.snsProfile}">
											</textarea>
                                <textarea stlye="width:500px; height:80px;" placeholder="웹사이트링크를 입력하세요"
                                    name="snsWebsite" th:value="${snsInfo.snsWebsite}">
											</textarea>
                                <input type="submit" role="button" value="확인" />
                            </form>
                        </div>
                    </div>


                    <!-- 팔로우 Modal -->
                    <div class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>내가 팔로우 한 사람</p>
                            <table border="1px">
                                <thead>
                                    <tr>
                                        <th>팔로우 목록</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="snsfol : ${snsFollowerList}">
                                        <td th:text="${snsfol.follower}"></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 팔로워 Modal -->
                    <div class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>나를 팔로우 한 사람</p>
                            <table border="1px">
                                <thead>
                                    <tr>
                                        <th>팔로워 목록</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="snsf : ${snsFollowList}">
                                        <td th:text="${snsf.follow}"></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <img src="/css/sns/img/user.png" alt="author"> 하이라이트
                    &nbsp;&nbsp;&nbsp;&nbsp; <img src="/css/sns/img/user.png" alt="author">
                    하이라이트 &nbsp;&nbsp;&nbsp;&nbsp; <img src="/css/sns/img/user.png" alt="author"> 하이라이트
                    &nbsp;&nbsp;&nbsp;&nbsp; <img src="/css/sns/img/user.png" alt="author"> 하이라이트
                    &nbsp;&nbsp;&nbsp;&nbsp; <img src="/css/sns/img/user.png" alt="author">
                    하이라이트 <br> <br>
                </div>
                <hr>
              	<p>여기 테스트</p>
         
                <!-- 글작성 모달을 여는 클래스 -->
                <h1 th:if="${userId.snsNickname == snsInfo.snsNickname}" class="modalBtn" style="text-align: right; cursor:pointer;">
               		 📝글작성</h1>
                <p>
                    <div th:if="${userId.snsNickname == snsInfo.snsNickname}" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="image_preview">
                                <!--이미지 미리보기-->
                                <form action="/own/snsWriteFeed" method="post" class="snsWriteFrm"
                                    enctype="multipart/form-data">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input name="uploadfile" type="file" id="btnAtt" multiple="multiple">
                                    <!--<label for="btnAtt">이미지 첨부</label> 라벨이 안먹혀요 ㅠㅠ 도와주실분-->

                                    <div id="att_zone" data-placeholder='사진을 첨부하세요'></div>
                                    <br>

                                    <textarea style="width: 600px; height: 200px;" name="snsBoardContent"
                                        id="inputContent"></textarea>
                                    <input th:value="${userId.snsAccountNo}" name="snsAccountNo" type="hidden"></input>
                                    <input th:value="${userId.snsNickname}" type="hidden" name="snsNickname" />
                                    <input type="submit" role="button" value="글쓰기" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="portfolio gutters grid img-container">
                        <div class="grid-sizer col-sm-12 col-md-6 col-lg-3"></div>

                        <th:block th:each="snsimg :${snsImg}">
                                <div class="grid-item branding  col-sm-12 col-md-6 col-lg-3" >
                                    <div class="project_box_one">
                                        <img th:src="|/imgView/${snsimg.mediaServerFile}" />
                                        <div class="product_info"  th:value="${snsimg.identifyId}">
                                            <div class="product_info_text">
                                                <div class="product_info_text_inner">
                                                    <i class="ion ion-plus"></i>
                                                    <h4>좋아요 수/ 댓글 수</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--</a>-->
                            </th:block>

                    </div>

                    <!-- 게시글 상세보기 Modal -->                  
                        <div class="Feedmodal">
                            <div class="Feedmodal-content" style="width: 1100px; height: 800px;">
                                <span class="close"></span>
                                <div class="boardContent" style="float: right; width: 500px;border-bottom: 1px lightgray solid; padding-bottom: 16px;">
                                  
                                </div>
                                
                                <div class="boardImgList" style="position:relative; width: 500px; height: 600px; float:left">
                                </div>
                                <div class="replyContent" style="width:500px; float: right; border-bottom: 1px lightgray solid; padding-top: 16px; padding-bottom: 16px; margin-bottom: 10px;">
                                    여기는 댓글자리입니다
                                </div>   
                                <div class="replyInsert" style="width:500px; height: 200px;float:right;">
                                    <div class="replyInput" style="cursor:pointer;">📝댓글쓰기</div>
                                    <div class="realReply"></div>
                                </div>
                                <div class="container-dots">
                                    <ul class="dots-parent" style="list-style: none; margin-left: 150px; width: 300px; height: 50px;">
                                        
                                    </ul>
                                </div>

                                

                                <div class="btnIcon">
                                    <img src="/css/sns/img/update.png" id="updateBtn">
                                    <img src="/css/sns/img/trash.png" id="trashBtn">
                                </div>
                                
                            </div>
                        </div>
                    <!--=================== filter portfolio end====================-->
            </div>
            <!--=================== content body end ====================-->
        </div>
    </div>
    <!--===================스크립트====================-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var header = /*[[${_csrf.headerName}]]*/ 'defalut';
        var token = /*[[${_csrf.token}]]*/ 'defalut';
        /*]]>*/

        //이미지미리보기
        $(function() {
            $("#imgInp").on('change', function(){
                readURL(this);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

              reader.readAsDataURL(input.files[0]);
            }
        }
   
        "[(${snsInfo.snsAccountNo})]"
        var replyId = "[(${userId.userId})]"
        var categoryNo = '';

    //댓글 입력 창 생성
    $('.replyInsert').on("click",'.replyInput', function(e){
        console.log('댓글쓰기 버튼 클릭')

        $(e.target).remove();
            let replyArea = $('<textarea>').css({"width":"500px","height" : "200px"})
                replyArea.attr({"class":"replyText"})
            let insertBtn = $('<button>').text("입력")
                insertBtn.attr({"class": "insertBtn"})
            let delBtn = $('<button>').text("취소")
                delBtn.attr({"class" : "delBtn"})

            $('.realReply').append(replyArea, insertBtn, delBtn);

    })
    //댓글 입력
        $('.realReply').on("click", '.insertBtn', function(){
                console.log("입력버튼 클릭");
                console.log(replyId);
                console.log(categoryNo);
                let replyText = $('.realReply').children('.replyText').val();
                console.log(replyText);

                $.ajax({
                    url : '/own/snsReply',
                    method : 'post',
                    data: {
                        replyContent : replyText,
                        userId : replyId,
                        categoryNo : categoryNo
                    },  
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(res){
                        console.log(res)

                    },
                    error : function(err){
                        console.log(err);
                    }

                })
        })

        //댓글취소
        $('.realReply').on("click", '.delBtn', function(){
            console.log("취소버튼 클릭")
            $('.replyInsert').children('.realReply').children().remove();
            $('.replyInsert').children('.replyInput').remove();
            let replyInput = $('<div>').text('📝댓글쓰기');
                replyInput.attr({"class" : "replyInput"})
                replyInput.css({"cursor":"pointer"})
            $('.replyInsert').append(replyInput);
            
        })


    //게시글 한건 삭제 
        $('#trashBtn').on("click", function () {
            console.log('쓰레기통버튼 클릭')
            let bNo = $('.boardContent').children('.boardNo').attr("value");
            console.log(bNo)
            if (window.confirm("정말 삭제하시겠습니까?")) {
                console.log("네")
                $.ajax({
                    url: '/own/boardDelete',
                    method: 'post',
                    data: {
                        snsBoardNo: bNo
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (res) {
                        $('.modal').css({
                            "display": "none"
                        });
                        location.href = "/own/snsFeed";
                        alert("삭제 완료")

                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            } else {
                console.log("아니오")
            }
        })
        $('#updateBtn').on("click", function () {
            console.log('업데이트버튼 클릭')
        })

        var followId = "[(${snsInfo.snsAccountNo})]"
        var followerId = "[(${userId.snsAccountNo})]"
        var followNickname = "[(${snsInfo.snsNickname})]"
    
    //게시글 상세보기 이미지 페이징
        $('.dots-parent').on("click", '.dot', function(e){
            console.log("단추클릭")
            let btnData = $(e.target).attr("data-item");
            console.log(this);
            $('.dot').not(this).removeClass("active");
            $(this).addClass("active");
            console.log(this);
            console.log('단추클릭');
            console.log($(this).attr("data-item"));
            $('.boardImg').not('[data-item="'+btnData+'"]').removeClass("active")
            $('.boardImg[data-item="'+btnData+'"]').addClass("active")
        })
        //팔로우버튼
        $('.followBtn').on("click", function () {
            if (this.value == '팔로우') {
                console.log('팔로우버튼 클릭');
                this.style.backgroundColor = "white";
                this.style.color = "black";
                this.value = '팔로잉';
                this.textContent = "팔로잉";
                $.ajax({
                    url: '/own/follow',
                    method: 'post',
                    data: {
                        snsFollowId: followId,
                        snsFollowerId: followerId,
                        nickname: followNickname
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (res) {
                        console.log(res)
                        $('#followerCnt').text(res);
                    },
                    error: function (err) {
                        console.log(err);
                    }

                })

            } else if (this.value == '팔로잉') {
                console.log('팔로잉버튼 클릭')
                this.style.backgroundColor = "skyblue";
                this.style.color = "white";
                this.value = "팔로우";
                this.textContent = "팔로우";
                $.ajax({
                    url: '/own/unfollow',
                    method: 'post',
                    data: {
                        snsFollowId: followId,
                        snsFollowerId: followerId,
                        nickname: followNickname
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (res) {
                        console.log("언팔완")
                        $('#followerCnt').text(res);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        })

        //스토리 상세보기 ajax
        $('.profileImg').on("click", function () {
            console.log(followNickname); //위에 선언되어있는 피드 sns 닉네임
            $.ajax({
                url: '/own/snsStoryList',
                method: 'post',
                data: {
                    snsNickname: followNickname
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (res) {
                    console.log(res)
                    console.log(res.storyImg)
                    console.log(res.profileImg)
                    console.log(res.storyInfo)
                    let storyProfileImg = $('<img>').attr({
                        "src": "/imgView/" + res.profileImg.mediaServerFile,
                        "class": "storyProfileImg"
                    })
                    let storyProfileName = $('<span>').text(res.storyInfo[0].snsNickname)
                    storyProfileName.attr('class', "storyProfileName")


                    $('.storyProfile').append(storyProfileImg);
                    $('.storyProfile').append(storyProfileName);

                    for (let i = res.storyImg.length - 1; i >= 0; i--) {
                        let storyImg = $('<img>').attr({
                            "src": "/imgView/" + res.storyImg[i].mediaServerFile,
                            "class": "storyImg"
                        })
                        let storyProfileDate = $('<span>').text(elapsedText(res.storyInfo[i]
                            .snsStoryDate))
                        storyProfileDate.attr('class', "storyProfileDate");
                        $('.storyProfile').append(storyProfileDate);
                        $('.storyContent').append(storyImg);
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
        })

        //게시글 상세 보기 ajax
        $('.portfolio').on("click", '.grid-item', function(e){
            console.log($(this));
            console.log($(e.target).attr("value"));
            let boardNo = $(e.target).attr("value");
            console.log('게시글 클릭입니다')
            if(boardNo != null){
                    $(".Feedmodal").show();
                    console.log("모달 아작스 보냅니다");
                        $.ajax({
                            url : '/own/snsFeed',
                            method : 'post',
                            data: {
                                snsBoardNo : boardNo
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success: function (res){
                                console.log(res);
                                let boardNo = $('<div>').attr({"value": res.svo.snsBoardNo,
                                                               "class" : "boardNo"});
                                let boardDate = $('<div>').text(res.svo.snsBoardDate);
                                let boardContent = $('<div>').text(res.svo.snsBoardContent);
                                     $('.boardContent').append(boardNo, boardDate, boardContent);
                                
                                for(let i=res.imgList.length-1; i>= 0; i--){
                                    let boardImg = $('<img>').attr({
                                        "src" : "/imgView/" + res.imgList[i].mediaServerFile,
                                        "class": "boardImg",
                                        "data-item" : i})
                                        boardImg.css({"width":"500px", "height":"600px", "object-fit":"cover",
                                                      "position" : "absolute"})
                                    
                                    $('.boardImgList').append(boardImg);  
                                }
                                for(let i=0; i<res.imgList.length; i++){
                                    let liTag = $('<li>').attr({"data-item" : i,
                                                                "class" : "dot"})
                                        liTag.css({"width":"20px", "height" : "20px", 
                                                   "border-radius":"50%","cursor" :"pointer",
                                                   "float" : "left"})
                                    $('.dots-parent').append(liTag);
                                }

                                $(".boardImgList .boardImg:last-child").addClass("active");
                                $(".dots-parent .dot:first-child").addClass("active");

                                for(let i=res.reply.length-1; i>=0; i--){
                                    // let replyContent = $('<div>').text(res.reply[i].replyContent);
                                    // let replyUserId = $('<div>').text(res.reply[i].userId);
                                    // let replyDate =$('<div>').text(res.reply[i].replyDate);

                                        $('.replyContent').append(makeReply(res.reply[i]));
                                }
                                categoryNo = boardNo.attr("value");
                                
                            },error: function (err){
                                console.log(err)
                            }
                        })
                }else{
                    console.log("잘못클릭")
                }
        })
        
        function makeReply(reply){
            // let replyTag = $('<div>').text(reply.replyContent);
            // let replyUserId = $('<div>').text(reply.userId);
            // let replyDate =$('<div>').text(reply.replyDate);

            let Tag = `<div>${reply.replyContent}</div>
                       <div>${reply.userId}</div>
                       <div>${reply.replyDate}</div>
                       <input type="hidden" value="${reply.replyNo}" />`
            return Tag;
        }
   
              
        // Modal을 가져옵니다.
        var modals = document.getElementsByClassName("modal");
        // Modal을 띄우는 클래스 이름을 가져옵니다.
        var btns = document.getElementsByClassName("modalBtn");
        // Modal을 닫는 close 클래스를 가져옵니다.
        var spanes = document.getElementsByClassName("close");
        var funcs = [];

        // Modal을 띄우고 닫는 클릭 이벤트를 정의한 함수
        function Modal(num) {
            return function () {
                // 해당 클래스의 내용을 클릭하면 Modal을 띄웁니다.
                btns[num].onclick = function () {
                    modals[num].style.display = "block";
                    event.stopPropagation();
                    console.log(num);

                };

                // <span> 태그(X 버튼)를 클릭하면 Modal이 닫습니다.
                spanes[num].onclick = function () {
                    console.log('모달닫기버튼클릭')
                    modals[num].style.display = "none";
                    $('.storyContent').children('img').remove();
                    $('.storyProfile').children().not('.close').remove();
                };
            };
        }

        // 원하는 Modal 수만큼 Modal 함수를 호출해서 funcs 함수에 정의합니다.
        for (var i = 0; i < btns.length; i++) {
            funcs[i] = Modal(i);
        }

        // 원하는 Modal 수만큼 funcs 함수를 호출합니다.
        for (var j = 0; j < btns.length; j++) {
            funcs[j]();
        }

        // // Modal 영역 밖을 클릭하면 Modal을 닫습니다.
        window.onclick = function (event) {
            if (event.target.className == "modal" ) {
                event.target.style.display = "none";
                $('.storyContent').children('img').remove();           
                $('.storyProfile').children().remove();
            }
        };

        window.onclick = function (event) {
            if (event.target.className == "Feedmodal") {
                event.target.style.display = "none";
                $('.boardContent').children().remove();
                $('.boardImgList').children().remove();
                $('.dots-parent').children().remove();
                $('.replyContent').children().remove();
                $('.replyInsert').children().remove();
            }
        };

        //첨부파일 이미지 
        ( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
            imageView = function imageView(att_zone, btn) {

                var attZone = document.getElementById(att_zone);
                var btnAtt = document.getElementById(btn)
                var sel_files = [];

                // 이미지와 체크 박스를 감싸고 있는 div 속성
                var div_style = 'display:inline-block;position:relative;' +
                    'width:150px;height:120px;margin:5px;border:1px solid white;z-index:1';
                // 미리보기 이미지 속성
                var img_style = 'width:100%;height:100%;z-index:none';
                // 이미지안에 표시되는 체크박스의 속성
                var chk_style = 'width:30px;height:30px;position:absolute;font-size:18px;' +
                    'right:0px;bottom:0px;z-index:999;background-color:lightgray;color:white; border:none; opacity:0.9;';

                btnAtt.onchange = function (e) {
                    var files = e.target.files;
                    var fileArr = Array.prototype.slice.call(files)
                    for (f of fileArr) {
                        imageLoader(f);
                    }
                }


                // 탐색기에서 드래그앤 드롭 사용
                attZone.addEventListener('dragenter', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                }, false)

                attZone.addEventListener('dragover', function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                }, false)

                attZone.addEventListener('drop', function (e) {
                    var files = {};
                    e.preventDefault();
                    e.stopPropagation();
                    var dt = e.dataTransfer;
                    files = dt.files;
                    for (f of files) {
                        imageLoader(f);
                    }

                }, false)



                /*첨부된 이미리즐을 배열에 넣고 미리보기 */
                imageLoader = function (file) {
                    sel_files.push(file);
                    var reader = new FileReader();
                    reader.onload = function (ee) {
                        let img = document.createElement('img')
                        img.setAttribute('style', img_style)
                        img.src = ee.target.result;
                        attZone.appendChild(makeDiv(img, file));
                    }

                    reader.readAsDataURL(file);
                }

                /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
                makeDiv = function (img, file) {
                    var div = document.createElement('div')
                    div.setAttribute('style', div_style)

                    var btn = document.createElement('input')
                    btn.setAttribute('type', 'button')
                    btn.setAttribute('value', 'x')
                    btn.setAttribute('delFile', file.name);
                    btn.setAttribute('style', chk_style);
                    btn.onclick = function (ev) {
                        var ele = ev.srcElement;
                        var delFile = ele.getAttribute('delFile');
                        for (var i = 0; i < sel_files.length; i++) {
                            if (delFile == sel_files[i].name) {
                                sel_files.splice(i, 1);
                            }
                        }

                        dt = new DataTransfer();
                        for (f in sel_files) {
                            var file = sel_files[f];
                            dt.items.add(file);
                        }
                        btnAtt.files = dt.files;
                        var p = ele.parentNode;
                        attZone.removeChild(p)
                    }
                    div.appendChild(img)
                    div.appendChild(btn)
                    return div
                }
            }
        )('att_zone', 'btnAtt')

        //시간계산 함수
        function elapsedText(date) {
            console.log(date);
            date = new Date(date);
            // 초 (밀리초)
            const seconds = 1;
            // 분
            const minute = seconds * 60;
            // 시
            const hour = minute * 60;
            // 일
            const day = hour * 24;

            var today = new Date();
            var elapsedTime = Math.trunc((today.getTime() - date.getTime()) / 1000);

            var elapsedText = "";
            if (elapsedTime < seconds) {
                elapsedText = "방금 전";
            } else if (elapsedTime < minute) {
                elapsedText = elapsedTime + "초 전";
            } else if (elapsedTime < hour) {
                elapsedText = Math.trunc(elapsedTime / minute) + "분 전";
            } else if (elapsedTime < day) {
                elapsedText = Math.trunc(elapsedTime / hour) + "시간 전";
            } else if (elapsedTime < (day * 3)) {
                elapsedText = Math.trunc(elapsedTime / day) + "일 전";
            } else {
                elapsedText = SimpleDateTimeFormat(date, "yyyy-MM-dd");
            }

            return elapsedText;
        }
    </script>



</body>

</html>