<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Cocoon -Portfolio</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="/css/sns/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="/css/sns/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/sns/css/et-line.css" rel="stylesheet">
    <link href="/css/sns/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="/css/sns/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="/css/sns/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/sns/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="/css/sns/css/main.css" rel="stylesheet">

    <style>
        /* The Modal (background) */
        .searchModal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
     
        /* Modal Content/Box */
        .search-modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 70%; /* Could be more or less, depending on screen size */
        }
    </style>
</head>
<div layout:fragment="content">
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        <div class="col-lg-2 col-md-3 col-12 menu_block">

            <!--logo -->
            <div class="logo_box">
                <a href="#"><img src="/css/sns/img/logo.png" alt="cocoon"></a>
            </div>
            <!--logo end-->

            <!--main menu -->
            <div class="side_menu_section">
                <ul class="menu_nav">
                    <li> <a href="/own/home">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="/own/snsFeed" id="snsFeed">개인피드</a></li>
                    <li class="active"><a href="/own/sns">sns메인</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <!--main menu end -->

            <!--filter menu -->
            <div class="side_menu_section">
                <h4 class="side_title">filter by:</h4>
                <ul  id="filtr-container"  class="filter_nav">
                    <li  data-filter="*" class="active"><a href="javascript:void(0)" >all</a></li>
                    <li data-filter=".branding"> <a href="javascript:void(0)">branding</a></li>
                    <li data-filter=".design"><a href="javascript:void(0)">design</a></li>
                    <li data-filter=".photography"><a href="javascript:void(0)">photography</a></li>
                    <li data-filter=".architecture"><a href="javascript:void(0)">architecture</a></li>
                </ul>
            </div>
            <!--filter menu end -->


            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <ul class="social_menu">
                        <li>
                            <a href="#"> <i class="ion ion-social-pinterest"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-twitter"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-dribbble"></i> </a>
                        </li>
                    </ul>
                    <div class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <br>
            <div id="snsprofilebox" style="border: 1px solid black; text-align: center; padding-top: 20px;">
                <img src="/css/sns/img/user.png" alt="author"> 스토리 &nbsp;&nbsp;&nbsp;&nbsp; 
                <img src="/css/sns/img/user.png" alt="author"> 스토리 &nbsp;&nbsp;&nbsp;&nbsp; 
                <img src="/css/sns/img/user.png" alt="author"> 스토리 &nbsp;&nbsp;&nbsp;&nbsp; 
                <img src="/css/sns/img/user.png" alt="author"> 스토리
            </div><hr>
            
            <div class="blog">
                <div class="row justify-content-center">
                
                    <div class="col-lg-8 col-md-12 col-12">
                        <article class="blog_card">
                            <div class="blog_card_top">
                                <img src="/css/sns/img/blog/blog1.png" alt="blog title " />
                                <div class="blog_date">
                                    31
                                    <span>
                                        october 2017
                                    </span>
                                </div>
                            </div>
                            <div class="blog_card_bottom">
                                <h4>
                                    <a href="#">
                                        A short blog post about design
                                    </a>
                                </h4>
                                <div class="meta_data">
                                    <span>By Loredana Papp-Dinea</span>
                                    <span>Design, Inspiration, Creative</span>
                                    <span>3 Comments</span>
                                </div>
                                <p>
                                    Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus. Donec maximusLorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus. Donec maximus ipsum non ornare vestibulum...
                                </p>
                            </div>
                        </article>
                        <article class="blog_card">
                            <div class="blog_card_top">
                                <img src="/css/sns/img/blog/blog2.png" alt="blog title " />
                                <div class="blog_date">
                                    31
                                    <span>
                                        october 2017
                                    </span>
                                </div>
                            </div>
                            <div class="blog_card_bottom">
                                <h4>
                                    <a href="#">
                                        A short blog post about design
                                    </a>
                                </h4>
                                <div class="meta_data">
                                    <span>By Loredana Papp-Dinea</span>
                                    <span>Design, Inspiration, Creative</span>
                                    <span>3 Comments</span>
                                </div>
                                <p>
                                    Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus. Donec maximusLorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus. Donec maximus ipsum non ornare vestibulum...
                                </p>
                            </div>
                        </article>
                        <article class="blog_card">
                            <div class="blog_card_top">
                                <img src="/css/sns/img/blog/blog3.png" alt="blog title " />
                                <div class="blog_date">
                                    31
                                    <span>
                                        october 2017
                                    </span>
                                </div>
                            </div>
                            <div class="blog_card_bottom">
                                <h4>
                                    <a href="#">
                                        A short blog post about design
                                    </a>
                                </h4>
                                <div class="meta_data">
                                    <span>By Loredana Papp-Dinea</span>
                                    <span>Design, Inspiration, Creative</span>
                                    <span>3 Comments</span>
                                </div>
                                <p>
                                    Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus. Donec maximusLorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus. Donec maximus ipsum non ornare vestibulum...
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>
</div>

<!--  ========== SNS 계정 간편가입 모달 ==========  -->
<span th:if="${session.loginUser.snsAccountNo == null}">
<div id="modal" class="searchModal">
    <div class="search-modal-content">
        <div class="page-header">
            <h1>MODAL</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>SNS 간편가입이 필요한 페이지입니다. 회원 가입을 하시겠습니까?</h2>
                        <form action="/own/snsAccount" method="post">
                           <label>ID정보</label>
                           <div th:text="${session.loginUser.userId}"></div>
                           <input name="userId" type="hidden" th:value="${session.loginUser.userId}" >
                           <br>
                           <label>Email정보</label>
                           <div th:text="${session.loginUser.userEmail}"></div>
                           <label>SNS 닉네임</label>
                           <input type="text" name="snsNickname" placeholder="SNS에서 사용할 닉네임 입력">
                           <input type="submit" role="button" value="SNS 가입"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px;" onClick="closeModal();">닫기
            <span class="pop_bt modalCloseBtn" style="font-size: 13pt;">
            </span>
        </div>
    </div>
</div>
</span>
<!-- ========== 모달 end ===========  -->

<script>
   jQuery(document).ready(function () {
         $("#modal").show();
   });
    function closeModal() {
        $('.searchModal').hide();
    };
</script>



<!-- jquery -->
<script src="/css/sns/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/css/sns/js/popper.js"></script>
<script src="/css/sns/js/bootstrap.min.js"></script>
<script src="/css/sns/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="/css/sns/js/slick.min.js"></script>
<!--Portfolio Filter-->
<script src="/css/sns/js/imgloaded.js"></script>
<script src="/css/sns/js/isotope.js"></script>
<!-- Magnific-popup -->
<script src="/css/sns/js/jquery.magnific-popup.min.js"></script>
<!--Counter-->
<script src="/css/sns/js/jquery.counterup.min.js"></script>
<!-- WOW JS -->
<script src="/css/sns/js/wow.min.js"></script>
<!-- Custom js -->
<script src="/css/sns/js/main.js"></script>
</body>
</div>
</html>