<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Cocoon -Portfolio</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="/css/sns/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="/css/sns/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/sns/css/et-line.css" rel="stylesheet">
    <link href="/css/sns/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="/css/sns/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="/css/sns/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/sns/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="/css/sns/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- script 시작부분-->
    <!-- jquery -->
    <script src="/css/sns/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/css/sns/js/popper.js"></script>
    <script src="/css/sns/js/bootstrap.min.js"></script>
    <script src="/css/sns/js/waypoints.min.js"></script>
    <!--slick carousel -->
    <script src="/css/sns/js/slick.min.js"></script>
    <!--Portfolio Filter-->
    <script src="/css/sns/js/imgloaded.js"></script>
    <script src="/css/sns/js/isotope.js"></script>
    <!-- Magnific-popup -->
    <script src="/css/sns/js/jquery.magnific-popup.min.js"></script>
    <!--Counter-->
    <script src="/css/sns/js/jquery.counterup.min.js"></script>
    <!-- WOW JS -->
    <script src="/css/sns/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="/css/sns/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200
        });
    </script>
    

    <style>
        
        /*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	max-width: 122rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
    margin-top: 100px;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.boardListContent{
        position:absolute;
        top:1px;
        left:1px;
        z-index:0;
        opacity: 0;
        width: 285px;
        height: 315px;
        text-align: center;
        background-color: black;
        padding-top: 170px;
        font-size : 16px;
    }

.gallery-image {
	display: block;
	width: 320px;
	height: 315px;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
    opacity: 0.7;
}




@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
    }

    .topContentBox{
        text-align: center;
    }
    .topContentBox>span{
        cursor: pointer;
    }

    .Feedmodal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 21; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        /* Modal Content/Box */
        .Feedmodal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }

        li.dot{
            background-color: lightgray;
            margin-top: 20px;
            margin-left: 10px;
        }
        li.dot:hover {
            background-color: lightblue;
        }
        li.dot.active {
            background-color: skyblue;
        }

        .boardImg{
            opacity: 0;
        }
        .boardImg.active{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            z-index: 20;
        }
        .btnIcon{
            width: 60px;
            height: 39px;
            float: right;     
            margin-top: 20px;
        }
        #snsLikeBtn{
            width: 30px;
            height: 30px;
        }
        /*검색 프로필*/
        .searchProfileImg{
            width:50px;
            height:50px;
            border-radius: 50%;
            margin:10px;
        }

        #schoolInput{
            width: 260px;
            height: 45px;
            border-radius: 20px;
            margin-top: 30px;
            margin-left: 20px;
            margin-bottom: 10px;
            background-color: ghostwhite;
            border:none;
            padding: 20px;
        }

        .topContentBox>span{
            font-size: 25px;
            font-weight: 600;
        }
        #schoolList{
            z-index: 1;
            position: absolute;
            margin-left: 20px;
            background-color: white;
            width: 265px;
            opacity: 0.9;
            font-weight: 600;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        <div class="col-lg-2 col-md-3 col-12 menu_block">

            <!--logo -->
            <div class="logo_box">
                <a href="/own/home"><span style="color: white; font-size:50px; font-weight: 600; font-family: Cafe24Ohsquare;">오늘의 운동</span></a>
            </div>
            <!--logo end-->

            <div id="schoolLi" style="position:relative">
                <input type="text" id="schoolInput" placeholder="검색" onkeyup="search(this);">
                    <div id="schoolList" style="z-index:1; position: absolute; margin-left: 20px;"></div>
            </div>

            <!--main menu -->
            <div class="side_menu_section">
                <ul class="menu_nav">
                    <li >
                        <a href="/own/home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/own/sns">
                            sns메인
                       </a>
                    </li>
                    <li>
                        <a th:href="@{snsFeed(snsNickname=${snsInfo.snsNickname})}">나의 피드</a>
                    </li>
                    <li class="active">
                        <a href="/own/snsNewFeed">최신게시글</a>
                    </li>

                </ul>
            </div>
            <!--main menu end -->

            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <ul class="social_menu">
                        <li>
                            <a href="#"> <i class="ion ion-social-pinterest"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-twitter"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-dribbble"></i> </a>
                        </li>
                    </ul>
                    <div class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block align-content-center" style="background-color: white; padding-top:150px;">
            <hr>
            <div class="topContentBox" style="position: relative; background-color: #f8f9fa;">
                <span id="snsNewList">최신게시글 | </span><span id="snsLikeList" value="false">좋아요</span>
            </div>
            
           
            
            <div class="container">
            <div class="ajaxNewList">

            </div>
            <div id="modelBoardList">
                    <div class="gallery">
                        <div class="gallery-item" th:each="board:${newBoard}" style="position:relative">
                            
                            <img class="gallery-image" th:src="|/imgView/${board.mediaServerFile}|" onerror="this.src='/css/sns/img/feedDefaultImg.png'"/>
                            <a th:href="@{snsFeed(snsNickname=${board.snsNickname})}">
                            <span class="boardListContent" >사진 클릭 시 피드로 이동합니다.</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 게시글 상세보기 Modal -->                  
                <div class="Feedmodal">
                    <div class="Feedmodal-content" style="width: 1100px; min-height: 700px; position: relative;">
                        <span class="close"></span>
                        <div class="boardContent" style="float: right; width: 500px; min-height:180px; border-bottom: 1px lightgray solid; padding-bottom: 35px;">
                            
                        </div>
                        <div class="snsLikeBox" style="width:100px; display: inline-block; position: absolute; top:171px; right: 95px;">
                        </div>
                        <div class="snsReplyBox" style="width:100px; display: inline-block; position: absolute; top:173px; right: -7px;">
                            <img id="snsReplyIcon" src="/css/sns/img/speechImg.png" style="width: 20px; height: 20px;" >
                        </div>
                        <div class="boardImgList" style="position:relative; width: 500px; height: 600px; float:left">
                        </div>
                        <div class="replyContent" style="width:500px; float: right; border-bottom: 1px lightgray solid; padding-top: 16px; padding-bottom: 16px; margin-bottom: 10px;">
                        </div>   
                        <div class="replyInsert" style="width:500px; height: 200px;float:right;">
                            
                            <div class="realReply"></div>
                        </div>
                        <div class="container-dots">
                            <ul class="dots-parent" style="list-style: none; margin-left: 150px; width: 300px; height: 50px;">
                                
                            </ul>
                        </div>

                        <div class="btnIcon" th:if="${userId.snsNickname == snsInfo.snsNickname}">
                            <img src="/css/sns/img/trash.png" id="trashBtn" style="width: 20px; height: 20px; cursor: pointer; position: absolute; top:17px; right:167px;" >
                        </div>
                 </div>
             </div>
             
        <!--=================== content body end ====================-->
     </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var header = /*[[${_csrf.headerName}]]*/ 'defalut';
        var token = /*[[${_csrf.token}]]*/ 'defalut';
        /*]]>*/

    
    var loginUserId = "[(${userId.userId})]"

    //좋아요 리스트 불러오기
        $('#snsLikeList').on("click", function(){
            $('#modelBoardList').children().hide();
            console.log($(this).attr("value"));
            
            if($(this).attr("value") =='false'){
                $('#snsLikeList').attr("value", "true")
                $('.ajaxNewList').children().remove();
                    $.ajax({
                        url : '/own/snsLikeList',
                        method : 'post',
                        data : {
                            userId : loginUserId
                        },
                        beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                        },
                        success : function(res){
                            console.log(res)

                            let gallery = $('<div>').attr("class", "gallery")
                            let galleryItem;
                            let galleryDiv;

                                for(let i=0; i<res.newImgList.length; i++){
                                        galleryItem = $('<div>').attr("class", "gallery-item")
                                    let galleryImg = $('<img>').attr({src : "/imgView/" + res.newImgList[i].mediaServerFile,
                                                                     class : "gallery-image"})
                                    let galleryNo = $('<input>').attr({"type":"hidden", "value" : res.newImgList[i].identifyId, "class" : "inputNo"})
                                    galleryItem.append(galleryImg, galleryNo)
                                    galleryDiv = gallery.append(galleryItem)
                                            
                                }
                            $('.ajaxNewList').append(galleryDiv);                  
                        },
                        error : function(err){
                            console.log(err)
                        }
                    })
               }else{
                    console.log("좋아요 사진 안불러옴")
               }
           })

        $('#snsNewList').on("click", function(){
            $('#snsLikeList').attr("value", "false");
            $('#modelBoardList').children().show();
            $('.ajaxNewList').children().remove();
        })

        $('.gallery').on("mouseover ", '.gallery-item', function(){
            $(this).find('.boardListContent').css({"opacity" :"0.4", "color" : "white"});

        })

        $('.gallery').on("mouseout ", '.gallery-item', function(){
            $(this).find('.boardListContent').css("opacity", "0");

        })

        $('.ajaxNewList').on("click", '.gallery-item', function(){
            console.log("좋아요 게시물 클릭")
            console.log($(this).children('.inputNo').val());
            let boardNo = $(this).children('.inputNo').val()
            if(boardNo != null){
                    $(".Feedmodal").show();
                    console.log("모달 아작스 보냅니다");
                        $.ajax({
                            url : '/own/snsFeed',
                            method : 'post',
                            data: {
                                snsBoardNo : boardNo,
                                userId : loginUserId
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success: function (res){
                                console.log(res);
                                let boardNo = $('<div>').attr({"value": res.svo.snsBoardNo,
                                                               "class" : "boardNo"});
                                let boardDate = $('<div>').text(res.svo.snsBoardDate);
                                let boardContent = $('<div>').text(res.svo.snsBoardContent);
                                     $('.boardContent').append(boardNo, boardDate, boardContent);
                                
                                for(let i=res.imgList.length-1; i>= 0; i--){
                                    let boardImg = $('<img>').attr({
                                        "src" : "/imgView/" + res.imgList[i].mediaServerFile,
                                        "class": "boardImg",
                                        "data-item" : i})
                                        boardImg.css({"width":"500px", "height":"600px", "object-fit":"cover",
                                                      "position" : "absolute"})
                                    
                                    $('.boardImgList').append(boardImg);  
                                }
                                for(let i=0; i<res.imgList.length; i++){
                                    let liTag = $('<li>').attr({"data-item" : i,
                                                                "class" : "dot"})
                                        liTag.css({"width":"20px", "height" : "20px", 
                                                   "border-radius":"50%","cursor" :"pointer",
                                                   "float" : "left"})
                                    $('.dots-parent').append(liTag);
                                }

                                $(".boardImgList .boardImg:last-child").addClass("active");
                                $(".dots-parent .dot:first-child").addClass("active");

                                if(res.reply.length != 0){
                                    for(let i=0; i<res.reply.length; i++){
                                        $('.replyContent').append(makeReply(res.reply[i]));
                                    }

                                }else{
                                    console.log('여기까지오나요?')
                                    let emptyReply = $('<div>').text("등록된 댓글이 없습니다.")
                                        $('.replyContent').append(emptyReply);
                                }

                                    let replyInput = $('<div>').attr({"class" : "replyInput"})
                                        replyInput.css({"cursor": "pointer"})
                                        replyInput.text('댓글쓰기')
                                        $('.replyInsert').append(replyInput);
                                    categoryNo = boardNo.attr("value");

                                if(res.snsLikeCheck != null){
                                    let snsLikeImg = $('<img>').attr({"src" : "/css/sns/img/fullHeart.png",
                                                                       "id" : "snsLikeBtn",
                                                                       "value" : "Like"})
                                        $('.snsLikeBox').append(snsLikeImg);
                                }else {
                                    let snsLikeImg = $('<img>').attr({"src" : "/css/sns/img/emptyHeart.png",
                                                                       "id" : "snsLikeBtn",
                                                                       "value" : "noLike"})
                                        $('.snsLikeBox').append(snsLikeImg);
                                }
                                
                                let snsLikeCount = $('<span>').text("좋아요 "+res.snsLikeCount+"개");
                                    snsLikeCount.attr("id" , "snsLikeCount");

                                let snsReplyCount = $('<span>').text("댓글 "+res.snsReplyCount +"개");
                                    $('.snsLikeBox').append(snsLikeCount);
                                    $('.snsReplyBox').append(snsReplyCount)
                                
                            },error: function (err){
                                console.log(err)
                            }
                        })
                }else{
                    console.log("잘못클릭")
                }
        })

        function makeReply(reply){
            let Tag = ` <div class="replyIdDate">${reply.snsNickname} |${reply.replyDate} 
                        <input class="snsReplyNo" type="hidden" value="${reply.replyNo}" /></div> 
                        <div style="padding-left:50px;">${reply.replyContent}</div>`
            console.log(reply.snsNickname)
            console.log(reply.userId)
            
            if(reply.userId == loginUserId){
                console.log("x태그 생성")
                let xTag = `<span class="snsReplyDelBtn" style="font-size:20px; padding-left:10px; cursor:pointer; position:absolute;">&times;</span>`
                    Tag = Tag+xTag;
            }
                return Tag;
        }

         //좋아요 ajax
         $('.snsLikeBox').on("click", '#snsLikeBtn', function(){
            console.log("하트 클릭")
            console.log($(this).attr("value"))
            $('.snsLikeBox').children('#snsLikeCount').remove();
                if($(this).attr("value") == 'noLike'){
                    console.log('빈하트 클릭')
                    $(this).attr("value", "Like");
                    $(this).attr({"src" : "/css/sns/img/fullHeart.png"});
                        $.ajax({
                            url : '/own/snsLike' ,
                            method : 'post',
                            data : {
                                snsBoardNo : categoryNo,
                                userId : loginUserId
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success : function(res){
                                console.log('좋아요 성공~!')
                                let snsLikeCount = $('<span>').text("좋아요 "+res+"개");
                                    snsLikeCount.attr({"id" : "snsLikeCount"})
                                    $('.snsLikeBox').eq(0).append(snsLikeCount)
                            },
                            error : function(err){
                                console.log(err)
                            }
                        })
                }else{
                    console.log("하트 클릭")
                    $(this).attr("value", "noLike");
                    $(this).attr({"src": "/css/sns/img/emptyHeart.png"});
                        $.ajax({
                            url : '/own/snsLikeDel',
                            method : 'post',
                            data : {
                                snsBoardNo : categoryNo,
                                userId : loginUserId
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success : function(res){
                                console.log('좋아요 취소~!')
                                
                                let snsLikeCount = $('<span>').text("좋아요 "+res+"개");
                                    snsLikeCount.attr({"id" : "snsLikeCount"})
                                    $('.snsLikeBox').eq(0).append(snsLikeCount)
                            },
                            error : function(err){
                                console.log(err)
                            }

                        })
                }

        })


    //댓글 입력 창 생성
    $('.replyInsert').on("click",'.replyInput', function(e){
        console.log('댓글쓰기 버튼 클릭')

        $(e.target).remove();
            let replyArea = $('<textarea>').css({"width":"500px","height" : "200px"})
                replyArea.attr({"class":"replyText"})
            let insertBtn = $('<button>').text("입력")
                insertBtn.attr({"class": "insertBtn"})
            let delBtn = $('<button>').text("취소")
                delBtn.attr({"class" : "delBtn"})

            $('.realReply').append(replyArea, insertBtn, delBtn);

    })
    //댓글 입력
        $('.realReply').on("click", '.insertBtn', function(){
                let replyText = $('.realReply').children('.replyText').val();
                $('.replyContent').children().remove();
                $('.snsReplyBox').children().eq(1).remove();
                $.ajax({
                    url : '/own/snsReply',
                    method : 'post',
                    data: {
                        replyContent : replyText,
                        userId : loginUserId,
                        categoryNo : categoryNo
                    },  
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(res){
                        console.log(res)

                          for(let i=0; i<res.reply.length; i++){
                                $('.replyContent').append(makeReply(res.reply[i]));
                          }
                    let snsReplyCount = $('<span>').text("댓글 "+res.snsReplyCount +"개");
                    $('.snsReplyBox').append(snsReplyCount)

                    },
                    error : function(err){
                        console.log(err);
                    }

                })
        })

        //댓글취소
        $('.realReply').on("click", '.delBtn', function(){
            console.log("취소버튼 클릭")
            $('.replyInsert').children('.realReply').children().remove();
            $('.replyInsert').children('.replyInput').remove();
            let replyInput = $('<div>').text('댓글쓰기');
                replyInput.attr({"class" : "replyInput"})
                replyInput.css({"cursor":"pointer",
                                "font-size":"14px"});
            $('.replyInsert').append(replyInput);
            
        })

        //댓글 삭제
        $('.replyContent').on("click", '.snsReplyDelBtn', function(e){
                console.log($(e.target).next().attr("value"));
                let replyNo = $(e.target).next().attr("value");
                console.log(replyNo)
                $('.replyContent').children().remove();
                $('.snsReplyBox').children().eq(1).remove();
                $.ajax({
                    url : '/own/snsReplyDelete',
                    method : 'post',
                    data : {
                           replyNo : replyNo,
                           categoryNo : categoryNo
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                        success : function(res){
                            console.log("삭제완료")

                        if(res.reply.length != 0 ){
                          for(let i=0; i<res.reply.length; i++){
                                $('.replyContent').append(makeReply(res.reply[i]));
                          }
                          
                          let snsReplyCount = $('<span>').text("댓글 "+res.snsReplyCount +"개");
                          $('.snsReplyBox').append(snsReplyCount)
                        }else{
                            let emptyReply = $('<div>').text("등록된 댓글이 없습니다.")
                                            $('.replyContent').append(emptyReply);
                            }

                    }, 
                        error : function(err){

                    }

                })
        })

            //게시글 상세보기 이미지 페이징
            $('.dots-parent').on("click", '.dot', function(e){
            let btnData = $(e.target).attr("data-item");
            $('.dot').not(this).removeClass("active");
            $(this).addClass("active");
            $('.boardImg').not('[data-item="'+btnData+'"]').removeClass("active")
            $('.boardImg[data-item="'+btnData+'"]').addClass("active")
        })

        window.onclick = function (event) {
            if (event.target.className == "Feedmodal") {
                event.target.style.display = "none";
                $('.boardContent').children().remove();
                $('.boardImgList').children().remove();
                $('.dots-parent').children().remove();
                $('.replyContent').children().remove();
                $('.replyInsert').children().remove();

                $('.snsReplyBox').children().eq(1).remove();
                

                if($('.snsLikeBox').children('#snsLikeBtn').attr("value") == 'noLike'){
                    $('.ajaxNewList').children().remove();
                    $.ajax({
                        url : '/own/snsLikeList',
                        method : 'post',
                        data : {
                            userId : loginUserId
                        },
                        beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                        },
                        success : function(res){
                            console.log(res)
                            let gallery = $('<div>').attr("class", "gallery")
                            let galleryItem;
                            let galleryDiv;
                                for(let i=0; i<res.newImgList.length; i++){
                                        galleryItem = $('<div>').attr("class", "gallery-item")
                                    let galleryImg = $('<img>').attr({src : "/imgView/" + res.newImgList[i].mediaServerFile,
                                                                     class : "gallery-image"})
                                    let galleryNo = $('<input>').attr({"type":"hidden", "value" : res.newImgList[i].identifyId, "class" : "inputNo"})
                                    galleryItem.append(galleryImg, galleryNo)
                                    galleryDiv = gallery.append(galleryItem)
                                            
                                }
                            $('.ajaxNewList').append(galleryDiv);
                            $('.snsLikeBox').children().remove();                  
                        },
                        error : function(err){
                            console.log(err)
                        }
                    })
                }else{
                    console.log("아무변화없음");
                    $('.snsLikeBox').children().remove();
                }
                
            }
        };

        //시간계산 함수
        function elapsedText(date) {
            console.log(date);
            date = new Date(date);
            // 초 (밀리초)
            const seconds = 1;
            // 분
            const minute = seconds * 60;
            // 시
            const hour = minute * 60;
            // 일
            const day = hour * 24;

            var today = new Date();
            var elapsedTime = Math.trunc((today.getTime() - date.getTime()) / 1000);

            var elapsedText = "";
            if (elapsedTime < seconds) {
                elapsedText = "방금 전";
            } else if (elapsedTime < minute) {
                elapsedText = elapsedTime + "초 전";
            } else if (elapsedTime < hour) {
                elapsedText = Math.trunc(elapsedTime / minute) + "분 전";
            } else if (elapsedTime < day) {
                elapsedText = Math.trunc(elapsedTime / hour) + "시간 전";
            } else if (elapsedTime < (day * 3)) {
                elapsedText = Math.trunc(elapsedTime / day) + "일 전";
            } else {
                elapsedText = SimpleDateTimeFormat(date, "yyyy-MM-dd");
            }

            return elapsedText;
        }

           //검색
    function search(target){
     // elementary, middle, high
       var checkWord = $("#schoolInput").val();
       var schoolList = $("#schoolList");
       if(checkWord==""){
           schoolList.empty();
           return;
        }
       $.ajax({
           type: 'GET',
           dataType: 'JSON',
           url: '/own/sns/ListSearch', 
           error: function(err){
               console.log(err);
           },
           success: function(data){
              
                console.log(checkWord);

                schoolList.empty();
                console.log(data);
                data.forEach((school)=>{
                    if(school['snsNickname'].includes(checkWord)){
                        schoolList.append(`<img class="searchProfileImg" src="/imgView/${school['mediaServerFile']}" onerror='this.src="/css/sns/img/defaultUser.png"'>
                                       <span style="cursor: pointer;" onclick="select(this);"> ${school['snsNickname']} </span> <br/>
                                       `   );                
                    }
                 })
               
                }
            })
        }    
        function select(target){
            location.href = '/own/snsFeed?snsNickname='+target.innerText
        }
    </script>
</div>

</body>
</html>