/******* Bootstrap Theming ********/
/*!
 */

/* ---------------------- 모달 css-------------------------------- */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------- 모달 css 끝------------------------------ */

/* ---------------------- 홈페이지------------------------------ */

/*------------------------상세페이지-------------------------------*/
.card {
    position: relative;
    flex: 1 1 100%;
    margin: 10px 0;
    padding: 20px;
    background: #fff;
}

.card__img {
    margin: -20px -20px 0;
}

.card__img img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.card__desc {
    margin-top: 20px;
}

.card__one {
    transition: transform 0.5s;
}

.card__one::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
}

.card__one:hover,
.card__one:focus {
    transform: scale3d(1.006, 1.006, 1);
}

.card__one:hover::after,
.card__one:focus::after {
    opacity: 1;
}


/*---------------------버튼--------------------------------*/

  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

/*------------폰트적용---------------------------*/

 ul li {
 font-family: 'Cafe24Ohsquareair';
         font-size: 15px;
         font-weight: 700;
         margin: 0 0 5px;
         line-height: 2.1;
 }
 
  p {
 font-family: 'Cafe24Ohsquareair';
         font-size: 15px;
         font-weight: 700;
         margin: 0 0 5px;
         line-height: 2.1;
 }
  h {
 font-family: 'Cafe24Ohsquareair';
         font-size: 15px;
         font-weight: 700;
         margin: 0 0 5px;
         line-height: 2.1;
 }
 
 /*------------테이블 css---------------------------*/
 
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

		/* Reset Style */

		/* Responsive Table Style */
		.responsive-table {
			background-color: #fefefe;
			border-collapse: collapse;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
			width: 100%;
			margin: 2rem 0;
			overflow: hidden;
		}

		.responsive-table__row {
			display: grid;
			border-bottom: 1px solid #edeef2;
			padding: 0 1.5rem;
		}

		@media (min-width: 768px) {
			.responsive-table__row {
				grid-template-columns: 2fr 1fr 2fr 2fr;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.responsive-table__row {
				grid-template-columns: 2fr 1fr 2fr 1fr;
			}
		}

		.responsive-table__row th,
		.responsive-table__row td {
			padding: 1rem;
			text-align: center;
		}

		.responsive-table__head {
			background-color: #e1e8f2;
		}

		@media (max-width: 991px) {
			.responsive-table__head {
				display: none;
			}
		}

		.responsive-table__head__title {
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 500;
			text-transform: capitalize;
		}

		.responsive-table__body .responsive-table__row {
			transition: 0.1s linear;
			transition-property: color, background;
		}

		.responsive-table__body .responsive-table__row:last-child {
			border-bottom: none;
		}

		.responsive-table__body .responsive-table__row:hover {
			color: #fff;
			background-color: #6ab0cd;
		}

		.responsive-table__body__text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.responsive-table__body__text::before {
			margin-right: 1rem;
			font-weight: 600;
			text-transform: capitalize;
		}

		@media (max-width: 991px) {
			.responsive-table__body__text::before {
				content: attr(data-title) " :";
			}
		}

		@media (max-width: 400px) {
			.responsive-table__body__text::before {
				width: 100%;
				margin-bottom: 1rem;
			}
		}

		.responsive-table__body__text--name {
			font-weight: 600;
		}

		@media (min-width: 768px) {
			.responsive-table__body__text--name::before {
				display: none;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.responsive-table__body__text--name {
				grid-column: 0.5;
				flex-direction: column;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {

			.responsive-table__body__text--status,
			.responsive-table__body__text--types,
			.responsive-table__body__text--update {
				grid-column: 0.6666666667;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.responsive-table__body__text--country {
				grid-column: -3;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {

			.responsive-table__body__text--name,
			.responsive-table__body__text--country {
				grid-row: 2;
			}
		}

		/* Status Indicator Style */
		.status-indicator {
			display: inline-block;
			width: 1.8rem;
			height: 1.8rem;
			border-radius: 50%;
			background: #222;
			margin-right: 0.5rem;
		}

		.status-indicator--active {
			background: #25be64;
		}

		.status-indicator--inactive {
			background: #dadde4;
		}

		.status-indicator--new {
			background: #febf02;
		}