<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.prjt.own.band.mapper.BandMemberDetailMapper">

	<!-- 전체 밴드 멤버 목록 + 나랑 채팅중이면 1, 아니면 0뜨는 컬럼까지 -->
	<select id="bandMemberList"
		resultType="co.prjt.own.band.service.BandMemberDetailVO"
		parameterType="string">
		SELECT B.*, ( 	SELECT COUNT(*)
						FROM CHATROOM
						WHERE CHATROOM_NO IN ( SELECT CHATROOM_NO FROM CHATROOM
												WHERE BAND_MEMBER_NO = #{bandMemberNo} )
						AND BAND_MEMBER_NO <![CDATA[ <> #{bandMemberNo}]]>
						AND BAND_MEMBER_NO = B.BAND_MEMBER_NO
					) CHAT_CHECK  
		FROM BAND_MEMBER_DETAIL B
		WHERE BAND_NO = #{bandNo}
		<!-- and USER_ID <![CDATA[  <> #{userId}]]> -->
	</select>

	<!-- 밴드식별번호랑 유저아이디로 밴드멤버식별번호 가져오기 -->
	<select id="getBandMemberNo"
		resultType="string"
		parameterType="string">
		SELECT BAND_MEMBER_NO
		FROM BAND_MEMBER_DETAIL
		WHERE BAND_NO = #{bandNo}
		AND USER_ID= #{userId}
	</select>

	<!-- 밴드멤버식별번호로 닉네임 가져오기 -->
	<select id="getBandMemberNickname" resultType="string"
		parameterType="string">
		SELECT BAND_NICKNAME
		FROM BAND_MEMBER_DETAIL
		WHERE
		BAND_MEMBER_NO = #{bandMemberNo}
	</select>
	
	<!-- 밴드식별번호랑 유저아이디로 밴드멤버 가져오기 -->
	<select id="getBandMemberDetail" resultType="BandMemberDetailVO">
		SELECT 	USER_ID,
				BAND_NICKNAME,
				BAND_NO,
				BAND_MEMBER_STATUS,
				BAND_KICK_STATUS,
				BAND_SIGNUP_DATE,
				BAND_ACCESS_DATE,
				BAND_KICK_DATE,
				BAND_MEMBER_NO,
				BAND_BIRTH,
				BAND_GENDER,
				BAND_MEMBER_INTRO,
				BAND_MEMBER_REJOIN,
				BAND_MEMBER_KICK_REASON,
				BAND_MEMBER_GENDER_OPEN,
				BAND_MEMBER_BIRTH_OPEN, 
				BAND_MEMBER_AGE_OPEN 
		FROM BAND_MEMBER_DETAIL
		WHERE BAND_NO = #{bandNo}
		AND USER_ID= #{userId}
	</select>
	<insert id="insertBandMemberDetail">
		<selectKey keyProperty="bandMemberNo" resultType="string" order="BEFORE">
			SELECT MAX(TO_NUMBER(SUBSTR(BAND_MEMBER_NO,5)))+1 FROM BAND_MEMBER_DETAIL
		</selectKey>
		INSERT INTO BAND_MEMBER_DETAIL(
			 	USER_ID,
				BAND_NICKNAME,
				BAND_NO,
				BAND_MEMBER_STATUS,
				BAND_KICK_STATUS,
				BAND_SIGNUP_DATE,
				BAND_ACCESS_DATE,
				BAND_KICK_DATE,
				BAND_MEMBER_NO,
				BAND_BIRTH,
				BAND_GENDER,
				BAND_MEMBER_INTRO,
				BAND_MEMBER_REJOIN,
				BAND_MEMBER_KICK_REASON,
				BAND_MEMBER_GENDER_OPEN,
				BAND_MEMBER_BIRTH_OPEN,
				BAND_MEMBER_AGE_OPEN
		) VALUES (
				#{userId},
				#{bandNickname},
				#{bandNo},
				#{bandMemberStatus},
				null,
				current_date,
				current_date,
				null,
				'BDM_'||#{bandMemberNo},
				#{bandBirth},
				#{bandGender},
				#{bandMemberIntro},
				'BL01',
				null,
				#{bandMemberGenderOpen},
				#{bandMemberBirthOpen},
				#{bandMemberAgeOpen}
		)
	</insert>
	<!-- 프로필사진이 없을 때 이미지 삽입 -->
	<insert id="bandProfilImg">
		<selectKey keyProperty="mediaNo" resultType="string"
			order="BEFORE">
			SELECT media_seq.NEXTVAL-1 FROM DUAL
		</selectKey>
		INSERT INTO MULTIMEDIA VALUES(
		#{mediaNo},
		'bandprofilnull.png',
		'bandprofilnull.png',
		'C:/test',
		#{value},
		'Band',
		'1'
		)
	</insert>
	<!-- 프로필사진을 디폴트 이미지 삽입 -->
	<insert id="bandProfilDefImg">
		<selectKey keyProperty="mediaServerFile" resultType="string" order="BEFORE">
			SELECT MEDIA_SERVER_FILE "mediaServerFile" FROM MULTIMEDIA WHERE IDENTIFY_ID = #{defaultNo}
		</selectKey>
		INSERT INTO MULTIMEDIA VALUES(
		media_seq.NEXTVAL-1,
		'defaultImage',
		#{mediaServerFile},
		'C:/test',
		#{detailNo},
		'Band',
		'1'
		)
	</insert>
	<!-- 닉네임 중복체크 -->
	<select id="duplicateChk" resultType="int">
		SELECT COUNT(*) FROM BAND_MEMBER_DETAIL
		WHERE BAND_NO = #{bandNo} AND BAND_NICKNAME = #{nickName} 
	</select>
	<!-- 밴드 내의 개인 설정 변경 -->
	<update id="myOptionUpdate">
		UPDATE BAND_MEMBER_DETAIL SET
			<if test="bandNickname != null and bandNickname !=''">
				BAND_NICKNAME = #{bandNickname},
			</if>
			<if test="bandMemberStatus != null and bandMemberStatus !=''">
				BAND_MEMBER_STATUS = #{bandMemberStatus},
			</if>
			<if test="bandKickStatus != null and bandKickStatus !=''">
				BAND_KICK_STATUS = #{bandKickStatus},
			</if>
			<if test="bandSignupDate != null and bandSignupDate !=''">
				BAND_SIGNUP_DATE = #{bandSignupDate},
			</if>
			<if test="bandAccessDate != null and bandAccessDate !=''">
				BAND_ACCESS_DATE = #{bandAccessDate},
			</if>
			<if test="bandKickDate != null and bandKickDate !=''">
				BAND_KICK_DATE = #{bandKickDate},
			</if>
			<if test="bandMemberIntro != null">
				BAND_MEMBER_INTRO = #{bandMemberIntro},
			</if>
			<if test="bandMemberRejoin != null and bandMemberRejoin !=''">
				BAND_MEMBER_REJOIN = #{bandMemberRejoin},
			</if>
			<if test="bandMemberKickReason != null">
				BAND_MEMBER_KICK_REASON = #{bandMemberKickReason},
			</if>
			<if test="bandMemberGenderOpen != null and bandMemberGenderOpen !=''">
				BAND_MEMBER_GENDER_OPEN = #{bandMemberGenderOpen},
			</if>
			<if test="bandMemberBirthOpen != null and bandMemberBirthOpen !=''">
				BAND_MEMBER_BIRTH_OPEN = #{bandMemberBirthOpen},
			</if>
			<if test="bandMemberAgeOpen != null and bandMemberAgeOpen !=''">
				BAND_MEMBER_AGE_OPEN = #{bandMemberAgeOpen}
			</if>
		WHERE BAND_MEMBER_NO = #{bandMemberNo}
	</update>
	
	<!-- 유저아이디로 닉네임과 사진 조회(다수) -->
	<select id="getBandMemberNickProfile" resultType="BandMemberDetailVO">
		 SELECT A.USER_ID,
		        BAND_NICKNAME,
		        BAND_NO,
		        BAND_MEMBER_STATUS,
		        BAND_KICK_STATUS,
		        BAND_SIGNUP_DATE,
		        BAND_ACCESS_DATE,
		        BAND_KICK_DATE,
		        BAND_MEMBER_NO,
		        BAND_BIRTH,
		        BAND_GENDER,
		        BAND_MEMBER_INTRO,
		        BAND_MEMBER_REJOIN,
		        BAND_MEMBER_KICK_REASON,
		        BAND_MEMBER_GENDER_OPEN,
		        BAND_MEMBER_BIRTH_OPEN,
		        BAND_MEMBER_AGE_OPEN,
		        MEDIA_SERVER_FILE  AS "PROFILEIMG"
		    FROM  (
		            SELECT  USER_ID,
		                    BAND_NICKNAME,
		                    BAND_NO,
		                    BAND_MEMBER_STATUS,
		                    BAND_KICK_STATUS,
		                    BAND_SIGNUP_DATE,
		                    BAND_ACCESS_DATE,
		                    BAND_KICK_DATE,
		                    BAND_MEMBER_NO,
		                    BAND_BIRTH,
		                    BAND_GENDER,
		                    BAND_MEMBER_INTRO,
		                    BAND_MEMBER_REJOIN,
		                    BAND_MEMBER_KICK_REASON,
		                    BAND_MEMBER_GENDER_OPEN,
		                    BAND_MEMBER_BIRTH_OPEN,
		                    BAND_MEMBER_AGE_OPEN
		             FROM BAND_MEMBER_DETAIL
		             WHERE BAND_NO='BDU_1'
		             AND USER_ID IN 
	                                <foreach collection="userIds" item="u" separator="," open="(" close=")">
	                                	#{u}
	                                </foreach>
		        	) A,
		        	MULTIMEDIA B
		    WHERE A.BAND_MEMBER_NO = B.IDENTIFY_ID	
	</select>
</mapper>