<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.prjt.own.band.mapper.BandBoardDetailMapper">

	<select id="countBandBoard" resultType="int">
		SELECT COUNT(*)
		    FROM BAND_BOARD_DETAIL A, BAND B, BAND_BOARD_OPTION C
		    WHERE B.BAND_NO=C.BAND_NO
		      AND C.BAND_BOARD_OPTION_NO=A.BAND_BOARD_OPTION_NO
		      AND C.BAND_NO = #{bandNo}
	</select>
	
	<select id="getFiveBoard" resultType="BandBoardDetailVO">
		SELECT  BAND_BOARD_DETAIL_NO,
		        BAND_BOARD_OPTION_NO,
		        BAND_BOARD_CONTENT,
		        BAND_BOARD_CNT,
		        BAND_BOARD_TITLE,
		        BAND_BOARD_WRITER, 
		        BAND_REMARKS,
		        BAND_BOARD_DATE,
		        BAND_BOARD_UPDATE,
		        BAND_BOARD_TAG     
		FROM ( SELECT ROWNUM RN, A.* FROM (
						SELECT * FROM (
		                                SELECT  A.BAND_BOARD_DETAIL_NO,
		                                        A.BAND_BOARD_OPTION_NO,
		                                        A.BAND_BOARD_CONTENT,
		                                        A.BAND_BOARD_CNT,
		                                        A.BAND_BOARD_TITLE,
		                                        A.BAND_BOARD_WRITER, 
		                                        A.BAND_REMARKS,
		                                        A.BAND_BOARD_DATE,
		                                        A.BAND_BOARD_UPDATE,
		                                        A.BAND_BOARD_TAG
		                                    FROM BAND_BOARD_DETAIL A,
		                                         BAND_BOARD_OPTION B,
		                                         BAND C
		                                    WHERE   A.BAND_BOARD_OPTION_NO = B.BAND_BOARD_OPTION_NO
		                                    AND     B.BAND_NO = C.BAND_NO
		                                    AND     C.BAND_NO = #{bandNo}
		                                    ORDER BY A.BAND_BOARD_DATE DESC
		                )
<![CDATA[
		                ) A WHERE ROWNUM <= #{five} ) WHERE RN >= #{one}
]]>		                
	</select>
</mapper>