<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.prjt.own.band.mapper.BandMapper">
	<sql id="recom">
			<if test="bandName != null and bandName !=''">
				WHERE AND BAND_NAME LIKE '%' || #{bandName} || '%'
				AND LIKE LIKE '%' || #{bandKeyword} || '%'
			</if>
	</sql>
	<sql id="recom2">
			<if test="bandLocation != null and bandLocation !=''">
				AND BAND_LOCATION = #{bandLocation}
			</if>
			<if test="bandCategory != null and bandCategory !=''">
				AND band_category = #{bandCategory}
			</if>
	</sql>
	<!-- <sql id="recom">  
		<if test="bandName != null and bandName !=''">
			WHERE EXERSUB_NAME LIKE '%' || #{bandName} || '%'
			OR LOC_CITY  LIKE '%' || #{bandName} || '%'
			OR BAND_NAME LIKE '%' || #{bandName} || '%'
			OR BAND_KEYWORD LIKE '%' || #{bandName} || '%'
		</if>
	</sql> -->
	<!-- 밴드 인서트 업데이트 -->
	<insert id="insertBand">
		<selectKey keyProperty="bandNo" resultType="string" order="BEFORE">
			SELECT MAX(TO_NUMBER(SUBSTR(BAND_NO,5)))+1 FROM BAND
		</selectKey>
		INSERT INTO BAND(
			BAND_NO,
			BAND_LEADERID,
			BAND_NAME,
	        BAND_INTRO,
	        BAND_KEYWORD,
	        BAND_OPEN_OPTION,
	        BAND_AGE_OPTION,
	        BAND_AGE_BEFOROPTION,
	        BAND_AGE_AFTEROPTION,
	        BAND_CATEGORY,
	        BAND_GENDER_OPTION,
	        BAND_MEMBERSHIP_OPTION,
	        BAND_LOCATION,
	        BAND_GENDER
			)
			VALUES(
					'BDU_'||#{bandNo},
					#{bandLeaderid},
					#{bandName},
                    #{bandIntro},
                    #{bandKeyword},
                    #{bandOpenOption},
                    #{bandAgeOption},
                    #{bandAgeBeforoption},
                    #{bandAgeAfteroption},
                    #{bandCategory},
                    #{bandGenderOption},
                    #{bandMembershipOption},
                    #{bandLocation},
                    #{bandGender}
                  )
	</insert>
	<update id="updateBand">
		UPDATE band
				    SET
				        band_name = #{bandName},
				        band_intro = #{bandIntro},
				        band_keyword = #{bandKeyword},
				        band_open_option = #{bandOpenOption},
				        BAND_AGE_OPTION = #{bandAgeOption},
				        band_age_beforoption = #{bandAgeBeforoption},
				        band_age_afteroption = #{bandAgeAfteroption},
				        band_category = #{bandCategory},
				        band_gender_option = #{bandGenderOption},
				        band_membership_option = #{bandMembershipOption},
				        band_location = #{bandLocation}
			       where band_no = #{bandNo}
	</update>
	<select id="getBand" resultType="map">
		SELECT  DISTINCT
	            A.BAND_NO 			"bandNo",
	            A.BAND_NAME 		"bandName",
	            A.BAND_INTRO 		"bandIntro",
	            A.BAND_KEYWORD 		"bandKeyword",
	            A.BAND_OPEN_OPTION "bandOpenOption",
	            A.BAND_AGE_OPTION "bandAgeOption",
	            A.BAND_AGE_BEFOROPTION "bandAgeBeforoption",
	            A.BAND_AGE_AFTEROPTION "bandAgeafteroption",
	            C.EXERSUB_NAME "bandCategory",
	            A.BAND_GENDER_OPTION "bandGenderOption",
	            A.BAND_MEMBERSHIP_OPTION "bandMembershipOption",
	            D.LOC_CITY "bandLocation",
	            E.MEMCOUNT "memcount",
	            A.BAND_LEADERID "bandLeaderid"
	            
            
        FROM BAND A, 
             BAND_MEMBER_DETAIL B,
             EXER_SUB C,
             OWN_LOCATION D,
             (SELECT BAND_NO, COUNT(*) "MEMCOUNT"
                FROM BAND_MEMBER_DETAIL 
               WHERE BAND_NO = #{bandNo}
               and band_member_status = 'BA02'
               GROUP BY BAND_NO) E
                    
       WHERE A.BAND_NO = B.BAND_NO
         AND A.BAND_NO = #{bandNo}
         AND B.BAND_MEMBER_STATUS = 'BA02'
         AND B.BAND_KICK_STATUS = 'BB01'
         AND A.BAND_NO = E.BAND_NO
         AND A.BAND_CATEGORY = C.EXERSUB_NO
		 AND A.BAND_LOCATION = D.LOC_CODE
	</select>
	<!-- <sql id="condition">
		<if test="bandName != null and bandName !=''">
			AND BAND_NAME LIKE '%' || #{bandName} || '%'
		</if>
		<if test="bandCategory != null and bandCategory !=''">
			AND BAND_CATEGORY LIKE '%' ||  #{bandCategory} || '%'
		</if>
		<if test="bandLocation != null and bandLocation !=''">
			AND band_location = #{bandLocation}
		</if>
		<if test="bandKeyword != null and bandKeyword !=''">
			AND band_keyword = #{bandKeyword}
		</if>
	</sql> -->
	<!-- 밴드네임으로 이것저것 검색하기 위함 -->
	<!-- AS를 썼기 때문에 검색조건에... -->
	<sql id="condition">
		<if test="bandName != null and bandName !=''">
			AND (BAND_NAME LIKE '%${bandName}%'
			OR BAND_KEYWORD LIKE '%${bandName}%'
			) 
		</if>
	</sql>
	<!-- 검색...밴드이름으로 이름, 키워드 등등 으로 활용함 -->
	<select id="getBandAll" resultType="map">
		SELECT  BAND_NO           "bandNo",
				BAND_LEADERID     "bandLeaderId",
				BAND_NAME         "bandName",
		        BAND_INTRO        "bandIntro",
		        EXERSUB_NAME      "bandCategory",
		        BAND_OPEN_OPTION  "bandOpenOption",
		        BAND_AGE_OPTION   "bandAgeOption",
		        BAND_AGE_BEFOROPTION "bandAgeBeforoption",
		        BAND_AGE_AFTEROPTION "bandAgeAfteroption",
		        BAND_KEYWORD            "bandKeyword",
		        BAND_GENDER_OPTION      "bandGenderOption",
		        BAND_MEMBERSHIP_OPTION "bandMembershipOption",
		        LOC_CITY "bandLocation",
		        BAND_GENDER "bandGender"
		 FROM ( SELECT ROWNUM RN, A.* FROM (
                      
                                    SELECT  BAND_NO,
									        BAND_LEADERID,
									        BAND_NAME,
									        BAND_INTRO,
									        EXERSUB_NAME,
									        BAND_OPEN_OPTION,
									        BAND_AGE_OPTION,
									        BAND_AGE_BEFOROPTION,
									        BAND_AGE_AFTEROPTION,
									        BAND_CATEGORY,
									        BAND_KEYWORD,
									        BAND_GENDER_OPTION,
									        BAND_MEMBERSHIP_OPTION,
									        LOC_CITY,
									        BAND_GENDER
                                    FROM BAND A, EXER_SUB B, OWN_LOCATION C
									        WHERE A.BAND_CATEGORY = B.EXERSUB_NO
									        AND A.BAND_LOCATION=C.LOC_CODE
                                            AND BAND_OPEN_OPTION IN ('BC01', 'BC03')
											 <include refid="condition"></include>
				) A 
		<![CDATA[
			 WHERE ROWNUM <= #{last} 
		]]>
				) WHERE RN >= #{first}  
			
	</select>
	<!-- 이거 검색조건으로 BandName을 써서 이것저것 조회하고 조인한 컬럼을 사용함(운동,지역) 혹시 이거 쓰는 매퍼는 조심할 것.. -->
	<select id="count" resultType="int">
		select count(*) 
          FROM BAND A, 
               EXER_SUB B, 
               OWN_LOCATION C
         WHERE A.BAND_CATEGORY = B.EXERSUB_NO
           AND A.BAND_LOCATION = C.LOC_CODE
           AND BAND_OPEN_OPTION IN ('BC01', 'BC03')
	 <include refid="condition"></include>
				
	</select>
	<select id="getMemberBandAll" resultType="BandVO">
		SELECT		A.BAND_NO,
					A.BAND_LEADERID,
					A.BAND_NAME,
			        A.BAND_INTRO,
			        A.BAND_KEYWORD,
			        A.BAND_OPEN_OPTION,
			        A.BAND_AGE_OPTION,
			        A.BAND_AGE_BEFOROPTION,
			        A.BAND_AGE_AFTEROPTION,
			        A.BAND_CATEGORY,
			        A.BAND_GENDER_OPTION,
			        A.BAND_MEMBERSHIP_OPTION,
			        A.BAND_LOCATION
			        A.BAND_GENDER
		    FROM BAND A, BAND_MEMBER_DETAIL B
		        WHERE A.BAND_NO = B.BAND_NO
		        AND B.USER_ID = #{userId}
		        AND B.BAND_MEMBER_STATUS = 'BA02'
		        AND B.BAND_KICK_STATUS = 'BB01'
	</select>
	<select id="getBandRecentAll" resultType="map">
	with xxx as
 ( SELECT BAND_NO, 
                      MAX(RECENTDAY) "RECENTDAY" 
                 FROM ( SELECT  A.BAND_NO, B.RECENTDAY 
                          FROM BAND_BOARD_OPTION A,
		                       (SELECT MAX(BAND_BOARD_DATE) "RECENTDAY",
		                               BAND_BOARD_OPTION_NO
		                          FROM BAND_BOARD_DETAIL
		                         GROUP BY BAND_BOARD_OPTION_NO) B 
		                 WHERE A.BAND_BOARD_OPTION_NO=B.BAND_BOARD_OPTION_NO
		               ) GROUP BY BAND_NO
               ),
   bbb as (SELECT BAND_NO, COUNT(*) "MEMCOUNT"
                 FROM BAND_MEMBER_DETAIL
                 where band_member_status = 'BA02'
                GROUP BY BAND_NO
              )         
	
	
		SELECT distinct
            A.BAND_NO "bandNo",
            A.BAND_NAME "bandName",
            A.BAND_INTRO "bandIntro",
            A.BAND_KEYWORD "bandKeyword",
            A.BAND_OPEN_OPTION "bandOpenOption",
            A.BAND_AGE_OPTION "bandAgeOption",
            A.BAND_AGE_BEFOROPTION "bandAgeBeforoption",
            A.BAND_AGE_AFTEROPTION "bandAgeAfteroption",
            A.BAND_CATEGORY "bandCategory",
            A.BAND_GENDER_OPTION "bandGenderOption",
            A.BAND_MEMBERSHIP_OPTION "bandMembershipOption",
            A.BAND_LOCATION "bandLocation",
            C.RECENTDAY "recentday",
            D.MEMCOUNT "memcount"
        FROM BAND A, 
             BAND_MEMBER_DETAIL B,
             xxx C ,
             bbb  D
                    
        WHERE A.BAND_NO = B.BAND_NO
            AND B.USER_ID = #{userId}
            AND B.BAND_MEMBER_STATUS = 'BA02'
            AND B.BAND_KICK_STATUS = 'BB01'
            AND A.BAND_NO = C.BAND_NO(+)
            AND A.BAND_NO = D.BAND_NO(+)
            ORDER BY C.RECENTDAY DESC  NULLS LAST
	</select>
	<!-- 내가 가입한 모든 밴드 3개씩 페이징 -->
	<select id="getMyBandAll" resultType="map">
		select 
				   BAND_NO "bandNo",
                   BAND_NAME "bandName",
                   BAND_INTRO "bandIntro",
                   BAND_KEYWORD "bandKeyword",
                   BAND_OPEN_OPTION "bandOpenOption",
                   BAND_AGE_OPTION "bandAgeOption",
                   BAND_AGE_BEFOROPTION "bandAgeBeforoption",
                   BAND_AGE_AFTEROPTION "bandAgeAfteroption",
                   BAND_CATEGORY "bandCategory",
                   BAND_GENDER_OPTION "bandGenderOption",
                   BAND_MEMBERSHIP_OPTION "bandMembershipOption",
                   BAND_LOCATION "bandLocation",
                   RECENTDAY "recentday",
				   MEMCOUNT "memcount"
        from ( SELECT ROWNUM RN, A.* FROM (
                                            SELECT * FROM (

                                                                SELECT DISTINCT
                                                                            A.BAND_NO,
                                                                            A.BAND_NAME,
                                                                            A.BAND_INTRO,
                                                                            A.BAND_KEYWORD,
                                                                            A.BAND_OPEN_OPTION,
                                                                            A.BAND_AGE_BEFOROPTION,
                                                                            A.BAND_AGE_AFTEROPTION,
                                                                            A.BAND_CATEGORY,
                                                                            A.BAND_GENDER_OPTION,
                                                                            A.BAND_MEMBERSHIP_OPTION,
                                                                            A.BAND_LOCATION,
                                                                            A.BAND_AGE_OPTION,
                                                                            D.RECENTDAY,
          																	E.MEMCOUNT
                                                                        FROM BAND A, BAND_MEMBER_DETAIL B, BAND_BOARD_OPTION C, 
                                                                                (
																                    SELECT BAND_NO, MAX(RECENTDAY) "RECENTDAY" FROM
																                    (
																                    SELECT  A.BAND_NO, B.RECENTDAY FROM BAND_BOARD_OPTION A,
																                    (SELECT 
																                            MAX(BAND_BOARD_DATE) "RECENTDAY",
																                            BAND_BOARD_OPTION_NO
																                        FROM BAND_BOARD_DETAIL
																                        GROUP BY BAND_BOARD_OPTION_NO) B WHERE A.BAND_BOARD_OPTION_NO=B.BAND_BOARD_OPTION_NO
																                        ) GROUP BY BAND_NO
																                        ) D,
                                                                                (SELECT BAND_NO, COUNT(*) "MEMCOUNT"
                                                                                    FROM BAND_MEMBER_DETAIL
                                                                                    where band_member_status = 'BA02'
                                                                                    GROUP BY BAND_NO) E
                                                                            WHERE A.BAND_NO = B.BAND_NO
                                                                            <!-- leaderid로 검색하지만 실제로는 유저아이디..검색용도 -->
                                                                            AND B.USER_ID = #{bandLeaderid}
                                                                            AND B.BAND_MEMBER_STATUS = 'BA02'
                                                                            AND B.BAND_KICK_STATUS = 'BB01'
                                                                            AND A.BAND_NO = C.BAND_NO(+)
                                                                            AND A.BAND_NO = D.BAND_NO(+)
                                                                            AND A.BAND_NO = E.BAND_NO(+)
                           
							
									<if test="bandName != null and bandName !=''">
										AND BAND_NAME LIKE '%' || #{bandName} || '%'
									</if>
                                                                            ORDER BY D.RECENTDAY DESC nulls last
<![CDATA[            
                         )) A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
]]>
	</select>
	<!-- 내가 가입한 모든 밴드..서칭도 가능하게  -->
	<select id="count2" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM (
								SELECT	A.BAND_NO,
								        A.BAND_NAME,
								        A.BAND_INTRO,
								        A.BAND_KEYWORD,
								        A.BAND_OPEN_OPTION,
								        A.BAND_AGE_BEFOROPTION,
								        A.BAND_AGE_AFTEROPTION,
								        A.BAND_CATEGORY,
								        A.BAND_GENDER_OPTION,
								        A.BAND_MEMBERSHIP_OPTION,
								        A.BAND_LOCATION
    FROM BAND A, BAND_MEMBER_DETAIL B
        WHERE A.BAND_NO = B.BAND_NO
        AND B.USER_ID = #{userId}
        AND B.BAND_MEMBER_STATUS = 'BA02'
        AND B.BAND_KICK_STATUS = 'BB01'
        <if test="bandName != null and bandName !=''">
			AND BAND_NAME LIKE '%' || #{bandName} || '%'
		</if>
		)
	</select>
	<!-- 마이밴드 최신글 있는 것부터 세개씩페이징해서 가져옴 -->
	<select id="threeBand" resultType="map">
		SELECT 	BAND_NO "bandNo",
				BAND_BOARD_CONTENT "bandBoardContent",
				A.BAND_BOARD_DETAIL_NO "bandBoardDetailNo",
				BAND_BOARD_DATE "bandBoardDate",
				BAND_BOARD_TITLE "bandBoardTitle",
				BAND_BOARD_WRITER "bandBoardWriter",
				RANK "rank",
				REPLY_COUNT "replyCount",
				Band_NAME "bandName"
    		 FROM( 
		            SELECT 
								BAND_NO,
								Band_NAME,
								BAND_BOARD_CONTENT,
								BAND_BOARD_DETAIL_NO,
								BAND_BOARD_DATE,
								BAND_BOARD_TITLE,
								BAND_BOARD_WRITER,
								RANK 
							FROM(
				            SELECT  BAND_NO,
				            		Band_NAME,
				                    BAND_BOARD_CONTENT,
				                    BAND_BOARD_DETAIL_NO,
				                    BAND_BOARD_DATE,
				                    BAND_BOARD_TITLE,
				                    BAND_BOARD_WRITER,
				                    ROW_NUMBER() OVER(PARTITION BY Z.BAND_NO
				                                ORDER BY Z.BAND_NO, Z.BAND_BOARD_DATE DESC) RANK
				                    FROM
				                    (SELECT	A.BAND_NO,
				                    		A.Band_NAME,
				                            D.BAND_BOARD_CONTENT,
				                            D.BAND_BOARD_DETAIL_NO,
				                            D.BAND_BOARD_DATE,
				                            D.BAND_BOARD_TITLE,
				                            D.BAND_BOARD_WRITER
				                            FROM BAND A, BAND_BOARD_OPTION C, BAND_BOARD_DETAIL D
				                                WHERE A.BAND_NO IN 
				                                <foreach collection="bandNos" item="b" separator="," open="(" close=")">
				                                	#{b}
				                                </foreach>
				                                AND A.BAND_NO = C.BAND_NO
				                                AND C.BAND_BOARD_OPTION_NO = D.BAND_BOARD_OPTION_NO) "Z"
<![CDATA[                                  
       				 ) WHERE RANK <=3) A,
]]>
        (SELECT 
                                                            BAND_BOARD_DETAIL_NO,
                                                            COUNT(*) REPLY_COUNT
                                                            FROM BAND_BOARD_DETAIL A, REPLY B
                                                            WHERE A.BAND_BOARD_DETAIL_NO=B.CATEGORY_NO
                                    GROUP BY BAND_BOARD_DETAIL_NO) B
    WHERE A.BAND_BOARD_DETAIL_NO=B.BAND_BOARD_DETAIL_NO(+)
    ORDER BY BAND_BOARD_DATE DESC
	</select>
	
	<select id="allLocation" resultType="map">
		SELECT
			LOC_CODE "locCode",
			LOC_CITY "locCity"
		FROM OWN_LOCATION
	</select>
	<select id="allExcersie" resultType="map">
		SELECT
			EXERSUB_NO "exersubNo",
			EXERSUB_NAME "exersubName"
		FROM EXER_SUB
	</select>
	<!-- 밴드 추천 용 1)가입되어있지않은 2)로케이션이 맞는 3)흥미가 맞는(널ㅇ) 4)성별제한이 있다면 성별 5)생일제한이 있다면 생일 6)공개로-->
	
	<select id="recomBand" resultType="BandVO">
		SELECT  BAND_NO,
				BAND_LEADERID,
				BAND_NAME,
		        BAND_INTRO,
		        EXERSUB_NAME "band_category",
		        BAND_OPEN_OPTION,
		        BAND_AGE_OPTION,
		        BAND_AGE_BEFOROPTION,
		        BAND_AGE_AFTEROPTION,
		        BAND_KEYWORD,
		        BAND_GENDER_OPTION,
		        BAND_MEMBERSHIP_OPTION,
		        LOC_CITY "band_location",
		        BAND_GENDER
		 FROM ( SELECT ROWNUM RN, A.* FROM (
                    SELECT * FROM
                    <!-- 통 문장 -->
                                  (  
                                    SELECT  BAND_NO,
									        BAND_LEADERID,
									        BAND_NAME,
									        BAND_INTRO,
									        EXERSUB_NAME,
									        BAND_OPEN_OPTION,
									        BAND_AGE_OPTION,
									        BAND_AGE_BEFOROPTION,
									        BAND_AGE_AFTEROPTION,
									        BAND_CATEGORY,
									        BAND_KEYWORD,
									        BAND_GENDER_OPTION,
									        BAND_MEMBERSHIP_OPTION,
									        LOC_CITY,
									        BAND_GENDER
									FROM(
									    SELECT *
									        FROM BAND
									        WHERE BAND_NO NOT IN
									        <!-- HJJ가 가입되어있는 밴드목록 -->
									            (SELECT BAND_NO 
									                FROM BAND_MEMBER_DETAIL
									                WHERE USER_ID=#{bandLeaderid})
									        <!-- 추가조건오픈 -->
									        AND BAND_OPEN_OPTION IN ('BC01', 'BC03')
									        <!-- 성별제한없음 -->
									        AND BAND_GENDER_OPTION = 'BE02'
									        <!-- 나이제한없음 -->
									        AND BAND_AGE_OPTION = 'BD02'
									    UNION    
									    <!-- 가입되어있지 않으면서 성별제한이 남자 -->
									    SELECT *
									        FROM BAND
									        WHERE BAND_NO NOT IN
									        <!-- hjj가 가입되어있는 밴드목록 -->
									            (SELECT BAND_NO 
									                FROM BAND_MEMBER_DETAIL
									                WHERE USER_ID=#{bandLeaderid})
									        <!-- 추가조건오픈 -->
									        AND BAND_OPEN_OPTION IN ('BC01', 'BC03')
									        <!-- 나이제한없음 -->
									        AND BAND_AGE_OPTION = 'BD02'
									        <!-- 성별제한있음(남) -->
									        AND BAND_GENDER_OPTION = 'BE01'
									        AND BAND_GENDER = #{bandGender}
									    UNION    
									    <!-- 가입되어있지 않으면서 나이제한  -->
									    SELECT *
									        FROM BAND
									        WHERE BAND_NO NOT IN
									        <!-- HJJ가 가입되어있는 밴드목록 -->
									            (SELECT BAND_NO 
									                FROM BAND_MEMBER_DETAIL
									                WHERE USER_ID=#{bandLeaderid})
									        <!-- 추가조건오픈 -->
									        AND BAND_OPEN_OPTION IN ('BC01', 'BC03')
									        <!-- 나이제한있음 -->
									        AND BAND_AGE_OPTION = 'BD01'
									        <!-- 성별제한없음 -->
									        AND BAND_GENDER_OPTION = 'BE02'
									        AND #{bandAgeAfteroption} BETWEEN BAND_AGE_BEFOROPTION AND BAND_AGE_AFTEROPTION
									        ) A, EXER_SUB B, OWN_LOCATION C
									        WHERE A.BAND_CATEGORY = B.EXERSUB_NO
									        AND A.BAND_LOCATION=C.LOC_CODE
             <include refid="recom2"></include>                         
                                   ) 
                    <!-- 통 문장 끝 -->
			<include refid="recom"></include>        
		<![CDATA[		
				) A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
		]]>
	</select>
	<select id="recomBandCount" resultType="int">
		SELECT count(*) FROM

                          (  
                            SELECT  BAND_NO,
                                    BAND_LEADERID,
                                    BAND_NAME,
                                    BAND_INTRO,
                                    EXERSUB_NAME,
                                    BAND_OPEN_OPTION,
                                    BAND_AGE_OPTION,
                                    BAND_AGE_BEFOROPTION,
                                    BAND_AGE_AFTEROPTION,
                                    BAND_CATEGORY,
                                    BAND_KEYWORD,
                                    BAND_GENDER_OPTION,
                                    BAND_MEMBERSHIP_OPTION,
                                    LOC_CITY,
                                    BAND_GENDER
                            FROM(
                                SELECT *
                                    FROM BAND
                                    WHERE BAND_NO NOT IN

                                        (SELECT BAND_NO 
                                            FROM BAND_MEMBER_DETAIL
                                            WHERE BAND_MEMBER_STATUS in 'BA02'
                                            AND USER_ID=#{bandLeaderid})

                                    AND BAND_OPEN_OPTION IN ('BC01', 'BC03')

                                    AND BAND_GENDER_OPTION = 'BE02'

                                    AND BAND_AGE_OPTION = 'BD02'
                                UNION    

                                SELECT *
                                    FROM BAND
                                    WHERE BAND_NO NOT IN

                                        (SELECT BAND_NO 
                                            FROM BAND_MEMBER_DETAIL
                                            WHERE BAND_MEMBER_STATUS = 'BA02'
                                            AND USER_ID=#{bandLeaderid})

                                    AND BAND_OPEN_OPTION IN ('BC01', 'BC03')

                                    AND BAND_AGE_OPTION = 'BD02'

                                    AND BAND_GENDER_OPTION = 'BE01'
                                    AND BAND_GENDER = NULL
                                UNION    

                                SELECT *
                                    FROM BAND
                                    WHERE BAND_NO NOT IN

                                        (SELECT BAND_NO 
                                            FROM BAND_MEMBER_DETAIL
                                            WHERE BAND_MEMBER_STATUS = 'BA02'
                                            AND USER_ID=#{bandLeaderid})

                                    AND BAND_OPEN_OPTION IN ('BC01', 'BC03')

                                    AND BAND_AGE_OPTION = 'BD01'

                                    AND BAND_GENDER_OPTION = 'BE02'
                                    AND NULL BETWEEN BAND_AGE_BEFOROPTION AND BAND_AGE_AFTEROPTION
                                    ) A, EXER_SUB B, OWN_LOCATION C
                                    WHERE A.BAND_CATEGORY = B.EXERSUB_NO
                                    AND A.BAND_LOCATION=C.LOC_CODE
						<include refid="recom2"></include> 
                           ) 
    						<include refid="recom"></include>
	</select>
	<!-- 밴드대문에 샘플이미지 사용시.... -->
	<!-- 이미지 삽입 -->
	<insert id="bandSampleimg">
		<selectKey keyProperty="mediaNo" resultType="string"
			order="BEFORE">
			SELECT media_seq.NEXTVAL-1 FROM DUAL
		</selectKey>
		INSERT INTO MULTIMEDIA VALUES(
		#{mediaNo},
		#{mediaRealFile},
		#{mediaServerFile},
		#{mediaFilePath},
		#{ino} || #{identifyId},
		#{mediaCategory},
		'1'
		)
	</insert>
	<!-- 앨범 사진검색 용 -->
	<select id="bandPhotos" resultType="BandBoardDetailSearchVO">
		SELECT * FROM(
		        SELECT MEDIA_NO, MEDIA_REAL_FILE, MEDIA_SERVER_FILE, MEDIA_FILE_PATH, IDENTIFY_ID,BAND_BOARD_TITLE,BAND_BOARD_WRITER FROM MULTIMEDIA, BAND_BOARD_DETAIL
		                    WHERE IDENTIFY_ID IN (
		                                    SELECT BAND_BOARD_DETAIL_NO
		                                    FROM BAND_BOARD_DETAIL B, BAND_BOARD_OPTION C, BAND D
		                                        WHERE D.BAND_NO = C.BAND_NO
		                                        AND C.BAND_BOARD_OPTION_NO = B.BAND_BOARD_OPTION_NO
		                                        AND D.BAND_NO = #{bandNo}
                                    )
<![CDATA[		AND IDENTIFY_ID = BAND_BOARD_DETAIL_NO
                AND MEDIA_NO<#{mediaNo}
                ORDER BY MEDIA_NO DESC
                )
                WHERE ROWNUM <=9
  ]]>
	</select>
	<!-- 게시판번호로 밴드조회 -->
	<select id="getBandByBoardOptionNo" resultType="BandVO">
		SELECT * FROM BAND WHERE BAND_NO = (SELECT BAND_NO FROM BAND_BOARD_OPTION  WHERE BAND_BOARD_OPTION_NO=#{getBandByBoardOptionNo})
	</select>
</mapper>