<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.band.mapper.BandMemberDefaultMapper">
	
	<sql id="condition">
		<if test="bandNickname != null and bandNickname !=''">
			BAND_NICKNAME = #{bandNickname}
		</if>
		<if test="bandLocation != null and bandLocation !=''">
			BAND_LOCATION = #{bandLocation}
		</if>
		<if test="bandInterest != null and bandInterest !=''">
			BAND_INTEREST = #{bandInterest}
		</if>
	</sql>
	
	<select id="getBandMemberDefault" resultType="BandMemberDefaultVO">
		SELECT 	USER_ID,
				BAND_NICKNAME,
				BAND_GENDER,
				BAND_LOCATION,
				BAND_INTEREST,
				BAND_BIRTH
		 FROM BAND_MEMBER_DEFAULT
		  WHERE USER_ID = #{userId}
	</select>
	
	<update id="updateMemberDf">
		update BAND_MEMBER_DEFAULT
		    set
		        <include refid="condition" />
		    where user_id = #{userId}
	</update>
	
	<insert id="insertDefault">
		<selectKey keyColumn="USER_BIRTHDAY,USER_GENDER" keyProperty="bandBirth,bandGender" resultType="hashmap" order="BEFORE">
			SELECT USER_BIRTHDAY, USER_GENDER FROM OWN_USERS WHERE USER_ID = #{userId}
		</selectKey>
		INSERT INTO BAND_MEMBER_DEFAULT (
					USER_ID,
					BAND_NICKNAME,
					BAND_GENDER,
					BAND_LOCATION,
					BAND_INTEREST,
					BAND_BIRTH
					) VALUES (
					#{userId},
					#{bandNickname},
					#{bandGender},
					#{bandLocation},
					#{bandInterest},
					#{bandBirth}
					)
	</insert>
</mapper>