<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.band.mapper.BandOptionMapper">
<!-- 밴드 내 회원의 아이디, 별명, 최종 접속일, 게시글 수, 댓글 수, 성별, 연령을 리스트로 -->
<select id="bandOptionGetAllMemberList" resultType="co.prjt.own.band.service.BandMemberDetailVO" parameterType="string">
	SELECT  M.USER_ID USER_ID , M.BAND_NICKNAME BAND_NICKNAME , 
			M.BAND_ACCESS_DATE BAND_ACCESS_DATE, M.BAND_BIRTH BAND_BIRTH,  
			M.BAND_GENDER BAND_GENDER, M.BAND_MEMBER_STATUS BAND_MEMBER_STATUS,
            M.BAND_MEMBER_INTRO BAND_MEMBER_INTRO, M.BAND_KICK_DATE BAND_KICK_DATE
            , ( TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE), M.BAND_BIRTH) / 12 ) + 2 
            ) AGE 
	        , ( SELECT COUNT(*)  
	            FROM BAND_BOARD_DETAIL A, BAND B, BAND_BOARD_OPTION C
	            WHERE B.BAND_NO=C.BAND_NO
	            AND C.BAND_BOARD_OPTION_NO=A.BAND_BOARD_OPTION_NO
	            AND A.BAND_BOARD_WRITER = M.USER_ID
	            AND C.BAND_NO = #{bandNo}
	        )BOARD_CNT
	        , ( (SELECT COUNT(*) 
	            FROM BAND A, BAND_BOARD_OPTION B, BAND_BOARD_DETAIL C, REPLY D
	            WHERE A.BAND_NO = B.BAND_NO
	            AND B.BAND_BOARD_OPTION_NO = C.BAND_BOARD_OPTION_NO
	            AND C.BAND_BOARD_DETAIL_NO = D.CATEGORY_NO
	            AND D.USER_ID = M.USER_ID
	            AND B.BAND_NO = #{bandNo}) +
	            (SELECT COUNT(*) 
	            FROM BAND A, BAND_BOARD_OPTION B, BAND_BOARD_DETAIL C, REPLY D, RE_REPLY E
	            WHERE A.BAND_NO = B.BAND_NO
	            AND B.BAND_BOARD_OPTION_NO = C.BAND_BOARD_OPTION_NO
	            AND C.BAND_BOARD_DETAIL_NO = D.CATEGORY_NO
	            AND D.REPLY_NO = E.REPLY_NO
	            AND E.USER_ID = M.USER_ID
	            AND B.BAND_NO = #{bandNo})
	        )REPLY_CNT 
	FROM BAND_MEMBER_DETAIL M
	WHERE BAND_NO = #{bandNo}
</select>
</mapper>
