<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.band.mapper.BandOptionMapper">

<!-- 해당밴드 디테일 불러오기 -->
<select id="bandManageHome" resultType="co.prjt.own.band.service.BandMemberDetailVO">
select * from band_member_detail
where band_no = #{bandNo}
</select>

<!-- 해당밴드 가입자수 불러오기 -->
<select id="bandCount" resultType="int">
	SELECT COUNT(*) FROM BAND_MEMBER_DETAIL
	WHERE BAND_NO = #{bandNo}
	 <if test="bandMemberStatus != null">
	       AND BAND_MEMBER_STATUS = #{bandMemberStatus}
	 </if>
</select>

<select id="bandInfo" resultType="co.prjt.own.band.service.BandVO">
	SELECT B.*,M.MEDIA_SERVER_FILE AS MEDIASERVERFILE FROM BAND B, MULTIMEDIA M
	WHERE B.BAND_NO = M.IDENTIFY_ID
	AND B.BAND_NO = #{bandNo}
</select>

<!-- 밴드위임 -->
<update id="bandPass">
UPDATE BAND SET BAND_LEADERID = #{bandLeaderid} WHERE BAND_NO = #{bandNo}
</update>
<!-- 밴드 휴면 진입 -->
<update id="bandHuman">
UPDATE BAND SET BAND_STATUS = 'BS_2',
                BAND_DISABLETIME = SYSDATE + 30
                WHERE BAND_NO = #{bandNo}
</update>
<!-- 밴드 휴면 풀기 -->
<update id="bandDisHuman">
UPDATE BAND SET BAND_STATUS = 'BS_1',
                BAND_DISABLETIME = null
                WHERE BAND_NO = #{bandNo}
</update>

<update id="bandUpdate">
UPDATE BAND SET BAND_NAME=#{bandName},
	          BAND_INTRO=#{bandIntro},
 		BAND_KEYWORD=#{bandKeyword},
		BAND_OPEN_OPTION=#{bandOpenOption},
		BAND_AGE_OPTION=#{bandAgeOption},
		BAND_AGE_BEFOROPTION=#{bandAgeBeforoption},
		BAND_AGE_AFTEROPTION=#{bandAgeAfteroption},
		BAND_CATEGORY=#{bandCategory},
		BAND_GENDER_OPTION=#{bandGenderOption},
		BAND_MEMBERSHIP_OPTION=#{bandMembershipOption},
		BAND_LOCATION=#{bandLocation},
		BAND_GENDER=#{bandGender}
		WHERE BAND_NO = #{bandNo}
</update>

<!-- 밴드에 가입된 전체 회원리스트, 정렬조건, 검색까지 -->
<select id="bandOptionGetAllMemberList" resultType="co.prjt.own.band.service.BandMemberDetailVO" parameterType="string">
	   SELECT * FROM ( SELECT ROWNUM RN, AN.* from (
	   
	   SELECT  M.USER_ID , 
	           M.BAND_NICKNAME, 
	           M.BAND_NO, 
               M.BAND_ACCESS_DATE BAND_ACCESS_DATE, 
               M.BAND_BIRTH BAND_BIRTH,
         	   M.BAND_GENDER BAND_GENDER, 
         	   M.BAND_MEMBER_INTRO BAND_MEMBER_INTRO, 
               M.BAND_SIGNUP_DATE BAND_SIGNUP_DATE, 
         	   M.BAND_MEMBER_NO BAND_MEMBER_NO , 
              ( TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE), M.BAND_BIRTH) / 12 ) + 2  ) AGE 
           , ( SELECT COUNT(*)  
               FROM BAND_BOARD_DETAIL A, BAND B, BAND_BOARD_OPTION C
               WHERE B.BAND_NO=C.BAND_NO
               AND C.BAND_BOARD_OPTION_NO=A.BAND_BOARD_OPTION_NO
               AND A.BAND_BOARD_WRITER = M.USER_ID
               AND C.BAND_NO = #{bandNo}
           )BOARD_CNT
           , ( (   SELECT COUNT(*) 
                  FROM BAND A, BAND_BOARD_OPTION B, BAND_BOARD_DETAIL C, REPLY D
                  WHERE A.BAND_NO = B.BAND_NO
                  AND B.BAND_BOARD_OPTION_NO = C.BAND_BOARD_OPTION_NO
                  AND C.BAND_BOARD_DETAIL_NO = D.CATEGORY_NO
                  AND D.USER_ID = M.USER_ID
                  AND B.BAND_NO = #{bandNo}) +
               (   SELECT COUNT(*) 
                  FROM BAND A, BAND_BOARD_OPTION B, BAND_BOARD_DETAIL C, REPLY D, RE_REPLY E
                  WHERE A.BAND_NO = B.BAND_NO
                  AND B.BAND_BOARD_OPTION_NO = C.BAND_BOARD_OPTION_NO
                  AND C.BAND_BOARD_DETAIL_NO = D.CATEGORY_NO
                  AND D.REPLY_NO = E.REPLY_NO
                  AND E.USER_ID = M.USER_ID
                  AND B.BAND_NO = #{bandNo})
           )REPLY_CNT
           , ( SELECT A.MEDIA_SERVER_FILE
              FROM MULTIMEDIA A
              WHERE A.IDENTIFY_ID = M.BAND_MEMBER_NO
           ) PROFILE_IMG
   FROM BAND_MEMBER_DETAIL M
   WHERE BAND_MEMBER_STATUS = 'BA02'
	 <if test="bandNickname != null and userId !=''">
	    AND (USER_ID LIKE '%' || #{bandNickname} || '%'
		OR BAND_NICKNAME LIKE '%' || #{bandNickname} || '%')
	 </if>
   AND BAND_NO = #{bandNo}
   ORDER BY
   <choose>
        <when test="selectOption == 'name'">BAND_NICKNAME</when>
        <when test="selectOption == 'accessDate'">BAND_ACCESS_DATE</when>
        <when test="selectOption == 'boradCnt'">BOARD_CNT DESC</when>
        <when test="selectOption == 'replyCnt'">REPLY_CNT DESC</when>
        <when test="selectOption == 'signupDate'">BAND_SIGNUP_DATE</when>
        <otherwise>BAND_SIGNUP_DATE</otherwise>
    </choose>
   ) AN WHERE ROWNUM <![CDATA[ <= #{last}) where RN>= #{first} ]]>
	
	
</select>

<!-- 밴드에 가입신청 한 회원리스트, 검색까지 -->
<select id="bandOptionGetWaitingMemberList" resultType="co.prjt.own.band.service.BandMemberDetailVO" parameterType="string">
	SELECT * FROM ( SELECT ROWNUM RN, AN.* FROM ( SELECT  USER_ID, BAND_NICKNAME, BAND_MEMBER_INTRO, BAND_GENDER
			, ( TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE), BAND_BIRTH) / 12 ) + 2 
            ) AGE
            , ( SELECT A.MEDIA_SERVER_FILE
	        	FROM MULTIMEDIA A
	        	WHERE A.IDENTIFY_ID = BAND_MEMBER_NO
	        ) PROFILE_IMG
	FROM BAND_MEMBER_DETAIL 
	WHERE BAND_MEMBER_STATUS = 'BA01'
	<if test="userId != null and userId !='' ">
	    AND USER_ID LIKE '%' || #{userId} || '%'
		OR BAND_NICKNAME LIKE '%' || #{userId} || '%'
	 </if>
	AND BAND_NO = #{bandNo}
	ORDER BY BAND_SIGNUP_DATE 
	) AN WHERE ROWNUM <![CDATA[ <= #{last}) where RN>= #{first} ]]>
</select>

<!-- 밴드에서 탈퇴된 회원리스트, 검색까지 -->
<select id="bandOptionGetkickedMemberList" resultType="co.prjt.own.band.service.BandMemberDetailVO" parameterType="string">
	SELECT * FROM ( SELECT ROWNUM RN, AN.* 
					FROM (
						 	SELECT  USER_ID, 
						 			BAND_NICKNAME, 
						 			BAND_MEMBER_KICK_REASON, 
							    	BAND_KICK_DATE, 
							    	BAND_MEMBER_REJOIN, 
							    	( SELECT A.MEDIA_SERVER_FILE
						        		FROM MULTIMEDIA A
						        	   WHERE A.IDENTIFY_ID = BAND_MEMBER_NO
						        	) PROFILE_IMG		
		  
							FROM BAND_MEMBER_DETAIL 
							WHERE BAND_MEMBER_STATUS = 'BA03'
		<if test="userId != null and userId !='' ">
		    AND USER_ID LIKE '%' || #{userId} || '%'
			OR BAND_NICKNAME LIKE '%' || #{userId} || '%'
		 </if>
							AND BAND_NO = #{bandNo}
							ORDER BY BAND_KICK_DATE 
	
				) AN WHERE ROWNUM <![CDATA[ <= #{last}) 
	WHERE RN>= #{first} ]]>
</select>

<update id="updateWaitingMember" parameterType="string">
	UPDATE BAND_MEMBER_DETAIL 
	   SET BAND_MEMBER_STATUS = 'BA01' 
	 WHERE BAND_NO = #{bandNo}
	   AND USER_ID = #{userId}
</update>
</mapper>
