<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.band.mapper.BandBoardOptionMapper">
	<select id="getBandBoardList" resultType="BandBoardOptionVO">
		SELECT  BAND_NO,
        BAND_BOARD_OPTION_NO,
        BAND_BOARD_LINE,
        BAND_BOARD_REMARKS,
        BAND_CONTENT_OPTION,
        BAND_LIKE_OPTION,
        BAND_BOARD_AUTH,
        BAND_BOARD_NAME,
        BAND_BOARD_ORDER
		    FROM BAND_BOARD_OPTION
		    WHERE BAND_NO = #{bandNo}
		    ORDER BY BAND_BOARD_ORDER
	</select>
</mapper>