<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.band.mapper.BandMemberDefaultMapper">
	
	<sql id="condition">
		<trim prefix="SET" suffixOverrides=",">
			<if test="bandNickname != null and bandNickname !=''">
				BAND_NICKNAME = #{bandNickname},
			</if>
			<if test="bandLocation != null and bandLocation !=''">
				BAND_LOCATION = #{bandLocation},
			</if>
			<if test="bandInterest != null and bandInterest !=''">
				BAND_INTEREST = #{bandInterest},
			</if>
		</trim>
	</sql>
	<!-- 가치 디폴트 조회 -->
	<select id="getBandMemberDefault" resultType="BandMemberDefaultVO">
		SELECT 	*
			<!-- 	 USER_ID, 
				BAND_NICKNAME,
				BAND_GENDER,
				BAND_LOCATION,
				BAND_INTEREST,
				BAND_BIRTH -->
		 FROM BAND_MEMBER_DEFAULT A, MULTIMEDIA C
		 WHERE USER_ID = #{userId}
		 AND 'BandDef_'||A.USER_ID = C.IDENTIFY_ID
	</select> 
	<!-- 가치 디폴트 업데이트 -->
	<update id="updateMemberDf">
		UPDATE BAND_MEMBER_DEFAULT
		        <include refid="condition" />
		    WHERE USER_ID = #{userId}
	</update>
	<!-- 가치 디폴트 가입 -->
	<insert id="insertDefault">
		<selectKey keyColumn="USER_BIRTHDAY,USER_GENDER" keyProperty="bandBirth,bandGender" resultType="hashmap" order="BEFORE">
			SELECT USER_BIRTHDAY, USER_GENDER FROM OWN_USERS WHERE USER_ID = #{userId}
		</selectKey>
		INSERT INTO BAND_MEMBER_DEFAULT (
					USER_ID,
					BAND_NICKNAME,
					BAND_GENDER,
					BAND_LOCATION,
					BAND_INTEREST,
					BAND_BIRTH
					) VALUES (
					#{userId},
					#{bandNickname},
					#{bandGender},
					#{bandLocation},
					#{bandInterest},
					#{bandBirth}
					)
	</insert>
	<!-- 가치 디폴트 가입중인 밴드구하기 -->
		<select id="getMyBandOption" resultType="BandMemberDetailVO">
			SELECT  A.USER_ID,
					A.BAND_NICKNAME,
					A.BAND_NO,
					A.BAND_MEMBER_STATUS,
					A.BAND_KICK_STATUS,
					TO_CHAR(A.BAND_SIGNUP_DATE, 'YYYY-MM-DD') "bandSignupDateCha",
					A.BAND_ACCESS_DATE,
					A.BAND_KICK_DATE,
					A.BAND_MEMBER_NO,
					A.BAND_BIRTH,
					A.BAND_GENDER,
					A.BAND_MEMBER_INTRO,
					A.BAND_MEMBER_REJOIN,
					A.BAND_MEMBER_KICK_REASON,
					A.BAND_MEMBER_GENDER_OPEN,
					A.BAND_MEMBER_BIRTH_OPEN, 
					A.BAND_MEMBER_AGE_OPEN, 
					B.BAND_NO,
					B.BAND_LEADERID,
					B.BAND_NAME,
			        B.BAND_INTRO,
			        B.BAND_KEYWORD,
			        B.BAND_OPEN_OPTION,
			        B.BAND_AGE_OPTION,
			        B.BAND_AGE_BEFOROPTION,
			        B.BAND_AGE_AFTEROPTION,
			        B.BAND_CATEGORY,
			        B.BAND_GENDER_OPTION,
			        B.BAND_MEMBERSHIP_OPTION,
			        B.BAND_LOCATION,
			        B.BAND_GENDER,
					C.MEDIA_SERVER_FILE,
					C.MEDIA_SERVER_FILE "profileImg"
			    FROM BAND_MEMBER_DETAIL A, BAND B, MULTIMEDIA C
			    WHERE A.BAND_NO = B.BAND_NO
			    AND A.BAND_MEMBER_NO = C.IDENTIFY_ID
			    AND (BAND_STATUS = 'BS_1' OR BAND_STATUS IS NULL)
			    AND A.USER_ID = #{userId}
		</select>
		<!-- 탈퇴 -->
		<update id="myBandLeave">
			UPDATE BAND_MEMBER_DETAIL SET
                    BAND_MEMBER_STATUS = 'BA04'
           WHERE USER_ID = #{userId}
             AND BAND_NO = #{bandNo}
		</update>
		<!-- 가입신청철회 -->
		<!-- 탈퇴 -->
		<update id="myBandLeave2">
			DELETE FROM BAND_MEMBER_DETAIL 
           		WHERE USER_ID = #{userId}
             	AND BAND_NO = #{bandNo}
		</update>
</mapper>