<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.prjt.own.band.mapper.BandMemberDetailMapper">

	<!-- 전체 밴드 멤버 목록 + 나랑 채팅중이면 1, 아니면 0뜨는 컬럼까지 -->
	<select id="bandMemberList"
		resultType="co.prjt.own.band.service.BandMemberDetailVO"
		parameterType="string">
		SELECT B.*, ( SELECT COUNT(*)
		FROM CHATROOM
		WHERE CHATROOM_NO IN ( SELECT CHATROOM_NO FROM CHATROOM
		WHERE BAND_MEMBER_NO = #{bandMemberNo} )
		AND BAND_MEMBER_NO <![CDATA[ <> #{bandMemberNo}]]>
		AND BAND_MEMBER_NO = B.BAND_MEMBER_NO
		) CHAT_CHECK
		FROM BAND_MEMBER_DETAIL B
		WHERE BAND_NO = #{bandNo}
		<!-- and USER_ID <![CDATA[ <> #{userId}]]> -->
	</select>

	<!-- 밴드식별번호랑 유저아이디로 밴드멤버식별번호 가져오기 -->
	<select id="getBandMemberNo"
		resultType="string"
		parameterType="string">
		SELECT BAND_MEMBER_NO
		FROM BAND_MEMBER_DETAIL
		WHERE BAND_NO = #{bandNo}
		AND USER_ID= #{userId}
	</select>

	<!-- 밴드멤버식별번호로 닉네임 가져오기 -->
	<select id="getBandMemberNickname" resultType="string"
		parameterType="string">
		SELECT BAND_NICKNAME
		FROM BAND_MEMBER_DETAIL
		WHERE
		BAND_MEMBER_NO = #{bandMemberNo}
	</select>
</mapper>