<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chall.mapper.ChallengeMapper">
	<!-- 조건은 항상 위에 있어야함 -->
	<sql id="condition">
		<where>
				<if test="challLeader !=null">
					CHALL_LEADER = #{challLeader}			
				</if>
				<if test="challNo !=null">
					CHALL_NO = #{challNo}
				</if>
				<if test="challStatus !=null">
					CHALL_STATUS = #{challStatus}		
				</if>
		</where>
	</sql>
	
	<insert id="insertChall">
		<selectKey keyProperty="challNo" resultType="string" order="BEFORE">
			SELECT CHA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO CHALLENGES(	CHALL_NO,
									CHALL_CATEGORY,
									CHALL_TAG,
									CHALL_TITLE,
									CHALL_DURATION,
									CHALL_FREQ,
									CHALL_STARTDATE,
									MAX_MEM,
									CHALL_INTRO,
									CHALL_PRICE,
									VLD_METHOD,
									CHALL_LEADER )
			values(
					'CHA_' || #{challNo},
					#{challCategory},
					#{challTag},
					#{challTitle},
					#{challDuration},
					#{challFreq},
					#{challStartdate},
					#{maxMember},
					#{challIntro},
					#{challPrice},
					#{vldMethod},
					#{challLeader}
				)
	</insert>
	
	<!-- vo중 조건으로 조회 / 아마 여러개라서 list로 출력-->
	<select id="getChallAll" resultType="co.prjt.own.chall.service.ChallengeVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.* 
                 		FROM ( SELECT * 
                        	   FROM (SELECT C.*, M.MEDIA_SERVER_FILE AS FIRST_IMAGE 
                              		 FROM MULTIMEDIA M, CHALLENGES C
                              		 WHERE  M.IDENTIFY_ID = C.CHALL_NO
                              		 AND MEDIA_NO IN ( SELECT MIN (M.MEDIA_NO)
                                         			   FROM CHALLENGES S, MULTIMEDIA M
                                               		   WHERE S.CHALL_NO=M.IDENTIFY_ID
                                              		   GROUP BY S.CHALL_NO )
                                     
                       <include refid="condition"/>                      
                       ORDER BY CHALL_NO ) A
                  <![CDATA[   
		) A 
		WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 단건조회 -->
	<select id="getChall" resultType="co.prjt.own.chall.service.ChallengeVO">
		SELECT * FROM CHALLENGES
		WHERE CHALL_NO = #{challNo}
	</select>

	<select id="getMyChall" resultType="co.prjt.own.chall.service.ChallengeVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.* 
		                FROM ( SELECT C.*, M.MEDIA_SERVER_FILE AS FIRST_IMAGE 
		                       FROM MULTIMEDIA M, (select * from challenges
		                                           where chall_no in (  select chall_no from chall_mem_list
		                                                                where user_id = 'kjk'
		                                                                and mem_status = '승인')) C
		                       WHERE  M.IDENTIFY_ID = C.CHALL_NO
		                       AND MEDIA_NO IN ( SELECT MIN (M.MEDIA_NO)
		                                          FROM CHALLENGES S, MULTIMEDIA M
		                                          WHERE S.CHALL_NO=M.IDENTIFY_ID
		                                          GROUP BY S.CHALL_NO )) A 
		                                          <![CDATA[  
		                WHERE ROWNUM <= #{last} ) 
		WHERE RN >= #{first}
		]]>
	</select>
	
	<select id="countChall" resultType="int">
		SELECT count(*)
		FROM CHALLENGES
	</select>
	
	<select id="countMychall" resultType="int">
		SELECT count(*)
		FROM CHALL_MEM_LIST M, CHALLENGES C
		WHERE M.CHALL_NO = C.CHALL_NO
		AND M.USER_ID = #{value}
		AND M.MEM_STATUS = '승인'
	</select>
	<!-- 나의 도전목록들 -->
</mapper>