<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chall.mapper.ChallengeMapper">
	<!-- 조건은 항상 위에 있어야함 -->
	<sql id="condition">
				<if test="challLeader !=null and challLeader !='' ">
					AND	CHALL_LEADER = #{challLeader}			
				</if>
				<if test="challNo !=null and challNo !='' ">
					AND CHALL_NO = #{challNo}
				</if>
				<if test="challStatus !=null and challStatus !='' ">
					AND CHALL_STATUS = #{challStatus}		
				</if>
				<if test="searchWord !=null and searchWord !='' ">
					AND (CHALL_TITLE LIKE '%${searchWord}%' OR 
					       CHALL_TAG LIKE '%${searchWord}%')
				</if>
	</sql>
	
	<insert id="insertChall">
		<selectKey keyProperty="challNo" resultType="string" order="BEFORE">
			SELECT CHA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO CHALLENGES(	CHALL_NO,
									CHALL_CATEGORY,
									CHALL_TAG,
									CHALL_TITLE,
									CHALL_DURATION,
									CHALL_FREQ,
									CHALL_STARTDATE,
									MAX_MEM,
									CHALL_INTRO,
									CHALL_PRICE,
									VLD_METHOD,
									CHALL_LEADER )
			values(
					'CHA_' || #{challNo},
					#{challCategory},
					#{challTag},
					#{challTitle},
					#{challDuration},
					#{challFreq},
					#{challStartdate},
					#{maxMem},
					#{challIntro},
					#{challPrice},
					#{vldMethod},
					#{challLeader}
				)
	</insert>
	
	<!-- vo중 조건으로 조회 / 아마 여러개라서 list로 출력-->
	<select id="getChallAll" resultType="co.prjt.own.chall.service.ChallengeVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.* 	  FROM ( 
		
          		SELECT C.*, M.MEDIA_SERVER_FILE AS FIRST_IMAGE 
               	  FROM MULTIMEDIA M, CHALLENGES C
               	 WHERE M.IDENTIFY_ID = C.CHALL_NO
                  	<include refid="condition"/>   
                    AND MEDIA_NO IN ( SELECT MIN (M.MEDIA_NO)
                             		   FROM CHALLENGES S, MULTIMEDIA M
                                   	  WHERE S.CHALL_NO=M.IDENTIFY_ID
                                       GROUP BY S.CHALL_NO )
                 ORDER BY TO_NUMBER(SUBSTR(CHALL_NO,5))
      
         <![CDATA[   
		) A WHERE ROWNUM <= #{last} ) 	WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 단건조회 -->
	<select id="getChall" resultType="co.prjt.own.chall.service.ChallengeVO">
		SELECT * FROM CHALLENGES
		WHERE CHALL_NO = #{challNo}
	</select>

	<select id="getMyChall" resultType="co.prjt.own.chall.service.ChallengeVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.*  FROM ( 
		
					SELECT C.*, M.MEDIA_SERVER_FILE AS FIRST_IMAGE 
		              FROM MULTIMEDIA M, (SELECT * 
		                                    FROM CHALLENGES
		                                   WHERE CHALL_NO IN ( SELECT CHALL_NO 
		                                                         FROM CHALL_MEM_LIST
		                                                        WHERE USER_ID =  #{userId}
		                                                          AND MEM_STATUS = '승인')) C
		            WHERE  M.IDENTIFY_ID = C.CHALL_NO
		               AND MEDIA_NO IN ( SELECT MIN (M.MEDIA_NO)
		                                   FROM CHALLENGES S, MULTIMEDIA M
		                                  WHERE S.CHALL_NO=M.IDENTIFY_ID
		                                  GROUP BY S.CHALL_NO )                 
		<![CDATA[  
		) A WHERE ROWNUM <= #{last} )  WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 아무것도 없이 where만 붙일 때 1=1넣기~! -->
	<select id="countChall" resultType="int">
		SELECT count(*)
		FROM CHALLENGES
		WHERE 1=1 
		<include refid="condition"/>   
	</select>
	
	<select id="countMychall" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_MEM_LIST M, CHALLENGES C
		WHERE M.CHALL_NO = C.CHALL_NO
		AND M.USER_ID = #{value}
		AND M.MEM_STATUS = '승인'
	</select>
	<!-- 나의 도전목록들 -->
	
	
	<!-- 위에 전체로 사용. -->
	<!-- 카테고리와 제목안에 있는 단어로 검색 -->
	<select id="searchChall" resultType="co.prjt.own.chall.service.ChallengeVO">
		SELECT C.*, M.MEDIA_SERVER_FILE AS FIRST_IMAGE 
		  FROM MULTIMEDIA M, CHALLENGES C
		 WHERE M.IDENTIFY_ID = C.CHALL_NO
		AND MEDIA_NO IN ( SELECT MIN (M.MEDIA_NO)
	                  FROM CHALLENGES S, MULTIMEDIA M
	                  WHERE S.CHALL_NO=M.IDENTIFY_ID
	                  GROUP BY S.CHALL_NO )             
		AND ( C.CHALL_TITLE LIKE  '%' || #{value} || '%' 
			  OR CHALL_CATEGORY LIKE '%' || #{value} || '%' )
		ORDER BY TO_NUMBER(SUBSTR(CHALL_NO,5))
	</select>
	
	<select id="countMyLike" resultType="int">
		SELECT COUNT(*)
		FROM CHALLENGES C, ( SELECT * 
							   FROM OWN_LIKE
		                      WHERE CATEGORY = 'Chall' 
		                        AND USER_ID = #{userId} ) OL
		WHERE C.CHALL_NO =  OL.CATEGORY_NO
	</select>
	
	<select id="getMyLike" resultType="co.prjt.own.chall.service.ChallengeVO">
			SELECT *
			FROM CHALLENGES C, ( SELECT * 
								   FROM OWN_LIKE
			                      WHERE CATEGORY = 'Chall' 
			                        AND USER_ID = #{userId} ) OL
			WHERE C.CHALL_NO =  OL.CATEGORY_NO
	</select>
	
</mapper>