<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chat.mapper.ChatMapper">
	<!-- 전체 채팅방 목록 중 로그인 아이디로 가입중 상태인 밴드 멤버번호로 개설된 채팅방 목록 출력 -->
	<select id="getMyChatroomList"
		resultType="co.prjt.own.chat.service.ChatroomVO"
		parameterType="string">
		SELECT * FROM CHATROOM
		WHERE BAND_MEMBER_NO IN (	SELECT BAND_MEMBER_NO
									FROM BAND_MEMBER_DETAIL
									WHERE BAND_MEMBER_STATUS = 'BA02'
									AND USER_ID = #{userId}
								)
	</select>

	<!-- 채팅방 시퀀스 번호 가져오기 -->
	<select id="createChatroomNo" resultType="string">
		SELECT
		CHATROOM_SEQ.NEXTVAL FROM DUAL
	</select>

	<!-- 채팅방 개설(1:1) -->
	<insert id="createChatroom"
		parameterType="co.prjt.own.chat.service.ChatroomVO">
		INSERT INTO CHATROOM ( CHATROOM_NO,
		CHATROOM_NAME,
		BAND_MEMBER_NO )
		VALUES ( 'CRN_'||#{chatroomNo}, #{chatroomName},
		#{bandMemberNo} )
	</insert>

	<!-- 기존채팅방번호 찾기 -->
	<select id="findChatroomNo" resultType="string"
		parameterType="string">
		SELECT CHATROOM_NO
		FROM CHATROOM
		WHERE CHATROOM_NO IN ( SELECT
		CHATROOM_NO FROM CHATROOM
		WHERE BAND_MEMBER_NO = #{bandMemberNo} )
		AND
		BAND_MEMBER_NO <![CDATA[ <> #{bandMemberNo}]]>
		AND BAND_MEMBER_NO = #{bandMemberNo1}
	</select>

	<!-- 메세지 DB에 저장 -->
	<insert id="saveMessage"
		parameterType="co.prjt.own.chat.service.MessageVO">
		<selectKey keyProperty="mno" resultType="int" order="BEFORE">
			SELECT
			CHATROOM_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MESSAGE ( MESSAGE_NO,
		MESSAGE_CONTENT,
		MESSAGE_TIME,
		CHATROOM_NO,
		BAND_MEMBER_NO )
		VALUES ( 'MES_'||#{mno},
		#{messageContent}, SYSTIMESTAMP,
		#{chatroomNo}, #{bandMemberNo} )
	</insert>

	<!-- 메세지 DB에서 조회 -->
	<select id="getMessage"
		resultType="co.prjt.own.chat.service.MessageVO" parameterType="string">
		SELECT *
		FROM MESSAGE
		WHERE CHATROOM_NO = #{chatroomNo}
		ORDER BY MESSAGE_TIME
	</select>
	
	<!-- 채팅방 정보 조회 -->
	<select id="getChatroomInfo"
		resultType="co.prjt.own.chat.service.ChatroomVO" parameterType="string">
		SELECT  C.*,
        		(SELECT M.MEDIA_SERVER_FILE
              	   FROM MULTIMEDIA M
             	  WHERE M.IDENTIFY_ID = (SELECT band_member_no
                                      	   FROM CHATROOM
                                     	  WHERE BAND_MEMBER_NO <![CDATA[ <> #{bandMemberNo}]]>
                                       	    AND CHATROOM_NO = #{chatroomNo}
                                    	)
        		) PROFILE_IMG
		  FROM CHATROOM C
		 WHERE C.CHATROOM_NO = #{chatroomNo}
		   AND C.BAND_MEMBER_NO = #{bandMemberNo}
	</select>
</mapper>