<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chall.mapper.CMemberMapper">
	<insert id="insertCMem">
	<selectKey keyProperty="memNo" resultType="String" order="BEFORE">
		SELECT CMB_SEQ.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO CHALL_MEMBER(MEM_NO, 
								 USER_ID, 
								 MEM_NICKNAME, 
								 MEM_ACC, 
								 MEM_INTRO,
								 MEM_BANK, 
								 MEM_ACCNAME)
		VALUES ('CMB_'||#{memNo},
		       	 #{userId},
		         #{memNickname},
		         #{memAcc},
		         #{memIntro},
		         #{memBank},
		         #{memAccname})
	</insert>
	
	<select id="getCMem" resultType="co.prjt.own.chall.service.CMemberVO">
			SELECT C.*, M.MEDIA_SERVER_FILE AS MEM_IMAGE
			FROM CHALL_MEMBER C, MULTIMEDIA M
			WHERE C.MEM_NO = M.IDENTIFY_ID
			AND C.USER_ID = #{userId}
	</select>
	
	<update id="updateCMem" parameterType="co.prjt.own.chall.service.CMemberVO">
		UPDATE CHALL_MEMBER
		SET MEM_NICKNAME =  #{memNickname},
    		MEM_INTRO = #{memIntro},
    		MEM_ACC = #{memAcc}
		WHERE USER_ID = #{userId}
	</update>
	
	<select id="nickCheck" resultType="int">
		SELECT COUNT(*) 
		FROM CHALL_MEMBER
		WHERE MEM_NICKNAME = #{VALUE}
	</select>
	
	<select id="challMemCheck" resultType="co.prjt.own.chall.service.CMemberVO">
		SELECT * 
		FROM CHALL_MEMBER
		WHERE USER_ID = #{userId}
	</select>
	
	<update id="plusAmt" parameterType="co.prjt.own.chall.service.CMemberVO">
		UPDATE CHALL_MEMBER
		SET MEM_AMT =  MEM_AMT + #{price}
		WHERE USER_ID =  #{userId}
	</update>
	
	<update id="minusAmt" parameterType="co.prjt.own.chall.service.CMemberVO">
		UPDATE CHALL_MEMBER
		SET MEM_AMT =  MEM_AMT - #{price}
		WHERE USER_ID =  #{userId}
	</update>
</mapper>