<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chall.mapper.CMemberMapper">
	<insert id="insertCMem">
	</insert>
	
	<select id="getCMem" resultType="co.prjt.own.chall.service.CMemberVO">
		SELECT * FROM  CHALL_MEMBER
		WHERE USER_ID = #{userId}
	</select>
	
	<update id="updateCMem" parameterType="co.prjt.own.chall.service.CMemberVO">
		UPDATE CHALL_MEMBER
		SET MEM_NICKNAME =  #{memNickname},
    		MEM_INTRO = #{memIntro}
		WHERE USER_ID = #{userId}
	</update>
	
</mapper>