<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chall.mapper.CMemberListMapper">
	<insert id="insertMemList">
		<selectKey keyProperty="memListNo" resultType="string" order="BEFORE">
			SELECT CML_SEQ.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO CHALL_MEM_LIST (MEM_LIST_NO, USER_ID, CHALL_NO)
			VALUES( 'CML_'|| #{memListNo},
					#{userId},
					#{challNo})
	</insert>
	
	<sql id="condition">
		<where>
			<!-- 내 도전신청?   -->
			<if test="userId !=null">
				USER_ID = #{userId}
			</if> 
			<!-- 도전신청회원보기 -->
			<if test="challNo !=null">
				CHALL_NO = #{challNo}
			</if>
			<!-- 회원상태와 도전번호로 검색 -->
			<if test="challNo !=null and memStatus !=null">
				CHALL_NO = #{challNo}
				MEM_STATUS = #{memStatus}
			</if>
			<!-- 상태와 아이디로 검색.. -->
			<if test="userId !=null and memStatus !=null">
				USER_ID = #{userId}
				MEM_STATUS = #{memStatus}
			</if>
		</where>
	</sql>
	
	<select id="getMemListAll" resultType="co.prjt.own.chall.service.CMemberListVO">
		SELECT * 
		FROM CHALL_MEM_LIST
		<include refid="condition" />
	</select>
	
	<!-- 멤버 참여중인지 검색 -->
	<select id="getMemCheck" resultType="co.prjt.own.chall.service.CMemberListVO">
		SELECT * 
		FROM CHALL_MEM_LIST
		WHERE CHALL_NO = #{challNo}
		AND USER_ID = #{userId}
		AND MEM_STATUS = #{memStatus}
	</select>
	
	<update id="updateMemList">
		UPDATE CHALL_MEM_LIST
		SET MEM_STATUS = #{memStatus}
		WHERE USER_ID = #{userId}
		AND CHALL_NO = #{challNo}
	</update>
	
	<select id="getChallMemNum" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_MEM_LIST
		WHERE CHALL_NO = #{value}
		AND MEM_STATUS = '승인'
	</select>
</mapper>