<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.common.mapper.CommonMapper">

	<select id="getListExersub"
		resultType="co.prjt.own.common.service.ExersubVO">
		select * from exer_sub
	</select>

	<!-- 이미지 삽입 -->
	<insert id="uploadImg">
		<selectKey keyProperty="mediaNo" resultType="string"
			order="BEFORE">
			SELECT media_seq.NEXTVAL-1 FROM DUAL
		</selectKey>
		INSERT INTO MULTIMEDIA VALUES(
		#{mediaNo},
		#{mediaRealFile},
		#{mediaServerFile},
		#{mediaFilePath},
		#{ino} || #{identifyId},
		#{mediaCategory},
		'1'
		)
	</insert>

	<select id="selectImgAll" resultType="co.prjt.own.common.service.MultimediaVO">
		SELECT * FROM MULTIMEDIA
		WHERE IDENTIFY_ID = #{value} 
		ORDER BY MEDIA_NO
	</select>

	<select id="selectImg" resultType="co.prjt.own.common.service.MultimediaVO">
		SELECT * FROM MULTIMEDIA
		WHERE IDENTIFY_ID = #{value} 
		ORDER BY MEDIA_NO
	</select>
	
	<update id="updateImg" parameterType="co.prjt.own.common.service.MultimediaVO">
		UPDATE MULTIMEDIA
		SET MEDIA_FILE_PATH = #{mediaFilePath},
			MEDIA_REAL_FILE = #{mediaRealFile},
			MEDIA_SERVER_FILE = #{mediaServerFile}
		WHERE IDENTIFY_ID = #{identifyId}
	</update>
	
	<select id="selectImgAllKey" resultType="co.prjt.own.common.service.MultimediaVO" parameterType="java.util.List">
		SELECT * FROM MULTIMEDIA
		WHERE IDENTIFY_ID IN
               <foreach collection="list" item="v" separator="," open="(" close=")">
               		#{v}
               </foreach>
	</select>

	<select id="reportAlllist" resultType="co.prjt.own.common.service.ReportVO">
	SELECT * FROM REPORT
	</select>
	
	<update id="updateKey">
		UPDATE MULTIMEDIA
		SET IDENTIFY_ID = #{key}
		WHERE MEDIA_SERVER_FILE IN
               <foreach collection="name" item="n" separator="," open="(" close=")">
               		#{n}
               </foreach>
	</update>	
	<delete id="deleteImg">
		DELETE FROM MULTIMEDIA
		WHERE MEDIA_SERVER_FILE NOT IN
			   <foreach collection="name" item="n" separator="," open="(" close=")">
               		#{n}
               </foreach>
               AND IDENTIFY_ID = #{key}
	</delete>
</mapper>