<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.common.mapper.CommonMapper">

<select id="getListExersub" resultType="co.prjt.own.common.service.ExersubVO">
select * from exer_sub
</select>

<!-- 이미지 삽입 -->
<insert id="upload">
<selectKey keyProperty="mediaNo" resultType="string" order="BEFORE">
			SELECT media_seq.NEXTVAL-1 FROM DUAL
</selectKey>
INSERT INTO MULTIMEDIA VALUES(
	#{mediaNo},
	#{mediaRealFile},
	#{mediaServerFile},
	#{mediaFilePath},
	#{ino} || #{identifyId},
	#{mediaCategory},
	'1'
)
</insert>
</mapper>