<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chall.mapper.CReportMapper">
	<insert id="insertCReport">
		<selectKey keyProperty="reportNo" resultType="string" order="BEFORE">
			SELECT CRP_SEQ.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO CHALL_REPORT( REPORT_NO, 
									  VLD_NO ,
									  REPORTER,
									  REPORT_REASON )
			VALUES( 'CRP_'||#{reportNo},
				    #{vldNo},
				    #{reporter},
				    #{reportReason})
	</insert>
	
		<sql id="condition">
				<if test="challNo !=null and challNo !='' ">
					AND CHALL_NO = #{challNo}
				</if>
				<if test="vldNo !=null and vldNo !='' ">
					AND VLD_NO = #{vldNo}
				</if>
				<if test="reportState !=null and reportState !='' ">
					AND REPORT_STATE = #{reportState}		
				</if>
				<if test="reporter !=null and reporter !='' ">
					AND REPORTER = #{reporter}	
				</if>
		</sql>
	
	<update id="updateCReport">
		UPDATE CHALL_REPORT
		SET REPORT_STATE = #{reportState}
		WHERE VLD_NO =  #{vldNo}
		AND REPORTER = #{reporter}
	</update>
	
	<!-- 인증, 신고, 멀티미디어 연결함..리포트에 담기 -->
	<select id="getCReport" resultType="co.prjt.own.chall.service.CReportVO">
		SELECT V.CHALL_NO AS CHALL_NO,
			   V.VLD_NO AS VLD_NO, 
			   V.USER_ID AS REPORTED,
			   R.REPORTER,
			   R.REPORT_REASON,
			   V.VLD_DATE,
			   M.MEDIA_SERVER_FILE AS VLD_IMG
		FROM CHALL_REPORT R, CHALL_VALIDATION V, MULTIMEDIA M
		WHERE R.VLD_NO =  V.VLD_NO
		AND M.IDENTIFY_ID = V.VLD_NO
		<include refid="condition"/>   
	</select>
	
	<select id="checkReport" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_REPORT
		WHERE VLD_NO = #{vldNo}
		AND REPORTER = #{reporter}
	</select>
	
</mapper>