<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.ownhome.mapper.OwnhomeMapper">
<!-- 자동검색 이미지넣기 연습중.. -->
<select id="getSnsAccountList" resultType="co.prjt.own.sns.service.SAccountVO">
SELECT S.*,M.MEDIA_SERVER_FILE FROM SNS_ACCOUNT S, MULTIMEDIA M
WHERE S.SNS_ACCOUNT_NO = M.IDENTIFY_ID(+)
</select>

<select id="searchId" resultType="String">
select user_id from own_users where user_email = #{email}
</select>

<select id="getEmpList" resultType="EmpVO">
select * from employees
</select>

<!-- 회원가입 -->
<insert id="insertUser">
<selectKey keyProperty="ownUsersNo" resultType="String" order="BEFORE">
			SELECT OWN_USER_NO.nextval FROM DUAL
		</selectKey>

insert into own_users
(own_users_no, user_id, user_passwd, user_name, user_email, user_phone, user_birthday, user_status ,user_gender, user_hobby,user_perm)
values (
		'ONO_' || #{ownUsersNo},
		#{userId},
		#{userPasswd},
		#{userName},
		#{userEmail},
		#{userPhone},
		#{userBirthday},
		0,
		#{userGender},
		#{userHobby},
		'ROLE_USER')
</insert>
<!-- 아이디 중복체크 -->
<select id="idcheck" resultType="int">
select count(*) from own_users where user_id = #{id}
</select>

<!-- 로그인 비밀번호 확인-->
<select id="login" resultType="co.prjt.own.ownhome.service.OwnUserVO">
select * from own_users where user_id= #{userId}
<!-- 모든회원정보 -->
</select>

<select id="ownUsercount" resultType="int">
SELECT COUNT(*) FROM OWN_USERS
</select>


<select id="getUserList" resultType="OwnUserVO">
SELECT * FROM (
SELECT ROWNUM RN, A.*,(SELECT COUNT(*) AS COUNT
FROM CHALLENGES C, CHALL_MEM_LIST M
WHERE C.CHALL_NO = M.CHALL_NO
AND C.CHALL_STATUS = '진행 중'
AND M.MEM_STATUS = '승인'
AND M.USER_ID=A.USER_ID) AS CHALLCOUNT ,
(SELECT COUNT(*) FROM BAND_MEMBER_DETAIL B WHERE A.USER_ID=B.USER_ID) AS BANDCOUNT FROM 
(SELECT * FROM OWN_USERS 
ORDER BY OWN_USERS_NO)
	<![CDATA[	
A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
]]>
</select>

<select id="adQuestionCount" resultType="int">
select count(*) from question
</select>

<!--================= SNS ==================-->
   <!-- 로그인 정보에서 sns 닉네임 가져오기 -->
   <select id="snsLogin" resultType="SAccountVO">
		SELECT O.USER_ID ,S.SNS_NICKNAME SNS_NICKNAME, S.SNS_PROFILE SNS_PROFILE, S.SNS_WEBSITE SNS_WEBSITE, S.SNS_ACCOUNT_NO SNS_ACCOUNT_NO
		FROM SNS_ACCOUNT S, OWN_USERS O
		WHERE S.SNS_ACCOUNT_NO = O.SNS_ACCOUNT_NO
		AND O.USER_ID =#{userId}
   </select>

   
   <!-- sns 간편 가입 시 own_users 테이블 업데이트 -->
   <update id="updateSnsUser" parameterType="map">
	   UPDATE OWN_USERS 
			SET SNS_ACCOUNT_NO = (SELECT SNS_ACCOUNT_NO
			                        FROM SNS_ACCOUNT
			                        WHERE SNS_NICKNAME = #{snsNickname})
			WHERE USER_ID = #{userId}
  		
   </update>
   <!--================= SNS End ==================-->
   
   <!-- 내질문 갖고오기 -->
   <select id="myQuestion" resultType="co.prjt.own.ownhome.service.QuestionVO">
   	SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
	SELECT * FROM QUESTION where user_id = #{userId}
	<![CDATA[	
	) A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
	]]>
   </select>
   
   <select id="myquestionCount" resultType="int">
   SELECT COUNT(*) FROM QUESTION WHERE USER_ID = #{userId}
   </select>
   
   
 <!-- 관리자 -->
 <select id="selectReport" resultType="co.prjt.own.common.service.ReportVO">
 select * from report where report_no = #{rno}
 </select>
 
 <select id="reportCount" resultType="int">
 select count(*) from report
 </select>
 
 <select id="reportList" resultType="co.prjt.own.common.service.ReportVO">
  SELECT * FROM ( SELECT ROWNUM RN, A.* FROM (
	SELECT * FROM REPORT
	<![CDATA[	
) A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
]]>
 </select>
<update id="ReportCountup">
update own_users set user_status = user_status+1 where user_id = #{userId}
</update> 

 <update id="reportUpdate">
 UPDATE REPORT SET STATUS = '처리완료' WHERE REPORT_NO = #{reportNo}
 </update>
 
 <update id="userPermUpdate">
 update own_users set user_perm = 'ROLE_HU_USER' where user_id = #{userId}
 </update>
 <select id="questionList" resultType="co.prjt.own.ownhome.service.QuestionVO">
 SELECT * FROM ( SELECT ROWNUM RN, A.* FROM (
	SELECT * FROM QUESTION
	<![CDATA[	
) A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
]]>
 </select>
 
 <select id="selectQuest" resultType="co.prjt.own.ownhome.service.QuestionVO">
 select * from question where quest_no = '${qno}'
 </select>
  
 <update id="questionUpdate">
 UPDATE QUESTION SET ANSWER = #{answer} , STATUS = '처리' WHERE QUEST_NO = #{questNo}
 </update>
 
 <select id="Challenging" resultType="co.prjt.own.chall.service.ChallengeVO">
 select *
from challenges c, chall_mem_list m
where c.chall_no = m.chall_no
and c.chall_status = '진행 중'
and m.mem_status = '승인'
and m.user_id = #{id}
 </select>
 
 <select id="Banding" resultType="co.prjt.own.band.service.BandMemberDetailVO">
SELECT BMD.*,B.BAND_NAME FROM 
BAND_MEMBER_DETAIL BMD , BAND B
WHERE BMD.USER_ID=#{ID}
AND BMD.BAND_NO = B.BAND_NO
 </select>
</mapper>