<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.ownhome.mapper.OwnhomeMapper">

<select id="getEmpList" resultType="EmpVO">
select * from employees
</select>

<!-- 회원가입 -->
<insert id="insertUser">
insert into own_users
(user_id, user_passwd, user_name, user_email, user_phone, user_birthday, user_gender, user_perm)
values (
		#{userId},
		#{userPasswd},
		#{userName},
		#{userEmail},
		#{userPhone},
		#{userBirthday},
		#{userGender},
		'일반회원')
</insert>
<!-- 아이디 중복체크 -->
<select id="idcheck" resultType="int">
select count(*) from own_users where user_id = #{id}
</select>

<!-- 로그인 비밀번호 확인-->
<select id="login" resultType="co.prjt.own.ownhome.service.OwnUserVO">
select * from own_users where user_id= #{userId}
<!-- 모든회원정보 -->
</select>

<select id="ownUsercount" resultType="int">
SELECT COUNT(*) FROM OWN_USERS
</select>


<select id="getUserList" resultType="OwnUserVO">
SELECT * FROM ( SELECT ROWNUM RN, A.* FROM (
	SELECT * FROM OWN_USERS
	ORDER BY USER_ID
	<![CDATA[	
) A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
]]>
</select>



<!--================= SNS ==================-->
   <!-- 로그인 정보에서 sns 닉네임 가져오기 -->
   <select id="snsLogin" resultType="SAccountVO">
		SELECT S.SNS_NICKNAME SNS_NICKNAME, S.SNS_PROFILE SNS_PROFILE, S.SNS_WEBSITE SNS_WEBSITE, S.SNS_ACCOUNT_NO SNS_ACCOUNT_NO
		FROM SNS_ACCOUNT S, OWN_USERS O
		WHERE S.SNS_ACCOUNT_NO = O.SNS_ACCOUNT_NO
		AND O.USER_ID =#{userId}
	
   </select>
   
   <!-- sns 간편 가입 시 own_users 테이블 업데이트 -->
   <update id="updateSnsUser" parameterType="map">
	   UPDATE OWN_USERS 
			SET SNS_ACCOUNT_NO = (SELECT SNS_ACCOUNT_NO
			                        FROM SNS_ACCOUNT
			                        WHERE SNS_NICKNAME = #{snsNickname})
			WHERE USER_ID = #{userId}
  		
   </update>
   <!--================= SNS End ==================-->
   <!-- 내질문 갖고오기 -->
   <select id="myQuestion" resultType="co.prjt.own.ownhome.service.QuestionVO">
   	SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
	SELECT * FROM QUESTION where user_id = #{userId}
	<![CDATA[	
	) A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
	]]>
   </select>
   <select id="myquestionCount" resultType="int">
   SELECT COUNT(*) FROM QUESTION WHERE USER_ID = #{userId}
   </select>
   
   
 <!-- 관리자 -->
 <select id="questionList" resultType="co.prjt.own.ownhome.service.QuestionVO">
 SELECT * FROM QUESTION
 </select>
 
 <select id="selectQuest" resultType="co.prjt.own.ownhome.service.QuestionVO">
 select * from question where quest_no = '${qno}'
 </select>
  
 <update id="questionUpdate">
 UPDATE QUESTION SET ANSWER = #{answer} , STATUS = '처리' WHERE QUEST_NO = #{questNo}
 </update>
</mapper>