<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.sns.mapper.SAccountMapper">
	
	<!-- SNS 회원 목록 전체 조회 -->
	<select id="getSnsUserList" resultType="SAccountVO">
	select * from sns_account
	</select>
	
	<!-- SNS 회원 가입 -->
	<insert id="insertSnsUser" parameterType="SAccountVO">
	<selectKey keyProperty="snsAccountNo" resultType="string" order="BEFORE">
		SELECT sns_account_no.nextval from dual
	</selectKey>
		INSERT INTO SNS_ACCOUNT (SNS_NICKNAME, SNS_ACCOUNT_NO)
		VALUES (#{snsNickname}, 'SAU_'||#{snsAccountNo})
	</insert>
	
	<!-- <selectKey keyProperty="currVal,nextVal" resultType="hashmap" order="BEFORE">
      select sns_account_no.currval as currVal, sns_account_no.nextval as nextVal FROM dual
    </selectKey> 
	BEGIN
	      INSERT INTO SNS_ACCOUNT (SNS_NICKNAME,
	                           SNS_ACCOUNT_NO)
	                           
	         VALUES( #{snsNickname},
	               'SAU_'||#{currVal});
	      UPDATE 
	         OWN_USERS
	      SET
	         SNS_ACCOUNT_NO = 'SAU_'||#{nextVal}
	         WHERE USER_ID = #{userId};     
	END;
		declare
		v_currval number
		v_nextval number
		BEGIN
		 select sns_account_no.currval , sns_account_no.nextval 
		into v_currval, v_nextval FROM dual;
		         INSERT INTO SNS_ACCOUNT (SNS_NICKNAME,
		                              SNS_ACCOUNT_NO)
		                              
		            VALUES( #{snsNickname},
		                  'SAU_'||v_currval);
		         UPDATE 
		            OWN_USERS
		         SET
		            SNS_ACCOUNT_NO = 'SAU_'||v_nextval
		            WHERE USER_ID = #{userId};     
		   END;		-->				

	

</mapper>
