<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.sns.mapper.SAccountMapper">
	
	<!-- SNS 회원 목록 전체 조회 -->
	<select id="getSnsUserList" resultType="SAccountVO">
	SELECT * FROM SNS_ACCOUNT
	</select>
	
	<!-- SNS 회원 한건 조회 -->
	<select id="getSnsUser" resultType="SAccountVO">
		SELECT a.*, o.user_id
			FROM SNS_ACCOUNT a , own_users o
			WHERE SNS_NICKNAME = #{snsNickname}
			and a.sns_account_no = o.sns_account_no
	</select>
	
	<!-- SNS 회원 가입 -->
	<insert id="insertSnsUser" parameterType="SAccountVO">
		<selectKey keyProperty="snsAccountNo" resultType="string" order="BEFORE">
			SELECT sns_account_no.nextval from dual
		</selectKey>
			INSERT INTO SNS_ACCOUNT (SNS_NICKNAME, SNS_ACCOUNT_NO)
			VALUES (#{snsNickname}, 'SAU_'||#{snsAccountNo})
	</insert>
	
	<!-- 프로필 수정 -->
	<update id="updateSnsUser">
		UPDATE SNS_ACCOUNT
			SET SNS_NICKNAME = #{snsNickname},
				SNS_PROFILE = #{snsProfile},
				SNS_WEBSITE = #{snsWebsite}
			WHERE SNS_ACCOUNT_NO = #{snsAccountNo}
	</update>
	
	<!-- 프로필 사진 유무 체크 -->
	<select id="snsImgCount" resultType="int">
		SELECT COUNT(*)
			FROM MULTIMEDIA
			WHERE IDENTIFY_ID = #{snsAccountNo}
	</select>

</mapper>
