<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.sns.mapper.SBoardMapper">

	<!-- 내 게시글 전체 조회 -->
	<select id="getSnsBoardList" resultType="SBoardVO">
	SELECT * FROM SNS_BOARD 
		WHERE SNS_ACCOUNT_NO = (SELECT s.sns_account_no
		                        FROM sns_account s, own_users o
		                        WHERE o.user_id = #{userId}
		                        AND s.sns_account_no = o.sns_account_no)
		ORDER BY SNS_BOARD_NO DESC	
	</select>
	
	<!-- 게시글 갯수 카운트 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*)
			FROM SNS_BOARD
			WHERE SNS_ACCOUNT_NO= #{snsAccountNo}
	</select>
	
	<!-- 게시글 한건 조회 -->
	<select id="getSnsBoard" resultType="SBoardVO">
		SELECT * FROM SNS_BOARD WHERE SNS_BOARD_NO = #{snsBoardNo}
	</select>
	
	<select id="getSnsBoardNo" resultType="SBoardVO">
		SELECT SNS_BOARD_NO
		FROM SNS_BOARD
		WHERE SNS_ACCOUNT_NO = #{snsAccountNo}
		ORDER BY SNS_BOARD_NO DESC
	</select>
	
	<!-- 게시글 입력 -->
	<insert id="insertSnsBoard" parameterType="SBoardVO">
		<selectKey keyProperty="snsBoardNo" resultType="string" order="BEFORE">
			SELECT sns_board_no.NEXTVAL FROM DUAL
		</selectKey>
		
			INSERT INTO sns_board (sns_board_no, sns_board_content, sns_board_date, sns_nickname, sns_account_no)
				VALUES ('SBN_'||#{snsBoardNo}, #{snsBoardContent}, current_date, 
				       (SELECT sns_nickname
				            FROM sns_account s, own_users o
				            WHERE o.sns_account_no = #{snsAccountNo}
				            AND s.sns_account_no = o.sns_account_no),
				       (select s.sns_account_no
				            FROM sns_account s, own_users o
				            where s.sns_account_no = o.sns_account_no
				            and o.sns_account_no = #{snsAccountNo}))
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateSnsBoard" parameterType="SBoardVO">
		UPDATE SNS_BOARD
		SET SNS_BOARD_CONTENT = #{snsBoardContent},
			    SNS_BOARD_DATE = current_date
		WHERE SNS_BOARD_NO = ${snsBoardNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteSnsBoard">
		DELETE FROM SNS_BOARD
		WHERE SNS_BOARD_NO = #{snsBoardNo} 
	</delete>
	
</mapper>