<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="co.prjt.own.sns.mapper.SFollowMapper">
	
		<select id="getFollowList" resultType="SFollowVO">
			SELECT * FROM SNS_FOLLOW
		</select>
		<select id="followCount" resultType="int">
			SELECT COUNT(*) FROM SNS_FOLLOW
		</select>
		
		<select id="followerCount" resultType="int">
			SELECT COUNT(*) FROM SNS_FOLLOW WHERE SNS_FOLLOW_ID = 'kmhmh1011'
		</select>
		
	</mapper>