<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.sns.mapper.StoryMapper">

	<!-- 해당계정에 대한 스토리 전체 조회 -->
	<select id="getStoryList" resultType="StoryVO">
		SELECT SNS_STORY_NO, 
			   SNS_NICKNAME, 
			   SNS_STORY_DATE, 
			   SNS_STATUS, 
			   SNS_ACCOUNT_NO
			FROM SNS_STORY
			WHERE SNS_NICKNAME = #{snsNickname}
			ORDER BY SNS_STORY_NO DESC
	</select>
	
	<!-- 내가 팔로우 한 사람들 중 최신스토리 1개 조회 -->
	<select id="getNowStoryList" resultType="StoryVO">
		SELECT A.SNS_NICKNAME,
		        (SELECT MEDIA_SERVER_FILE FROM MULTIMEDIA WHERE IDENTIFY_ID = 
		        (SELECT SNS_ACCOUNT_NO FROM SNS_ACCOUNT WHERE SNS_ACCOUNT_NO= A.SNS_ACCOUNT_NO)) AS MEDIA_SERVER_FILE
	    FROM (SELECT 
	            SNS_NICKNAME, SNS_story_DATE, SNS_ACCOUNT_NO,
	            ROW_NUMBER() OVER(PARTITION BY sns_nickname ORDER BY to_number(SUBSTR(sns_story_no,5)) DESC) AS rn FROM sns_story) A,
	         (SELECT SNS_FOLLOW_ID FROM SNS_FOLLOW WHERE SNS_FOLLOWER_ID = #{snsFollowerId}) B
	    WHERE A.SNS_ACCOUNT_NO = B.SNS_Follow_id
	    AND rn = 1
	</select>
	
	<!-- 스토리 입력 -->
	<insert id="insertStory" parameterType="StoryVO">
		<selectKey keyProperty="snsStoryNo" resultType="string" order="BEFORE">
			SELECT SNS_STORY_NO.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO SNS_STORY(sns_story_no, sns_nickname, sns_story_date, sns_status, sns_account_no)
				VALUES ('SSN_'||#{snsStoryNo}, #{snsNickname}, current_date, 'open', #{snsAccountNo})
	</insert>
	
	<!--스토리 상태 변경-->
	<update id="updateStory">
		update sns_story
		set sns_status = 'secret'
		where sns_story_no = #{snsStoryNo}
	</update>
	
	<!-- 스토리 삭제 -->
	<delete id="deleteStroy">
		delete from sns_story
		where sns_story_no =#{snsStoryNo}
	</delete>
	
</mapper>