<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chall.mapper.ValidationMapper">
	<insert id="insertVld"
		parameterType="co.prjt.own.chall.service.ValidationVO">
		<selectKey keyProperty="vldNo" resultType="string"
			order="BEFORE">
			SELECT CHA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
		CHALL_VALIDATION( VLD_NO,
		CHALL_NO,
		USER_ID )
		VALUES ('CVD_'|| #{vldNo},
		#{challNo},
		#{userId})
	</insert>

	<select id="getChallVld" resultType="co.prjt.own.chall.service.ValidationVO">
		SELECT V.*, M.MEDIA_SERVER_FILE
		FROM CHALL_VALIDATION V, MULTIMEDIA M
		WHERE M.IDENTIFY_ID = V.VLD_NO
		AND V.CHALL_NO = #{challNo}
		ORDER BY V.VLD_DATE DESC
	</select>
	
	<select id="getMyVld" resultType="co.prjt.own.chall.service.ValidationVO">
		SELECT V.*, M.MEDIA_SERVER_FILE
		FROM CHALL_VALIDATION V, MULTIMEDIA M
		WHERE M.IDENTIFY_ID = V.VLD_NO
		AND V.USER_ID = #{userId}
		ORDER BY V.VLD_DATE DESC
	</select>
	
	<select id="getMyChallVld" resultType="co.prjt.own.chall.service.ValidationVO">
		SELECT V.*, M.MEDIA_SERVER_FILE
		FROM CHALL_VALIDATION V, MULTIMEDIA M
		WHERE M.IDENTIFY_ID = V.VLD_NO
		AND V.CHALL_NO = #{challNo}
		AND V.USER_ID = #{userId}
		ORDER BY V.VLD_DATE DESC
	</select>
	
	<select id="startToToday" resultType="int">
		SELECT (TO_DATE(TO_CHAR(CURRENT_DATE)) - ( SELECT CHALL_STARTDATE
		                                          FROM CHALLENGES
		                                          WHERE CHALL_NO = #{challNo})) AS START_TO_TODAY
		FROM DUAL
	</select>
	
	<select id="countWeekVld" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_VALIDATION
		WHERE CHALL_NO = #{challNo}
		AND VLD_STATUS = '승인'
		AND USER_ID = #{userId}
 		AND VLD_DATE >= ( SELECT CHALL_STARTDATE
                  		  FROM CHALLENGES
                  		  WHERE CHALL_NO = #{challNo} ) +  7 * #{beforeWeek}
		AND ( SELECT CHALL_STARTDATE
              FROM CHALLENGES
              WHERE CHALL_NO = #{challNo} ) + 7 * #{nowWeek}  > VLD_DATE 
	</select>
	
	<select id="todayVld" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_VALIDATION
		WHERE TO_CHAR(VLD_DATE, 'YY/MM/DD')  =  TO_CHAR(CURRENT_DATE, 'YY/MM/DD')
		AND USER_ID = #{userId}
		AND CHALL_NO = #{challNo}
	</select>
	
</mapper>