<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prjt.own.chall.mapper.ValidationMapper">
	<insert id="insertVld"
		parameterType="co.prjt.own.chall.service.ValidationVO">
		<selectKey keyProperty="vldNo" resultType="string"
			order="BEFORE">
			SELECT CHA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
		CHALL_VALIDATION( VLD_NO,
		CHALL_NO,
		USER_ID )
		VALUES ('CVD_'|| #{vldNo},
		#{challNo},
		#{userId})
	</insert>

		<sql id="condition">
				<if test="challNo !=null and challNo !=''">
					AND	CHALL_NO = #{challNo}
				</if>
				<if test="vldStatus !=null and vldStatus !='' ">
					AND vld_status = #{vldStatus}
				</if>
		</sql>
	
	<!-- 페이징을 곁을인.. -->
	<select id="getChallVld" resultType="co.prjt.own.chall.service.ValidationVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.* 	  FROM ( 
		
					SELECT V.*, M.MEDIA_SERVER_FILE, C.MEM_NICKNAME AS USER_NICK
					  FROM CHALL_VALIDATION V, MULTIMEDIA M, CHALL_MEMBER C
					 WHERE M.IDENTIFY_ID = V.VLD_NO
				       AND V.USER_ID = C.USER_ID
					 <include refid="condition"/>   
	              ORDER BY V.VLD_DATE DESC
	<![CDATA[   
		) A WHERE ROWNUM <= #{last} ) 	WHERE RN >= #{first}
	]]>	     
	</select>
	
	<select id="getMyVld" resultType="co.prjt.own.chall.service.ValidationVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.* 	  FROM (
		
					SELECT V.*, M.MEDIA_SERVER_FILE, C.MEM_NICKNAME AS USER_NICK
					  FROM CHALL_VALIDATION V, MULTIMEDIA M, CHALL_MEMBER C
					 WHERE M.IDENTIFY_ID = V.VLD_NO
				       AND V.USER_ID = C.USER_ID
				       AND V.USER_ID = #{userId}
				       <include refid="condition"/>   
					 ORDER BY V.VLD_DATE DESC
					 
	<![CDATA[   
		) A WHERE ROWNUM <= #{last} ) 	WHERE RN >= #{first}
	]]>	   
	</select>
	
	<select id="getMyChallVld" resultType="co.prjt.own.chall.service.ValidationVO">
		SELECT V.*, M.MEDIA_SERVER_FILE
		FROM CHALL_VALIDATION V, MULTIMEDIA M
		WHERE M.IDENTIFY_ID = V.VLD_NO
		AND V.CHALL_NO = #{challNo}
		AND V.USER_ID = #{userId}
		ORDER BY V.VLD_DATE DESC
	</select>
	
	<select id="whatWeekToday" resultType="int">
		SELECT CEIL (( SELECT (TO_DATE(CURRENT_DATE, 'yy/mm/dd')) - (( SELECT TO_DATE(CHALL_STARTDATE, 'yy/mm/dd')
		 				 FROM CHALLENGES
						WHERE CHALL_NO = #{challNo} ) -1 )  AS START_TO_TODAY
						FROM DUAL ) / 7 )  AS HOWLONG
		FROM DUAL
	</select>
	
	<select id="countWeekVld" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_VALIDATION
		WHERE CHALL_NO = #{challNo}
		AND VLD_STATUS = '승인'
		AND USER_ID = #{userId}
		AND TO_DATE(VLD_DATE, 'yy/mm/dd') >= ( SELECT TO_DATE(CHALL_STARTDATE, 'yy/mm/dd')
		                                         FROM CHALLENGES
		                                        WHERE CHALL_NO = #{challNo} ) +  7 * #{beforeWeek}
		AND (( SELECT TO_DATE(CHALL_STARTDATE, 'yy/mm/dd')
		         FROM CHALLENGES
		        WHERE CHALL_NO = #{challNo}) + 7 * #{nowWeek} ) - 1  > TO_DATE(VLD_DATE, 'yy/mm/dd')
	</select>
	
	<select id="todayVld" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_VALIDATION
		WHERE TO_CHAR(VLD_DATE, 'YY/MM/DD')  =  TO_CHAR(CURRENT_DATE, 'YY/MM/DD')
		AND USER_ID = #{userId}
		AND CHALL_NO = #{challNo}
	</select>
	
	<select id="countVld" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_VALIDATION
		WHERE 1=1
		<include refid="condition"/>   
	</select>
	
	<select id="memVldAvg" resultType="int">
		SELECT COUNT(*)
		FROM CHALL_VALIDATION
		WHERE CHALL_NO = #{challNo}
		AND VLD_STATUS = '승인'
	</select>
	
	<update id="updateVld">
		UPDATE CHALL_VALIDATION
		SET VLD_STATUS = #{vldStatus}
		WHERE VLD_NO = #{vldNo}
	</update>
	
	<select id="getVldList" resultType="co.prjt.own.chall.service.ValidationVO">
			SELECT V.*, M.MEDIA_SERVER_FILE
		      FROM CHALL_VALIDATION V, MULTIMEDIA M
			 WHERE M.IDENTIFY_ID = V.VLD_NO
			 <include refid="condition"/>   
	         ORDER BY V.VLD_DATE DESC
	</select>
</mapper>