<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="co.prjt.own.sns.mapper.SFollowMapper">
	
		<select id="getFollowList" resultType="SFollowVO">
			SELECT * FROM SNS_FOLLOW
		</select>
		
		<select id="followCount" resultType="int">
			SELECT COUNT(*) FROM SNS_FOLLOW
		</select>
				
		<!-- 팔로워 리스트 조회 -->
		<select id="getFollowerList" resultType="SAccountVO">
			SELECT A.SNS_NICKNAME
			FROM SNS_ACCOUNT A, (SELECT SNS_FOLLOWER_ID
			                    FROM SNS_FOLLOW 
			                    WHERE SNS_FOLLOW_ID = #{snsFollowId}) B
			WHERE A.SNS_ACCOUNT_NO = B.SNS_FOLLOWER_ID
		</select>
		
		<!-- 팔로워 수 조회 -->
		<select id="followerCount" resultType="int">
			SELECT COUNT(*) as count 
			FROM SNS_FOLLOW 
			WHERE SNS_FOLLOW_ID = #{snsAccountNo}
		</select>
		

		
	
		
		
		
	</mapper>