<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/band_layout}"
      lang="ko">
    <head>
        <!-- <script src="/css/band/js/jquery-3.2.1.js"></script> -->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/css/band/image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/band/css/bootstrap.css">
        <link rel="stylesheet" href="/css/band/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/band/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/css/band/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/band/css/style.css">
        <link rel="stylesheet" href="/css/band/css/responsive.css">
        <script src="/css/band/js/jquery-3.2.1.js"></script>
        <!--  -->
         <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="/css/band/js/popper.js"></script> -->
        <!-- <script src="/css/band/js/bootstrap.min.js"></script> -->
        <script src="/css/band/vendors/owl-carousel/owl.carousel.min.js"></script>
       <!--  <script src="/css/band/js/jquery.ajaxchimp.min.js"></script> -->
        <script src="/css/band/js/mail-script.js"></script>
        <script src="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="/css/band/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="/css/band/js/mail-script.js"></script>
        <script src="/css/band/js/stellar.js"></script>
        <script src="/css/band/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/css/band/js/custom.js"></script>
         <script src="/css/band/js/time.js"></script>
        <style type="text/css">
        	.modal {
				display: none;
				z-index: 500;
				width: 100%;
				height: 100vh;
				position: fixed;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.3);
			}
			
			.modal button {
				position: absolute;
				top: 3rem;
				right: 3rem;
				background: transparent;
				border: 0;
				color: #ffffff;
				font-size: 3rem;
			}
			
			.modalBox {
				position: relative;
				top: 20%;
				left: 50%;
				transform: translate(-50%, -20%);
				background-color: #ffffff;
				width: 30%;
				height: 30%;
				text-align: center;
			}
			
			.modalBox img {
				width: 100%;
			}
			
			.modalBox p {
				color: #ffffff;
				background-color: #000;
				font-size: 2rem;
				padding: .2rem;
			}
			@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

		.dropdown{
		  position : relative;
		  display : inline-block;
		}
		
		.dropbtn_icon{
		  font-family : 'Material Icons';
		}
		.dropbtn{
		  border-radius : 4px;
		  background-color: #f5f5f5;
		  font-weight: 400;
		  color : rgb(37, 37, 37);
		  width :200px;
		  text-align: left;
		  cursor : pointer;
		  font-size : 12px;
		}
		.dropdown-content{
		  display : none;
		  position : absolute;
		  z-index : 1; /*다른 요소들보다 앞에 배치*/
		  font-weight: 400;
		  background-color: #f9f9f9;
		  min-width : 200px;
		}
		
		.dropdown-content a{
		  display : block;
		  text-decoration : none;
		  color : rgb(37, 37, 37);
		  font-size: 12px;
		  padding : 12px 20px;
		}
		
		.dropdown-content a:hover{
		  background-color : #ececec
		}
		.dropdown:hover .dropdown-content {
		  display: block;
		}
		.clickBoard {
			color : blue;
			text-decoration : underline;
		}
		#ifr {
			 width: 800px;
			 height: 1000px;
		}
        </style>
    </head>
    <body>
    <div layout:fragment="content">
    <!-- <input type="hidden" th:value="${band.bandNo}" 				id="bandNumber" > -->
    <input type="hidden" th:value="${band.bandNo}" 				id="bandNo" >
   	<input type="hidden" th:value="${session.loginUser.userId}" id="userId" >
   	<input type="hidden" th:value="${band.bandLeaderid}" id="bandLeaderid" >
    <input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}">
	<!-- 게시판 넘기기용 -->
	<input type="hidden" th:value="${bandBoardDetailNo}" id="bandBoardDetailNo" >
        <!--================Header Area =================-->
        <header><aside class="single_sidebar_widget search_widget">
            <div class="br"></div>
        </aside>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <!--================ 전체 검색 =================-->    
                        <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="오운 가치 검색"  name="bandName">
                            <span class="input-group-btn">
                                <button class="btn btn-default searchBtn" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div>
                   <!--================ 전체 검색 끝 =================-->    
                        <div class="br"></div>
                    </aside>
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" th:href="@{/own/band/bandGroup(bandNo=${band.bandNo})}">가치 홈</a></li>
                            <li class="nav-item"><div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA02'}"><a class="nav-link" id="bandPhoto">앨범</a></div></li>
                            <li class="nav-item"><div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA02'}"><a class="nav-link" id="bandCalendar">일정</a></div></li>
                            <!--================ 채팅기능을 위한 임시 =================-->
                            <li class="nav-item"><div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA02'}"><a class="nav-link" th:href="@{/own/band/memberTest(bandNo = ${band.bandNo})}">멤버</a></div></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area" style="padding-top: 0px">
            <div class="container" style="display: flex;">
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <div style="flex-grow:1; width: 260px">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget author_widget">
                                <div class="hotel_img">
                                    <img th:src="|/imgView/${band.bandImg.mediaServerFile}|"  alt=""  style="width: 200px; height: 200px;">
                                </div>
                                <h3 th:text="${band.bandName}" class="typo-list" style="display:inline;"></h3>
                                <hr>
                                <div>
                                    <b><i class="fa fa-user"></i>멤버 <span th:text="${band.memcount}"></span></b>
                                    <div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA02'}"><b><i class="fa fa-plus-square" aria-hidden="true"></i> 초대</b></div>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span th:text="${band.bandLocation}"></span></p>
                                    <p><i class="fa fa-futbol-o" aria-hidden="true"></i> <span th:text="${band.bandCategory}"></span></p>
                                </div>
                                <hr>
                                <div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA02'}">
	                                <div>
	                                	<p id="myOption"><i class="fa fa-cog" aria-hidden="true"></i>[[${BandMemberDetail.bandNickname}]]([[${BandMemberDetail.userId}]])<b th:if="${#strings.equals(session.loginUser.userId, band.bandLeaderid)}"><i class="fa fa-solid fa-crown"></i></b></p>
	                                    <p id="bandOption"><i class="fa fa-cog" aria-hidden="true"></i> 가치 설정</p>
	                                    <p id="bandOption9"><i class="fa fa-cog" aria-hidden="true"></i> 가치 설정(게시판)</p>
	                                </div>
	                                <hr>

                                </div>
                                <div th:if="${#strings.isEmpty(BandMemberDetail)}"  id="signUpBand">
                                <!-- =======가입======= -->
                                	<h4 class="widget_title" style="color:white;">회원가입</h4>
                                </div>
                                <div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA01'}">
                                <!-- =======승인중======= -->
                                	<h4 class="widget_title" style="color:white;">승인대기중</h4>
                                </div>
                            </aside>
                            <div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA02'}">
	                            <aside class="single_sidebar_widget post_category_widget">
	                                <h4 class="widget_title" id="writeBoard">글쓰기</h4>
	                                <div class="d-flex justify-content-between smallBoard" id="totalBoard">
	                                    <p name=""><i class="fa fa-file-text" style="padding-right: 7px"></i>전체 글보기</p>
	                                    <p th:text="${boardCount}">2538</p>
	                                </div>
	                                <hr style="margin-bottom: 20px; margin-top: 0px;">
	                                <ul class="list_style cat-list">
	                                    <li th:each="board: ${boardList}">
	                                    	<p th:if="${board.bandBoardLine}!=0" class="smallBoard" th:name="${board.bandBoardOptionNo}"><i class="fa fa-file-text" style="padding-right: 7px"></i>[[${board.bandBoardName}]]</p>
	                                    	<b th:if="${board.bandBoardLine}==0" th:text="${board.bandBoardName}"></b>
	                                    </li>											
	                                </ul>
	                                <div class="br"></div>
	                            </aside>
	                            <aside class="single-sidebar-widget tag_cloud_widget">
	                                <h4 class="widget_title">가치 태그</h4>
	                            	<ul class="list_style">
	                                    <li th:if="${keyword != null}" th:each="tag: ${keyword}">
	                                    	<a href="#"  th:text="${tag}"></a>
	                                    </li>
	                                </ul>
	                            </aside>
	                    	</div>        
                        </div>
                    </div>
                    <div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA02'}">
	                    <div style="flex-grow:3; width: 740px">
		  <!-- ================== 여기붙음================== -->                    	
	                        <div id="mainTemplate">
	                            <article style="border: 1px solid #eeeeee;padding:30px; ">
	                            <!-- ================== 검색================== -->
	                            	  
	                                <div class="input-group">
	                                    <input type="text" class="form-control" id="searchBox" placeholder="Search Posts">
	                                    <span class="input-group-btn">
	                                        <button class="btn btn-default" id="searchBoxBtn" type="button"><i class="lnr lnr-magnifier"></i></button>
	                                    </span>
	                                </div>
                                 <!-- ================== 검색================== -->  
	                            </article>
	                            <div id="articleArea" class="arty">
				               </div>
	                        </div>
	                        <!-- <iframe id="ifr" onload="iframeHeight()" frameborder="0" scrolling="no"></iframe> -->
	      <!-- ================== 여기붙음================== -->
	                    </div>
                    </div>
                    <div th:unless="${BandMemberDetail}">
                    	<div style="flex-grow:3; width: 740px">
	                    	<input type="hidden" th:value="${band.bandNo}" id="bandNumber" >
	                    	<input type="hidden" id="userId" th:value="${session.loginUser.userId}">
	                        <div id="mainTemplate">
	                        	<div>
		                            <div id="articleArea">
		                            	<article style="border: 1px solid #eeeeee;padding:30px; height: 470px;">
							                    <div style="display: flex; flex-direction: column;">
							                    <div>
							                        <div  style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                            <img class="rounded-circle" src="/css/band/image/blog/author.png" alt="" style="width: 70px; height: 70px;">
							                            <div  style="display: block; width: 300px; padding: 10px;">
							                                <ul class="blog_meta list_style" style="display: inline-block;">
							                                </ul>
							                            </div>
							                        </div>
							                        <h4></h4>
							                        <div>
							                            <p>회원가입 후 이용가능합니다.</p>
							                        </div>
							                    </div>
							                    <div class="" style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                        <div><span></span></div>
							                    </div>
							                </div>
							            </article>
					               </div>
				               </div>
	                        </div>
	                    </div>
                    </div>
                    <div style="flex-grow:1; width: 260px">
                        	<div th:if="${BandMemberDetail} and ${BandMemberDetail.bandMemberStatus=='BA02'}">
	                        	<div class="blog_right_sidebar">
		                            <aside class="single_sidebar_widget popular_post_widget">
		                                <div class="dropdown">
		                                	<h3 class="widget_title dropbtn">다가오는 일정<i class="fa fa-cog" aria-hidden="true"></i></h3>
										    <div class="dropdown-content">
										        <a id="7">7일 이내</a>
										        <a id="14">14일 이내</a>
										        <a id="30">30일 이내</a>
										      </div>
		                                </div>
		                                <div id="groupCal">
			                                <div class="media post_item" th:each="c : ${calendar}">
			                                    <div class="media-body">
			                                        <h3><a class="goToCal" th:text="${c.bandCalendarTitle}" th:style="|background-color:${c.bandCalendarMark}|"></a></h3>
			                                        <span th:text="${#dates.format(c.bandCalendarStart, 'yyyy-MM-dd')}" style="font-size: 12px"></span> ~
			                                        <span th:text="${#dates.format(c.bandCalendarEnd, 'yyyy-MM-dd')}" style="font-size: 12px"></span>
			                                    </div>
			                                </div>
		                                </div>
		                                <div class="br"></div>
		                            </aside>
		                    	</div>
	                    	</div>
	                    	<div th:unless="${BandMemberDetail}">
	                    		<div class="blog_right_sidebar" style="height: 470px;">
	                    			<aside class="single_sidebar_widget popular_post_widget"></aside>
	                    		</div>
	                    	</div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
        
        
    
	<div class="modal">
		<button>&times;</button>
		<div class="modalBox">
			<img src="" alt="">
			<p></p>
		</div>
	</div>
        <script th:inline="javascript">
        var header = /*[[${_csrf.headerName}]]*/
        	console.log(header);
        var token = /*[[${_csrf.token}]]*/
           console.log(token);
        var bandNo= $('#bandNo').val();
        $(function(){
        	let bandBoardDetailNo = $('#bandBoardDetailNo').val();
        	console.log(bandBoardDetailNo+'??왜 안가져');
        	$('#mainTemplate').load("/own/band/bandGroup/bandBoardDetail?bandBoardDetailNo="+bandBoardDetailNo);
        	
        	//더보기 페이지용
         	//1페이지
	        let bandNo = $('#bandNo').val();
	        let articleArea = $('#articleArea');
	        let multi = '';
	        let userId = $('#userId').val();
	        let bandLeaderid = $('#bandLeaderid').val();
		    function makeBoard(bandNo, bandBoardDetailNo){
	        	$.ajax({
		            url:'/own/band/bandGroup/fiveBoard?bandNo='+bandNo+'&bandBoardDetailNo='+bandBoardDetailNo,
		            dataType: 'json',
		            method: 'get',
		            contentType : "application/text; charset=utf-8;"
		        }).then(result => {
		                console.log(result);
		                //순환시작
		                //버튼에 붙일 게시판 끝번호(페이징용)
	                	let bandBoardDetailNo = ''
		                $(result).each(function(idx, ele){
		                	//likeTAG i class="fa fa-heart" aria-hidden="true"></i>
		                	let likeTag = '';
		                	if(ele.likeList['userId']!=null&&ele.likeList['userId']!=""){
		                		likeTag = `❤`
		                	} else {
		                		likeTag = `🤍`
		                	}
		                	//사진이 있는지 체크 // iframe이 있으면 이걸로 대체
		                	let imgTag = '';
		                	if(ele.bandImg!=null){
		                		imgTag = `<img src="/imgView/${ele.bandImg.mediaServerFile}" alt="" class="imgss" style="width: 678px; height: 280px;">`;
		                	}

		                	//iframe을 찾기위함
		                	//동영상은 내가 컨트롤러에서 따로 붙이는데(여기서는 정규화 한 뒤..) 동영상은 html로 삽입되어 안됨..정규화시 다 날아가버림..
		                	//따로 동영상붙여줌.. 기술상 동영상따로 올리는게 안됨..ㅜㅜ 동영상올리고 만약 따로 사진도 올렸다면 이건 없앰..
		                	console.log(ele.bandBoardContent);
		                	if(ele.bandBoardContent.indexOf('<iframe')>0){
		                		let con = ele.bandBoardContent.substr(0, ele.bandBoardContent.indexOf('</iframe>'));
		                		console.log(con+'11111####################################');
		                		con = con.substr(ele.bandBoardContent.indexOf('<if'),con.length);
		                		con += con+'</iframe>';
		                		console.log(con+'</iframe>2222222####################################');
		                		//사진이 있다면 동영상으로 바꿔주기
		                		imgTag = con;
		                	}
		                	//밴드장이면...<b><i class="fa fa-solid fa-crown"></i></b>
		                	let bandNickname = ele.bandNickname;
		                	if(bandLeaderid == userId){
		                		bandNickname += '<b><i class="fa fa-solid fa-crown"></i></b>'
		                	}
		                	//정규표현식 html태그 제거
		                	const reg = /<[^>]*>?/g;
		                	let newContent = ele.bandBoardContent.replace(reg,'');
		                    let articleTag = `<article style="border: 1px solid #eeeeee;padding:30px; ">
							                    <div style="display: flex; flex-direction: column;" class="tagg">
							                    <div>
							                        <div  style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                            <img class="rounded-circle" src=/imgView/${ele.mediaServerFile} alt="" style="width: 70px; height: 70px;">
							                            <div  style="display: block; width: 300px; padding: 10px;">
							                                <ul class="blog_meta list_style" style="display: inline-block;">
							                                    <li style="display: block;">${bandNickname}</li>
							                                    <li style="display: block;">${ele.bandBoardDate}</li>
							                                </ul>
							                            </div>
							                        </div>
							                        
							                        <h4>${ele.bandBoardTitle}</h4>
							                        ${imgTag}
							                        <div class="blog_details${ele.bandBoardDetailNo}">
							                            <p>${newContent}</p>
							                        </div>
							                    </div>
							                    <a href="#" class="view_btn button_hover boardDett" id="${ele.bandBoardDetailNo}">View More</a>
							                    <div class="parentUnit" style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                        <div class="heartt" name="${ele.bandBoardDetailNo}" style="display: flex; justify-content:space-between">
							                             <div class="heartClick" name="${ele.bandBoardDetailNo}">${likeTag}</div>
							                        	<span  class="heartClick" name="${ele.bandBoardDetailNo}">${ele.likeList["likeCount"]}</span>
							                        </div>
							                        <div class="boardDett" id="${ele.bandBoardDetailNo}">
							                        	<i class="lnr lnr-bubble boardDett" id="${ele.bandBoardDetailNo}"></i>
							                        	<span></span>${ele.reply}
							                        </div>
							                    </div>
							                </div>
							            </article>`;
			            
				                $(articleArea).append(articleTag);
				                //페이지 버툰에 게시판 끝 숫자달기
				                bandBoardDetailNo = ele.bandBoardDetailNo;
				                
				              //캘린더 붙이기
			                	if(ele.bandCalendar!=null){
			                		let calendar = ele.bandCalendar;
			                		//타이틀
			                		let title = calendar.bandCalendarTitle;
			                		//날짜
			                		let startDay = calendar.bandCalendarStart;
			                		let endDay = calendar.bandCalendarEnd;
			                		let sYear = startDay.substr(0, 4);
			                		let eYear = endDay.substr(0, 4);
			                		
			                		startDay = new Date(calendar.bandCalendarStart);
			                		endDay = new Date(calendar.bandCalendarEnd);
			                		
			                		//달
			                		let sMonth = (1+startDay.getMonth());
			                		let eMonth = (1+endDay.getMonth());
			                		//날
			                		let sDay = startDay.getDate();
			                		let eDay = endDay.getDate();
			                		//시간
			                		let startTime = startDay.getHours();
			                		let endTime = endDay.getHours();
			                		//분
			                		let startTime2 = startDay.getMinutes()
			                		let endTime2 = endDay.getMinutes()
			                		//상세시작시간
			                		let sTime = (startTime < 12 ? "오전" : "오후")+" "
			                			sTime += startTime+"시 "
			                			sTime += startTime2+"분";
			                		//상세끝나는시간
			                		let eTime = (endTime < 12 ? "오전" : "오후")+" " //오전 오후
			                				 + endTime+"시 " //12시간표기
			                				 + endTime2+"분";
			                		//시작 요일
			                		let mon = getDayOfWeek(startDay);
			                		//마크색
			                		let color = calendar.bandCalendarMark;
			                	    let cal  = `<div style="width:678px; height:80px; border: 0.3rem solid ${color}; display:flex; justify-content:space-between" id="calendarModal">`
			                	    			cal += `<div style="padding:10px;"><h3 style="margin-bottom:0px">${sDay}</h3>`
			                					cal += `<p>${mon}</p></div>`
			                					cal += `<div style="padding:10px;"><h5>${title}</h5>`
			                					cal += `<p>${sYear}년 ${sMonth}월 ${sDay}일 ${sTime} ~ ${eYear}년 ${eMonth}월 ${eDay}일 ${eTime}</p></div>`
			                				cal += `</div>`;
			                		//요일뽑기
			                		function getDayOfWeek(날짜문자열){ //ex) getDayOfWeek('2022-06-13')
			                	    	const week = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
			                	    	const dayOfWeek = week[new Date(날짜문자열).getDay()];
			                	    	return dayOfWeek;
			                		}
			                		let spot = ".blog_details"+ele.bandBoardDetailNo
			                		$(spot).prepend(cal);
			                	}
				                
			                })
			                if(result.length==5){
				                //more 누르면 나오는 페이지
				            	let btnTag = `<nav class="blog-pagination justify-content-center d-flex" id="multiId">
							                <a class="view_btn button_hover" id="nextBtn" style="width: 555px;">View More</a>
							                <input type="hidden" id="multivalue" value=${bandBoardDetailNo}>
							                </nav>`
							              
				                $(articleArea).append(btnTag);
				            	console.log('버튼 value 붙은거 확인'+$('#multivalue').val());           
			                } else {
			                	/* let endtag = `<div><h5>끝입니다</h5></div>` */
			                	$(articleArea).append(endtag);
			                }
			                
		            	});
		    }
			    //처음 5개 불러옴
			    makeBoard(bandNo, "");
	                
			    //버튼누르면 more
			    $('#articleArea').on('click', '#nextBtn', function(){
			    	let mul = $('#multivalue').val();
			    	$('#multiId').empty();
			    	$('#multiId').remove();
	        		console.log('누른 멀티'+mul)
	        		makeBoard(bandNo, mul);
	        	})
	        	
	        //이미지.. 인라인 img 숨기기..이거 이미지 없으니까 에러뜸 이거 왜만들었지??? 밴드가입할 때 에러떠서 주석처리 함
	        /* $('#articleArea').find('img').each(function(idx,ele){
	        	console.log(ele);
	           	ele.hide();
	      	}) */
	        
	       	// 	이미지 클릭시 해당 이미지 모달
				$('#articleArea').on('click', $("img"), function(e){
					//임시 밑에 이 조건 내가 씀
					if($(e.target).attr('class')=='imgss'){
						$(".modal").show();
					} else {
						return false;
					}
					// 해당 이미지 가겨오기
					var imgSrc = $(e.target).attr("src");
					var imgAlt = $(e.target).attr("alt");
					console.log(imgSrc);
					console.log(imgAlt);
					
					$(".modalBox img").attr("src", imgSrc);
					$(".modalBox img").attr("alt", imgAlt);
					
					// 해당 이미지 텍스트 가져오기
					var imgTit =  $(this).children("p").text();
					$(".modalBox p").text(imgTit);
					
			   // 해당 이미지에 alt값을 가져와 제목으로
					//$(".modalBox p").text(imgAlt);
				})
				
				//.modal안에 button을 클릭하면 .modal닫기
				$(".modal button").click(function(){
					$(".modal").hide();
				});
				
				//.modal밖에 클릭시 닫힘
				$(".modal").click(function (e) {
			    if (e.target.className != "modal") {
			      return false;
			    } else {
			      $(".modal").hide();
			    }
			  });
	       	
			//다가오는 일정 _7_14_30
			$('.dropdown-content').on('click', function(e){
				console.log(e.target.id);
				if(e.target.id!=null){
					$.ajax({
			            url:'/own/band/bandGroup/calendarDay?bandNo='+bandNo+'&day='+e.target.id,
			            dataType: 'json',
			            method: 'get',
			            contentType : "application/text; charset=utf-8;"
			        }).then(result => {
			        	console.log(result);
			        	//일정만들기..기존 것 지우기..time.js파일이용
			        	$('#groupCal').empty();
			        	$(result).each(function(idx,ele){
			        		let sDay = SimpleDateTimeFormat(new Date(ele.bandCalendarStart));
			        		let cDay = SimpleDateTimeFormat(new Date(ele.bandCalendarEnd));
				        	let tag = `<div class="media post_item">
							        		<div class="media-body">
						        			<h3><a class="goToCal" style="background-color:${ele.bandCalendarMark}">${ele.bandCalendarTitle}</a></h3>
						        			<span style="font-size: 12px">${sDay}</span> ~
						        			<span style="font-size: 12px">${cDay}</span>
						        		</div>
						        	</div>			
						        	`
						   $('#groupCal').append(tag);
						   console.log(sDay+cDay);
			        	})
					})
				}
			})
			//드롭박스 css
			$('.dropdown-content a').on('click', function(){
				//0.2초후
				setTimeout(() => {
					$('.dropdown-content').css('display','none');
				}, 200);
			})
			$('.dropbtn').hover(function(){
				//0.2초후
				setTimeout(() => {
					$('.dropdown-content').css('display','block');
				}, 200);
			})
			
	       	//게시판이동
	    	$('.smallBoard').on('click', function(e){
	    		let bandBoardOptionNo = $(e.target).attr('name');
	    		$('#mainTemplate').load("/own/band/bandGroup/bandBoardList?bandNo="+bandNo+"&bandBoardOptionNo="+bandBoardOptionNo);	
	    	})
	    	//글쓰기
	    	$('#writeBoard').on('click', function(){
	    		$('#mainTemplate').load("/own/band/bandGroup/bandBoardWrite?bandNo="+bandNo);
	    		//$('#mainTemplate').empty();
	    		 // document.getElementById("ifr").src = "/own/band/bandGroup/bandBoardWrite?bandNo="+bandNo;
	    	})
	    	//내 정보수정으로 이동
	    	$('#myOption').on('click', function(){
	    		$('#mainTemplate').load("/own/band/bandGroup/myOption?bandNo="+bandNo);
	    	})
	    	//가치 설정으로 이동
	    	$('#bandOption').on('click', function(){
	    		$('#mainTemplate').load("/own/band/bandGroup/bandOptionMain?bandNo="+bandNo);
	    	})
	    	$('#bandOption2').on('click', function(){
	    		$('#mainTemplate').load("/own/band/bandGroup/bandOption2?bandNo="+bandNo);
	    	})
	    	//캘린더로 이동
	    	$('#bandCalendar').on('click', function(){
	    		console.log(bandNo);
	    		$('#mainTemplate').load("/own/band/bandGroup/bandCalendar?bandNo="+bandNo);
	    	})
	    	//캘린더로 이동2(드롭박스일정눌러을 때) goToCal
	    	$('#groupCal').on('click', $('.goToCal'), function(){
	    		$('#mainTemplate').load("/own/band/bandGroup/bandCalendar?bandNo="+bandNo);
	    	})
	    	//앨범으로 이동
	    	$('#bandPhoto').on('click', function(){
	    		$('#mainTemplate').load("/own/band/bandGroup/bandPhoto?bandNo="+bandNo);
	    	})
	    	//가입버튼
	    	 $('#signUpBand').on('click', function(){
	    		 $('#mainTemplate').load("/own/band/bandGroup/signUpBand?bandNo="+bandNo);
	    	 })
	    	//검색버튼
	        $('.searchBtn').on('click', function(){
	        	boardNo = $('.searchBtn').val();
	        	window.location = "/own/band/bandSearch?boardNo="+boardNo;
	        })
	        //게시판관리
	        $('#bandOption9').on('click', function(){
	    		$('#mainTemplate').load("/own/band/bandGroup/bandOption9?bandNo="+bandNo);
	    	})
	    	//게시판상세로 이동
	    	$('.arty:eq(0)').on('click', $('.boardDett'), function(e){
	    		let BoardNo = $(e.target).attr('id');
	    		if(BoardNo!=null&&BoardNo.indexOf('BDD_')>=0){
	    			$('#mainTemplate').load("/own/band/bandGroup/bandBoardDetail?bandBoardDetailNo="+BoardNo);
	    		}
	    	})
	    	//검색
	    	$('#searchBoxBtn').on('click', function(){
	    		let searchValue = $('#searchBox').val();
	    		//밴드번호꼭보내야하고..BandBoardDetailSearchVO에 들어가서 검색조건으로 쓰일 것임
	    		$('#mainTemplate').load("/own/band/bandGroup/bandBoardList?bandNo="+bandNo+"&searchValue="+searchValue);
	    	})
	    	
	    	/* function iframeHeight(){
			    var frm = document.getElementById('ifr').contentDocument; 
			    if (typeof frm == 'undefined') {//ie7이하 
			        frm = window.frames['testframe'].document; 
			    } 
			    document.getElementById('testframe').height = frm.body.clientHeight + 'px';
			} */
			//하트 //heartClick 
			$('.arty:eq(0)').on('click', $('.heartClick'), function(e){
				console.log($(e.target));
				let userId = $('#userId').val();
	    		let categoryNo = $(e.target).attr('name');
	    		console.log(categoryNo);
	    		let category = 'Band';
	    		data={userId, categoryNo, category}
	    		$.ajax({
		            url:'/own/likeAjax',
		            data: JSON.stringify(data),
		            contentType : "application/json;",
		            method: 'post',
		              beforeSend: function(xhr){
		                  xhr.setRequestHeader(header,token);
		                }
		        }).then(result => {
		        	console.log(result);
		        	let number = $(e.target).parentsUntil('.parentUnit').children(':eq(1)').text();
		        	if(result == 'add'){
		        		$(e.target).parentsUntil('.parentUnit').children(':eq(0)').text('❤');
		        		$(e.target).parentsUntil('.parentUnit').children(':eq(1)').text(number-1+2);
		        	} else if(result == 'del'){
		        		$(e.target).parentsUntil('.parentUnit').children(':eq(0)').text('🤍');
		        		$(e.target).parentsUntil('.parentUnit').children(':eq(1)').text(number-1);
		        	}
		        })
	    	})
       })
    	</script>
    </div>
    </body>
</html>