<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		.aBox {
			width: 60px;
			height: 60px;
			border-radius: 30%;
			overflow: hidden;
		}

		.aProfile {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 30%;
			border: 4px solid #00394F;
		}
	</style>
</head>
<div id="template" style="flex-grow: 3; width: 740px">
	<div id="bandMemberList">
		<div>
			<input type="text" class="" placeholder="멤버 검색" id="searchVal" name="searchVal">
			<span class="inputBtn">
				<button class="searchBtn" type="button" id="searchBtn">
					<i class="lnr lnr-magnifier"></i>
				</button>
				<input type="hidden" name="pageNum" value="1">
				<input type="hidden" th:value="${myBandMemberNo}" name="myBandMemberNo">
			</span>
			<select id="selectOption" name="selectOption">
				<option value="name" selected="selected">별명 순</option>
				<option value="signupDate">가입일자 순</option>
			</select>
			<span class=""> 전체 멤버 수 </span> <span id="memberCnt"></span>
		</div>
		<table>
			<thead>
				<th></th>
				<th>별명</th>
				<th></th>
				<th></th>
				<th>신고하기</th>

			</thead>
			<tbody id="bandMemberTable">
			</tbody>
		</table>
		<div id="paging">
			<nav class="blog-pagination justify-content-center d-flex" id="pagegation">
				<!--================ 이전  =================-->
				<ul class="pagination">
					<li class="page-item" th:if="${paging.startPage>1}"><a class="page-link" aria-label="Previous"
							th:value="${paging.startPage-1}"> <span aria-hidden="true"><span
									class="lnr lnr-chevron-left pagePort"></span></span></a></li>
					<!--================ 페이지 이동 1_2_3_4_5  =================-->
					<th:block th:each="pag:${#numbers.sequence(paging.startPage,paging.endPage)}">
						<li class="page-item" th:if="${pag != paging.page}"><a class="page-link pagePort"
								th:value="${pag}" th:text="${#numbers.formatInteger(pag,2)}"></a></li>
						<li class="page-item active" th:if="${pag==paging.page}"><a class="page-link"
								th:text="${#numbers.formatInteger(pag,2)}"></a>
						</li>
					</th:block>
					<!--================ 페이지 이동 1_2_3_4_5 끝 =================-->
					<!--================ 이후  =================-->
					<li class="page-item" th:if="${paging.endPage<paging.lastPage}">
						<a class="page-link pagePort" aria-label="Next" th:value="${paging.endPage+1}"> <span
								aria-hidden="true"><span class="lnr lnr-chevron-right"></span></span></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>


	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var header = /*[[${_csrf.headerName}]]*/'defalut';
		var token = /*[[${_csrf.token}]]*/'defalut';
		/*]]>*/

		$(function () {
			// 세션에 저장된 로그인 유저의 아이디
			/*<![CDATA[*/
			let loginUser = /*[[ ${session.loginUser} ]]*/;
			let loginUserId = loginUser.userId
			/*]]*/

			// 밴드 번호
			const link = window.location.href;
			var url = new URL(link);
			const urlParams = url.searchParams;
			let bandNo = urlParams.getAll('bandNo');
			let myBandMemberNo = $("input[name=myBandMemberNo]").val();

			// 페이징, 검색 관련 변수
			let pageNum = $("input[name=pageNum]").val();
			var selectOption = $("select[name=selectOption]").val();
			var searchVal = $("input[name=searchVal]").val();

			// 함수 스타토 
			allBandMemberList();

			// 맨 처음 띄울 멤버리스트
			function allBandMemberList() {
				selectOption = $("select[name=selectOption]").val();
				searchVal = $("input[name=searchVal]").val();
				pageNum = $("input[name=pageNum]").val();
				let listOption = { bandNo: bandNo[0], bandMemberNo: myBandMemberNo, selectOption: selectOption, paging: { page: pageNum }, bandNickname: searchVal };
				$.ajax({
					url: '/own/band/bandGroup/bandMemberList',
					method: 'POST',
					data: JSON.stringify(listOption),
					contentType: "application/json",
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (result) {
						$('#bandMemberTable').empty();
						console.log(result)
						for (var i = 0; i < result.length; i++) {
							let nicknameTag = '';
							let chatTag = '';
							if(result[i].chatCheck == 1){
								chatTag = `<a class="oldChatStart" value=${result[i].bandMemberNo} href="">채팅하기</a>`;
							} else {
								chatTag = `<a class="newChatStart" value=${result[i].bandMemberNo} data-sub=${result[i].bandNickname} href="">채팅하기</a>`;
							}
							if(result[i].userId == loginUserId){
								nicknameTag = `<td>${result[i].bandNickname}<i class="fa fa-solid fa-crown" style="margin-right: 5px;" aria-hidden="true"></i></td>`;
							} else {
								nicknameTag = `<td>${result[i].bandNickname}</td>`;
							}
							let table = `<tr>
						 					<td class="aBox"><img src="/imgView/${result[i].profileImg}" style="object-fit: cover" class="aProfile"/>		
											${nicknameTag}
											<td hidden value=${result[i].userId}></td>
											<td hidden value=${result[i].bandMemberNo}></td>
											<td> 
												<div class="nav-item dropdown droMom">
													<a href="" class="nav-item nav-link"
														data-toggle="dropdown">
														<i class="fa fa-solid fa-ellipsis"></i>
													</a>
													<div class="dropdown-menu rounded-0 m-0">
														${chatTag}
														<a href="">신고하기</a>
													</div>
												</div>
											</td>
						 				<tr>`
							$('#bandMemberTable').append(table);
						}

						//페이지 버튼 만들기
						$('#paging #pagegation').empty();
						let pagingM = result[0].paging;
						//시작 버튼
						let startpageTag = $('<ul class="pagination" />');
						$('#paging #pagegation').append(startpageTag);
						//이전 버튼만들기
						if (pagingM.startPage > 1) {
							let pageBeforTag = `<li class="page-item">
										<a class="page-link" aria-label="Previous" value=${pagingM.startPage - 1}>
									   <span aria-hidden="true"><span class="lnr lnr-chevron-left pagePort"></span></span></a>
									   </li>`
							startpageTag.append(pageBeforTag);
						}
						//페이지목록..
						for (let pg = pagingM.startPage; pg <= pagingM.endPage; pg++) {
							if (pg != pagingM.page) {
								let pageTag = `<li class="page-item">
									   <a class="page-link pagePort" value=${pg}>${pg}</a>
									   </li>`
								startpageTag.append(pageTag);
							} else if (pg == pagingM.page) {
								let pageTag = `<li class="page-item active">
									   <a class="page-link" >${pg}</a>
									   </li>`
								startpageTag.append(pageTag);
							}
						}
						//이후 버튼만들기
						if (pagingM.endPage < pagingM.lastPage) {
							let pageAfterTag = `<li class="page-item">
									   <a class="page-link pagePort" aria-label="Next" value=${pagingM.endPage + 1}>
									   <span aria-hidden="true"><span class="lnr lnr-chevron-right"></span></span></a>
									   </li>`
							startpageTag.append(pageAfterTag);
						}
						$('#paging #pagegation').append(startpageTag)
					} //end of ajax
				})
			}

			// 첫 div 밴드 멤버 리스트 페이징 함수, 검색창, 셀렉트 박스
			$('#paging #pagegation').on('click', '.pagePort', function () {
				//페이지번호 + 밴드식별번호
				pageNum = $(this).attr('value');
				allBandMemberList();
			}) // end of aPaging

			$('#searchBtn').on('click', function () {
				allBandMemberList();
			}) // end of searchBtn

			$("#selectOption").change(function () {
				allBandMemberList();
			}) // end of selectOption

			// 새로운 채팅방 생성
			$(".newChatStart").click(
				function createChatroom() {
					// 로그인한 유저의 밴드멤버번호와 채팅할 유저의 밴드멤버번호와 닉네임
					let bMemNo1 = $("#MybandNo").val();
					let bMemNo2 = $(this).parent().parent().children()
						.eq(6).text();
					let bMemNick1 = $("#MybandNick").val();
					let bMemNick2 = $(this).parent().parent().children()
						.eq(1).text();
					// 배열에 추가
					let rName = bMemNick1 + ", " + bMemNick2 + "의 채팅방";
					let chatroomDataList = new Array();
					let chatroomData1 = {
						chatroomName: rName,
						bandMemberNo: bMemNo1
					};
					chatroomDataList.push(chatroomData1);
					let chatroomData2 = {
						chatroomName: rName,
						bandMemberNo: bMemNo2
					};
					chatroomDataList.push(chatroomData2);
					console.log("chatroomData1"
						+ JSON.stringify(chatroomData1))
					console.log("chatroomData2"
						+ JSON.stringify(chatroomData2))
					console.log("chatroomDataList"
						+ JSON.stringify(chatroomDataList))
					// 채팅방 새로 생성 후 결과값으로 방번호를 받아와 그 번호로 채팅방 페이지 보내기
					$.ajax({
						url: '/createChatroom',
						method: 'post',
						contentType: "application/json; charset=UTF-8",
						data: JSON.stringify(chatroomDataList),
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token);
						},
						success: function (result) {
							// 결과로 채팅방 시퀀스 번호 받아옴
							console.log("채팅방 번호 시퀀스" + result);
							let url = '/chatroom?chatroomNo=CRN_' + result
								+ '&bandMemberNo=' + bMemNo1;
							location.replace(url);
						},
						error: function (error) {
							console.log("error: " + error);
						}
					});

				})

			// 기존 채팅방 입장
			$(".oldChatStart").click(
				function createChatroom() {
					let bMemNo = $("#MybandNo").val();
					let bMemNo1 = $(this).parent().parent().children()
						.eq(6).text();
					let chatroomData = {
						bandMemberNo: bMemNo,
						bandMemberNo1: bMemNo1
					};
					console.log(bMemNo1)
					// 채팅방번호 받아와서 그 방으로 보내기
					$.ajax({
						url: '/findChatroomNo',
						method: 'post',
						contentType: "application/json; charset=UTF-8",
						data: JSON.stringify(chatroomData),
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token);
						},
						success: function (result) {
							// 결과로 채팅방번호 받아옴
							console.log("채팅방 번호==========================="
								+ result);
							location.href = '/chatroom?chatroomNo='
								+ result + '&bandMemberNo=' + bMemNo;
						},
						error: function (error) {
							console.log("error: " + error);
						}
					});
				})
		});
	</script>
</div>

</html>