<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/band_layout}"
      lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/css/band/gachi/own.png" type="image/pnsg">
        <title>오늘의운동 가치</title>
        <style type="text/css">
        	/* 나이스셀렉트 */
			.list li {
				width: 285px;
			}
			.list {
				max-height: 290px;
  				overflow-y: scroll !important;
			}
        </style>
    </head>
    <body>
    <div layout:fragment="content">
        <!--================Banner Area =================-->
        <section class="banner_area"style="height: 330px; background-color: #17a2b8">
            <div class=" d_flex align-items-center">
            	<div class="bg-parallax"></div>
				<div class="container">
					<div class="banner_content text-center"style="height: 150px; background-color: #17a2b8">
						<h4 class="hoverCursor" style="color: white; margin-top: 30px">오늘의 운동</h4>
						<h2 class="hoverCursor" style="color: white;">GACHI</h2>
					</div>
				</div>
            </div>
            <div class="hotel_booking_area position">
                <div class="container">
	                <form name="recomFrm" class="recomFrm">
	                    <div class="hotel_booking_table" style="background-color: #00394f; border-top-left-radius: 30px; border-top-right-radius: 30px; display: flex; flex-direction: column;">
	                        <!--================ 셀렉트박스  =================-->
				        	<div class="col-md-9">
				                <div class="boking_table">
				                    <div class="row" style="display: flex; justify-content: center;">
			                            <div class="col-md-5">
			                                <div class="input-group">
			                                    <select class="exercise  form-select" th:value="*{exercise}" name="bandCategory">
			                                        <option value="">운동 전체</option>
			                                        <option th:each="exe : ${exercise}" th:value="${exe.exersubNo}" th:text="${exe.exersubName}" th:selected="${#strings.equals(exe.exersubNo, bandVO.bandCategory)}"></option>
			                                    </select>
			                                </div>
			                            </div>
			                            <div class="col-md-5">
			                                <div class="input-group">
			                                    <select class="location  form-select" th:value="*{location}" name="bandLocation">
			                                        <option value="">지역 전체</option>
			                                        <option th:each="loc : ${location}" th:value="${loc.locCode}" th:text="${loc.locCity}" th:selected="${#strings.equals(loc.locCode, bandVO.bandLocation)}"></option>
			                                    </select>
			                                </div>
			                            </div>
				                    </div>
				                </div>
				            </div>
			       			<!--================ 셀렉트박스  =================-->
	                        <!--================ 검색================ -->
	                        <div class="input-group mb-3" style="margin-top: 10px;">
							  <input type="text" style="height:54px;" class="form-control input-text" name="bandName" placeholder="가치 운동 지역 검색" aria-label="Recipient's username" aria-describedby="basic-addon2">
							  <input type="hidden" name="page" value="1">
							  <div class="input-group-append">
							    <button class="btn btn-outline-warning btn-lg searchBtn btn-default"><i class="fa fa-search"></i></button>
							  </div>
							</div>
							<!-- ================검색 끝================ -->
	                    </div>
                    </form>
                </div>
            </div>
        </section>
        <!--================Banner Area =================-->
        <!-- 서치 -->
        <section class="accomodation_area section_gap" style="padding-top: 0px;">
            <div class="container">
                <div class="row mb_30">
                    <!--================ 추천가치 시작  =================-->    
                    <div class="col-lg-3 col-sm-6" th:each="band, bandStat : ${bandList}">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                            	<a th:href="@{/own/band/bandGroup(bandNo=${band.bandNo})}">
                                	<img th:src="|/imgView/${band.bandMainImg.mediaServerFile}|" alt="">
                                </a>
                            </div>
                            <div class="tags" >
                                <a href="#" class="button_hover tag_btn" style="color: orange;" th:text="${band.bandCategory}">축구</a>
                                <a href="#" class="button_hover tag_btn" style="color: orange;" th:text="${band.bandLocation}">대구광역시</a>
                            </div>
                            <a th:href="@{/own/band/bandGroup(bandNo=${band.bandNo})}" class="sec_h4" style="color: blorangeack;"><h4 class="sec_h4" style="color: blorangeack;"th:text="${band.bandName}">소소필라테스</h4></a>
                            <h5><small></small></h5>
                        </div>
                    </div>
                    <!--================ 추천가치 끝  =================-->   
                </div>
             </div>
        </section>
         <!--================ 페이지 Area  =================-->
        <div id="pagination">
        	<nav th:insert="~{content/band/paging :: component(${paging},'gopage')}"></nav>
        </div>
        <!--================ 페이지 Area 끝  =================-->
       
        <!--================ 내 가치 끝 Area  =================-->    
    <script>
		  //페이징+검색처리
		    function gopage(i) {
		    	recomFrm.page.value = i;
		    	recomFrm.submit();
		    }
        $(".recomFrm").on('change',function(){
            $('.recomFrm').submit();
           })
        $(document).ready(function() {
			$('select').niceSelect();
		})   
    </script>
    </div>
    </body>
</html>