<html xmlns:th="http://www.thymeleaf.org"lang="ko">
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="/css/band/calendar/index.global.js"></script>
	
	<style>
		.toSt {
			margin-left: 15px;
		}
		.myPadding {
			padding-top: 10px;
		}
		.myInput {
			border: 1px solid #eeeeee;
			height: 42px; 
			padding: 0 20px;
		}
		.lis {
			list-style: none;
			padding: 10px;
			border-bottom: 1px solid #eeeeee;
			border-top: 1px solid #eeeeee;
		}
		#attendChk {
			padding: 20px;
		}
		/* 버튼 */
	    .button_hover2 {
			color: white;
			text-align: center;
			background-color: #6ab0cd;
			width: 150px;
			margin: 0 auto;
			border: 2px solid #6ab0cd;
			border: none;
	       }
		.button_hover2:hover {
			color: white;
			box-shadow: #6ab0cd 0 80px 0px 2px inset;
			border-radius: 10px;
			border: none;
		}
		
		.button_hover3 {
			color: white;
			text-align: center;
			background-color: #6ab0cd;
			width: 150px;
			margin: 0 auto;
			border: 2px solid #6ab0cd;
			border: none;
			height: 25px;
	       }
		.button_hover3:hover {
			color: white;
			box-shadow: #6ab0cd 0 80px 0px 2px inset;
			border-radius: 10px;
			border: none;
		}
		
		/*지도*/
		.map_wrap {
			position: relative;
			width: 100%;
			height: 350px;
		}
		
		.title {
			font-weight: bold;
			display: block;
		}
		
		.hAddr {
			position: absolute;
			left: 10px;
			top: 10px;
			border-radius: 2px;
			background: #fff;
			background: rgba(255, 255, 255, 0.8);
			z-index: 1;
			padding: 5px;
		}
		
		#centerAddr {
			display: block;
			margin-top: 2px;
			font-weight: normal;
		}
		
		.bAddr {
			padding: 5px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		/*지도 끝*/
		#my_calendar_modal {
		display: none;
		width: 650px;
		padding: 20px 30px;
		background-color: #fefefe;
		border: 1px solid #888;
		border-radius: 3px;
		position: fixed;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
			rgba(0, 0, 0, 0.19);
		/* 시꺼먼 레이어 보다 한칸 위에 보이기 */
		z-index: 1000;
		/* div center 정렬 */
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
	#my_calendar_modal_input {
		display: none;
		width: 650px;
		padding: 20px 30px;
		background-color: #fefefe;
		border: 1px solid #888;
		border-radius: 3px;
		position: fixed;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
			rgba(0, 0, 0, 0.19);
		/* 시꺼먼 레이어 보다 한칸 위에 보이기 */
		z-index: 1000;
		/* div center 정렬 */
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
	#my_calendar_modal .modal_close_btn{
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#my_calendar_modal_input .modal_close_btn_input{
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.bgg {
		position: fixed;
		z-index: 500;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		overflow: auto;
		/* 레이어 색갈은 여기서 바꾸면 됨 */
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.cModal {
		position: fixed;
		display: block;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
			rgba(0, 0, 0, 0.19);
		/* 시꺼먼 레이어 보다 한칸 위에 보이기 */
		z-index: 1000;
		/* div center 정렬 */
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
/* 	 #F25757'></option>
  <option value='#FFC780' style='padding:15px; background-color: #FFC780'></option>
  <option value='#F8AA94' style='padding:15px; background-color: #F8AA94'></option>
  <option value='#5A7CBF' style='padding:15px; background-color: #5A7CBF'></option>
  <option value='#BAD98B' style='padding:15px; background-color: #BAD98B */
  	.list > li:nth-child(2)  {
  		background-color: #F25757;
  		}
	.list > li:nth-child(3)  {
  		background-color: #FFC780;
  		}
	.list > li:nth-child(4)  {
  		background-color: #F8AA94;
  		}
	.list > li:nth-child(5)  {
  		background-color: #5A7CBF;
  		}
	.list > li:nth-child(6)  {
  		background-color: #BAD98B;
  		}
  	.nice-select {
  		width: 106px;
  	}
  	.list > li:nth-child(2):hover  {
  		background-color: #F25757;
  		}
	.list > li:nth-child(3):hover  {
  		background-color: #FFC780;
  		}
	.list > li:nth-child(4):hover  {
  		background-color: #F8AA94;
  		}
	.list > li:nth-child(5):hover  {
  		background-color: #5A7CBF;
  		}
	.list > li:nth-child(6):hover  {
  		background-color: #BAD98B;
  		}
  	.nice-select {
  		width: 106px;
  	}	
	</style>
</head>

<body>
	<!--== 캘린더 ==-->
	<div id="template" style="flex-grow: 3; width: 740px; padding: 10px;">
		<article style=" padding: 30px; border: 1px solid #eeeeee;">
			<!-- 자식에게서 받아올 값..게시판이동 -->
			<input type="hidden" id="childBoardValue" value="">
			<div id='calendar' style="background-color: white;"></div>
		</article>
		<article style="border: 1px solid #eeeeee; padding: 30px;">
			<div id="articleArea" class="hoverBtn">
			</div>
			<div  style="padding-top:20px; text-align: center">
				<button type="button" id="loadBtn" class="more view_btn button_hover2">더보기</button>
			</div>
		</article>
		<!--== 초기에 아작스로 불러온 일정리스트를 저장하는 곳 ==-->
		<input type="hidden" id="saveCalendar" value="">
		<input type="hidden" id="saveCalendarEach" value=""><!-- 캘린더번호-->
		<input type="hidden" id="savesavebandCalendarOptionDay" value=""><!-- bandCalendarOptionDay-->
		<input type="hidden" id="savebandCalendarTitle" value=""><!--bandCalendarTitle-->
		<input type="hidden" id="savebandBoardNum" value=""><!--bandBoarNUm-->
		<input type="hidden" id="userId" th:value="${session.loginUser.userId}">
		<!--== 캘린더 끝 ==-->
		<!--== 캘린더 상세 모달창 ==-->
		<div id="my_calendar_modal" style="background-color: white">
			<div id="modalform">
				<div>
					<!--================ 일정상세 =================-->
					<div id="bCalendar">
						<!-- <div style="width: 500x; height: 100px; display: flex; justify-content: space-between" id="calendarModal2">
							<input type="hidden" id="bandCalendarNo">
							<div style="padding: 10px;">
								<h3 id="jsDD" style="margin-bottom: 0px"></h3>
								<p id="jsDay"></p>
							</div>
							<div style="padding: 10px;">
								<h5>타이틀</h5>
								<p id="jsDeDay" style="margin-bottom: 0px"></p>
								<span>💭</span>
								<span>글쓴이</span>
							</div>
						</div> -->
					</div>
					<!--================ 일정상세 끝 =================-->
					<!--================ if참석여부 =================-->
					<div id="voteRE" style="margin-top:20px;">
						<h6 class="typo-list" style="color: #6ab0cd;">참석여부 <b id="voteR" style="color: white; background-color:#6ab0cd; font-weight: 300; font-size: 13px;"></b><b></b></h6>
						<div id="attendChk"> 
							<!-- <ul style="list-style: none;">
								<!-- bandCalendarOptionDay보다 늦으면 체크 못하게 막아야함 -->
								<!-- <li><span>🤍</span>참석<span style="float: right;">💧</span></li>
								<li><span>🤍</span>불참석<span style="float: right;">💧</span></li>
								<li><span>🤍</span>미정<span style="float: right;">💧</span></li>
							</ul> -->
						</div>
					</div>
					<!--================ if참석여부 끝 =================-->
					<!--================ if지도 =================-->
					<div>
						<h6 class="typo-list" id="mapName" style="color:#6ab0cd;"></h6>
						<div id="map" style="width:100%;height:350px;"></div>
					</div>
					<!--================ if지도 끝 =================-->
				</div>
				<div style="display: flex; margin-top:20px;">
					<button type="button" class="button_hover3" id="calBtn"></button>
					<button type="button" class="button_hover3" id="deleteBtn">삭제</button>
				</div>
			</div>
			<a class="modal_close_btn hoverBtn" style="text-decoration: none;">닫기</a>
		</div>
		<!--== 캘린더 모달창 끝 ==-->
	<!-- =====캘린더 입력 모달 창====== -->
		<form id="my_calendar_modal_input" name="my_calendar_modal_input" class="my_calendar_modal_input" style="width: 402px;">
		<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}">
			<div id="modalform_input">
                <div style="display: flex; flex-direction: column;">
                	<!--================ 일정명 =================-->
                	<div>
	                  <h6 class="typo-list">일정만들기</h6>
	                  <input type="hidden" th:value="${bandNo}" th:name="bandNo" id="bandNo">
	                  <div>
	                    <input type="text" class="single-input" style="border: 1px solid #eeeeee;" maxlength="14" name="bandCalendarTitle" id="bandCalendarTitle" placeholder="일정 제목을 입력해주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '일정 제목을 입력해주세요'" required>
	                  </div>
	                </div>
	                <!--================ 일정명 끝 =================-->
	                <!--================ 일정마크 =================-->
                	<div>
	                  <h6 class="typo-list myPadding">일정마크</h6>
	                  <div>
	                    <select name='bandCalendarMark' id="bandCalendarMark" class="nice-select">
						  <option value='0' selected disabled> 선택 </option>
						  <option value='#F25757' style='padding:15px; background-color: #F25757'></option>
						  <option value='#FFC780' style='padding:15px; background-color: #FFC780'></option>
						  <option value='#F8AA94' style='padding:15px; background-color: #F8AA94'></option>
						  <option value='#5A7CBF' style='padding:15px; background-color: #5A7CBF'></option>
						  <option value='#BAD98B' style='padding:15px; background-color: #BAD98B'></option>
						</select>
	                  </div>
	                </div>
	                <!--================ 일정마크 끝 =================-->
	                <!--================ 시작/종료 =================-->
	                <div>
	                  <h6 class="typo-list myPadding">시작</h6>
                      <input type="date" class="myInput" name="bandCalendarStartDay" id="bandCalendarStartDay" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                      <input type="time" class="myInput" name="bandCalendarStartTime" id="bandCalendarStartTime"  value="12:00">
					  <input type="hidden" name="bandCalendarStart" id="bandCalendarStart">
	                </div>
	                <div>
	                  <h6 class="typo-list myPadding">종료</h6>
                      <input type="date" class="myInput" name="bandCalendarEndDay" id="bandCalendarEndDay" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                      <input type="time" class="myInput" name="bandCalendarEndTime" id="bandCalendarEndTime"  value="12:00">
					  <input type="hidden" name="bandCalendarEnd" id="bandCalendarEnd">
	                </div>
	                <!--================ 시작/종료 끝 =================-->
	                 <!--================ 위치 =================-->
	                <div>
	                  <h6 class="typo-list myPadding">위치</h6>
	                  <div>
	                    <input type="text" class="myInput" id="bandCalendarLocation" name="bandCalendarLocation" value="">
	                    <input type="hidden" id="bandCalendarLocationLatlong" name="bandCalendarLocationLatlong">
	                  </div>
	                </div>
	                <!--================ 위치 끝 =================-->
	                <!--================ 참석여부 =================-->
	                <div style="display: flex; flex-direction: column; padding-bottom: 20px;">
						<h6 class="typo-list myPadding" style="float: left;">참석여부 묻기 <input type="checkbox" name="bandCalendarOption" value="t" id="bandCalendarOption"></h6>
	                    <div id="checkDate" style="display: none">
						<h6 class="typo-list myPadding">참석여부 확인 종료일</h6>
	                     	<input type="date" class="myInput"  name="bandCalendarOptionDayD" id="bandCalendarOptionDayD" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                      		<input type="time" class="myInput"  name="bandCalendarOptionDayT" id="bandCalendarOptionDayT" value="12:00">
							<input type="hidden" name="bandCalendarOptionDay" id="bandCalendarOptionDay">
						</div>
	                </div>
	                <!--================ 참석여부 끝 =================-->
	            </div>
                <button type="button" class="button_hover2" style="margin:0 auto" id="calBtn_input">전송</button>
			</div>
			<a class="modal_close_btn_input hoverBtn">닫기</a>
		</form>
	<!-- =====캘린더 입력 모달 창 끝====== -->
	
	<script src="/css/band/js/time.js"></script>
	<script>
	/*<![CDATA[*/
	var header = '[[${_csrf.headerName}]]';
	var token = '[[${_csrf.token}]]';
	   console.log(header);
	   console.log(token);
	 /*]]>*/
	$(function(){ //2023-03-23타입의 string으로 고쳐서 보냄..DB에서 1일과 마지막날을 구해서 보낼 것..
		
		// 글게시 후이동...
		$('#childBoardValue').on("propertychange change keyup paste input", function(){
			let boardNo = $('#childBoardValue').val();
			console.log($('#childBoardValue').val())
	   		if(boardNo == null|| boardNo==''){
	   			return false;
	   		}
		$('#template').load("/own/band/bandGroup/bandBoardDetail?bandBoardDetailNo="+boardNo);
		})
		
		
		let bandNo = $('#bandNo').val();
		//me 한달일정가져오기
		var calendarEl = document.getElementById('calendar');
	    var calendar = new FullCalendar.Calendar(calendarEl, {
	      initialView: 'dayGridMonth',
	    	//날짜포맷
		    titleFormat: function (date) {
	          // YYYY년 MM월
	          return `${date.date.year}년 ${date.date.month + 1}월`;
	        },customButtons: {
	   		    myCustomButton: {
	   		      text: '➕',
	   		      click: function() {
	   		      addCalendar();
	   			  $('#calBtn_input').on('click', function(){
	   				 //전송조건걸어주기 아 이거 날자조건 여기서 걸어주면 안되네 이거 버튼 수행후 히든에 넣음
	   				 if( $('#bandCalendarTitle').val()==''||
	   					 $('#bandCalendarTitle').val()==null||$('#bandCalendarMark').val()==null){
	   					 alert('일정 제목과 마크색을 입력해주십시오.');
	   					 return false;
	   				 }
	   				 insertView();
	   			   })
	   		      }
	   		    }
	   		  },
	   		  headerToolbar: {
	   		    left: 'prev,next today myCustomButton',
	   		    center: 'title',
	   		    right: 'dayGridMonth'
	   		  },
	        selectable: true,
	        selectMirror: true,
	        select: function(arg) {/* 
	          var title = prompt('Event Title:');
	          if (title) {
	            calendar.addEvent({
	              title: title,
	              start: arg.start,
	              end: arg.end,
	              id: arg.id,
	              backgroundColor:"yellow",
	              textColor:"blue"
	            })
	          }
	          calendar.unselect() */
	        },
	        eventClick: function(arg) {
	        	//debugger
	        	//누른 것의 pk출력
	        	console.log(arg.event.id);
	        	//일정상세조회
	        	let bandCalendarLocationLatlong = MakeModalCal(arg.event.id);//모달붙이고 상세 조회 후 캘린더도 리턴
	        	calModal('my_calendar_modal', bandCalendarLocationLatlong);
	        	$('.fc-more-popover').hide();
	        /* 삭제 if (confirm('Are you sure you want to delete this event?')) {
	            arg.event.remove()
	          } */
	        },
	        editable: true,
	        dayMaxEvents: true, // allow "more" link when too many events
	        events: function(info, successCallback, failureCallback){
	            $.ajax({
	                   url: '/own/band/bandGroup/bandCalendarNow?bandNo='+bandNo+'&month='+SimpleDateTimeFormat(new Date()),
	                   dataType: 'json',
	                   success: 
	                       function(result) {
	                           var events = [];
	                           if(result!=null){
	                           		   //상세보기 대비input hidden에 저장해놓기
	                           		   //유사배열이라 그런지 히든에 안들어가니 가공해서..JSON.stringify???[obj][ojb]로 나옴..오 된다.
	                           		   let saveArr = []
	                                   $.each(result, function(index, element) {
	                                	saveArr.push(JSON.stringify(element));
                                        events.push({
                                               title: element.bandCalendarTitle,
                                               start: SimpleDateTimeFormat(new Date(element.bandCalendarStart)),
                                               end: SimpleDateTimeFormat(new Date(element.bandCalendarEnd)),
                                               backgroundColor : element.bandCalendarMark,
	                   		        		   borderColor : element.bandCalendarMark,
	                   		        		   textColor : 'black',
	                   		        		   id : element.bandCalendarNo                                                   
                                            }); //.push()
                                          //이벤트보드만들기
                                        makeBoard(JSON.stringify(element));
	                                   })
                                      //.each()
	                               //리스트저장
	                               $('#saveCalendar').val(saveArr);
	                               console.log(events);//
	                           }//if end  
	                           successCallback(events);                               
	                       }//success: function end                          
	            }); //ajax end
	        }
	        
	    })
	   calendar.render();
	    
	    //일정보드만들기.....이번달 것만 만들자
	    function makeBoard(item){
	    	item = JSON.parse(item);
	    	//이번달보다 뒤의 껀 리스트안만들거임
	    	console.log(new Date(item.bandCalendarStart)+'리스트만들기용')
	    	console.log(new Date()+'리스트만들기용')
	    	if(new Date(item.bandCalendarStart)<=new Date()){
	    		return false;
	    	}
			//타이틀
			let title = item.bandCalendarTitle;
			//타이틀 저장도..
			//날짜
			let startDay = item.bandCalendarStart;
			let endDay = item.bandCalendarEnd;
			let sYear = startDay.substr(0, 4);
			let eYear = endDay.substr(0, 4);
			
			startDay = new Date(item.bandCalendarStart);
			endDay = new Date(item.bandCalendarEnd);
			
			//달
			let sMonth = (1+startDay.getMonth());
			let eMonth = (1+endDay.getMonth());
			//날
			let sDay = startDay.getDate();
			let eDay = endDay.getDate();
			//시간
			let startTime = startDay.getHours();
			let endTime = endDay.getHours();
			//분
			let startTime2 = startDay.getMinutes()
			let endTime2 = endDay.getMinutes()
			//상세시작시간
			let sTime = (startTime < 12 ? "오전" : "오후")+" "
				sTime += startTime+"시 "
				sTime += startTime2+"분";
			//상세끝나는시간
			let eTime = (endTime < 12 ? "오전" : "오후")+" " //오전 오후
					 + endTime+"시 " //12시간표기
					 + endTime2+"분";
			//시작 요일
			let mon = getDayOfWeek(startDay);
			//글쓴이
			let writer = item.bandNickname
			//마크색
			let color = item.bandCalendarMark;
		    let cal  = `<div class='pagingCal' style= "display:none; background-Color:white;" >
		    			<div class='boardC' style= "width: 500x;padding:15px; height: 100px; display: flex; justify-content: space-between; border: 1px solid #eeeeee;" id="calendarModal2">`
		    			cal += `<input type="hidden" value=${item.bandCalendarNo}>`
		    			cal += `<div style="padding:10px;"><h3 id="jsDD" style="margin-bottom:0px; text-align:center;">${sDay}</h3>`
						cal += `<p id="jsDay">${mon}</p></div>`
						cal += `<div style="padding:10px; width:500px;"><h5 style="color:${color};"><span style="color:${color}; margin-right:10px;"><i class="fa-regular fa-calendar-check"></i></span>${title}</h5>`
						cal += `<p id="jsDeDay" style="margin-bottom: 0px;">${sYear}년 ${sMonth}월 ${sDay}일 ${sTime} ~ ${eYear}년 ${eMonth}월 ${eDay}일 ${eTime}</p>`
						cal += `</div></div>`;
					
			//요일뽑기
			function getDayOfWeek(날짜문자열){ //ex) getDayOfWeek('2022-06-13')
		    	const week = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
		    	const dayOfWeek = week[new Date(날짜문자열).getDay()];
		    	return dayOfWeek;		    	
			}
			$('#articleArea').append(cal);
			//페이징..초기개수
		    $('.pagingCal').slice(0, 5).show();
		    console.log($('.pagingCal'));
	    }
	    //페이징
	    $('#loadBtn').click(function(e){
	    	e.preventDefault();
	    	$('.pagingCal:hidden').slice(0, 5).show();
	    	if($('.pagingCal:hidden').length == 0){
	    		alert('게시물의 끝입니다.');
	    	}
	    })
	    $('#articleArea').on('click', $('.boardC'), function(e){
	    	//캘린더 번호
	    	console.log($(e.target).parentsUntil('#articleArea').find('input').val());
	    	let item = $(e.target).parentsUntil('#articleArea').find('input').val();
	    	let bandCalendarLocationLatlong = MakeModalCal(item);//모달붙이고 상세 조회 후 캘린더도 리턴
	        calModal('my_calendar_modal', bandCalendarLocationLatlong);
	    })
	    
	     //삭제 let calendarNo = $('#saveCalendarEach').val();
	    $('#deleteBtn').on('click', function(){
	    	let calendarNo = $('#saveCalendarEach').val();
	    	//삭제 아작스
	    	if(confirm('일정을 삭제합니다.')){
	    		$.ajax({
	    			url:'/own/band/deleteCalendar?calendarNo='+calendarNo,
		            method: 'delete',
		            contentType : "application/text; charset=utf-8;",
					beforeSend: function(xhr){
			              xhr.setRequestHeader(header,token);
			            }
	    		}).then(res => {
	    			console.log(res);
	    			console.log('??');
		    			if(res=='success'){
		    				alert('삭제완료');
		    				//이동
		    				$('#template').load("/own/band/bandGroup/bandCalendar?bandNo="+bandNo);
		    			} else {
		    				alert('삭제실패');	    				
		    			}
	    			})
	    	}
	    })
	    
	    
	    function getCalendar(bandNo, month){
			$.ajax({
		            url:'/own/band/bandGroup/bandCalendarNow?bandNo='+bandNo+'&month='+month,
		            dataType: 'json',
		            method: 'get',
		            async : false,//비동기
		            contentType : "application/text; charset=utf-8;"
		        }).then(result => {
		        	console.log(result);
		        	//result를 map으로 변환하기..
		        	let events = result.map(function(item){
		        		return {
		        			title : item.bandCalendarTitle,
		        			start : SimpleDateTimeFormat(new Date(item.bandCalendarStart)),
		        			end	  : SimpleDateTimeFormat(new Date(item.bandCalendarEnd)),
		        			backgroundColor : item.bandCalendarMark,
		        			borderColor : item.bandCalendarMark,
		        			textColor : 'black',
		        			id : item.bandCalendarNo
		        		}
		        	})
		        	/* var calendar = new FullCalendar.Calendar(calendarEl, {
						events : events,
						 eventTimeFormat: { // like '14:30:00'
						    hour: '2-digit',
						    minute: '2-digit',
						    hour12: false
						  } 
					}); */
					console.log('11')
					getEvents =  events;
		        	console.log(getEvents);
		        	successCallback(getEvents);
				})
		}
	    //일정 상세조회.. 리턴값 카카오지도에 이용
	    function MakeModalCal(calendarId){
	    	//누른 것과 동일한 일정추출
	    	//와 objobj로 저장될껄 json.parse로 input에 저장한 뒤 꺼내 쓸 때{}{}{}이렇게 되니까 json형태로 만들어준 뒤 파싱해서 쓰니까 되네ㅋㅋ
	    	//let saveCal = '['+$('#saveCalendar').val()+']'
	    	let saveCal = '['+$('#saveCalendar').val()+']'
	    	console.log(saveCal);
	    	saveCal = JSON.parse(saveCal);
	    	console.log(saveCal);
	    	//누른 것과 동일한 것을 필터링해 줌
	    	saveCal = saveCal.filter(item => {
	    		return item.bandCalendarNo==calendarId
	    		});
	    	console.log('????'+saveCal);
			//밴드 상세창 붙이기
			makeModalDetail(saveCal);
	    	//밴드한개 붙여두기
	    	$('#saveCalendarEach').val(saveCal[0].bandCalendarNo);
	    	$('#savesavebandCalendarOptionDay').val(saveCal[0].bandCalendarOptionDay);
	    	console.log(saveCal[0].bandCalendarNo)
	    	//카카오지도용
	    	return saveCal[0].bandCalendarLocationLatlong;
	   	}
	    
	  //모달 참석여부 외에 상세창
	  function makeModalDetail(calendar){
		  console.log('????'+calendar);
		  //지역이 빠져서 뒤늦게
		 	$('#mapName').text(calendar[0].bandCalendarLocation);
		 
			//타이틀
			let title = calendar[0].bandCalendarTitle;
			//타이틀 저장도..
			$('#savebandCalendarTitle').val(title);
			//날짜
			let startDay = calendar[0].bandCalendarStart;
			let endDay = calendar[0].bandCalendarEnd;
			let sYear = startDay.substr(0, 4);
			let eYear = endDay.substr(0, 4);
			
			startDay = new Date(calendar[0].bandCalendarStart);
			endDay = new Date(calendar[0].bandCalendarEnd);
			
			//달
			let sMonth = (1+startDay.getMonth());
			let eMonth = (1+endDay.getMonth());
			//날
			let sDay = startDay.getDate();
			let eDay = endDay.getDate();
			//시간
			let startTime = startDay.getHours();
			let endTime = endDay.getHours();
			//분
			let startTime2 = startDay.getMinutes()
			let endTime2 = endDay.getMinutes()
			//상세시작시간
			let sTime = (startTime < 12 ? "오전" : "오후")+" "
				sTime += startTime+"시 "
				sTime += startTime2+"분";
			//상세끝나는시간
			let eTime = (endTime < 12 ? "오전" : "오후")+" " //오전 오후
					 + endTime+"시 " //12시간표기
					 + endTime2+"분";
			//시작 요일
			let mon = getDayOfWeek(startDay);
			//글쓴이
			let writer = calendar[0].bandNickname
			//마크색
			let color = calendar[0].bandCalendarMark;
		    let cal  = `<div style="width: 500x; height: 100px; display: flex; justify-content: space-between" id="calendarModal2">`
		    			cal += `<input type="hidden" value="${calendar[0].bandCalendarNo}" id="bandCalNo">`
		    			cal += `<div style="padding:10px 30px;"><h3 id="jsDD" style="margin-bottom:0px; text-align:center;">${sDay}</h3>`
						cal += `<p style=" text-align:center;id="jsDay">${mon}</p></div>`
						cal += `<div style="padding:10px 0px 10px 10px;"><h5>${title}</h5>`
						cal += `<p id="jsDeDay" style="margin-bottom: 0px;;">${sYear}년 ${sMonth}월 ${sDay}일 ${sTime} ~ ${eYear}년 ${eMonth}월 ${eDay}일 ${eTime}</p>`
						cal += `<span style="color:${color}; margin-right:10px;"><i class="fa-regular fa-calendar-check"></i></span><span>${writer}</span></div>`;
					
		  //지도가 있다면
		    if(calendar[0].bandCalendarLocation!=null){
		    	$('#map').css('display','block');
		    } else {
		    	$('#map').css('display','none');
		    }
			//투표가없다면	
		    if(calendar[0].bandCalendarOption==null){
		    	$('#voteRE').css('display','none');
		    } else {
		    	$('#voteRE').css('display','block');
		    	//ajax 초대투표이벤트를 가져올 것임
		    	$.ajax({
			            url:'/own/band/bandGroup/CalendarAttend?bandCalendarNo='+calendar[0].bandCalendarNo,
			            dataType: 'json',
			            method: 'get',
			            contentType : "application/text; charset=utf-8;"
			        }).then(result => {
			        	//참석여부 붙여주기
						console.log(result);
						makeCalModal(result);
			        })
		    }
			//요일뽑기
			function getDayOfWeek(날짜문자열){ //ex) getDayOfWeek('2022-06-13')
		    	const week = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
		    	const dayOfWeek = week[new Date(날짜문자열).getDay()];
		    	return dayOfWeek;		    	
			}
			$('#bCalendar').empty();
			$('#bCalendar').append(cal);
			
			//투표마감일이 있다면
			if(calendar[0].bandCalendarOptionDay!=null){
				let con = calendar[0].bandCalendarOptionDay.substr(0, calendar[0].bandCalendarOptionDay.length-3);
				$('#voteR').text('투표 마감일'+con);
			}
			//만약 첨부된 글이 있다면 calBtn, deletebtn
			let userId = $('#userId').val();
			$('#calBtn').css('display', 'block');
			$('#deleteBtn').css('display', 'block');
			if(calendar[0].bandBoardDetailNo!=null){
				$('#savebandBoardNum').val(calendar[0].bandBoardDetailNo);
				$('#calBtn').text('첨부된 글 확인');
				console.log('글번호저장'+$('#savebandBoardNum').val())
			} else if(calendar[0].userId==userId){
				$('#savebandBoardNum').val(null);
				$('#calBtn').text('게시글 올리기');
			} else {
				$('#calBtn').css('display', 'none');
				$('#deleteBtn').css('display', 'none');
			}
			}
	//게시글 이동
	  $('#calBtn').on('click', function(){
		  let boardNo = $('#savebandBoardNum').val();
		  	console.log("????"+boardNo);
		  if(boardNo!=null&&boardNo!=''){
		  	let boardNo = $('#savebandBoardNum').val();
		  	console.log(boardNo);
		  	//모달지우기
            //이동
   			$('#mainTemplate').load("/own/band/bandGroup/bandBoardDetail?bandBoardDetailNo="+boardNo);
		  } else {
		  	let calendarNo = $('#saveCalendarEach').val();
			let title = $('#savebandCalendarTitle').val();
			//아작스로 글 집어넣기 //새창을 열어서 해야겠음
			console.log('새창보낼 값'+calendarNo+title+bandNo)
			window.open( "/own/band/bandGroup/bandCalendarInsert?bandCalendarNo="+calendarNo+"&title="+title+"&bandNo="+bandNo,
					"Child", "width=600px, height=530px, top=50%, left=50% resizable = no, scrollbars = no" );	
		  }
	  })
	  //모달 참석여부 상세만들기
		function makeCalModal(result){
			let attendChk = $('#attendChk');
			attendChk.empty();
			let ulTag = $('<ul style="list-style: none;" />')
			let bk01 = 0; //참석
			let bk01Per = new Array(); //참석인원
			let bk02 = 0; //미참석
			let bk02Per = new Array(); //미참석인원
			let bk03 = 0; //미정
			let bk03Per = new Array(); //미참석인원
			let myChk = ''; // 본인 거 체크
			//bandMemberNo=:닉네임이들어감
			$(result).each(function(idx, ele){
				if(ele.bandAttend=="BK01"){
					bk01++;
					bk01Per.push(ele.bandMemberNo);
				} else if(ele.bandAttend=="BK02"){
					bk02++;
					bk02Per.push(ele.bandMemberNo);
				} else if(ele.bandAttend=="BK03"){
					bk03++;
					bk03Per.push(ele.bandMemberNo);
				}
				let userId = $('#userId').val();
				if(ele.bandUserId==userId){
					myChk = ele.bandAttend;
				}
			})
			console.log(bk01Per.toString()+'???')
			//참석자 너무 많으면 자르기
			if(bk01Per.length>2){
				bk01Per.splice(2, bk01Per.length, '...');
			}
			if(bk02Per.length>2){
				bk02Per.splice(2, bk02Per.length, '...');
			}
			if(bk03Per.length>2){
				bk03Per.splice(2, bk03Per.length, '...');
			}
			
			//내 체크 확인
			let myBk1 = '🤍';
			let nameBk1 = 'BK01'
			let myBk2 = '🤍';
			let nameBk2 = 'BK02'
			let myBk3 = '🤍';
			let nameBk3 = 'BK03'
			console.log(myChk);
			if(myChk == 'BK01'){
				myBk1 = '💖'
				nameBk1 = 'BK01chk'
			} else if(myChk == 'BK02'){
				myBk2 = '💖';
				nameBk2 = 'BK02chk'
			} else if(myChk == 'BK03'){
				myBk3 = '💖';
				nameBk3 = 'BK03chk'
			}
			let liTag = `
				<li class="lis"><span class="attch" name=${nameBk1}>${myBk1}</span>참석<b class="toSt">${bk01Per.toString()}</b><span name="BK01" class="attch2" style="float: right; padding-right:15px;  cursor: pointer;">🌕</span></li>
				<li class="lis"><span class="attch" name=${nameBk2}>${myBk2}</span>불참석<b class="toSt">${bk02Per.toString()}</b><span name="BK02" class="attch2" style="float: right; padding-right:15px;  cursor: pointer;">🌕</span></li>
				<li class="lis"><span class="attch" name=${nameBk3}>${myBk3}</span>미정<b class="toSt">${bk03Per.toString()}</b><span name="BK03" class="attch2" style="float: right; padding-right:15px;  cursor: pointer;">🌕</span></li>
			`;
			attendChk.append(liTag);
			
		}
	  //모달버전+지도..글상세에선 보니까 캘린더 상세조회도 햇었네? 여긴 걍 저장시켜 둠
		function calModal(id, bandCalendarLocationLatlong) {
	        var cModal = document.getElementById(id);
	        // 모달 div 뒤에 희끄무레한 레이어
	        var bgg = document.createElement('div');
	        bgg.classList.add('bgg');
	        //템플릿에 붙이기
	        $('#template').append(bgg);
	        //document.body.append(bgg);
			
	        cModal.classList.add('cModal');
	        cModal.style.display='block';
	        //document.body.append(cModal);    
	        $('#template').append(cModal);
	        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
	        cModal.querySelector('.modal_close_btn').addEventListener('click', function() {
	            bgg.remove();
	            cModal.style.display = 'none';
	        });
	        //게시글 올릴 때도 지우기
	        $('#calBtn').on('click', function(){
	        	bgg.remove();
	            cModal.style.display = 'none';
	        })
	      //지도..여기서 해야하나 봄...부를때 마다 초기화시켜서 부름
			//지도가 있다면
		    if(bandCalendarLocationLatlong!=null){
		    	kakaoMap(bandCalendarLocationLatlong);
		    }
	    }
		//일정체크클릭모달
		$('#attendChk').on('click', $('.attch'), function(e){
			let bandCalendarOptionDay = $('#savesavebandCalendarOptionDay').val();
			console.log(bandCalendarOptionDay);
			//마감일 지나서 투표
			console.log('마감일'+new Date(bandCalendarOptionDay))
			console.log('마감일'+new Date())
			if(bandCalendarOptionDay==null || new Date(bandCalendarOptionDay)<new Date()){
				alert('투표기한이 마감되었습니다.');
				return false;
			}
			if($(e.target).attr('class')=='attch'){
				//선택한 것의 name
				let heartChk = $(e.target).attr('name');
				//내 체크 확인 우선 다 지우고 눌린게 체크라면 체크해주기...그외에 체크=>비체크면 그냥 다 빈 칸됨
				let nameBk1 = 'BK01'
				let nameBk2 = 'BK02'
				let nameBk3 = 'BK03'
				//넘길 값용
				let result = 0;
				if(heartChk=='BK01') {
					nameBk1 = 'BK01chk';
					result = 'BK01';
				} else if (heartChk=='BK02') {
					nameBk2 = 'BK02chk';
					result = 'BK02';
				} else if (heartChk=='BK03') {
					nameBk3 = 'BK03chk';
					result = 'BK03';
				}
				//세개의 name 상태가 출력됨..( 이중 체크된 것 혹은 전부 널이면 널인 상태로 아작스로 보낼 예정)
				/* $(e.currentTarget).find('.attch').each(function(idx,ele){
					console.log($(ele).attr('name'));
				}) */
				let bandCalendarNo = $('#saveCalendarEach').val();
				let bandUserId = $('#userId').val();
				let bandAttend = result==0?null:result;
				console.log('???')
				$.ajax({
					url: '/own/band/bandGroup/calendarUpdel?bandCalendarNo='+bandCalendarNo+'&bandMemberNo='+bandUserId+'&bandAttend='+bandAttend,
					dataType: 'json',
					method: 'get',
					contentType : "application/text; charset=utf-8;"
				}).then(result => {
					console.log(result);
					if(result != null){
						makeCalModal(result)
					}
				})
			}
		})
		//참여중인사람 확인 창
		$('#attendChk').on('click', $('.attch2'), function(e){
			if($(e.target).attr('class')=='attch2'){
				let bandCalendarNo = $('#saveCalendarEach').val();
				//어던 유형의 체크를 볼 지 저장
				let type = $(e.target).attr('name');
				window.open( "/own/band/bandCalendarChk?bandAttend="+type+"&bandCalendarNo="+bandCalendarNo, "Child", "width=500px, height=600px, top=50%, left=50% resizable = no, scrollbars = no" );	
			}
		})
		//셀렉트박스 배경색
		function selectColor(){
		    var color = $("#bandCalendarMark option:checked").css("color");
		    var bgcolor = $("#bandCalendarMark option:checked").css("background-color");
		    $("#bandCalendarMark").css("color",color);		
		    $("#bandCalendarMark").css("background-color",bgcolor);	
		}		
		$("#bandCalendarMark").on('change', function(){
			selectColor();
		})	
	  //여긴 해결
	  function kakaoMap(bandCalendarLocationLatlong){
			
		  console.log(bandCalendarLocationLatlong)
		  if(bandCalendarLocationLatlong != null){
			  $('#map').css('display','block');
		    let latLong = bandCalendarLocationLatlong;
			console.log(latLong);
		    let lat = latLong.substr(1, latLong.indexOf(',')-1);
		    let longg = latLong.substr(latLong.indexOf(' ')+1);
		    longg = longg.substr(0, longg.indexOf(')')-1);
		    console.log(lat+'+'+longg);
				
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = { 
			    center: new kakao.maps.LatLng(lat, longg), // 지도의 중심좌표
			    level: 3 // 지도의 확대 레벨
			};
			
			var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
			
			//마커가 표시될 위치입니다 
			var markerPosition  = new kakao.maps.LatLng(lat, longg); 
			
			//마커를 생성합니다
			var marker = new kakao.maps.Marker({
			position: markerPosition
			});
			
			//마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);
			
			//아래 코드는 지도 위의 마커를 제거하는 코드입니다
			//marker.setMap(null);
		} else {
			$('#map').css('display','none');
		}
		}
		function addCalendar(){
			modal('my_calendar_modal_input'); 
		}
	//일정추가
	//체크박스 클릭시 투표날짜 시간제한
	$('#bandCalendarOption').on('click',function(){
		if($('#bandCalendarOption').prop('checked')){
			$('#checkDate').show();
		} else {
			$('#checkDate').hide();
			//값비우기
			$('#bandCalendarOptionDay').val();
		}
	})
	//날짜 컨트롤러에 보낼 포맷
	function timestamp(date){
		let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        hour = hour >= 10 ? hour : '0' + hour;
        minute = minute >= 10 ? minute : '0' + minute;
        second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
	}
	//+버튼 눌림
	function insertCalendar(){
		alert('눌림');
	}
	//입력버튼눌림
	function insertView(){
		//투표일정이 잇다면 넣기
		if($('#bandCalendarOption').prop('checked')){
			let voteDay = new Date($('#bandCalendarOptionDayD').val());
			let voteTime = $('#bandCalendarOptionDayT').val();
			console.log(voteDay);
			console.log(voteTime);
			voteDay.setHours(voteTime.substr(0, 2));
			voteDay.setMinutes(voteTime.substr(3));
			console.log(voteDay);
			$('#bandCalendarOptionDay').val(timestamp(voteDay));
			console.log('마감일'+$('#bandCalendarOptionDay').val());
		}
		//밴드캘린더시작일 끝나는 날 히든 값 넣기
		//날짜
		let startDay = new Date($('#bandCalendarStartDay').val());
		let endDay = new Date($('#bandCalendarEndDay').val());
		//시간
		let startTime = $('#bandCalendarStartTime').val();
		let endTime = $('#bandCalendarEndTime').val();
		
		console.log(startDay)
		startDay.setHours(startTime.substr(0, 2));
		startDay.setMinutes(startTime.substr(3));
		console.log(startDay)//여기까진 변환완료
		$('#bandCalendarStart').val(timestamp(startDay));
		console.log('시작일'+$('#bandCalendarStart').val());
		
		console.log(endDay)
		endDay.setHours(startTime.substr(0, 2));
		endDay.setMinutes(startTime.substr(3));
		console.log(endDay)//여기까진 변환완료
		$('#bandCalendarEnd').val(timestamp(endDay))
		//입력데이터
		
		//시작일과 종료일 체크
		 if($('#bandCalendarStart').val()>$('#bandCalendarEnd').val()){
				 alert('시작일과 종료일이 올바르지 않습니다.');
				 return false;
			 }
		
		//글쓰기
		$.ajax({
			url : '/own/band/insertCalendar',
			method : 'post',
			data : $('#my_calendar_modal_input').serializeObject(),
			dataType : 'json',
			beforeSend: function(xhr){
              xhr.setRequestHeader(header,token);
            }
		}).then( res =>{
			if(res!=null){
				alert('일정이 추가되었습니다.');
				$('#template').load("/own/band/bandGroup/bandCalendar?bandNo="+bandNo);
			} else {
				alert('글쓰기 실패');
			}
		})
		
	}
	//지역
	$('#bandCalendarLocation').on('click', function(){
		window.open( "/own/band/map", "Child", "width=1000px, height=500px, top=50%, left=50% ,resizable = no, scrollbars = no" );
	})
	//모달
	function modal(id) {
		var cModal = document.getElementById(id);
        // 모달 div 뒤에 희끄무레한 레이어
        var bgg = document.createElement('div');
        bgg.classList.add('bgg');
        //템플릿에 붙이기
        $('#template').append(bgg);
        //document.body.append(bgg);
		
        cModal.classList.add('cModal');
        cModal.style.display='block';
        //document.body.append(cModal);    
        $('#template').append(cModal);
        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        cModal.querySelector('.modal_close_btn_input').addEventListener('click', function() {
            bgg.remove();
            cModal.style.display = 'none';
        });
        //게시글 올릴 때도 지우기
        $('#calBtn').on('click', function(){
        	bgg.remove();
            cModal.style.display = 'none';
        })
        
	}
	 })
	 $(document).ready(function() {
			$('select').niceSelect();
	 })
	  //$()끝
	  $('#bandCalendarMark').on('change', function(){
		  console.log($('.nice-select:eq(1)'));
		  $('.nice-select').css('background-color', $('#bandCalendarMark').val())
	  })
	</script>
	</div>
</body>
</html>