<html xmlns:th="http://www.thymeleaf.org"lang="ko">
<!-- <script src="/css/band/js/jquery-3.2.1.js"></script> -->
<style>
	.modal {
		display: none;
		z-index: 500;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}
	
	.modal button {
		position: absolute;
		top: 3rem;
		right: 3rem;
		background: transparent;
		border: 0;
		color: #ffffff;
		font-size: 3rem;
	}
	
	.modalBox {
		position: relative;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -20%);
		background-color: #ffffff;
		width: 30%;
		height: 30%;
		text-align: center;
	}
	
	.modalBox img {
		width: 100%;
	}
	
	.modalBox p {
		color: #ffffff;
		background-color: #000;
		font-size: 2rem;
		padding: .2rem;
	}
</style>
<div id="template" style="flex-grow:3; width: 740px">
	<div>
		<article style="border: 1px solid #eeeeee;padding:30px; ">
			<h3>게시판 상세페이지</h3>
			<input type="hidden" id="bandBoardDetailNo" th:value="${board.BandBoardDetailNo}">
			<input type="hidden" id="bandNo" th:value="${board.bandNo}">
			<input type="hidden" id="userId" th:value="${session.loginUser.userId}">
			<div class="form-group">
				Title <input type="text" class="form-control" id="title" th:value="${board.bandBoardTitle }"readonly>
				Writer <input type="text" class="form-control" id="writer" th:value="${board.bandNickName }"readonly>
				RegDate <input type="text" class="form-control" id="RegDate" th:value="${#dates.format(board.bandBoardDate, 'yyyy-MM-dd HH:mm:ss')}"readonly>
				<div class="form-group">
					<label for="comment">Content:</label>
					<div th:utext="${board.bandBoardContent }"></div>
				</div>
				<!--임시-->
				<div  th:each="img : ${board.bandImgs}">
					<img  style="width:678px;" th:src="|/imgView/${img.mediaServerFile}|" alt="">
				</div>
			</div>
		<div>
			<button type="button" id="btnUpdate" class="btn btn-primary mb-2">수정</button>
			<button type="button" id="btnDelete" class="btn btn-primary mb-2">삭제</button>
		</div>
		<div>
			<article id="bandReply">
			</article>
			<article id="bandLike">
			</article>
		</div>	
		<h3>댓글</h3>
		<table class="table" id="replybody">
				<!-- <%-- <tr>
					<td>${reply.replyer}</td>
					<td>${reply.reply}</td>
					<td><c:if test="${reply.replyDate>=reply.updateDate}">${reply.replyDate}</c:if></td>
					<td><c:if test="${reply.replyDate<reply.updateDate}">${reply.updateDate}</c:if></td>
				</tr> --%> -->
		</table> 
		<form id="frmRe">
			<div class="form-group">
				<label for="reply">Content:</label>
				<textarea class="form-control" rows="5" id="reply"></textarea>
				replyer <input type="text" class="form-control" id="replyer">
				<button type="button" id="btnReployInsert" class="btn btn-primary mb-2">댓글작성</button>
			</div>
		</form>
		</article>
	</div>
	<!-- 팝업 될 곳 -->
	<div class="modal">
		<button>&times;</button>
		<div class="modalBox">
			<img src="" alt="">
			<p></p>
		</div>
	</div>
</div>
<script>
$(function(){
	//유저아이디
	let userId = $('#userId').val();
	let bandNo = $('#bandNo').val();
	console.log(userId);
	//좋아요리스트..댓글리스트
	let DetailNo = $('#bandBoardDetailNo').val();
	$.ajax({
		url: '/own/band/bandGroup/bandBoardDetailLike?bandBoardDetailNo='+DetailNo,
		dataType: 'json',
		method: 'get',
		contentType : "application/text; charset=utf-8;"
	}).then(result => {
		console.log(result);
		let likeTag = '';
		$(result).each(function(idx, ele){
        	//likeTAG
        	if(ele.userId==userId){
        		likeTag = '♥'
       			return false;
        	}
		})
		if(likeTag == ''){
			likeTag = '♡'
		}
		//좋아요 수
		let r = result.length;
		if(r == null){
			r = 0;
		}
		$('#bandLike').append(likeTag, r);
	})
	//
// 	이미지 클릭시 해당 이미지 모달
	$("img").click(function(){
		$(".modal").show();
		// 해당 이미지 가겨오기
		var imgSrc = $(this).attr("src");
		var imgAlt = $(this).attr("alt");
		console.log(imgSrc);
		console.log(imgAlt);
		
		$(".modalBox img").attr("src", imgSrc);
		$(".modalBox img").attr("alt", imgAlt);
		
		// 해당 이미지 텍스트 가져오기
		var imgTit =  $(this).children("p").text();
		$(".modalBox p").text(imgTit);
		
   // 해당 이미지에 alt값을 가져와 제목으로
		//$(".modalBox p").text(imgAlt);
	});
	
	//.modal안에 button을 클릭하면 .modal닫기
	$(".modal button").click(function(){
		$(".modal").hide();
	});
	
	//.modal밖에 클릭시 닫힘
	$(".modal").click(function (e) {
    if (e.target.className != "modal") {
      return false;
    } else {
      $(".modal").hide();
    }
	
  });
	//글 수정
	$('#btnUpdate').on('click', function(){
    		$('#template').load("/own/band/bandGroup/bandBoardUpdate?BandBoardDetailNo="+DetailNo+'&bandNo='+bandNo);
   	})
})
</script>