<script src="/css/band/js/jquery-3.2.1.js"></script>
<div>
	<input type="hidden" th:value="${bandBoardDetailSearchVO.bandNo}" id="bandNumber">
    <div>
		<article style="border: 1px solid #eeeeee;padding:30px; ">
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search Posts">
               <span class="input-group-btn">
                	<button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
            	</span>
        	</div>
        </article>
		<div id="articleArea">
 		</div>
	</div>
</div>
                     
<script>
	//더보기 페이지용
	//1페이지
	let bandNo = $('#bandNumber').val();
	let articleArea = $('#articleArea');
	        let multi = '';
		    function makeBoard(bandNo, multi){
	        	$.ajax({
		            url:'/own/band/bandGroup/fiveBoard?bandNo='+bandNo+'&multi='+multi,
		            dataType: 'json',
		            method: 'get',
		            contentType : "application/text; charset=utf-8;"
		        }).then(result => {
		                console.log(result);
		                $(result).each(function(idx, ele){
		                	let likeTag = '';
		                	if(ele.likeList['userId']==null&&ele.likeList['userId']==""){
		                		likeTag = `<i class="fa fa-heart" aria-hidden="true"></i>`
		                	} else {
		                		likeTag = `<i class="fa fa-heartbeat" aria-hidden="true"></i>`
		                	}
		                    let articleTag = `<article style="border: 1px solid #eeeeee;padding:30px; ">
		                    <div style="display: flex; flex-direction: column;">
		                    <div>
		                        <div  style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
		                            <img class="rounded-circle" src="/css/band/image/blog/author.png" alt="" style="width: 70px; height: 70px;">
		                            <div  style="display: block; width: 300px; padding: 10px;">
		                                <ul class="blog_meta list_style" style="display: inline-block;">
		                                    <li style="display: block;">${ele.bandBoardWriter}</li>
		                                    <li style="display: block;">${ele.bandBoardDate}</li>
		                                </ul>
		                            </div>
		                        </div>
		                        
		                        <h4>${ele.bandBoardTitle}</h4>
		
		                        <img src="/css/band/image/blog/main-blog/m-blog-1.jpg" alt="" style="width: 678px; height: 280px;">
		                        <div class="blog_details">
		                            <p>${ele.bandBoardContent}</p>
		                        </div>
		                    </div>
		                    <a href="#" class="view_btn button_hover">View More</a>
		                    <div class="" style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
		                        <div>
		                             ${likeTag}
		                        	<span>${ele.likeList["likeCount"]}</span>
		                        </div>
		                        <div><i class="lnr lnr-bubble"></i><span></span>${ele.reply}</div>
		                    </div>
		                </div>
		            </article>`;
		                $(articleArea).append(articleTag);
		                //페이지 멀티 버툰에 숫자달기
		                })
		                if(result.length==5){
			                 let multiValue = (result[0]['multi']-0);
			                 console.log("multimulti 버튼에 붙일 예정"+(multiValue-0));
			                //more 누르면 나오는 페이지
			            	let btnTag = `<nav class="blog-pagination justify-content-center d-flex" id="multiId">
						                <a class="view_btn button_hover" id="nextBtn" style="width: 555px;">View More</a>
						                <input type="hidden" id="multivalue" value=${multiValue}>
						                </nav>`
						              
			                $(articleArea).append(btnTag);
			            	console.log('버튼 숫자 붙은거 확인'+$('#multivalue').attr('value'));           
						    console.log('버튼 숫자 붙은거 확인'+$('#multivalue').val());  
						    console.log('버튼 숫자 붙은거 확인'+$('#multivalue').prop('value')); 
		                } else {
		                	let endtag = `<div><h5>끝입니다</h5></div>`
		                	$(articleArea).append(endtag);
		                }
		            });
		    }
		    //처음 5개 불러옴
		    makeBoard(bandNo, 1);
                
		    //버튼누르면 more
		    $('#articleArea').on('click', '#nextBtn', function(){
		    	let mul = $('#multivalue').val();
		    	$('#multiId').remove();
		    	$('#nextBtn').remove();
		    	$('#multivalue').remove();
        		console.log('누른 멀티'+mul)
        		makeBoard(bandNo, mul);
        	})
</script>                     