<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/band_layout}"
      lang="ko">
    <head>
        <!-- <script src="/css/band/js/jquery-3.2.1.js"></script> -->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/css/band/image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/band/css/bootstrap.css">
        <link rel="stylesheet" href="/css/band/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/band/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/css/band/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/band/css/style.css">
        <link rel="stylesheet" href="/css/band/css/responsive.css">
        <style type="text/css">
        	.modal {
				display: none;
				z-index: 500;
				width: 100%;
				height: 100vh;
				position: fixed;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.3);
			}
			
			.modal button {
				position: absolute;
				top: 3rem;
				right: 3rem;
				background: transparent;
				border: 0;
				color: #ffffff;
				font-size: 3rem;
			}
			
			.modalBox {
				position: relative;
				top: 20%;
				left: 50%;
				transform: translate(-50%, -20%);
				background-color: #ffffff;
				width: 30%;
				height: 30%;
				text-align: center;
			}
			
			.modalBox img {
				width: 100%;
			}
			
			.modalBox p {
				color: #ffffff;
				background-color: #000;
				font-size: 2rem;
				padding: .2rem;
			}
			@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

		.dropdown{
		  position : relative;
		  display : inline-block;
		}
		
		.dropbtn_icon{
		  font-family : 'Material Icons';
		}
		.dropbtn{
		  border-radius : 4px;
		  background-color: #f5f5f5;
		  font-weight: 400;
		  color : rgb(37, 37, 37);
		  width :200px;
		  text-align: left;
		  cursor : pointer;
		  font-size : 12px;
		}
		.dropdown-content{
		  display : none;
		  position : absolute;
		  z-index : 1; /*다른 요소들보다 앞에 배치*/
		  font-weight: 400;
		  background-color: #f9f9f9;
		  min-width : 200px;
		}
		
		.dropdown-content a{
		  display : block;
		  text-decoration : none;
		  color : rgb(37, 37, 37);
		  font-size: 12px;
		  padding : 12px 20px;
		}
		
		.dropdown-content a:hover{
		  background-color : #ececec
		}
		.dropdown:hover .dropdown-content {
		  display: block;
		}
        </style>
    </head>
    <body>
    <div layout:fragment="content">
        <!--================Header Area =================-->
        <header><aside class="single_sidebar_widget search_widget">
            <div class="br"></div>
        </aside>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <!--================ 전체 검색 =================-->    
                        <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="오운 가치 검색"  name="bandName">
                            <span class="input-group-btn">
                                <button class="btn btn-default searchBtn" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div>
                   <!--================ 전체 검색 끝 =================-->    
                        <div class="br"></div>
                    </aside>
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" th:href="@{/own/band/bandGroup(bandNo=${band.bandNo})}">가치 홈</a></li>
                            <li class="nav-item"><div th:if="${BandMemberDetail}"><a class="nav-link" id="bandPhoto">앨범</a></div></li>
                            <li class="nav-item"><div th:if="${BandMemberDetail}"><a class="nav-link" id="bandCalendar">일정</a></div></li>
                            <!--================ 채팅기능을 위한 임시 =================-->
                            <li class="nav-item"><div th:if="${BandMemberDetail}"><a class="nav-link" th:href="@{/own/band/memberTest(bandNo = ${band.bandNo})}">멤버</a></div></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area" style="padding-top: 0px">
            <div class="container" style="display: flex;">
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <div style="flex-grow:1; width: 260px">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget author_widget">
                                <div class="hotel_img">
                                    <img src="/css/band/image/room2.jpg" alt=""  style="width: 200px; height: 200px;">
                                </div>
                                <h3 th:text="${band.bandName}" class="typo-list" style="display:inline;"></h3>
                                <hr>
                                <div>
                                    <b><i class="fa fa-user"></i>멤버 <span th:text="${band.memcount}"></span></b>
                                    <div th:if="${BandMemberDetail}"><b><i class="fa fa-plus-square-o" aria-hidden="true"></i> 초대</b></div>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span th:text="${band.bandLocation}"></span></p>
                                    <p><i class="fa fa-futbol-o" aria-hidden="true"></i> <span th:text="${band.bandCategory}"></span></p>
                                </div>
                                <hr>
                                <div th:if="${BandMemberDetail}">
	                                <div>
	                                	<p id="myOption"><i class="fa fa-cog" aria-hidden="true"></i>내 별명(닉네임)</p>
	                                    <p id="bandOption"><i class="fa fa-cog" aria-hidden="true"></i> 가치 설정</p>
	                                    <p id="bandOption2"><i class="fa fa-cog" aria-hidden="true"></i> 가치 설정2</p>
	                                </div>
	                                <hr>

                                </div>
                                <div th:unless="${BandMemberDetail}">
                                <!-- =======가입======= -->
                                	<h4 class="widget_title" id="writeBoard" style="color:white;">회원가입</h4>
                                </div>
                            </aside>
                            <div th:if="${BandMemberDetail}">
	                            <aside class="single_sidebar_widget post_category_widget">
	                                <h4 class="widget_title" id="writeBoard">글쓰기</h4>
	                                <div class="d-flex justify-content-between" id="totalBoard">
	                                    <p><i class="fa fa-file-text" style="padding-right: 7px"></i>전체 글보기</p>
	                                    <p th:text="${boardCount}">2538</p>
	                                </div>
	                                <hr style="margin-bottom: 20px; margin-top: 0px;">
	                                <ul class="list_style cat-list">
	                                    <li th:each="board: ${boardList}">
	                                    	<p th:if="${board.bandBoardLine}!=0"><i class="fa fa-file-text" style="padding-right: 7px"></i>[[${board.bandBoardName}]]</p>
	                                    	<b th:if="${board.bandBoardLine}==0" th:text="${board.bandBoardName}"></b>
	                                    </li>											
	                                </ul>
	                                <div class="br"></div>
	                            </aside>
	                            <aside class="single-sidebar-widget tag_cloud_widget">
	                                <h4 class="widget_title">가치 태그</h4>
	                            	<ul class="list_style">
	                                    <li th:if="${keyword != null}" th:each="tag: ${keyword}">
	                                    	<a href="#"  th:text="${tag}"></a>
	                                    </li>
	                                </ul>
	                            </aside>
	                    	</div>        
                        </div>
                    </div>
                    <div th:if="${BandMemberDetail}">
	                    <div style="flex-grow:3; width: 740px">
	                    	<input type="hidden" th:value="${band.bandNo}" id="bandNumber" >
	                    	<input type="hidden" id="userId" th:value="${session.loginUser.userId}">
		  <!-- ================== 여기붙음================== -->                    	
	                        <div id="mainTemplate">
	                        	<div>
		                            <article style="border: 1px solid #eeeeee;padding:30px; ">
		                                <div class="input-group">
		                                    <input type="text" class="form-control" placeholder="Search Posts">
		                                    <span class="input-group-btn">
		                                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
		                                    </span>
		                                </div>
		                            </article>
		                            <div id="articleArea">
					               </div>
				               </div>
	                        </div>
	      <!-- ================== 여기붙음================== -->
	                    </div>
                    </div>
                    <div th:unless="${BandMemberDetail}">
                    	<div style="flex-grow:3; width: 740px">
	                    	<input type="hidden" th:value="${band.bandNo}" id="bandNumber" >
	                    	<input type="hidden" id="userId" th:value="${session.loginUser.userId}">
	                        <div id="mainTemplate">
	                        	<div>
		                            <div id="articleArea">
		                            	<article style="border: 1px solid #eeeeee;padding:30px; height: 470px;">
							                    <div style="display: flex; flex-direction: column;">
							                    <div>
							                        <div  style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                            <img class="rounded-circle" src="/css/band/image/blog/author.png" alt="" style="width: 70px; height: 70px;">
							                            <div  style="display: block; width: 300px; padding: 10px;">
							                                <ul class="blog_meta list_style" style="display: inline-block;">
							                                </ul>
							                            </div>
							                        </div>
							                        <h4></h4>
							                        <div>
							                            <p>회원가입 후 이용가능합니다.</p>
							                        </div>
							                    </div>
							                    <div class="" style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                        <div><span></span></div>
							                    </div>
							                </div>
							            </article>
					               </div>
				               </div>
	                        </div>
	                    </div>
                    </div>
                    <div style="flex-grow:1; width: 260px">
                        	<div th:if="${BandMemberDetail}">
	                        	<div class="blog_right_sidebar">
		                            <aside class="single_sidebar_widget popular_post_widget">
		                                <div class="dropdown">
		                                	<h3 class="widget_title dropbtn">다가오는 일정<i class="fa fa-cog" aria-hidden="true"></i></h3>
										    <div class="dropdown-content">
										        <a id="7">7일 이내</a>
										        <a id="14">14일 이내</a>
										        <a id="30">30일 이내</a>
										      </div>
		                                </div>
		                                <div id="groupCal">
			                                <div class="media post_item" th:each="c : ${calendar}">
			                                    <div class="media-body">
			                                        <h3><a href="blog-details.html" th:text="${c.bandCalendarTitle}" th:style="|background-color:${c.bandCalendarMark}|"></a></h3>
			                                        <span th:text="${#dates.format(c.bandCalendarStart, 'yyyy-MM-dd')}" style="font-size: 12px"></span> ~
			                                        <span th:text="${#dates.format(c.bandCalendarEnd, 'yyyy-MM-dd')}" style="font-size: 12px"></span>
			                                    </div>
			                                </div>
		                                </div>
		                                <div class="br"></div>
		                            </aside>
		                    	</div>
	                    	</div>
	                    	<div th:unless="${BandMemberDetail}">
	                    		<div class="blog_right_sidebar" style="height: 470px;">
	                    			<aside class="single_sidebar_widget popular_post_widget"></aside>
	                    		</div>
	                    	</div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
        
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Agency</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="/css/band/image/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- 팝업 될 곳 -->
	<div class="modal">
		<button>&times;</button>
		<div class="modalBox">
			<img src="" alt="">
			<p></p>
		</div>
	</div>
		<!--================ End footer Area  =================-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="/css/band/js/popper.js"></script> -->
        <!-- <script src="/css/band/js/bootstrap.min.js"></script> -->
        <script src="/css/band/vendors/owl-carousel/owl.carousel.min.js"></script>
       <!--  <script src="/css/band/js/jquery.ajaxchimp.min.js"></script> -->
        <script src="/css/band/js/mail-script.js"></script>
        <script src="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="/css/band/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="/css/band/js/mail-script.js"></script>
        <script src="/css/band/js/stellar.js"></script>
        <script src="/css/band/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/css/band/js/custom.js"></script>
         <script src="/css/band/js/time.js"></script>
        <script th:inline="javascript">
        	//더보기 페이지용
         	//1페이지
	        let bandNo = $('#bandNumber').val();
	        let articleArea = $('#articleArea');
	        let multi = '';
	        let userId = $('#userId').val();
		    function makeBoard(bandNo, bandBoardDetailNo){
	        	$.ajax({
		            url:'/own/band/bandGroup/fiveBoard?bandNo='+bandNo+'&bandBoardDetailNo='+bandBoardDetailNo,
		            dataType: 'json',
		            method: 'get',
		            contentType : "application/text; charset=utf-8;"
		        }).then(result => {
		                console.log(result);
		                //순환시작
		                //버튼에 붙일 게시판 끝번호(페이징용)
	                	let bandBoardDetailNo = ''
		                $(result).each(function(idx, ele){
		                	//likeTAG
		                	let likeTag = '';
		                	if(ele.likeList['userId']!=null&&ele.likeList['userId']!=""){
		                		likeTag = `<i class="fa fa-heart" aria-hidden="true"></i>`
		                	} else {
		                		likeTag = `<i class="fa fa-heartbeat" aria-hidden="true"></i>`
		                	}
		                	//사진이 있는지 체크 // iframe이 있으면 이걸로 대체
		                	let imgTag = '';
		                	if(ele.bandImg!=null){
		                		imgTag = `<img src="/imgView/${ele.bandImg.mediaServerFile}" alt="" class="imgss" style="width: 678px; height: 280px;">`;
		                	}

		                	//iframe을 찾기위함
		                	//동영상은 내가 컨트롤러에서 따로 붙이는데(여기서는 정규화 한 뒤..) 동영상은 html로 삽입되어 안됨..정규화시 다 날아가버림..
		                	//따로 동영상붙여줌.. 기술상 동영상따로 올리는게 안됨..ㅜㅜ 동영상올리고 만약 따로 사진도 올렸다면 이건 없앰..
		                	console.log(ele.bandBoardContent);
		                	if(ele.bandBoardContent.indexOf('<iframe')>0){
		                		let con = ele.bandBoardContent.substr(0, ele.bandBoardContent.indexOf('</iframe>'));
		                		console.log(con);
		                		con = con.substr(ele.bandBoardContent.indexOf('<i'),con.length);
		                		con += con+'</iframe>';
		                		console.log(con+'</iframe>');
		                		//사진이 있다면 동영상으로 바꿔주기
		                		imgTag = con;
		                	}
		                	//정규표현식 html태그 제거
		                	const reg = /<[^>]*>?/g;
		                	let newContent = ele.bandBoardContent.replace(reg,'');
		                    let articleTag = `<article style="border: 1px solid #eeeeee;padding:30px; ">
							                    <div style="display: flex; flex-direction: column;">
							                    <div>
							                        <div  style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                            <img class="rounded-circle" src="/css/band/image/blog/author.png" alt="" style="width: 70px; height: 70px;">
							                            <div  style="display: block; width: 300px; padding: 10px;">
							                                <ul class="blog_meta list_style" style="display: inline-block;">
							                                    <li style="display: block;">${ele.bandBoardWriter}</li>
							                                    <li style="display: block;">${ele.bandBoardDate}</li>
							                                </ul>
							                            </div>
							                        </div>
							                        
							                        <h4>${ele.bandBoardTitle}</h4>
							                        ${imgTag}
							                        <div class="blog_details${ele.bandBoardDetailNo}">
							                            <p>${newContent}</p>
							                        </div>
							                    </div>
							                    <a href="#" class="view_btn button_hover">View More</a>
							                    <div class="" style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                        <div>
							                             ${likeTag}
							                        	<span>${ele.likeList["likeCount"]}</span>
							                        </div>
							                        <div><i class="lnr lnr-bubble"></i><span></span>${ele.reply}</div>
							                    </div>
							                </div>
							            </article>`;
			            
				                $(articleArea).append(articleTag);
				                //페이지 버툰에 게시판 끝 숫자달기
				                bandBoardDetailNo = ele.bandBoardDetailNo;
				                
				              //캘린더 붙이기
			                	if(ele.bandCalendar!=null){
			                		let calendar = ele.bandCalendar;
			                		//타이틀
			                		let title = calendar.bandCalendarTitle;
			                		//날짜
			                		let startDay = calendar.bandCalendarStart;
			                		let endDay = calendar.bandCalendarEnd;
			                		let sYear = startDay.substr(0, 4);
			                		let eYear = endDay.substr(0, 4);
			                		
			                		startDay = new Date(calendar.bandCalendarStart);
			                		endDay = new Date(calendar.bandCalendarEnd);
			                		
			                		//달
			                		let sMonth = (1+startDay.getMonth());
			                		let eMonth = (1+endDay.getMonth());
			                		//날
			                		let sDay = startDay.getDate();
			                		let eDay = endDay.getDate();
			                		//시간
			                		let startTime = startDay.getHours();
			                		let endTime = endDay.getHours();
			                		//분
			                		let startTime2 = startDay.getMinutes()
			                		let endTime2 = endDay.getMinutes()
			                		//상세시작시간
			                		let sTime = (startTime < 12 ? "오전" : "오후")+" "
			                			sTime += startTime+"시 "
			                			sTime += startTime2+"분";
			                		//상세끝나는시간
			                		let eTime = (endTime < 12 ? "오전" : "오후")+" " //오전 오후
			                				 + endTime+"시 " //12시간표기
			                				 + endTime2+"분";
			                		//시작 요일
			                		let mon = getDayOfWeek(startDay);
			                		//마크색
			                		let color = calendar.bandCalendarMark;
			                	    let cal  = `<div style="width:678px; height:80px; border: 0.3rem solid ${color}; display:flex; justify-content:space-between" id="calendarModal">`
			                	    			cal += `<div style="padding:10px;"><h3 style="margin-bottom:0px">${sDay}</h3>`
			                					cal += `<p>${mon}</p></div>`
			                					cal += `<div style="padding:10px;"><h5>${title}</h5>`
			                					cal += `<p>${sYear}년 ${sMonth}월 ${sDay}일 ${sTime} ~ ${eYear}년 ${eMonth}월 ${eDay}일 ${eTime}</p></div>`
			                				cal += `</div>`;
			                		//요일뽑기
			                		function getDayOfWeek(날짜문자열){ //ex) getDayOfWeek('2022-06-13')
			                	    	const week = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
			                	    	const dayOfWeek = week[new Date(날짜문자열).getDay()];
			                	    	return dayOfWeek;
			                		}
			                		let spot = ".blog_details"+ele.bandBoardDetailNo
			                		$(spot).prepend(cal);
			                	}
				                
			                })
			                if(result.length==5){
				                //more 누르면 나오는 페이지
				            	let btnTag = `<nav class="blog-pagination justify-content-center d-flex" id="multiId">
							                <a class="view_btn button_hover" id="nextBtn" style="width: 555px;">View More</a>
							                <input type="hidden" id="multivalue" value=${bandBoardDetailNo}>
							                </nav>`
							              
				                $(articleArea).append(btnTag);
				            	console.log('버튼 value 붙은거 확인'+$('#multivalue').val());           
			                } else {
			                	let endtag = `<div><h5>끝입니다</h5></div>`
			                	$(articleArea).append(endtag);
			                }
			                
		            	});
		    }
		    //처음 5개 불러옴
		    makeBoard(bandNo, "");
                
		    //버튼누르면 more
		    $('#articleArea').on('click', '#nextBtn', function(){
		    	let mul = $('#multivalue').val();
		    	$('#multiId').empty();
		    	$('#multiId').remove();
        		console.log('누른 멀티'+mul)
        		makeBoard(bandNo, mul);
        	})
        	
        //이미지.. 인라인 img 숨기기
        $('#articleArea').find('img').each(function(idx,ele){
        	console.log(ele);	
        	ele.hide();
       	})
        
       	// 	이미지 클릭시 해당 이미지 모달
			$('#articleArea').on('click', $("img"), function(e){
				//임시 밑에 이 조건 내가 씀
				if($(e.target).attr('class')=='imgss'){
					$(".modal").show();
				} else {
					return false;
				}
				// 해당 이미지 가겨오기
				var imgSrc = $(e.target).attr("src");
				var imgAlt = $(e.target).attr("alt");
				console.log(imgSrc);
				console.log(imgAlt);
				
				$(".modalBox img").attr("src", imgSrc);
				$(".modalBox img").attr("alt", imgAlt);
				
				// 해당 이미지 텍스트 가져오기
				var imgTit =  $(this).children("p").text();
				$(".modalBox p").text(imgTit);
				
		   // 해당 이미지에 alt값을 가져와 제목으로
				//$(".modalBox p").text(imgAlt);
			})
			
			//.modal안에 button을 클릭하면 .modal닫기
			$(".modal button").click(function(){
				$(".modal").hide();
			});
			
			//.modal밖에 클릭시 닫힘
			$(".modal").click(function (e) {
		    if (e.target.className != "modal") {
		      return false;
		    } else {
		      $(".modal").hide();
		    }
		  });
       	
		//다가오는 일정 _7_14_30
		$('.dropdown-content').on('click', function(e){
			console.log(e.target.id);
			if(e.target.id!=null){
				$.ajax({
		            url:'/own/band/bandGroup/calendarDay?bandNo='+bandNo+'&day='+e.target.id,
		            dataType: 'json',
		            method: 'get',
		            contentType : "application/text; charset=utf-8;"
		        }).then(result => {
		        	console.log(result);
		        	//일정만들기..기존 것 지우기..time.js파일이용
		        	$('#groupCal').empty();
		        	$(result).each(function(idx,ele){
		        		let sDay = SimpleDateTimeFormat(new Date(ele.bandCalendarStart));
		        		let cDay = SimpleDateTimeFormat(new Date(ele.bandCalendarEnd));
			        	let tag = `<div class="media post_item">
						        		<div class="media-body">
					        			<h3><a href="blog-details.html" style="background-color:${ele.bandCalendarMark}">${ele.bandCalendarTitle}</a></h3>
					        			<span style="font-size: 12px">${sDay}</span> ~
					        			<span style="font-size: 12px">${cDay}</span>
					        		</div>
					        	</div>			
					        	`
					   $('#groupCal').append(tag);
					   console.log(sDay+cDay);
		        	})
				})
			}
		})
		//드롭박스 css
		$('.dropdown-content a').on('click', function(){
			//0.2초후
			setTimeout(() => {
				$('.dropdown-content').css('display','none');
			}, 200);
		})
		$('.dropbtn').hover(function(){
			//0.2초후
			setTimeout(() => {
				$('.dropdown-content').css('display','block');
			}, 200);
		})
		
       	//페이지 이동
    	$('#totalBoard').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/bandBoardList?bandNo="+bandNo);
    	})
    	//글쓰기
    	$('#writeBoard').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/bandBoardWrite?bandNo="+bandNo);
    	})
    	//내 정보수정으로 이동
    	$('#myOption').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/myOption?bandNo="+bandNo);
    	})
    	//가치 설정으로 이동
    	$('#bandOption').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/bandOption?bandNo="+bandNo);
    	})
    	$('#bandOption2').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/bandOption2?bandNo="+bandNo);
    	})
    	//캘린더로 이동
    	$('#bandCalendar').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/bandCalendar?bandNo="+bandNo);
    	})
    	//앨번으로 이동
    	$('#bandPhoto').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/bandPhoto?bandNo="+bandNo);
    	})
    	//검색버튼
    	//검색버튼
        $('.searchBtn').on('click', function(){
        	boardNo = $('.searchBtn').val();
        	window.location = "/own/band/bandGroup/bandBoardDetail?bandBoardDetailNo="+boardNo;
        })
    	</script>
    </div>
    </body>
</html>