<html xmlns:th="http://www.thymeleaf.org"lang="ko">
<!-- 서머노트를 위해 추가해야할 부분 -->
<link rel="stylesheet" href="/css/band/editor/summernote-lite.css">
<script src="/css/band/editor/summernote-lite.js"></script>
<script src="/css/band/editor/lang/summernote-ko-KR.js"></script>
 <!-- 지도 -->
 <!-- 카카오 지도 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=11875b29670fe2d80e3abb3d4800699e"></script>
<script src="/css/band/js/map.js"></script>
<!-- <script src="/css/band/vendors/nice-select/js/jquery.nice-select.js"></script> -->
<style>
	/* 버튼 */
    .button_hover2 {
		color: white;
		text-align: center;
		background-color: #6ab0cd;
		width: 150px;
		margin: 0 auto;
		border: 2px solid #6ab0cd;
		border: none;
       }
	.button_hover2:hover {
		color: white;
		box-shadow: #6ab0cd 0 80px 0px 2px inset;
		border-radius: 10px;
		border: none;
	}
	.bandCalendarMark > .list > li:nth-child(2):hover  {
  		background-color: #F25757;
  		}
	.bandCalendarMark >  .list > li:nth-child(3):hover  {
  		background-color: #FFC780;
  		}
	.bandCalendarMark >  .list > li:nth-child(4):hover  {
  		background-color: #F8AA94;
  		}
	.bandCalendarMark >  .list > li:nth-child(5):hover  {
  		background-color: #5A7CBF;
  		}
	.bandCalendarMark >  .list > li:nth-child(6):hover  {
  		background-color: #BAD98B;
  		}
	.bandCalendarMark >  .list > li:nth-child(2)  {
  		background-color: #F25757;
  		}
	.bandCalendarMark >  .list > li:nth-child(3)  {
  		background-color: #FFC780;
  		}
	.bandCalendarMark >  .list > li:nth-child(4)  {
  		background-color: #F8AA94;
  		}
	.bandCalendarMark >  .list > li:nth-child(5)  {
  		background-color: #5A7CBF;
  		}
	.bandCalendarMark >  .list > li:nth-child(6)  {
  		background-color: #BAD98B;
  		}
	.bandCalendarMark {
		width: 78px;
	}
	.myPadding {
			padding-top: 10px;
		}
	.myCalInput {
			border: 1px solid #eeeeee;
			height: 42px; 
			padding: 0 20px;
		}	
	.aSel {
		margin-right: 10px;
		width: 450px;
	}
	.list {
		width: 100%;
	}
	.bSel {
		width: 230px;
	}
 	.myInput {
 		height: 42px;
 		margin-bottom: 10px;
 	}
	.note-resize{
		display: none !important;
		}
	.note-control-selection-bg{
		display: none !important;
	}
	.note-control-selection{
		display: none !important;
	}
	.note-popover{
		display: none !important;
	}
	.bottom note-image-popover{
		display: none !important;
	}
	#my_calendar_modal {
		display: none;
		width: 600px;
		padding: 20px 30px;
		background-color: #fefefe;
		border: 1px solid #888;
		border-radius: 3px;
	}
	
	#my_calendar_modal .modal_close_btn {
		position: absolute;
		top: 10px;
		right: 10px;
	}
</style>
<div id="template">    
<div style="flex-grow:3; width: 740px">
	<div>
	<input type="hidden" id="bandLeaderid" th:value="${band.bandLeaderid}">
	<input type="hidden" id="userId" th:value="${session.loginUser.userId}">
		<article style="border: 1px solid #eeeeee;padding:30px; ">
		<form name="frm" id="frm">
			<input type="hidden" th:name="${_csrf.parameterName}" id="headers" th:value="${_csrf.token}">
			<input type="hidden" id="bandboardwriter" name="bandBoardWriter" th:value="${session.loginUser.userId}">
			<input type="hidden" id="userId" name="userId" th:value="${session.loginUser.userId}">
			<input type="hidden" id="bandLeaderid" name="bandLeaderid" th:value="${band.bandLeaderid}">
			<!-- 썸머노트를 통해 추가될 이미지 -->
			<input type="hidden" id="bandBoardDetailNo" name="bandBoardDetailNo">
			<input type="hidden" id="bandNo" name="bandNo" th:value=${band.bandNo}>
			<h4 style="display: inline">가치 글쓰기</h4>
			<button type="button" id="writeBtn" class="btn btn-primary mb-2 button_hover2" style="color:white; float: right">등록</button>
			<b id="writeBtnAlert" style="float: right">가치장만 작성가능한 게시판입니다</b>
			<hr>
			<div style="display: flex" id="selectors">
				<select class="form-group aSel" th:value="*{boardList}" id="bandBoardOptionNo" name="bandBoardOptionNo" required>
					<option disabled>게시판을 선택해주세요</option>
					<option th:if="${list.bandBoardLine}!='0'" th:each="list : ${boardList}" th:value="${list.bandBoardOptionNo}" th:text="${list.bandBoardName}"></option>
				</select>
				<select class="form-group bSel" name="bandRemarks" id="bandRemarks">
					<option value="">말머리 선택</option>
				</select>
			</div>	
			<div class="form-group">
				<input type="text" class="form-control myInput" id="bandBoardTitle" name="bandBoardTitle" maxlength="30" placeholder="제목을 입력해주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '제목을 입력해주세요'" required >
				<div class="form-group">
					<textarea id="summernote" name="bandBoardContent"></textarea>
				</div>
				<div id="calVote"></div>
				<div id="replyee" style="display: block">
                   <div class="switch-wrap d-flex" style="justify-content: end;">
                   		<h6 class="typo-list" style="display: inline;margin-right: 10px;">댓글허용</h6>
						<div class="primary-switch" style="display: absolute;">
							<input type="checkbox" name="bandBoardTag" id="primary-switch" value="BH01" checked>
						<label for="primary-switch" style="top: 0px"></label>
				   		</div>
				   </div>
				   <input type="checkbox" name="bandBoardTag" id="primary-switchHidden"  style="display: none" value="BH02">
               </div>
			</div>
<!--==캘린더 모달창 ==-->
		<div id="my_calendar_modal" style="width: 402px;">
			<div id="modalform">
                <div style="display: flex; flex-direction: column;">
                	<!--================ 일정명 =================-->
                	<div>
	                  <h6 class="typo-list">일정만들기</h6>
	                  <div>
	                    <input type="text" class="myCalInput" name="bandCalendarTitle" id="bandCalendarTitle" placeholder="일정 제목을 입력해주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '일정 제목을 입력해주세요'" style="border: 1px solid #eeeeee;" maxlength="14" required>
	                  </div>
	                </div>
	                <!--================ 일정명 끝 =================-->
	                <!--================ 일정마크 =================-->
                	<div>
	                  <h6 class="typo-list myPadding">일정마크</h6>
	                  <div>
	                    <select name='bandCalendarMark' id="bandCalendarMark" class="bandCalendarMark">
						  <option value='0' selected disabled> 선택 </option>
						  <option value='#F25757' style='padding:15px; background-color: #F25757'></option>
						  <option value='#FFC780' style='padding:15px; background-color: #FFC780'></option>
						  <option value='#F8AA94' style='padding:15px; background-color: #F8AA94'></option>
						  <option value='#5A7CBF' style='padding:15px; background-color: #5A7CBF'></option>
						  <option value='#BAD98B' style='padding:15px; background-color: #BAD98B'></option>
						</select>
	                  </div>
	                </div>
	                <!--================ 일정마크 끝 =================-->
	                <!--================ 시작/종료 =================-->
	                <div>
	                  <h6 class="typo-list myPadding">시작</h6>
                      <input type="date" class="myCalInput" name="bandCalendarStartDay" id="bandCalendarStartDay" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                      <input type="time" class="myCalInput" name="bandCalendarStartTime" id="bandCalendarStartTime"  value="12:00">
					  <input type="hidden" name="bandCalendarStart" id="bandCalendarStart">
	                </div>
	                <div>
	                  <h6 class="typo-list">종료</h6>
                      <input type="date" class="myCalInput" name="bandCalendarEndDay" id="bandCalendarEndDay" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                      <input type="time" class="myCalInput" name="bandCalendarEndTime" id="bandCalendarEndTime" value="12:00">
					  <input type="hidden" name="bandCalendarEnd" id="bandCalendarEnd">
	                </div>
	                <!--================ 시작/종료 끝 =================-->
	                 <!--================ 위치 =================-->
	                <div>
	                  <h6 class="typo-list myPadding">위치</h6>
	                  <div>
	                    <input type="text" class="myCalInput" id="bandCalendarLocation" name="bandCalendarLocation" value="">
	                    <input type="hidden" id="bandCalendarLocationLatlong" name="bandCalendarLocationLatlong" value="">
	                  </div>
	                </div>
	                <!--================ 위치 끝 =================-->
	                <!--================ 참석여부 =================-->
	                <div style="display: flex; flex-direction: column; padding-bottom: 20px;">
						<h6 class="typo-list myPadding" style="float: left;">참석여부 묻기<input type="checkbox" name="bandCalendarOption" value="t" id="bandCalendarOption"></h6>
	                    <div id="checkDate" style="display: none">
						<h6 class="typo-list myPadding">참석여부 확인 종료일</h6>
	                     	<input type="date" class="myCalInput" name="bandCalendarOptionDayD" id="bandCalendarOptionDayD"  th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                      		<input type="time" class="myCalInput" name="bandCalendarOptionDayT" id="bandCalendarOptionDayT" value="12:00">
							<input type="hidden" name="bandCalendarOptionDay" id="bandCalendarOptionDay">
						</div>
	                </div>
	                <!--================ 참석여부 끝 =================-->
	            </div>
                <button type="button" id="calBtn" class="button_hover2"  style="margin:0 auto">전송</button>
			</div>
			<a class="modal_close_btn hoverBtn" id="modal_close_btn">닫기</a>
		</div>
<!--==캘린더 모달창 ==-->
		</form>	
		</article>
	</div>
</div>
<!-- 서머노트를 위해 추가해야할 부분 -->
<script th:inline="javascript">
/*<![CDATA[*/
var header = /*[[${_csrf.headerName}]]
var token = [[${_csrf.token}]]*/
/*]]>*/
console.log(header);
console.log(token);
 //보드옵션리스트 저장
 //초기 보드 저장
$(function(){
	var bandLeaderid = $('#bandLeaderid').val();
	var userId = $('#userId').val();
	$(document).ready(function() {
		//여기 아래 부분
		$('#summernote').summernote({
			  height: 330,                 // 에디터 높이
			  minHeight: null,             // 최소 높이
			  maxHeight: null,              // 최대 높이
			  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
			  lang: "ko-KR",					// 한글 설정
			  placeholder: '내용을 입력하세요',	//placeholder 설정
			  callbacks: {
		          onImageUpload : function(files, editor, welEditable){
		        	  //파일용량체크
		        	  for(var i = files.length -1; i >= 0; i--) {
		        		  if(files[i].siza > 1024*1024*50){
		        			  alert("이미지는 50MB이하만 첨부 가능합니다.");
		        			  return;
		        		  }
		        	  }
		                // 파일 업로드(다중업로드를 위해 반복문 사용)
		                for (var i = files.length - 1; i >= 0; i--) {
		                    uploadSummernoteImageFile(files[i], this);
		                    }
		                },
		                onPaste: function (e) {
							var clipboardData = e.originalEvent.clipboardData;
							if (clipboardData && clipboardData.items && clipboardData.items.length) {
								var item = clipboardData.items[0];
								if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
									e.preventDefault();
								}
							}
						}
		            } 
		});
		$('.summernote').summernote({
			  toolbar: [
				    // [groupName, [list of button]]
				    ['fontname', ['fontname']],
				    ['fontsize', ['fontsize']],
				    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
				    ['color', ['forecolor','color']],
				    ['table', ['table']],
				    ['para', ['ul', 'ol', 'paragraph']],
				    ['height', ['height']],
				    ['insert',['picture','link','video']],
				    ['view', ['fullscreen', 'help']]
				  ],
				fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
				fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
		  });
		function uploadSummernoteImageFile(file, el) {
			//let header = $('#headers').attr('name');
			//let token = $('#headers').val();
			console.log(header);
			console.log(token);
	        var data = new FormData();	
	        data.append("file",file);
	            $.ajax({
            	  url: '/own/band/bandGroup/bandBoardInsertImg',
	              type: "POST",
	              enctype: 'multipart/form-data',
	              data: data,
	              cache: false,
	              contentType : false,
	              processData : false,
	              beforeSend: function(xhr){
	                  xhr.setRequestHeader(header,token);
	                },
	              success : function(data) { //data는 url을 가져옴
	            	  		console.log(data);
	                        $(el).summernote('editor.insertImage','/imgView/'+data, data);
	                        
	                        //업로드되는 이미지의 이름을 담기..글 업로드 될 때 이미지DB식별키수정할거임
	                        let imgss = $('#bandBoardDetailNo').val();
	                        console.log(imgss);
	                        imgss += ('#'+data);
	                        $('#bandBoardDetailNo').val(imgss);
	                    },
	                    error : function(e) {
	                        console.log(e);
	                    }
	                });
           }
		//초기화
		makeSelectRe(boardListSave[0].bandBoardRemarks, boardListSave[0].bandLikeOption, boardListSave[0].bandBoardAuth, boardListSave[0].bandContentOption);
	});
	function jsonFn(jsonArray){
		console.log(jsonArray);
	}
	$("div.note-editable").on('drop',function(e){
        for(i=0; i< e.originalEvent.dataTransfer.files.length; i++){
        	uploadSummernoteImageFile(e.originalEvent.dataTransfer.files[i],$("#summernote")[0]);
        }
       e.preventDefault();
  })

	console.log($.summernote.options);
	// 실행시 언어 설정을 한글로 설정 
	//$.summernote.options.lang = 'ko-KR';
	//$.summernote.options.airMode = false;
	// summernote 생성시 사이즈 지정
	//$.summernote.options.width = '90%';
	//$.summernote.options.heigth = '400';
	var a = $("#summernote");
	// 버튼을 추가하기위한 방법
	var buttons = $.summernote.options.buttons;
	// 툴바에 표시할 버튼 넣기
	$.summernote.options.toolbar.push([
		  "Paragraph",
		[
		    "Calendar", // 단락 H1
		    "Vote", // 단락 P 태그
		  ],
	]);
	// -----------------------------------------------
	// 단락 글자 변경 <h1> ~ <h6> - 툴바 버튼 정의
	var Calendar = function (context) {
	var ui = $.summernote.ui;
	var button = ui.button({
	    contents: '<i class="fa fa-pencil"/> 캘린더',
	    tooltip: "캘린더넣기",
	    click: function () {
	    	//이미 일정있는지 확인
	    	if($('#calVote').children().length>0){
	    		alert('이미 등록된 일정이 있습니다.');
	    		return false;
	    	}
	    	//우선 모달창띄우기
	    	modal('my_calendar_modal');
	    },
	  });
	  return button.render();
	};
	// 툴바의 버튼 이벤트 붙이기
	buttons.Calendar = Calendar;
	//  단락 포맷 H1 - 이벤트 버튼 정의
	var Calendar = function(){
	  a.summernote('formatH1');
	};
	// -----------------------------------------------
	// 현재 단락 p 태그로 변경 - 툴바 버튼 정의
	
	//모달
	function modal(id) {
        var zIndex = 9999;
        var modal = document.getElementById(id);
	
        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement('div');
        bg.setAttribute("id", "Div1");
        bg.setStyle({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            // 레이어 색갈은 여기서 바꾸면 됨
            backgroundColor: 'rgba(0,0,0,0.4)'
        });
        document.body.append(bg);
        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        //한번 지워주지 않으면 계속 실행됨
        //modal.querySelector('.modal_close_btn').addEventListener('click', bgRe);
        $('modal').find('.modal_close_btn').on('click', bgRe);
        function bgRe() {
            bg.remove();
            modal.style.display = 'none';
        }
        modal.setStyle({
            position: 'fixed',
            display: 'block',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

            // 시꺼먼 레이어 보다 한칸 위에 보이기
            zIndex: zIndex + 1,

            // div center 정렬
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        });
    }
	//모달끄기
	 $('#modal_close_btn').on('click', function(){
		 console.log('왜 안꺼져');
		 $('#Div1').remove();
		 $('#my_calendar_modal').hide()
	 }); 
	//일정넣기(모달의)버튼 누름
	$('#calBtn').on('click', function(){
	 //끄기
	 let modal = $('#my_calendar_modal');
	 function bgRe() {
            $('#Div1').remove();
            $(modal).hide();
        }
		let calVote = $('#calVote');
		console.log(calVote.children());
		console.log('1') 
		console.log(calVote.children().length)
		if(calVote.children().length>0){
			console.log(' 빠짐');
			bgRe();
			return false;
		}
		if($('#bandCalendarTitle').val()==''||
			 $('#bandCalendarTitle').val()==null||$('#bandCalendarMark').val()==null){
			 alert('일정 제목과 마크색을 입력해주십시오.');
			 return false;
		 }
		//제목
		let title = $('#bandCalendarTitle').val();
		//날짜
		let startDay = new Date($('#bandCalendarStartDay').val());
		let endDay = new Date($('#bandCalendarEndDay').val());
		//년
		let sYear = startDay.getFullYear();
		let eYear = endDay.getFullYear();
		//달
		let sMonth = (1+startDay.getMonth());
		let eMonth = (1+endDay.getMonth());
		//날
		let sDay = startDay.getDate();
		let eDay = endDay.getDate();
		//시간
		let startTime = $('#bandCalendarStartTime').val();
		let endTime = $('#bandCalendarEndTime').val();
		//상세시작시간
		let sTime = (startTime.substr(0, 2) < 12 ? "오전" : "오후")+" "
			sTime += (startTime.substr(0, 2) < 12 ? startTime.substr(0, 2) : startTime.substr(0, 2)-12)+"시 "
			sTime += startTime.substr(3)+"분";
		//상세끝나는시간
		let eTime = (endTime.substr(0, 2) < 12 ? "오전" : "오후")+" " //오전 오후
				 + (endTime.substr(0, 2)< 12 ? endTime.substr(0, 2) : endTime.substr(0, 2)-12)+"시 " //12시간표기
				 + endTime.substr(3)+"분";
		//시작 요일
		let mon = getDayOfWeek($('#bandCalendarStartDay').val());
		//마크색
		let color = $('#bandCalendarMark').val();
	    let cal  = `<div style="width:678px; height:100px; border: 0.3rem solid ${color}; display:flex; justify-content:space-between; margin-bottom: 15px; border-radius:10px; background-color:white" id="calendarModal">`
					cal += `<div style="padding:20px;"><h3 style="margin-bottom:0px; text-align:center">${sDay}</h3>`
					cal += `<p>${mon}</p></div>`
					cal += `<div style="padding:20px;"><h5>${title}</h5>`
					cal += `<p>${sYear}년 ${sMonth}월 ${sDay}일 ${sTime} ~ ${eYear}년 ${eMonth}월 ${eDay}일 ${eTime}</p></div>`
					cal += `<div style="display:flex; flex-direction: column; margin:10px;">`
					cal += `<div style=""><input type="button"id="calUpBtn" value="수정" style=" margin-top:5px;background-color:#6ab0cd; color:white; border:none;"></div>`
					cal += `<div style="margin-top:10px;"><input type="button"id="calDelBtn" value="삭제" style="background-color:#6ab0cd; color:white; border:none;"></div>`
					cal += `</div>`
				cal += `</div>`;
		//밴드캘린더시작일 끝나는 날 히든 값 넣기
		console.log(startDay)
		startDay.setHours(startTime.substr(0, 2));
		startDay.setMinutes(startTime.substr(3));
		console.log(startDay)//여기까진 변환완료
		$('#bandCalendarStart').val(timestamp(startDay));
		console.log('시작일'+$('#bandCalendarStart').val());
		console.log(endDay)
		endDay.setHours(startTime.substr(0, 2));
		endDay.setMinutes(startTime.substr(3));
		console.log(endDay)//여기까진 변환완료
		$('#bandCalendarEnd').val(timestamp(endDay))
		
		//시작일과 종료일 체크
		if($('#bandCalendarStart').val()>$('#bandCalendarEnd').val()){
			 alert('시작일과 종료일이 올바르지 않습니다.');
			 return false;
		}
		//투표일정이 잇다면 넣기
		if($('#bandCalendarOption').prop('checked')){
			let voteDay = new Date($('#bandCalendarOptionDayD').val());
			let voteTime = $('#bandCalendarOptionDayT').val();
			console.log(voteDay);
			console.log(voteTime);
			voteDay.setHours(voteTime.substr(0, 2));
			voteDay.setMinutes(voteTime.substr(3));
			console.log(voteDay);
			$('#bandCalendarOptionDay').val(timestamp(voteDay));
			console.log('마감일'+$('#bandCalendarOptionDay').val());
		}
		calVote.append(cal);
		console.log('3')
        modal.hide();
		
		$('#Div1').remove();
	})
	
//셀렉트박스 배경색
function selectColor(){
    var color = $("#bandCalendarMark option:checked").css("color");
    var bgcolor = $("#bandCalendarMark option:checked").css("background-color");
    $("#bandCalendarMark").css("color",color);		
    $("#bandCalendarMark").css("background-color",bgcolor);	
}		
$("#bandCalendarMark").on('change', function(){
	selectColor();
})	
////////////////////
	 Element.prototype.setStyle = function(styles) {
         for (var k in styles) this.style[k] = styles[k];
         return this;
     };
     $('.note-editing-area').on('click', $('img'), function(e){
			console.log(e.target);
		})
	//요일뽑기
	function getDayOfWeek(날짜문자열){ //ex) getDayOfWeek('2022-06-13')
    	const week = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
    	const dayOfWeek = week[new Date(날짜문자열).getDay()];
    	return dayOfWeek;
	}
	//날짜 컨트롤러에 보낼 포맷
	function timestamp(date){
		let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        hour = hour >= 10 ? hour : '0' + hour;
        minute = minute >= 10 ? minute : '0' + minute;
        second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
	}
	
	//체크박스 클릭시 투표날짜 시간제한
	$('#bandCalendarOption').on('click',function(){
		if($('#bandCalendarOption').prop('checked')){
			$('#checkDate').show();
		} else {
			$('#checkDate').hide();
			//값비우기
			$('#bandCalendarOptionDay').val();
		}
	})
	//위치
	$('#bandCalendarLocation').on('click', function(){
		window.open( "/own/band/map", "Child", "width=1000px, height=500px, top=50%, left=50% ,resizable = no, scrollbars = no" );
	})
/* 	let header = $('#headers').attr('name');
	let token = $('#headers').val(); */
	//글쓰기
	$('#writeBtn').on('click', function(){
		if($('#bandBoardTitle').val()==null||($('#bandBoardTitle').val()).replace(/(\s*)/g, '')==''){
			alert('제목은 비울 수 없습니다.');
			return false;
		}
		console.log($('#frm').serializeObject());
		$.ajax({
			url : '/own/band/bandGroup/bandBoardInsert',
			method : 'post',
			data : $('#frm').serializeObject(),
			dataType : 'json',
			beforeSend: function(xhr){
              xhr.setRequestHeader(header,token);
            }
		}).then( res =>{
			console.log(res);
			if(res.bandBoardDetailNo!=null){
				$('#template').load("/own/band/bandGroup/bandBoardDetail?bandBoardDetailNo="+res.bandBoardDetailNo);
			    window.open('','_self').close();
			} else {
				alert('글쓰기 실패');
			}
		})
	})
	let boardListSave = new Array();
	let board = new Object;
	/*[# th:each="board : ${boardList}"]*/
	board = new Object;
	board.bandBoardOrder = /*[[${board.bandBoardOrder}]]*/
	board.bandBoardName = /*[[${board.bandBoardName}]]*/
	board.bandBoardAuth = /*[[${board.bandBoardAuth}]]*/
	board.bandLikeOption = /*[[${board.bandLikeOption}]]*/
	board.bandContentOption = /*[[${board.bandContentOption}]]*/
	board.bandBoardRemarks = /*[[${board.bandBoardRemarks}]]*/
	board.bandBoardLine = /*[[${board.bandBoardLine}]]*/
	board.bandBoardOptionNo = /*[[${board.bandBoardOptionNo}]]*/
	board.bandNo = /*[[${board.bandNo}]]*/
	board.boardNumber = /*[[${board.boardNumber}]]*/
	boardListSave.push(board);
	/*[/]*/
	console.log(boardListSave+"???");
	//게시판 바꿀 때 말머리 셀렉트박스 달기+ 댓글불능확인
	$('#bandBoardOptionNo').on('change',function(){
		let bandBoardOptionNo = $('#bandBoardOptionNo').val();
		let bandBoardRemarks = '';
		let bandLikeOption = '';
		let bandContentOption = '';
		$(boardListSave).each(function(idx, ele){
			if(ele.bandBoardOptionNo==bandBoardOptionNo){
				bandBoardRemarks = ele.bandBoardRemarks;
				bandLikeOption = ele.bandLikeOption;
				bandBoardAuth = ele.bandBoardAuth;
				bandContentOption = ele.bandContentOption;
			}
		})
		makeSelectRe(bandBoardRemarks, bandLikeOption, bandBoardAuth, bandContentOption);
	})
	//페이지 열릴때 1번게시판말머리로 초기화 + 댓글불능확인
	//말머리 함수
	function makeSelectRe(bandBoardRemarks, bandLikeOption, bandBoardAuth, bandContentOption){
		//우선 비워주고
		let bandRemarks = $('#bandRemarks').empty();
		
		//배열로 자르기
		console.log(bandBoardRemarks);
		if(bandBoardRemarks!=null){
			//마지막 #떼기
			tag = bandBoardRemarks.slice(0, -1);
			let arr = tag.split('#');
			for(let a of arr){
				bandRemarks.append($('<option value='+a+'>'+a+'</option>'))
			}
			console.log(arr);
			
		}
		$('select').niceSelect('update');
		//라디오박스(댓글)
		//만약 댓글작성불가면..
		console.log(bandLikeOption)
		if(bandLikeOption=='BH02'){
			$('input[value=BH01]').prop('disabled', true);
			$('#primary-switchHidden').prop('checked', true);
			$('#primary-switch').prop('checked', false);
			$('#primary-switch').prop('disabled', true);
			console.log($('input[value=BH01]').is(':checked'));
			console.log($('input[value=BH02]').is(':checked'));

		} else if(bandLikeOption=='BH01'){
			$('input[value=BH02]').attr('disabled', false);
			$('input[value="BH01"]').attr('disabled', false);
			
			$('#primary-switch').prop('disabled', false);
			$('#primary-switch').prop('checked', true);
			$('#primary-primary-switchHidden').prop('checked', false);
			console.log($('input[value=BH01]').is(':checked'));
			console.log($('input[value=BH02]').is(':checked'));
		}
		$('#primary-switch').on('click',function(){
        	if($('#primary-switch').prop('checked')){
        		$('#primary-switchHidden').prop('checked',false);
            } else {
            	$('#primary-switchHidden').prop('checked',true);
            }
        })
		
		//밴드장만 작성가능하면...
		let bandLeaderid = $('#bandLeaderid').val();
		let userId = $('#userId').val();
		console.log(bandLeaderid + userId)
		console.log(bandBoardAuth + userId)
		if((bandBoardAuth=='BG01'&&bandLeaderid==userId) || bandBoardAuth=='BG02'){
			$('#writeBtn').show();
			$('#writeBtnAlert').hide();
		} else {
			$('#writeBtn').hide();
			$('#writeBtnAlert').show();
		}
		console.log(bandContentOption)
		$('#summernote').summernote('code', '');
		if(bandContentOption!=null){
			$('#summernote').summernote('code', bandContentOption);
		}
		console.log($('.note-editable'));
		console.log($('.note-editable:eq(0)'));
		$('.note-editable:eq(0)').css('height', '330px');
	}
	//일정수정
	$('#calVote').on('click', $('#calUpBtn'), function(e){
		if(e.target.id=='calUpBtn'){
			$('#calVote').empty();
			//우선 모달창띄우기
	    	modal('my_calendar_modal');
		}
	})
	//일정삭제
	$('#calVote').on('click', $('#calDelBtn'), function(e){
		if(e.target.id=='calDelBtn'){
			$('#calVote').empty();
			$('#modalform').find('input').each(function(){
				$(this).val('');
				//우선 비워주고
				$('#bandCalendarOption').prop('checked', false);
				$('#checkDate').hide();
				$('#bandCalendarStartDay').val(new Date().toISOString().substring(0, 10));
				$('#bandCalendarStartTime').val(new Date().toISOString().slice(11, 16));
				$('#bandCalendarEndDay').val(new Date().toISOString().substring(0, 10));
				$('#bandCalendarEndTime').val(new Date().toISOString().slice(11, 16));
				$('#bandCalendarOptionDayD').val(new Date().toISOString().substring(0, 10));
				$('#bandCalendarOptionDayT').val(new Date().toISOString().slice(11, 16));
			})
		}
	})
	//셀렉트박스 배경색
	function selectColor(){
	    var color = $("#bandCalendarMark option:checked").css("color");
	    var bgcolor = $("#bandCalendarMark option:checked").css("background-color");
	    $(".bandCalendarMark").css("color",color);		
	    $(".bandCalendarMark").css("background-color",bgcolor);	
	}		
	$("#bandCalendarMark").on('change', function(){
		selectColor();
	})	
})
$(document).ready(function () {
       $('html, body').animate({
           scrollTop: $('#template').offset().top
           
       }, 'slow'); //slow
       $('select').niceSelect();
   });
</script>

</div>