<html xmlns:th="http://www.thymeleaf.org"lang="ko">
    <head>
    	<!-- jquery -->
    	<script type="text/javascript" src="/css/band/js/jquery-3.2.1.js"></script>
    	<script src="/css/band/js/json.min.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/css/band/image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!--어썸폰트 무료?-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
      	
		img {
			border-radius: 10px;
		}
		img:hover{
			border:#BFBFBF 2px solid;
			cursor:pointer;
		}
		.aaimg {
			padding: 5px;
			border-radius: 10px;
			height:100px;
			width:100px;
			border-radius: 15px;
		}
        #alertTag2.vibration{
          animation: vibration 0.1s infinite;
        }
        #alertTag.vibration{
          animation: vibration 0.1s infinite;
        }
        
      </style>
    </head>
    <body>
        <!--================위에  Area =================-->
        <section class="banner_area">
            <div class="booking_table d_flex align-items-center" style="min-height: 200px;">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            	<div><h2 class="typo-list" style="color:white">나의 설정</h2></div>
            </div>
        </section>
        <!--================위에 Area 끝=================-->
        
        <!--================ 폼 Area  =================-->
		<div id="template">    
			<div style="flex-grow:3; width: 740px">
				<article style="border: 1px solid #eeeeee;padding:20px 0px 50px 70px; ">
					<div class="container">
					<!--================폼 시작 Area =================-->      
	        			<form role="form"  autocomplete="off" style="width: 80%;"enctype="multipart/form-data" name="frm" id="frm">
					         	<input type="hidden" th:name="${_csrf.parameterName}"th:value="${_csrf.token}">
					         		<input type="hidden" th:value="${session.userId}" name="userId" id="userId"/>
					         		<input type="hidden" th:value="${member.bandMemberNo}" name="bandMemberNo" id="bandMemberNo"/>
					         		<div class="imgArea">
					<!--================이미지 Area =================-->
										<div>
											<h4 class="typo-list" style="padding-bottom: 15px">대표 이미지</h4>  
										</div>
							            <div>
							                <div  style="flex-grow: 3; display: flex; justify-content:space-between; "class="imgss">
						                		<div style="flex-grow: 1; width: 150x; height: 150px;">
						                			<img th:if="${member.detailImg}" th:src="|/imgView/${member.detailImg.mediaServerFile}|" id="inputImage" name="inputImage" alt="" style="flex-grow: 1; width: 150x; height: 150px;">
						                		</div>
						                		<!--================ 이름 =================-->
								                <div style="display: inline-block; width: 70%; padding:10px 0px 0px 50px;flex-grow: 3; display: flex; flex-direction: column;">
								                  <h6 class="typo-list" style="float: left; padding-left: 10px;">가치 활동명</h6>
								                  <div class="mt-10">
								                    <input type="text" th:value="${member.bandNickname}" id="bandNickname" name="bandNickname" maxlength="10" placeholder="가치 활동명 입력" onfocus="this.placeholder = ''" onblur="this.placeholder = '가치 활동명'" required class="single-input" style="height: 50px;font-size: 20px;width: 88%; display: block; float: left;">
								                  </div>
								                  <b><small style="display:inline; width: 10%; float: right" id="nickNamelength">4/10</small></b>
								                  <div id="hiddenBox" style="display: none"><b style="padding-left: 10px;" id="hiddenBoxText">가입가능한 닉네임입니다</b></div>
								                </div>
								                <!--================ 이름 끝 =================-->
							                </div>
							            </div>
							            <input type="file" id="attachFile" multiple="multiple" name="attachFile" style="display: none" onchange="imgFnc()" accept="image/gif, image/jpeg, image/png">
					<!--================이미지 Area 끝 =================-->
					<hr></div><!-- 이미지끝남 -->
									<div class="insertArea" style="margin:0px auto;width: 110%; padding: 10px 15px 80px">
			        <!--================작성 Area 시작 =================-->
							            <div style="display: flex; flex-wrap: wrap; flex-direction: column;justify-content: flex-end; flex-grow: 2;">
							                <!--================ 소개 =================-->
							                <div style="display: inline-block; width: 90%;  display: flex; flex-direction: column;">
							                  <h6 class="typo-list" style="float: left;margin-top: 2px; ">소개말</h6>
							                  <div class="mt-10">
							                    <textarea id="bandMemberIntro" name="bandMemberIntro" maxlength="300" placeholder="소개말을 입력" onfocus="this.placeholder = ''" onblur="this.placeholder = '소개말을 입력'" required class="single-input" style=" display: block; float: left;flex-grow: 3;">[[${member.bandMemberIntro}]]</textarea>
							                  </div>
							                  <b><small style="float: right; display: block;" id="introlength">12/300</small></b>
							                </div>
							                <!--================ 소개 끝 =================-->
							                <div  style="margin:0px auto; display: flex; justify-content: space-between; align-content:flex-start;">
									    	</div><!-- 이름/소개 끝남 -->
									    </div>
									    <div>
						                      <h6 class="typo-list">개인정보 공개범위</h6>
						                      <div class="d-flex">
						                        <label for="bandMemberGenderOpen" style="top: 0px; margin-right: 10px;">성별</label>
						                        <div class="" style="margin-top: 3px">
						                          <input type="checkbox" id="bandMemberGenderOpen" name="bandMemberGenderOpen" value="BM01" th:checked="${member.bandMemberGenderOpen=='BM01'}">
						                        </div>
						                       </div>
						                        <div class="d-flex">
						                        <label for="bandMemberAgeOpen" style="top: 0px; margin-right: 10px;">나이</label>
						                        <div style="margin-top: 3px">
						                          <input type="checkbox" id="bandMemberAgeOpen" name="bandMemberAgeOpen" value="BO01" th:checked="${member.bandMemberAgeOpen=='BO01'}">
						                        </div>
						                       </div>
						                        <div class="d-flex">
						                        <label for="bandMemberBirthOpen" style="top: 0px; margin-right: 10px;">생일</label>
						                        <div style="margin-top: 3px">
						                          <input type="checkbox" id="bandMemberBirthOpen" name="bandMemberBirthOpen" value="BN01" th:checked="${member.bandMemberBirthOpen=='BN01'}">
						                        </div>
						                       </div>
					                     </div>
						<!--================작성 Area =================-->
						<button type="button" id="submitBtn" disabled class="genric-btn primary circle arrow" style="font-size: 20px; margin: 0 auto; display: flex">내 설정 변경</button>
									</div>
									<!--================hidden 체크박스 Area =================-->
									<input style="display: none;" type="checkbox" id="bandMemberGenderOpenHi" name="bandMemberGenderOpen" value="BM02" th:checked="${member.bandMemberGenderOpen=='BM02'}">
									<input style="display: none;" type="checkbox" id="bandMemberAgeOpenHi" name="bandMemberAgeOpen" value="BO02" th:checked="${member.bandMemberAgeOpen=='BO02'}">
									<input style="display: none;" type="checkbox" id="bandMemberBirthOpenHi" name="bandMemberBirthOpen" value="BN02" th:checked="${member.bandMemberBirthOpen=='BN02'}">
									<!--================hidden 체크박스 Area =================-->
						            </form>
					<!--================폼 끝 Area =================--> 
					</div>
				</article>
			</div>
		</div>
        <!--================ 밴드생성 끝 Area  =================-->
        
        <!-- Optional JavaScript -->
        <script>
        /*<![CDATA[*/
        var header = '[[${_csrf.headerName}]]';
        var token = '[[${_csrf.token}]]';
           console.log(header);
           console.log(token);
         /*]]>*/
        // 특수문자 정규식 변수(공백 미포함)
        var replaceChar = /[~!@\#$%^&*\()\-=+_'\;<>\/.\`:\"\\,\[\]?|{}]/gi;
 		// 완성형 아닌 한글 정규식		
        var replaceNotFullKorean = /[ㄱ-ㅎㅏ-ㅣ]/gi;
        $(function(){
        	//밴드번호
        	let bandNo = $('#bandNo').val();
        	
        	//동적 체크박스
        	//젠더
        	//연령 체크박스 유무에 따라 밸류값변하게+창생기게
	        $('#bandMemberGenderOpen').on('click',function(){
	        	if($('#bandMemberGenderOpen').prop('checked')){
	            	$('#bandMemberGenderOpenHi').prop('checked',false);
	            } else {
	            	$('#bandMemberGenderOpenHi').prop('checked',true);
	            }
	        })
        	//나이
        	 $('#bandMemberAgeOpen').on('click',function(){
	        	if($('#bandMemberAgeOpen').prop('checked')){
	            	$('#bandMemberAgeOpenHi').prop('checked',false);
	            } else {
	            	$('#bandMemberAgeOpenHi').prop('checked',true);
	            }
	        })
        	//생일
        	 $('#bandMemberBirthOpen').on('click',function(){
	        	if($('#bandMemberBirthOpen').prop('checked')){
	            	$('#bandMemberBirthOpenHi').prop('checked',false);
	            } else {
	            	$('#bandMemberBirthOpenHi').prop('checked',true);
	            }
	        })
            //별명 중복체크...
            $('#bandNickname').on('change', function(){
            	nickNameChk();
            })
            //닉네임 공백막기 글자수
             $('#bandNickname').keyup(function(e){
            	//닉네임 공백막기
            	 if($(this).val().search(/\s/) != -1){ //공백이 있나 체크 후
           			$(this).val( $(this).val().replace(/ /gi, '') );
           			$('#hiddenBox').show();
           			$('#hiddenBoxText').text('공백입력은 불가능합니다.');
            	 }
            	//글자수 체크
            	 chkNickLength();
            })
          //닉네임 글자수 체크  
        	function chkNickLength(){
        		$('#nickNamelength').text($('#bandNickname').val().length+'/10');
        	}
          //인트로  글자수
            $('#bandMemberIntro').keyup(function(e){
           	//글자수 체크
           	 chkIntroLength();
           })
            //인트로  글자수
           function chkIntroLength(){
        		$('#introlength').text($('#bandMemberIntro').val().length+'/300');
        	}
            //별명 중복체크(자동)
            function nickNameChk(){
            	let nickName = $('#bandNickname').val();
            	$.ajax({
        			url : '/own/band/bandGroup/duplicateChk?bandNo='+bandNo+'&nickName='+nickName,
        			method : 'get',
        		}).then( res =>{
        			console.log(res);
        			if(res>0){
        				$('#hiddenBoxText').text('중복된 닉네임입니다. 다른 닉네임을 사용해주십시오.');
        				$('#hiddenBox').show();
        				$('#submitBtn').prop('disabled', true);
        				$('#submitBtn').css('backgroundColor', '#495057');
        			} else if(nickName == '') {
        				$('#hiddenBoxText').text('닉네임을 입력해주세요.');
        				$('#hiddenBox').show();
        				$('#submitBtn').prop('disabled', true);
        				$('#submitBtn').css('backgroundColor', '#495057');
        			} else if(nickName.match(replaceChar)||nickName.match(replaceNotFullKorean)){
        				$('#hiddenBoxText').text('특수문자를 제외하고 올바른 문자를 입력해주십시오.');
        				$('#hiddenBox').show();
        				$('#submitBtn').prop('disabled', true);
        				$('#submitBtn').css('backgroundColor', '#495057');
        			} else {
        				$('#hiddenBoxText').text('사용가능한 닉네임입니다.');
        				$('#hiddenBox').show();
        				$('#submitBtn').prop('disabled', false);
        				$('#submitBtn').css('backgroundColor', '#F3C300');
        			}
        		})
            }
            //디폴트닉네임체크
            nickNameChk();
            //글자수체크
            chkNickLength();
            //인트로 글자수 체크
            chkIntroLength();
            //수정
            $('#submitBtn').on('click', function(){
            	console.log(JSON.stringify($('#frm').serializeObject()));
            	console.log(new FormData(frm));
            	console.log(JSON.stringify(new FormData(frm)));
            	console.log($('#attachFile'));
            	$.ajax({
                	  url: '/own/band/bandGroup/myOptionUpdate',
      	              type: "put",
      	              enctype: 'multipart/form-data',
      	              data: new FormData(frm),
	      	          cache: false,
	      	          contentType: false,
	      	          processData: false,
	      	          dataType:'json',
      	              beforeSend: function(xhr){
      	                  xhr.setRequestHeader(header,token);
      	                },
      	              success : function(data) { //data는 url을 가져옴
      		            	  	if(data>0){
      		            	  		alert('수정완료');
      		            	  	} else {
      		            	  		alert('수정실패');
      		            	  	}
      	                    },
      	                    error : function(e) {
      	                        console.log(e);
      	                    }
      	                });
            })
        })
         //이미지삽임
            $('.imgss').on('click', '#inputImage', function(){
            	$('#attachFile').click();
            })
            //이미지첨부 눌렀을 때
            function imgFnc(){
            	//파일
            	let imgFile = $('#attachFile').val();
            	//확장자제한
            	let fileForm = /(.*?)\.(jpg|jpeg|png)$/;
            	//50mb로 제한
            	let maxSize = 100 * 1024 * 1024;
            	//특수문자 제한
            	let pattern =  /[\{\}\/?,;:|*~`!^\+<>@\#$%&\\\=\'\"]/gi;
            	//파일크기제한
            	let fileSize;
    			
            	if($('#attachFile').val() == "") {
            		alert("첨부파일은 필수!");
            	    return;
            	}
            	//파일명과 사이즈를 뽑기위한..제이쿼리를 모르겠음 이건
            	let fileName = document.getElementById("attachFile").files[0]
            	//파일이 비었다면
            	if(imgFile != "" && imgFile != null) {
            		//input=file의 files 속성가져와서...
            		fileSize = fileName.size;
            	    if(!imgFile.match(fileForm)) {
            	    	alert("이미지 파일만 업로드 가능");
            	        return;
            	    } else if(fileSize > maxSize) {
            	    	alert("파일 사이즈는 100MB까지 가능");
            	        return;
            	    } else if(pattern.test(fileName.name)){
            	    	alert("파일 이름 특수문자 nono");
            	        return;
            	    }
            	}
            }
            //이미지 업로드 시 미리보기createImage
            $('#attachFile').on('change', function(e){
            	let file = e.target.files[0];
            	let reader = new FileReader();
            	reader.onload = function(e){
            		$('#inputImage').attr('src', e.target.result);
            		//기존이미지 누를시..
            		$('input[name=mediaServerFile]').val('sample')
            	}
            	reader.readAsDataURL(file);
            	
            })
        </script>
    </body>
</html>