<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      lang="ko">
    <head>
   		<!-- jquery -->
    	<script type="text/javascript" src="/band/js/jquery-3.2.1.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/band/css/bootstrap.css">
        <link rel="stylesheet" href="/band/vendors/linericon/style.css">
        <link rel="stylesheet" href="/band/css/font-awesome.min.css">
        <link rel="stylesheet" href="/band/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/band/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/band/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/band/css/style.css">
        <link rel="stylesheet" href="/band/css/responsive.css">
        <!--여기부터 이어붙임-->
        <link rel="stylesheet" href="/band/2nd/css/flaticon.css">
        <link rel="stylesheet" href="/band/2nd/css/icomoon.css">
        <link rel="stylesheet" href="/band/2nd/css/style.css">
    </head>
    <body>
    <div layout:fragment="content">
        <!--================MY 가치 중 검색 Area =================-->
        <div>
        	<h5> 생성실패 </h5>
        </div>
        <script src="/band/js/popper.js"></script>
        <script src="/band/js/bootstrap.min.js"></script>
        <script src="/band/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/band/js/jquery.ajaxchimp.min.js"></script>
        <script src="/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="/band/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="/band/js/mail-script.js"></script>
        <script src="/band/js/stellar.js"></script>
        <script src="/band/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/band/js/custom.js"></script>
    </div>
    </body>
</html>