<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/band_layout}"
      lang="ko">
    <head>
    	<!-- jquery -->
    	<script type="text/javascript" src="/css/band/js/jquery-3.2.1.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/css/band/image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/band/css/bootstrap.css">
        <link rel="stylesheet" href="/css/band/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/band/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/css/band/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/band/css/style.css">
        <link rel="stylesheet" href="/css/band/css/responsive.css">
        <style>
        	
			.btn:hover{
			    color:#fff;
			}
			
			.input-text:focus{
			    box-shadow: 0px 0px 0px;
			    border-color:#f8c146;
			    outline: 0px;
			}
			
			.form-control {
			    border: 1px solid #f8c146;
			}
        </style>
    </head>
    <body>
   	<div layout:fragment="content">
        <!--================ 배너=================-->
        <section class="banner_area">
            <div class="booking_table  "  style="min-height: 300px;">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
							<div class="hotel_booking_area position" >
		<!--================ 검색================ -->
		                <div class="container">
		                    <div class="hotel_booking_table" style="background-color:rgba(0, 0, 0, 0.3);">
		                        <div class="input-group mb-3">
								  <input type="text" class="form-control input-text" name="bandName" placeholder="오운 가치 검색" aria-label="Recipient's username" aria-describedby="basic-addon2">
								  <div class="input-group-append">
								    <button class="btn btn-outline-warning btn-lg searchBtn" type="button"><i class="fa fa-search"></i></button>
								  </div>
								</div>
		                    </div>
		                </div>
		<!-- ================검색 끝================ -->
		            </div>
				</div>
            </div>
        </section>
        <!--================배너 끝=================-->
        
        <!--================ 내 가치 Area  =================-->
        <!--================================= 유저아이디 히든  ==================================-->
        <input type="hidden" class="hiddenUser" th:value="${session.loginUser.userId}">

        <section class="accomodation_area section_gap"  style="padding-top: 40px">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">My 가치</h2>
                </div>
                <div class="row mb_30">
        <!--================ 가치생성버튼  =================-->
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                            	<a href="/own/band/bandCreate">
                                	<img src="/css/band/image/room1.jpg" alt="">
                                </a>
                            </div>
                            <h4 class="sec_h4"><a href="/own/band/bandCreate">가치생성</a></h4>
                            <h5><small></small></h5>
                        </div>
                    </div>
        <!--================ 가치생성버튼 끝=================-->
        <!--================ 가입중인 가치 중 최신글 있는 가치 3개=================-->
                    <div class="col-lg-3 col-sm-6" th:each="band, bandStat :${bandList}" th:if="${bandStat.index<3}">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                            	<a th:href="|/own/band/bandGroup?bandNo=${band.bandNo}|">
                                	<img th:src="|/imgView/${band.bandMainImg.mediaServerFile}|" alt="">
                                </a>
                            </div>
                            <h4 class="sec_h4"><a th:href="|/own/band/bandGroup?bandNo=${band.bandNo}|"th:text="${band.bandName}"></a></h4>
                            <h5><small>멤버 [[${band.memcount}]]</small></h5>
                        </div>
                    </div>
        <!--================ 가입중인 가치 중 최신글 있는 가치 3개 끝=================-->
                </div>
                <div style="float: right; display: block; margin-top: 30px;">
                    <a th:if="${!#lists.isEmpty(bandList)} " href="/own/band/myBand"><h4>My 가치 전부 보기>></h4></a>
                    <h4 th:if="${#lists.isEmpty(bandList)}"><a href="/own/band/bandCreate">지금 당장 시작하세요</a></h4>
                </div>
            </div>
        </section>
        <!--================ 내 가치 끝 Area  =================-->
        
        <!--================ 가치 추천 Area  =================-->
        <section class="facilities_area section_gap">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
            </div>
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_w">이런 가치는 어떤가요</h2>
                    <p style="visibility: hidden;">Who are in extremely love with eco friendly system.</p>
                    <div class="hotel_booking_area position" >
                <div class="container">
                    <div class="hotel_booking_table" style="background-color:rgba(0, 0, 0, 0.3);">
                        <div class="col-md-3" style="visibility: hidden;">
                            <h2>운동 종목</h2>
                        </div>
                        <div class="col-md-9" >
                            <div class="boking_table">
                                <div class="row">
                                	<div class="col-md-4">
                                        <div class="input-group">
                                            <select class="recom_exercise form-select" th:value="*{exercise}">
                                                <option value="all">관심운동..전체</option>
                                                <option th:each="exe : ${exercise}" th:value="${exe.exersubNo}" th:text="${exe.exersubName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <select class="recom_location form-select" th:value="*{location}">
                                            	<option value="all">관심지역..전체</option>
                                                <option th:each="loc : ${location}" th:value="${loc.locCode}" th:text="${loc.locCity}" th:selected="${loc.locCode} ==${user.bandLocation }"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <button type="button" class="book_now_btn button_hover">추천 위치 설정</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
                <div class="row mb_30" id="recom">
                    <!-- <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="/band/image/room1.jpg" alt="">
                            </div>
                            <div class="tags recomTag" >
                                <a href="#" class="button_hover tag_btn" style="color: wheat;">축구</a>
                                <a href="#" class="button_hover tag_btn" style="color: wheat;">대구광역시</a>
                            </div>
                            <a href="#"><h4 class="sec_h4" style="color: white;">소소필라테스</h4></a>
                            <h5><small></small></h5>
                        </div> -->
                    </div>
                <div style="float: right; margin-top: 30px;color: white;">
                    <a href="/own/band/bandRec"><h4 style="color: white;">추천 더보기>></h4></h4></a>
                </div>
            </div>
        </section>
        <!--================ 가치 추천 끝 Area  =================-->
        <script>
            //밴드추천붙이기
            //운동추천붙이기
            //지역설정붙이기
            //추천더보기
            //우선 첫화면이니까 아이디만 보내서 추천할거 받아오기..
            //이걸 함수로 만들어서 셀렉박스변경시에도 사용되게..
            //셀렉박스에서 값 받아오기(운동과 지역)
            
            let recommFnc = function(){
            	let exe = $('.recom_exercise').val();
                let loc = $('.recom_location').val()+'-';
                let id = $('.hiddenUser').val()+'-';
                userId = id+loc+exe;
                console.log(id+loc+exe);
                $.ajax({
                    url:'/own/band/recom/'+userId,
                    dataType: 'json',
                    method: 'get',
                    contentType : "application/text; charset=utf-8;"
                }).then(result => {
                        console.log(result);
                        let div = $('#recom');
                        //하위 요소 전부 지우기
                        $(div).empty();
                        result.forEach(element => {
                            $(div).append(maketag(element));
                        });
                        //만약 결과값이 없으면...
                        if(result.length==0){
                            let element = {bandCategory:'',bandLocation:'',bandName:'검색되는 값이없어요..<br>가치만들기>></br>'};
                            $(div).append(maketag(element));
                            //태그지우기
                            $('.recomTag').remove();
                        }
                    });
            }
            //추천 만들기
            function maketag(element){  //href="/own/band/bandGroup?bandNo=${element.bandNo}"
                let tag = `<div class="col-lg-3 col-sm-6">
                                <div class="accomodation_item text-center">
                                    <div class="hotel_img">
                                    	<a href="/own/band/bandGroup?bandNo=${element.bandNo}">
                                    		<img src="/imgView/${element.bandMainImg.mediaServerFile}"alt="">
                                    	</a>
                                    </div>
                                    <div class="tags recomTag" >
                                        <a href="#" class="button_hover tag_btn" style="color: wheat;">${element.bandCategory}</a>
                                        <a href="#" class="button_hover tag_btn" style="color: wheat;">${element.bandLocation}</a>
                                    </div>
                                    <a href="/own/band/bandGroup?bandNo=${element.bandNo}"><h4 class="sec_h4" style="color: white;">${element.bandName}</h4></a>
                                    <h5><small></small></h5>
                                </div>
                            </div>`
                return tag;
            }
            //페이지로드시 추천밴드
            recommFnc();
            //추천밴드 중 지역
            $('.recom_location').on('change', function(){
                recommFnc();
            })
            //추천밴드 중 종목
            $('.recom_exercise').on('change', function(){
                recommFnc();
            })
            //추천위치설정하기
            $('.book_now_btn').on('click', function(){
                let bandLocation = $('.recom_location').val();
                let userId = $('.hiddenUser').val();
                console.log(bandLocation);
                //리퀘스트바디가 있으니 아래를 json.stringify..
                $.ajax({
                    url:'/own/band/up',
                    method: 'put',
                    data: JSON.stringify({bandLocation, userId}),
                    contentType: "application/json;"
                }).then( res => {
                    console.log(res);
                    alert('지역설정변경')
                })
            })
            
            //검색버튼
            $('.searchBtn').on('click', function(){
            	window.location = '/own/band/bandSearch?bandName='+$('input[name="bandName"]').val();
            })
        </script>
        <!-- <script src="/css/band/js/popper.js"></script>
        <script src="/css/band/js/bootstrap.min.js"></script> -->
        <script src="/css/band/vendors/owl-carousel/owl.carousel.min.js"></script>
       <!--  <script src="/css/band/js/jquery.ajaxchimp.min.js"></script> -->
        <script src="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="/css/band/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="/css/band/js/mail-script.js"></script>
        <script src="/css/band/js/stellar.js"></script>
        <script src="/css/band/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/css/band/js/custom.js"></script>
    </div>
    </body>
</html>