<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      lang="ko">
    <head>
        <script src="/css/band/js/jquery-3.2.1.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/css/band/image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/band/css/bootstrap.css">
        <link rel="stylesheet" href="/css/band/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/band/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/css/band/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/band/css/style.css">
        <link rel="stylesheet" href="/css/band/css/responsive.css">
        <style type="text/css">
        </style>
    </head>
    <body>
    <div layout:fragment="content">
        <!--================Header Area =================-->
        <header><aside class="single_sidebar_widget search_widget">
            <div class="br"></div>
        </aside>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="/css/band/image/Logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="index.html">가치 홈</a></li> 
                            <li class="nav-item"><a class="nav-link" href="about.html">앨범</a></li>
                            <li class="nav-item"><a class="nav-link" href="accomodation.html">일정</a></li>
                            <li class="nav-item"><a class="nav-link" href="gallery.html">멤버</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area" style="padding-top: 0px">
            <div class="container" style="display: flex;">
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <div style="flex-grow:1; width: 260px">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget author_widget">
                                <div class="hotel_img">
                                    <img src="/css/band/image/room2.jpg" alt=""  style="width: 200px; height: 200px;">
                                </div>
                                <h3 th:text="${band.bandName}" class="typo-list" style="display:inline;"></h3>
                                <hr>
                                <div>
                                    <b><i class="fa fa-user"></i>멤버 <span th:text="${band.memcount}"></span></b>
                                    <b><i class="fa fa-plus-square-o" aria-hidden="true"></i> 초대</b>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span th:text="${band.bandLocation}"></span></p>
                                    <p><i class="fa fa-futbol-o" aria-hidden="true"></i> <span th:text="${band.bandCategory}"></span></p>
                                </div>
                                <hr>
                                <div>
                                    <p><i class="fa fa-cog" aria-hidden="true"></i> 가치 설정</p>
                                </div>
                                <hr>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" id="writeBoard">글쓰기</h4>
                                <div class="d-flex justify-content-between" id="totalBoard">
                                    <p><i class="fa fa-file-text" style="padding-right: 7px"></i>전체 글보기</p>
                                    <p th:text="${boardCount}">2538</p>
                                </div>
                                <hr style="margin-bottom: 20px; margin-top: 0px;">
                                <ul class="list_style cat-list">
                                    <li th:each="board: ${boardList}">
                                    	<p th:if="${board.bandBoardLine}!=0"><i class="fa fa-file-text" style="padding-right: 7px"></i>[[${board.bandBoardName}]]</p>
                                    	<b th:if="${board.bandBoardLine}==0" th:text="${board.bandBoardName}"></b>
                                    </li>											
                                </ul>
                                <div class="br"></div>
                            </aside>
                            <aside class="single-sidebar-widget tag_cloud_widget">
                                <h4 class="widget_title">가치 태그</h4>
                            	<ul class="list_style">
                                    <li th:if="${keyword != null}" th:each="tag: ${keyword}">
                                    	<a href="#"  th:text="${tag}"></a>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                    <div style="flex-grow:3; width: 740px">
                    	<input type="hidden" th:value="${band.bandNo}" id="bandNumber">
	  <!-- ================== 여기붙음================== -->                    	
                        <div id="mainTemplate">
                        	<div>
	                            <article style="border: 1px solid #eeeeee;padding:30px; ">
	                                <div class="input-group">
	                                    <input type="text" class="form-control" placeholder="Search Posts">
	                                    <span class="input-group-btn">
	                                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
	                                    </span>
	                                </div>
	                            </article>
	                            <div id="articleArea">
				               </div>
			               </div>
                        </div>
      <!-- ================== 여기붙음================== -->
                    </div>
                    <div style="flex-grow:1; width: 260px">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">다가오는 일정</h3>
                                <div class="media post_item">
                                    <img src="/css/band/image/blog/post1.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>Space The Final Frontier</h3></a>
                                        <p>02 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="/css/band/image/blog/post2.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>The Amazing Hubble</h3></a>
                                        <p>02 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="/css/band/image/blog/post3.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>Astronomy Or Astrology</h3></a>
                                        <p>03 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="/css/band/image/blog/post4.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>Asteroids telescope</h3></a>
                                        <p>01 Hours ago</p>
                                    </div>
                                </div>
                                <div class="br"></div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
        
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Agency</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="/css/band/image/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="/css/band/image/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/css/band/js/popper.js"></script>
        <script src="/css/band/js/bootstrap.min.js"></script>
        <script src="/css/band/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/css/band/js/jquery.ajaxchimp.min.js"></script>
        <script src="/css/band/js/mail-script.js"></script>
        <script src="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="/css/band/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="/css/band/js/mail-script.js"></script>
        <script src="/css/band/js/stellar.js"></script>
        <script src="/css/band/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/css/band/js/custom.js"></script>
        <script th:inline="javascript">
        	//더보기 페이지용
         	//1페이지
	        let bandNo = $('#bandNumber').val();
	        let articleArea = $('#articleArea');
	        let multi = '';
		    function makeBoard(bandNo, bandBoardDetailNo){
	        	$.ajax({
		            url:'/own/band/bandGroup/fiveBoard?bandNo='+bandNo+'&bandBoardDetailNo='+bandBoardDetailNo,
		            dataType: 'json',
		            method: 'get',
		            contentType : "application/text; charset=utf-8;"
		        }).then(result => {
		                console.log(result);
		                //순환시작
		                //버튼에 붙일 게시판 끝번호(페이징용)
	                	let bandBoardDetailNo = ''
		                $(result).each(function(idx, ele){
		                	//likeTAG
		                	let likeTag = '';
		                	if(ele.likeList['userId']!=null&&ele.likeList['userId']!=""){
		                		likeTag = `<i class="fa fa-heart" aria-hidden="true"></i>`
		                	} else {
		                		likeTag = `<i class="fa fa-heartbeat" aria-hidden="true"></i>`
		                	}
		                	
		                    let articleTag = `<article style="border: 1px solid #eeeeee;padding:30px; ">
							                    <div style="display: flex; flex-direction: column;">
							                    <div>
							                        <div  style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                            <img class="rounded-circle" src="/css/band/image/blog/author.png" alt="" style="width: 70px; height: 70px;">
							                            <div  style="display: block; width: 300px; padding: 10px;">
							                                <ul class="blog_meta list_style" style="display: inline-block;">
							                                    <li style="display: block;">${ele.bandBoardWriter}</li>
							                                    <li style="display: block;">${ele.bandBoardDate}</li>
							                                </ul>
							                            </div>
							                        </div>
							                        
							                        <h4>${ele.bandBoardTitle}</h4>
							                        <img src="/imgView/${ele.bandImg.mediaServerFile}" alt="" style="width: 678px; height: 280px;">
							                        <div class="blog_details">
							                            <p>${ele.bandBoardContent}</p>
							                        </div>
							                    </div>
							                    <a href="#" class="view_btn button_hover">View More</a>
							                    <div class="" style="display: inline-flex; justify-content: space-between; padding-top: 20px;">
							                        <div>
							                             ${likeTag}
							                        	<span>${ele.likeList["likeCount"]}</span>
							                        </div>
							                        <div><i class="lnr lnr-bubble"></i><span></span>${ele.reply}</div>
							                    </div>
							                </div>
							            </article>`;
			            
				                $(articleArea).append(articleTag);
				                //페이지 버툰에 게시판 끝 숫자달기
				                bandBoardDetailNo = ele.bandBoardDetailNo;
			                })
			                if(result.length==5){
				                //more 누르면 나오는 페이지
				            	let btnTag = `<nav class="blog-pagination justify-content-center d-flex" id="multiId">
							                <a class="view_btn button_hover" id="nextBtn" style="width: 555px;">View More</a>
							                <input type="hidden" id="multivalue" value=${bandBoardDetailNo}>
							                </nav>`
							              
				                $(articleArea).append(btnTag);
				            	console.log('버튼 value 붙은거 확인'+$('#multivalue').val());           
			                } else {
			                	let endtag = `<div><h5>끝입니다</h5></div>`
			                	$(articleArea).append(endtag);
			                }
		            	});
		    }
		    //처음 5개 불러옴
		    makeBoard(bandNo, "");
                
		    //버튼누르면 more
		    $('#articleArea').on('click', '#nextBtn', function(){
		    	let mul = $('#multivalue').val();
		    	$('#multiId').empty();
		    	$('#multiId').remove();
        		console.log('누른 멀티'+mul)
        		makeBoard(bandNo, mul);
        	})
        	
        	
       	//페이지 이동
    	$('#totalBoard').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/bandBoardList?bandNo="+bandNo);
    	})
    	//글쓰기
    	$('#writeBoard').on('click', function(){
    		$('#mainTemplate').load("/own/band/bandGroup/bandBoardWrite?bandNo="+bandNo);
    	})
    	</script>
    </div>
    </body>
</html>