<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/band_layout}"
      lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/css/band/gachi/own.png" type="image/png">
        <title>오늘의운동 가치</title>
        <style type="text/css">
        	.boards:hover   { text-decoration:underline; color:#FF0000 }
        	/* 나이스셀렉트 */
			.list li {
				width: 155px;
			}
			.list {
				max-height: 145px;
  				overflow-y: scroll !important;
			}
			/* 밴드프로필 */
			.bandBox {
			    width: 260px;
			    height: 270px; 
			    border-radius: 30%;
			    overflow: hidden;
			}  
			.bandProfile {
			    width: 260px;
			    height: 270px;
			    object-fit: cover;
			}
			/* 밴드프로필 */
        </style>
    </head>
    <body>
    <div layout:fragment="content">
    	
    	<!--================Banner Area =================-->
        <section class="banner_area"style="height: 220px; background-color: #6ab0cd">
            <div class=" d_flex align-items-center">
            	<div class="bg-parallax"></div>
				<div class="container">
					<div class="banner_content text-center"style="height: 150px; background-color: #6ab0cd">
						<h3 class="hoverCursor" style="color: white; margin-top: 30px">내 GACHI</h3>
					</div>
				</div>
            </div>
            <div class="hotel_booking_area position">
                <div class="container">
                	<form name="searchFrm">
	                    <div class="hotel_booking_table" style="background-color: #00394f; border-top-left-radius: 30px; border-top-right-radius: 30px;">
	                        <!--================ 검색================ -->
	                        <div class="input-group mb-3" style="margin-top: 10px;">
							  <input type="text" style="height:54px;" class="form-control input-text" th:value="${bandVO.bandName}" name="bandName" placeholder="내 가치 검색" aria-label="Recipient's username" aria-describedby="basic-addon2">
							  <input type="hidden" name="page" value="1">
							  <div class="input-group-append">
							    <button class="btn btn-outline-warning btn-lg searchBtn"><i class="fa fa-search"></i></button>
							  </div>
							</div>
							<!-- ================검색 끝================ -->
	                    </div>
                	</form>    
                </div>
            </div>
        </section>
        <!--================Banner Area =================-->
        
        <section class="accomodation_area section_gap"  style="padding: 0px; background-color: #f1f1f1;">
            <div class="container" id="myHomeBand" style="background-color: white; width: 1110px; display: block; height: 100%;">
               	<div class="container" style="padding: 50px 0px 0px 90px;">
    <!--================ 내 밴드 세개씩  ================-->
       				<div th:if="${#lists.isEmpty(myBand)}">
       					<h3>검색된 밴드가 없습니다.</h3>
       				</div>
           			<div style="margin-bottom: 50px;" th:each="band, bandStat :${myBand}">
                  		<input class="bandnums" type="hidden" id="bandNo" th:value="${band.bandNo}"/>
						<div class="row mb_30">
	                       <div class="col-lg-3 col-sm-6" style="float: left;">
	                           <div class="accomodation_item text-center">
	                               <div class="hotel_img"style="height: 230px;">
	                               	<a th:href="|/own/band/bandGroup?bandNo=${band.bandNo}|" class="bandBoxImg">
	                                   	<img th:src="|/imgView/${band.bandMainImg.mediaServerFile}|" alt="" class="bandProfileImg">
	                                   </a>
	                               </div>
	                           </div>
	                       </div>
	                       <div class="section-top-border" style="float: right; width: 70%; padding: 0px 0px 0px 20px; height:230px;">
	                           <div class="row">
	                               <div class="col-lg-12">
                                   		<blockquote class="generic-blockquote"style="height:230px; border-left: 2px solid #1792b8;">
		                                   	  <a th:href="|/own/band/bandGroup?bandNo=${band.bandNo}|">
		                                      	<h4 class="mb-30 title_color" th:text="${band.bandName}" style="display: inline-block;">Block Quotes</h4>
		                                      </a>
	                                    	  <p style="float: right;"><small>멤버 [[${band.memcount}]]</small></p>
	                                          <div class="firstboard boards">
	                                          <!-- r reply t time 약자 -->
	                                              <a class="hoverBtn">
	                                                  <b th:class="${band.bandNo}"   style="color:#1792b8;"></b>
	                                                  <b th:class="${band.bandNo}+r" style="color: #f8b600;"></b>
	                                                  <b th:class="${band.bandNo}+t" style="float: right;  font-weight:100; color:#1792b8;"></b>
	                                              </a>
	                                          </div>
	                                          <div class="boards">
	                                              <a class="hoverBtn">
	                                                  <b th:class="${band.bandNo}" style="color:#1792b8;"></b>
	                                                  <b th:class="${band.bandNo}+r" style="color: #f8b600;"></b>
	                                                  <b th:class="${band.bandNo}+t" style="float: right; font-weight:100; color:#1792b8;"></b>
	                                              </a>
	                                         </div>
	                                        		<div  class="boards">
	                                              <a class="hoverBtn">
	                                                  <b th:class="${band.bandNo}" style="color:#1792b8;"></b>
	                                                  <b th:class="${band.bandNo}+r" style="color: #f8b600;"></b>
	                                                  <b th:class="${band.bandNo}+t" style="float: right; font-weight:100; color:#1792b8;"></b>
                                        	      </a>
                                        	</div>
                            			</blockquote>
            				    	</div>
                            	</div>
	    					</div>
                  		</div>	
            		</div>
        <!--================ 내 밴드 세개씩 끝 ================-->
        		 </div>	
        		<!--================ 페이지 Area  =================--> 
        		<nav th:insert="~{content/band/paging :: component(${paging},'gopage')}">
	        	</nav>
	        	<!--================ 페이지 Area 끝  ================= -->
            </div>
        </section>
        <!--================ 가치 추천 끝 Area  =================-->
        
        <script src="/css/band/js/time.js"></script>
        <script>
      //페이징+검색처리
        function gopage(i) {
            searchFrm.page.value = i;
            searchFrm.submit();
        }
            //밴드번호 세개 가져옴
            let bandnum = '';
            $('.bandnums').each(function(idx, ele){
                bandnum += ele.value;
            })
             console.log(bandnum);
            
            $.ajax({
                url:'/own/band/myBand/'+bandnum,
                dataType: 'json',
                method: 'get',
                contentType : "application/text; charset=utf-8;"
            }).then(result => {
                //결과출력
                console.log(result);
                
                //가져온 배열 돌리기
                result.forEach(element => {
                    console.log(element.bandBoardDate);
                    console.log(element.bandBoardDetailNo);
                    console.log(element.bandBoardTitle);
                    //reply_count key 존재유무 확인
                    if('REPLY_COUNT' in element){
                        console.log(element.replyCount);
                    }

                    //밴드번호 가져옴
                    $('.bandnums').each(function(idx, ele){
                        //밴드번호 한개씩...
                        let bandnum = ele.value;
                        if(bandnum==element.bandNo){
                            //댓글변경~
                            $('.'+bandnum).eq(0).text(element.bandBoardTitle);
                            //reply_count key 존재유무 확인
                            if('replyCount' in element){
                                $('.'+bandnum+'r').eq(0).text(element.replyCount).prepend('<i class="fa-solid fa-comment-dots"></i>');
                            }
                            //$('.'+bandnum+'t').eq(0).text(element.bandBoardDate);
                            $('.'+bandnum+'t').eq(0).text(elapsedText(element.bandBoardDate));
                            
                            //다음순회를 위해 클래스명바꾸기
                            $('.'+bandnum).eq(0).attr({"class":bandnum+'_ok', "id": element.bandBoardDetailNo});
                            $('.'+bandnum+'r').eq(0).attr({"class":bandnum+'_okr', "id": element.bandBoardDetailNo});
                            $('.'+bandnum+'t').eq(0).attr("class",bandnum+'_okt');
                        }
                    })
                    
                });
                //게시판이동..
                $('.boards').on('click', function(e){
                	console.log(e.target);
                	let boardNo = $(e.target).attr('id');
                	let bandNo = $('#bandNo').val();
                	if(boardNo!=null){
                		//window.location.href('/own/band/redirection?bandBoardDetailNo='+boardNo+"?bandNo="+bandNo);
                		window.location.replace('/own/band/redirection?bandBoardDetailNo='+boardNo+"&bandNo="+bandNo);
                		//window.location.assign('/own/band/redirection?bandBoardDetailNo='+boardNo+"?bandNo="+bandNo);
                	}
                })
                //만약 게시글이 하나도 없다면
                    console.log($('.firstboard').eq(0))
                    $('.firstboard').each(function(idx, ele){
                        console.log('게시글이없다면'+$(ele).find('b').eq(0).attr('class')+'class출력됨?');
                        if(!$(ele).find('b').eq(0).attr('class').includes('_ok')){
                            $(ele).find('b').eq(0).text('등록된 글이 없습니다.');
                        }
                    })
                 
            })
              .fail(err => console.log(err))
           
            
        </script>
    </div>
    </body>
</html>