<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      lang="ko">
    <head>
   		<!-- jquery -->
    	<script type="text/javascript" src="/band/js/jquery-3.2.1.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/band/css/bootstrap.css">
        <link rel="stylesheet" href="/band/vendors/linericon/style.css">
        <link rel="stylesheet" href="/band/css/font-awesome.min.css">
        <link rel="stylesheet" href="/band/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/band/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/band/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/band/css/style.css">
        <link rel="stylesheet" href="/band/css/responsive.css">
        <!--여기부터 이어붙임-->
        <link rel="stylesheet" href="/band/2nd/css/flaticon.css">
        <link rel="stylesheet" href="/band/2nd/css/icomoon.css">
        <link rel="stylesheet" href="/band/2nd/css/style.css">
    </head>
    <div layout:fragment="content">
    <body>
        <!--================지역 설정 Area =================-->
        <section class="banner_area">
            <div class="booking_table d_flex align-items-center"  style="min-height: 300px;">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<!-- <h6>Today's Exercise together</h6> -->
						<h2>MY 가치</h2>
						<!-- <p>Exercise to stimulate, not to annihilate. The world wasn't formed in a day, and neither were we. Set small goals and build upon them</p> -->
						<!-- <a href="#" class="btn theme_btn button_hover">Get Started</a> -->
					</div>
				</div>
            </div>
            <div class="hotel_booking_area position" >
                <div class="container">
                    <div class="hotel_booking_table" style="background-color:rgba(0, 0, 0, 0.3);">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="오운 가치 검색"style="text-align: center;">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>
        </section>
        <!--================지역 설정 Area 끝=================-->
        
        <!--================ 내 가치 Area  =================-->
        <section class="accomodation_area section_gap" style="padding-bottom: 0px;">
            <div class="container">
        <!--================ 내 밴드 세개씩  ================-->
                <div style="margin-bottom: 50px;" th:each="band, bandStat :${myBand}">
                    <input class="bandnums" type="hidden" th:value="${band.BAND_NO}"/>
                    <div class="row mb_30">
                        <div class="col-lg-3 col-sm-6" style="float: left;">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img"style="height: 230px;">
                                    <img src="image/room1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="section-top-border" style="float: right; width: 70%; padding: 0; height:230px;">
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <blockquote class="generic-blockquote"style="height:230px;">
                                        <h4 class="mb-30 title_color" th:text="${band.BAND_NAME}" style="display: inline-block;">Block Quotes</h4>
                                        <p style="float: right;"><small>멤버 [[${band.MEMCOUNT}]]</small></p>
                                            <div>
                                                <a href="#">
                                                    <b>me. Listed in this article are the electronic banking”</b>
                                                    <b style="color: rgb(155, 165, 144);"><span class="icon-chat"></span> 3</b>
                                                    <b style="float: right;">11시간 전</b>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#">
                                                    <b>me. Listed in this article are the electronic banking”</b>
                                                    <b style="color: rgb(155, 165, 144);"><span class="icon-chat"></span> 3</b>
                                                    <b style="float: right;">11시간 전</b>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#">
                                                    <b>me. Listed in this article are the electronic banking”</b>
                                                    <b style="color: rgb(155, 165, 144);"><span class="icon-chat"></span> 3</b>
                                                    <b style="float: right;">11시간 전</b>
                                                </a>
                                            </div>
                                    </blockquote>
                                </div>
                            </div>
					    </div>
                    </div>
                </div>
        <!--================ 내 밴드 세개씩 끝 ================-->
            </div>
        </section>
        <!--================ 내 가치 끝 Area  =================-->
        <!--================ 페이지 Area  =================-->
        <nav class="blog-pagination justify-content-center d-flex">
	        <!--================ 이전  =================-->
	        <ul class="pagination">
		        <li class="page-item" th:if="${paging.startPage>1}">
		        	<a class="page-link" aria-label="Previous" th:href="@{/band/myBand(page=${paging.startPage-1})}">
		        		<span aria-hidden="true">
                        	<span class="lnr lnr-chevron-left"></span>
                        </span></a>
		        </li>
	        <!--================ 페이지 이동 1_2_3_4_5  =================-->
		        <th:block th:each="pag:${#numbers.sequence(paging.startPage,paging.endPage)}">
		            <li class="page-item" th:if="${pag != paging.page}" >
		            	<a class="page-link" th:href="@{/band/myBand(page=${pag})}" th:text ="${#numbers.formatInteger(pag,2)}"></a>
		            </li>
		            <li class="page-item active" th:if="${pag==paging.page}" >
		            	<a class="page-link" th:text ="${#numbers.formatInteger(pag,2)}"></a>
		        	</li>
		        </th:block>
	        <!--================ 페이지 이동 1_2_3_4_5 끝 =================-->
	        <!--================ 이후  =================-->
		        <li class="page-item" th:if="${paging.endPage<paging.lastPage}">
		        	<a class="page-link" aria-label="Next" th:href="@{/band/myBand(page=${paging.endPage+1})}">
		        		<span aria-hidden="true">
                            <span class="lnr lnr-chevron-right"></span>
                        </span></a>
		        </li>
	        </ul>
	    </nav>
        <!--================ 페이지 Area 끝  =================-->
        <script>
            //밴드번호 세개 가져옴
            let bandnum = '';
            $('.bandnums').each(function(idx, ele){
                console.log(ele.value);
                bandnum += ele.value;
            })
             console.log(bandnum);
            
            $.ajax({
                url:'/band/myBand/'+bandnum,
                dataType: 'json',
                method: 'get',
                contentType : "application/text; charset=utf-8;"
            }).then(result => console.log(result))
              .catch(err => console.log(err))
        </script>
    </body>
    </div>
</html>