<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!--================ 페이지 Area  =================-->
        <nav th:fragment="component(paging,gopage)" class="blog-pagination justify-content-center d-flex">
        	
	        <!--================ 이전  =================-->
	        <ul class="pagination">
		        <li class="page-item" th:if="${paging.startPage>1}">
<!-- 		        	<a class="page-link" aria-label="Previous" th:href="@{/own/band/myBand(page=${paging.startPage-1})}"> -->
		        	<a class="page-link" aria-label="Previous" th:href="|javascript:${gopage}(${paging.startPage-1})|">
		        		<span aria-hidden="true">
                        	<span class="lnr lnr-chevron-left"></span>
                        </span></a>
		        </li>
	        <!--================ 페이지 이동 1_2_3_4_5  =================-->
		        <th:block th:each="pag:${#numbers.sequence(paging.startPage,paging.endPage)}">
		            <li class="page-item" th:if="${pag != paging.page && 0!=paging.endPage}">
<!-- 		            	<a class="page-link" th:href="@{/own/band/myBand(page=${pag})}" th:text ="${#numbers.formatInteger(pag,2)}"></a> -->
		            	<a class="page-link" th:href="|javascript:${gopage}(${pag})|" th:text ="${#numbers.formatInteger(pag,2)}"></a>
		            </li>
		            <li class="page-item active" th:if="${pag==paging.page}" >
 		            	<a class="page-link" th:text ="${#numbers.formatInteger(pag,2)}"></a>
		        	</li>
		        </th:block>
	        <!--================ 페이지 이동 1_2_3_4_5 끝 =================-->
	        <!--================ 이후  =================-->
		        <li class="page-item" th:if="${paging.endPage<paging.lastPage}">
		        	<!-- <a class="page-link" aria-label="Next" th:href="@{/own/band/myBand(page=${paging.endPage+1})}"> -->
		        	<a class="page-link" aria-label="Next" th:href="|javascript:${gopage}(${paging.endPage+1})|">
		        		<span aria-hidden="true">
                            <span class="lnr lnr-chevron-right"></span>
                        </span></a>
		        </li>
	        </ul>
	    </nav>
        <!--================ 페이지 Area 끝  =================-->
</body>
</html>