<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="bandHeaderFragment">
	<!--headerFragment 선언-->
	<head>
<meta charset="utf-8" />
<title>오늘의 운동 가치</title>
<!-- ================ 공통 파일 ================ -->
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- 직렬화 -->
<script src="/css/band/js/json.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/css/chall/lib/easing/easing.min.js"></script>
<script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/css/chall/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Javascript File -->
<script src="/css/chall/mail/jqBootstrapValidation.min.js"></script>
<script src="/css/chall/mail/contact.js"></script>
<!-- Template Javascript -->
<script src="/css/chall/js/main.js"></script>
<!-- Favicon -->
<link href="/css/chall/img/favicon.ico" rel="icon" />
<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap"
	rel="stylesheet" />
<!-- Font Awesome -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet" />
<script src="https://kit.fontawesome.com/0695eff491.js"
	crossorigin="anonymous"></script>
<!-- Flaticon Font -->
<link href="/css/chall/lib/flaticon/font/flaticon.css" rel="stylesheet" />
<!-- Libraries Stylesheet -->
<link href="/css/chall/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet" />
<link href="/css/chall/lib/lightbox/css/lightbox.min.css"
	rel="stylesheet" />
<!-- ================ 공통 파일 끝 ================ -->
<!-- 카카오 지도 -->
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=11875b29670fe2d80e3abb3d4800699e"></script>
<!-- ================ hjj 파일 ================ -->

 <!-- Bootstrap CSS -->
	 <!-- <link rel="stylesheet" href="/css/band/css/bootstrap.css"> -->
	 <link rel="stylesheet" href="/css/band/vendors/linericon/style.css">
	 <!-- <link rel="stylesheet" href="/css/band/css/font-awesome.min.css"> -->
	 <!-- <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css"> -->
	 <link rel="stylesheet" href="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
	 <link rel="stylesheet" href="/css/band/vendors/nice-select/css/nice-select.css">
	 <!-- main css -->
	 <link rel="stylesheet" href="/css/band/css/style.css">
	 <link rel="stylesheet" href="/css/band/css/responsive.css">
	 <!-- 나이스 셀렉트/스크롤 -->
	 <script src="/css/band/vendors/nice-select/js/jquery.nice-select.js"></script>
	 <!-- <script src="/css/band/vendors/nice-select/js/jquery.nice-scroll.js"></script> -->
	 <!-- 이건 뭐지 -->
	 <script src="/css/band/js/popper.js"></script>
    <script src="/css/band/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/css/band/js/jquery.ajaxchimp.min.js"></script>
    <script src="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/css/band/js/mail-script.js"></script>
    <script src="/css/band/js/stellar.js"></script>
    <script src="/css/band/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/css/band/js/custom.js"></script>
     <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/band/newcss/style.css" rel="stylesheet" />

<!-- ================공통파일 네비용으로 손 봄 끝 ================ -->
<!-- ================ hjj 파일 끝 ================ -->
<style type="text/css">
.bBox {
	width: 80px;
	height: 80px;
	border-radius: 30%;
	overflow: hidden;
}

.bProfile {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30%;
	border: 4px solid #00394F;
}

.droMom {
	position: relative;
}

.btnDro {
	position: absolute;
	bottom: 8px;
	left: 60px;
	color: #00394f;
}

.bShadow {
	filter: drop-shadow(5px 5px 5px #000);
}

.hoverBtn {
	cursor: pointer;
}

.hoverCursor {
	cursor: default;
}
</style>
	</head>
	<header class="header-area">
		<!-- Navbar Start -->
		<div class="container-fluid bg-light position-relative shadow">
			<!-- HOME Start -->
			<nav
				class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
				<a href="/" class="navbar-brand font-weight-bold text-secondary"
					style="font-size: 50px"> <img src="/css/band/gachi/own.png"
					style="width: 80px; height: 80px; margin-bottom: 3px;">
				</a> <a href="/" class="navbar-brand font-weight-bold text-secondary"
					style="font-size: 50px"> <span class="text-primary">오늘의운동</span>
				</a>
				<!-- HOME Start -->
				<div class="navbar-collapse" style="justify-content: end;">
					<div class="navbar-nav font-weight-bold py-0">
          <a href="/own/band" class="nav-item nav-link" style="padding: 30px 20px; margin-top:6px;">가치HOME</a>
<th:block th:if="${session.defUser}">

						<div class="nav-item dropdown droMom">
							<a href="/own/band" class="nav-item nav-link"
								data-toggle="dropdown" style="padding: 30px 20px 30px 10px">
								<i class="fa-solid fa-comment-dots fa-2x"></i>
							</a>
							<div class="dropdown-menu rounded-0 m-0" id="chatroomList">
								<a href="/own/band/myBandOption" class="dropdown-item">채팅목록1</a>
								<a th:if="${session.loginUser}" href="/own/logout"
									class="dropdown-item">채팅목록2</a> <a
									th:unless="${session.loginUser}" href="/own/login"
									class="dropdown-item">채팅목록3</a>
							</div>
						</div>
						<div class="nav-item dropdown droMom">
								<a href="/own/band/myBandOption" class="nav-link bBox"
									data-toggle="dropdown" style="margin-top: 7px;"> <img
									th:src="|/imgView/${session.defUser.defaultImg.mediaServerFile}|"
									alt="" class="bProfile">
								</a>
								<span class="btnDro"><i
									class="fa-solid fa-square-caret-down fa-1x " aria-hidden="true"
									style="background-color: white; width: 10px;"></i></span>
</th:block>
							<div class="dropdown-menu rounded-0 m-0">
								<a href="/own/band/myBandOption" class="dropdown-item">마이페이지</a>
								<a th:if="${session.loginUser}" href="/own/logout"
									class="dropdown-item">로그아웃</a> <a
									th:unless="${session.loginUser}" href="/own/login"
									class="dropdown-item">로그인</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<script th:inline="javascript">
/*<![CDATA[*/
var header = /*[[${_csrf.headerName}]]*/'defalut';
var token = /*[[${_csrf.token}]]*/'defalut';
/*]]>*/
	$(function () {
		/*<![CDATA[*/
		let loginUser = /*[[ ${session.loginUser} ]]*/;
		let loginUserId = loginUser.userId
		/*]]*/
		// 로그인 아이디로 가입중인 밴드 멤버번호받아오기 -- 채팅컨트롤러에서 처리
		$.ajax({
			url: '/getMyBandMemberNoList?userId=' + loginUserId,
			method: 'get',
			contentType: "application/json" //json으로 보낼때 타입이 이렇다..
		}).then(res => {
			let bandMemberNoList = new Array();
			for (var i=0; i<res.length; i++ ) {
				/* var list = `<a class="dropdown-item">${no.bandMemberNo}</a>`
				$("#chatroomList").append(list); */
				console.log("bandMemberNo========"+res[i].bandMemberNo);
				bandMemberNoList.push(res[i].bandMemberNo);
			}
		
			
		}) // end of 밴드멤버번호 아작스
	});
	</script>
</th:block>
</html>