<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="footerFragment">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/css/chall/lib/easing/easing.min.js"></script>
    <script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/css/chall/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/css/chall/mail/jqBootstrapValidation.min.js"></script>
    <script src="/css/chall/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/css/chall/js/main.js"></script>
</div>
</html>