<html xmlns:th="http://www.thymeleaf.org"lang="ko">
<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/band/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/band/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/band/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/css/band/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/css/band/vendors/owl-carousel/owl.carousel.min.css">

<style>
</style>
<div style="flex-grow:3; width: 740px" id="subTemplate">

<h3>밴드 옵션변경</h3>
	임시	
</div>

<h3>밴드 멤버</h3>
<h3>밴드멤버확인</h3>
<script>
$(function(){
})
</script>