<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}" lang="ko">
<head>
<!-- jquery -->
<script type="text/javascript" src="/band/js/jquery-3.2.1.js"></script>

<!-- jquery datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" 
integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" 
integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="Free HTML Templates" name="keywords" />
<!-- Favicon -->
<link href="/css/chall/img/favicon.ico" rel="icon" />
<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap"
	rel="stylesheet" />
<!-- Font Awesome -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet" />
<!-- Flaticon Font -->
<link href="/css/chall/lib/flaticon/font/flaticon.css" rel="stylesheet" />
<!-- Libraries Stylesheet -->
<link href="/css/chall/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet" />
<link href="/css/chall/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
<!-- Customized Bootstrap Stylesheet -->
<link href="/css/chall/css/style.css" rel="stylesheet" />
<!-- JavaScript Libraries -->
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/css/chall/lib/easing/easing.min.js"></script>
<script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/chall/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Javascript File -->
<script src="/css/chall/mail/jqBootstrapValidation.min.js"></script>
<script src="/css/chall/mail/contact.js"></script>
<!-- Template Javascript -->
<script src="/css/chall/js/main.js"></script>
<meta charset="utf-8">
<title>도전_신청 페이지</title>
</head>
<div layout:fragment="content">
	<body>
 		<!-- Banner Start -->
		 <div class="container-fluid bg-primary mb-3" style="padding: 0">
			<div class="d-flex flex-column align-items-center justify-content-end" style="min-height: 300px; background-color: #6ab0cd">
				<div class="justify-content-center" style="height: 150px; background-color: #6ab0cd">
					<h4 class="text-center" style="color: white; margin-top: 30px;">오늘의 운동</h4>
					<h2 class="text-center" style="color: white;">Challenges</h2>
				</div>
			</div>
		</div>
		<!-- Banner End -->

<div class="container py-5" >
	<div class="text-center pb-2">
		<p class="section-title px-5">
		  <span class="px-2">Join In Challenges</span>
		</p>
		<h1 class="mb-4">도전을 신청하세요!</h1>
	  </div>
	  <div>
	<div class="row" style="justify-content: center;">
	<div class="col-lg-8 mb-5  bg-light p-5">
	<h4 style="text-align: center; margin-bottom: 25px;" th:text="${detailChall.challTitle}"></h4>
	<div class="row">
		<img class="rounded" th:src="|/imgView/${challImg[0].mediaServerFile}|" alt="" 
				style="width: 350px; height: 220px; object-fit: cover;"/>
			<div style="width: 300px;display: inline-block; margin-left: 25px; ">
				<ul class="list-inline m-0">
					<li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>
						카테고리 :  <span th:text="${detailChall.challCategory}"></span></li>
					<li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>
						시작날짜 :  <span th:text="${#dates.format(detailChall.challStartdate, ' M월 d일')}"></span> 시작</li>
					<li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>
						도전기간 :  <span th:text="${detailChall.challDuration}"></span></li>
					<li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>
						도전빈도 :  주 <span th:text="${detailChall.challFreq}"></span> 회</li>
					<li class="py-2 "><i class="fa fa-check text-primary mr-3"></i>
						도전금액 :  <span th:text="${detailChall.challPrice}"></span> 원</li>
				</ul>
			</div>
	</div>
	<hr>
	<div style="text-align: right;">
		<ul class="list-inline m-0">
			<li class="py-2">
				나의 보유예치금 : [[${myInfo.memAmt}]]</span></li>
			<li class="py-2">
				도전 예치금 : [[${detailChall.challPrice}]]</li>
			<li class="py-2" th:if=" ${myInfo.memAmt} >= ${detailChall.challPrice} ">
				->  예상 잔여 예치금 : <span style="font:bold">[[${myInfo.memAmt} - ${detailChall.challPrice}]]원</span></li>
			<li class="py-2" th:unless=" ${myInfo.memAmt} >= ${detailChall.challPrice} ">
				->  잔액이 부족합니다. 예치금 충전을 해 주세요. <span class="btn btn-outline-primary m-1"><a href="/own/chall/payAmount">충전 하러가기</a></span></li>
		</ul>
		<!-- <h3>나의 보유 예치금 : [[${myInfo.memAmt}]]</h3>
		<h3>도전 예치금 : [[${detailChall.challPrice}]]</h3>
		<h3>예상 잔여 예치금 : [[${myInfo.memAmt} - ${detailChall.challPrice}]]</h3>
		<h3 th:if=" ${myInfo.memAmt} > ${detailChall.challPrice} ">예상 잔여 예치금 : [[${myInfo.memAmt} - ${detailChall.challPrice}]]</h3>
		<h3 th:unless=" ${myInfo.memAmt} > ${detailChall.challPrice} "> 잔액이 부족합니다. 예치금 충전을 해 주세요.</h3> -->
		<input type="hidden" id= myAmt th:value="${myInfo.memAmt}" />
		<input type="hidden" id= amtCheck value="0" />
	</div>
	<hr>

	<input id ="challNo" type="hidden" th:value="${detailChall.challNo}" />
	<input id ="challPrice" type="hidden" th:value="${detailChall.challPrice}" />	
    <input id ="userId" type="hidden" th:value="${session.loginUser.userId}">
	<br />
	<div class="mb-3">
		<h5 style="text-align: left;">도전참여 규칙</h5>
		<textarea class="form-control" readonly="readonly" style="width: 100%; height:300px;">  
오운의 도전 서비스를 이용해주셔서 감사합니다. 
오운의 도전 서비스에 대해 더 쉽게 이해하실 수 있도록 참가규칙을 마련하였습니다. 
잠시 시간을 내어 참가규칙을 읽어주시면 더욱 편리하게 서비스 이용을 하실 수 있을 것으로 생각합니다.

**제1조 (목적)**

본 약관은 주식회사 ㈜OWN(이하 “회사”라고 합니다)가 제공하는 서비스 중, 회원의 도전 참가 및 진행과 관련된 절차와 진행방식을 규정함을 목적으로 합니다.

**제2조 (용어의 정의)**

이 약관에서 사용하는 용어의 정의는 다음과 같습니다.

1. “챌린저스”는 회원이 챌린지에 참가비를 내고 참가하여, 기준에 따라 달성금과 상금을 획득하는 내용의 서비스와 이에 부가한 기타 서비스를 제공하는 어플리케이션을 말합니다. (이하 문맥에 따라 “챌린저스” 또는 “서비스”라고 합니다.)
2. "챌린지"란 일정기간 동안 정해진 목표를 실천하고 “챌린저스” 어플리케이션을 통해 회사가 정한 방침에 따라 이를 인증한 참가자들에 대해 회사가 정한 방법과 기준에 따라 참가비를 환급받고 상금을 획득할 수 있는 모바일 대회를 말합니다.
3. “회원”이란 본 약관에 따라 회사와 이용계약을 체결하고 서비스를 이용하는 이용자를 말합니다.
4. “콘텐츠”란 “회사”가 서비스를 위해 “회원”에게 제공하는 내용물 일체(텍스트, 음성, 영상, 네트워크 서비스를 포함하되 이에 한정되지 아니 합니다)를 의미합니다.
5. "참가비"란 “회원”이 “챌린지”에 참가하기 위해 지불하는 금액을 말합니다.
6. "참가자"란 “참가비”를 지불하고 “챌린지”에 참가중인 “회원”을 말합니다.
7. "수수료"란 "회원"이 "회사"의 서비스를 이용하는 과정에서 "회사"가 정하는 기준에 따라 "회원"에게 부과하는 비용을 말합니다.
8. "모인 금액"이란 하나의 “챌린지”에 참가중인 모든 “참가자”들이 지불한 “참가비”의 총합에 해당하는 금액을 말합니다.
9. "캐시포인트"란 “회원”이 서비스상에서 직접 결제를 함으로써 발생한 “서비스”상의 금액으로, “회원”이 결제를 통해 지불한 “참가비” 중 “회사”의 가이드라인에 따라 환급받는 금액도 이에 포함됩니다.
10. "상금"은 챌린지 종료 후 개별 “참가자” 에게 환급되지 않은 “참가비”의 총합에서 “회사”가 정한 “수수료”를 제외한 금액입니다.
11. "상금포인트"란 “회원”의 결제 행위없이, “회사”가 규정한 일정한 조건을 성취한 특정 “회원”에게 부여되는 “서비스” 상의 금액을 말합니다.
12. "환급"이란 "챌린지" 결과 "회사"의 방침에 따라 "참가비"의 전부 혹은 일부를 "회원"에게 돌려주는 활동입니다.
13. “멤버”란 동일 “챌린지”에 참가하고 있는 “참가자”를 의미합니다.
14. 챌린지 “인증” 이란 참가자가 챌린지의 목표를 정당한 방법으로 수행하고 있음을 “회사”가 승인한 것으로, “회사” 는 “참가자” 가 업로드한 “콘텐츠” 를 기준으로 “인증” 여부를 판단합니다.
15. “구매비”란 “참가비” 이외에 환급되지 않는 돈을 의미합니다. 구매비는 개설자에게 귀속됩니다. 개설자가 개설한 경우는 구매비는 개설자에게 귀속되며, 회사는 중개수수료만을 매출로 인식합니다. "구매비"대신 "코칭비", "상품", "모임비" 등으로 단어를 사용하여 환급되지 않는 돈을 의미할 수 있습니다.
16. 이 약관에서 사용하는 용어 중 위에서 정하지 아니한 것은, 관계법령 및 서비스별 안내에서 정하는 바에 따르며, 그 외에는 일반 거래관행에 따릅니다.

**제3조 (챌린지 참가자격)**

1. 챌린저스는 목표 달성을 원하는 사람들에게 최적의 환경을 제공함으로써, 사람들의 목표달성률을 높인다는 목적하에 제공되는 서비스입니다. 따라서 회원이 특정 직업을 영위하는 등 추가적인 노력없이도 목표를 달성할 수 있는 경우 챌린지 참가에 제한을 두고 있습니다. 회사는 챌린지 별로 참가 자격에 제한을 둘 수 있습니다.
2. 참가 자격 제한요건에 해당됨에도 불구하고 특정 챌린지에 참가한 회원에게는 챌린지 종료후에도 해당 챌린지의 목표달성률과 관계없이 상금포인트가 지급되지 않습니다. 단, 해당 회원의 챌린지 참가비는 챌린지 목표달성률에 따라 환급됩니다.
3. 회사는 특정 챌린지의 참가조건 설정 오류 등으로 회사의 개설 의도대로 챌린지가 진행되기 어렵다고 판단하면, 회원의 챌린지 참가 신청을 취소할 수 있으며, 별도의 안내 등을 통해 참가 신청이 취소되었음을 회원에게 고지합니다.

**제4조 (챌린지 참가비)**

1. 챌린지 참가비의 최대금액은 20만원이며, 개별 챌린지 참가비는 최대 금액 이내에서 회사가 설정할 수 있습니다. 이 때 각 챌린지 참가비에 대한 안내는 서비스 내에 게시됩니다.
2. 회원은 챌린지 시작 전인 모집기간 중에는 참가비로 지불한 전액을 환불받을 수 있으나, 챌린지 가 시작되고 나면 환불이 불가합니다. 단, 출장/경조사/입원 등 회원이 예기치 못한 사정이 있는 경우에는 회사가 관련증빙을 확인한 후 해당 챌린지의 결과 정산일 하루 전까지 챌린지 취소를 진행할 수 있습니다.
3. 챌린저스는 회원가입시 회원이 입력한 정보를 기반으로 참가조건을 판단하여 적용하고 있으며, 회원이 잘못된 정보를 챌린저스에게 제공했을 경우, 그에 대한 책임은 회원에게 있습니다.

**제5조 (챌린지 인증)**

1. 참가자들은 각 챌린지의 인증 을 위해 인증 가능시간내에 규정에 맞게 자신의 목표달성 과정을 입증할 수 있는 콘텐츠를 서비스에 업로드 해야합니다. 각 챌린지별로 인증 가능시간은 상이하며, 인증 가능시간을 포함한 인증규정은 서비스에 게시됩니다.
2. 회사는 업로드된 콘텐츠의 정당성을 최종 판단할 권한을 가지고 있으며, 회사의 최종 검토 결과에 따라 참가자의 챌린지 인증여부가 결정됩니다. 콘텐츠의 정당성에 대해서 필요시 회사가 회원들의 의견을 반영하여 인증여부를 결정할 수 있습니다.
3. 참가자들의 목표달성률은 총 인증이 필요한 횟수 중 실제 인증을 진행한 횟수의 비율로 결정됩니다.
4. 챌린지 인증은 반드시 챌린저스 앱내에 게시된 인증방식에 따라야하며, 회원의 챌린지 참가신청은 회원 이 서비스에 게시된 챌린지 인증방식을 숙지하였음을 의미합니다.
5. 챌린지 인증을 위해 업로드 된 콘텐츠는 챌린지에 함께 참가하고 있는 멤버들에게 공개됩니다. 멤버는 챌린지 인증에 업로드 된 콘텐츠가 규정에 맞게 업로드 되었는지 확인할 수 있으며, 규정에 맞지 않다고 생각하는 경우 해당 콘텐츠를 신고할 수 있습니다.
6. 회사는 목표수행을 인증하는 과정에서 규정에 맞지 않는 부당한 방법으로 인증을 시도했다고 판단되는 참가자의 인증샷에 미인증 처리를 하거나 경고(레드카드)를 주며, 이 경고는 서비스 화면의 알림, 마이페이지 등에서 확인할 수 있습니다. 참가자가 경고를 받은 경우 해당 인증은 인증실패로 처리되며, 콘텐츠 변경에 따른 재인증을 주장할 수 없습니다. 법적, 사회적으로 문제가 되거나, 타인에게 불쾌감을 줄 수 있는 사진에 대해서도 회사는 경고(레드카드)를 발급할 수 있습니다. 경고를 줄 수 있는 상황은 아래와 같습니다.
    1. 인증규정과 무관한 이미지로 인증을 대체하려 한 경우
    2. 신체의 일부가 나와야 할 때 본인이 아닌 경우
    3. 한번의 행위로 2회 인증하는 경우
    4. 한번의 행위로 서로 다른 두 개의 챌린지에 인증하는 경우
    5. 미리 해놓고 인증샷만 나중에 찍는 경우
    6. 다수의 회원들로부터 수행 여부를 의심 받았는데, 회사가 그 의심이 납득가능하다고 판단한 경우
    7. 한 사람이 두 계정으로 인증하거나, 다른 사람의 인증을 이용해 본인도 인증하는 경우
    8. 현장이 아닌 사진을 인증하거나 핸드폰 사진의 시간대를 조작하는 경우
    9. 한 계정을 여러명 혹은 여러기기로 로그인 혹은 사용 하는 경우
    10. 여러 계정을 한 기기로 로그인 혹은 사용 하는 경우
7. 회사로부터 경고(레드카드)를 1회 이상 받은 회원은 당회 챌린지에서 인증이 1회 이상 실패처리 되며 3개월간 상금포인트 및 이벤트 또는 제휴 챌린지의 상금과 상품을 획득할 수는 없습니다. 경고(레드카드)를 2회 받은 회원은 당회 챌린지에서 인증이 1회 실패처리 될 뿐만 아니라 서비스 사용 이후 회원이 누적 수령한 모든 상금포인트가 소멸됩니다. 경고(레드카드)를 2회 받은 이용자는 해당 시점으로부터 1년간 서비스에 대한 이용이 정지됩니다. 경고(레드카드)를 3회 받은 회원은 당회 챌린지에서 인증이 1회 실패처리 되며 모든 상금포인트가 소멸됩니다. 경고(레드카드)를 3회 받은 이용자는 영구적으로 서비스에 대한 이용이 정지됩니다. 
8. 회사는 목표수행을 인증하는 과정에서 규정에 맞지 않는 콘텐츠라고 판단을 내리기 애매한 경우 경고에 앞서 사전경고를 줄 수 있습니다. 참가자 가 사전경고를 받은 경우 해당 콘텐츠는 인증으로 처리됩니다. 사전경고의 경우 참가자는 인증기간내 콘텐츠를 삭제 혹은 변경할 수 있으나, 인증 가능기간이 지난 시점에서 콘텐츠를 삭제한 경우 인증기회를 다시 받을 수 없습니다. 사전경고를 받은 참가자가 다시 사전경고를 받는 상황이 생기면 회사는 경고 발급 기준을 낮춰 경고 발급을 할 수 있습니다.
9. 참가자는 인증기간내에 경고를 받지 않은 모든 콘텐츠 를 삭제 혹은 변경할 수 있으며, 최종 인증여부는 참가자가 업로드한 콘텐츠의 인증여부와 같습니다.
10. 챌린지 인증은 하루 1회를 초과할 수 없으나, 챌린지 별로 초과가 가능한 경우가 있을 수 있습니다.
11. 회사는 참가자들에게 서로의 인증샷을 검토하고 페널티(인증 무효화, 레드카드 발급)를 적용할 수 있는 기능을 제공할 수 있으며, 이 경우 참가자들은 서로의 인증샷에 대해 판단할 수 있고, 해당 판단 기준에 따라서 인증이 무효화될 수 있습니다. 참가자가 무효화의 부당함을 증명한 경우, 회사는 무효화나 경고(레드카드)를 취소할 수 있습니다.

**제6조 (챌린지 상금배분 규정)**

1. 챌린지 참가자는 목표달성률에 따라 참가비와 상금을 지급받습니다. 목표달성률이 85% 이상인 참가자는 참가비 전액을 받습니다. 목표달성률이 85% 미만인 참가자는, 인증비율 만큼 참가비 중 일부를 환급 받습니다. 회사는 참가자들의 목표달성률을 높이기 위해 최종 달성률이 85% 미만에 해당되는 경우 참가비를 돌려받지 못하는 방식의 챌린지를 개설할 수 있으며, 이러한 방침은 서비스 내에 게시됩니다. 이처럼 달성률이 85% 미만에 해당하는 경우 참가비를 돌려받지 못하는 방식의 챌린지를 “의지강화 챌린지(가칭)” 라 합니다. 해당 챌린지의 이름은 추후 변경될 수 있으며, 서비스 내에서 회원들이 다른 챌린지와의 차이점을 확인할 수 있도록 게시합니다.
2. 총 상금은 목표달성률이 100%인 참가자에게 주어집니다. 하트 사용자는 제외됩니다.
3. 목표 달성률 100% 참가자가 없을시, 상금은 챌린저스로 귀속됩니다.
4. 모든 참가자가 달성률이 85%이상을 달성하여, 목표 달성률 100% 참가자가 상금을 받지 못 하는 경우, 챌린저스에서 특별상금을 지급할 수 있습니다. 특별상금의 액수는 회사가 결정하며, 챌린저스 앱내 공지를 통해 변경할 수 있습니다. 챌린지 참가자는 목표달성률에 따라 참가비와 상금을 지급받습니다. 목표달성률이 85% 이상인 참가자는 참가비 전액을 받습니다. 목표달성률이 85% 미만인 참가자는, 인증비율 만큼 참가비 중 일부를 환급 받습니다.
5. 상금은 참가비를 기준으로 지급 비율이 결정되며, 참가비 규모에 따라 상금규모가 달라집니다.
6. 상금이 5만원을 초과하는 경우, 회사는 제세공과금에 대한 원천징수 금액을 공제한 세후 상금을 참가자에게 제공합니다. 챌린저스 회원은 제세공과금 납부를 위한 회사의 협조요청에 적극적으로 응해야하며, 이는 주민등록번호 제공 등 개인정보 제공 등의 내용을 포함합니다. 상금을 받는 전체 과정에서 회사의 요청에 응하지 않을 경우, 상금이 취소될 수 있습니다.
7. 회사의 수수료는 총참가비의 2.5%와 미환급액의 50% 중 큰 값입니다. 회사는 회사의 판단에 따라 챌린지별로 회사의 수수료를 할인할 수 있습니다. “의지강화 챌린지”의 경우, 회사의 수수료는 총참가비의 5%와 미환급액의 50% 중 큰 값입니다.
8. 미환급액은 총참가비에서 참가자들에게 환급한 총환급액을 제외한 금액입니다.
9. 총상금은 미환급액에서 세금과 카드수수료와 챌린저스수수료를 제외한 금액입니다.
10. 하트는 챌린지 결과 발표 1시간 전 까지만 사용가능하며, 사용시 환급금은 올라가지만, 달성률에 관계없이 상금을 받을 수 없게 됩니다.
11. 6조의 적용범위는 챌린저스가 직접 개설한 챌린지에 경우에 한합니다. 챌린저스 외 다른 개설자가 챌린지를 개설한 경우, 다른 규정이 적용될 수 있습니다.
12. 회사는 각 챌린지별로 1만원당 상금을 고정하는 방식의 챌린지를 만들 수 있으며, 이는 서비스 내에 게시됩니다.

**제7조 챌린지 상금배분 규정(회사 외 개설자가 개설한 챌린지)**

1. 챌린지 참가자는 목표달성률에 따라 참가비와 상금을 지급받습니다. 목표달성률이 85% 이상인 참가자는 참가비 전액을 받습니다. 목표달성률이 85% 미만인 참가자는, 인증비율 만큼 참가비 중 일부를 환급 받습니다. 
2. 총 상금은 목표달성률이 100%인 참가자에게 주어집니다. 하트 사용자는 제외됩니다. 목표 달성률 100% 참가자가 없을시, 상금은 챌린저스로 귀속됩니다.
3. 상금은 참가비를 기준으로 지급 비율이 결정되며, 참가비 규모에 따라 상금규모가 달라집니다. 상금이 5만원 이상인 경우, 회사는 제세공과금에 대한 원천징수 금액을 공제한 세후 상금을 참가자에게 제공합니다. 챌린저스 회원은 제세공과금 납부를 위한 회사의 협조요청에 적극적으로 응해야하며, 이는 주민등록번호 제공 등 개인정보 제공 등의 내용을 포함합니다. 상금을 받는 전체 과정에서 회사의 요청에 응하지 않을 경우, 상금이 취소될 수 있습니다.
4. 회사의 수수료는 총참가비의 2.5%와 미환급액의 50% 중 큰 값입니다. 회사는 회사의 판단하에 미리 고지하여 회사의 수수료를 할인할 수 있습니다. 
5. 총상금은 미환급액에서 세금과 카드수수료와 챌린저스수수료를 제외한 금액입니다.
6. 하트는 챌린지 결과 발표 1시간 전 까지만 사용가능하며, 사용시 환급금은 올라가지만, 달성률에 관계없이 상금을 받을 수 없게 됩니다.

**제8조 이용자 사용 제한**

1. 회사는 약관에 따른 판단하에 이용자를 무기한 사용 정지 할 수 있습니다.
    - 다른 이용자들로부터 복수의 신고를 받은 경우
    - 회사에 직접적, 간접적으로 피해를 준 경우
    - 회사가 악성유저라고 판단하는 경우
    - 회사의 규정을 악용하고 있다고 회사가 판단하는 경우
    - 본인 명의의 핸드폰 번호가 아닌 번호를 사용하는 경우
    - 챌린지가 불법적인 일에 사용되는 경우
    - 챌린지 개설, 댓글, 코멘트, 1:1문의 등의 형태를 통해 사람들에게 불쾌감을 주는 행동을 했다고 회사가 판단하는 경우
    - 직접 개설한 챌린지에서 사람들에게 피해를 준 경우
    - 회사에 대해 협박을 가하는 경우
2. 이용자들의 의견을 통해 경고를 줄 수 있습니다
    - 이용자들의 의견을 반영하여 경고(레드카드), 인증무효, 사용제한 등의 제재가 진행될 수 있습니다.
    - 경고를 당한 회원은 회사에 부당함을 호소할 수 있으며, 회사는 이를 인정하게 되면, 경고(레드카드), 인증무효, 사용제한 등의 제제를 취소할 수 있습니다
3. 특정 사용자가 회사에 피해를 준 경우, 회사는 회사의 피해액에 대해서 해당 사용자에게 손해배상을 청구할 수 있으며, 피해의 범위는 직/간접적인 피해, 금전적/정신적 피해, 회사의 브랜드 손상 등을 포함하며 이에 국한되지 않습니다.

**제9조 회사 외 개설자가 개설한 챌린지**

1. “회사 외 개설자가 개설한 챌린지”이라 함은 화이트큐브가 직접 개설하지 않은 모든 챌린지를 의미합니다.
2. 해당 챌린지에 관한 모든 법적 책임은 개설자에게 있습니다.
3. 회사는 이용자간의 분쟁에 대해서 책임지지 않습니다.</textarea>
		<br />
		<label><input type="checkbox" id="check1" name="agree" value="agree"> 동의 하시면 체크를 눌러주세요.</label>
		</div>
	<hr>
	<div class="mb-3">
		<h5 style="text-align: left;">도전 이용약관</h5>
		<textarea class="form-control" style="width: 100%; height: 300px; text-align: left;" readonly="readonly">
**제1조 (목적)**

본 약관은 주식회사 ㈜OWN(이하 회사라고 합니다)가 제공하는 전자상거래 서비스 및 관련 서비스(이하 서비스라 합니다.) 에 대해 회사와 회원간 또는 회원 간의 권리와 의무, 책임사항 및 서비스 이용절차 등 기본적인 사항을 규정함을 목적으로 합니다.

**제2조 (용어의 정의)**

이 약관에서 사용하는 용어의 정의는 다음과 같습니다.

1. “이용자”란 서비스에 접속하여 이 약관에 따라 회사가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
2. “회원”이란 본 약관에 따라 회사와 이용계약을 체결하고 회사가 제공하는 서비스를 이용하는 자를 말합니다.
3. “서비스”라 함은 회사가 PC 및/또는 모바일 환경에서 제공하는 “챌린저스”, “챌린저스 스토어 ”서비스 및 관련 제반 서비스를 말합니다.
4. “챌린저스”는 회원이 챌린지에 예치금을 내고 참가하여, 챌린지의 달성률에 따라 예치금을 환급받고 상금을 획득하는 내용의 서비스와 이에 부가한 기타 서비스를 제공하는 어플리케이션, 웹페이지 등을 말합니다.
5. “챌린저스 스토어”는 회사가 재화 또는 용역(이하 재화 등이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다. (이하 “챌스토어”)
6. “챌린지”란 일정기간 동안 정해진 목표를 실천하고 챌린저스 어플리케이션을 통해 회사가 정한 방침에 따라 이를 인증한 참가자의 목표달성률에 따라 예치금을 환급 받고 상금을 획득할 수 있는 모바일 대회를 말합니다.
7. “내 영양제”란, 영양제 섭취 인증을 통해 포인트를 쌓고 혜택을 얻을 수 있는 서비스로, 챌린저스 앱 내 탭과  잠금 화면 애플리케이션 방식을 포함합니다.  ”내 영양제” 단어는 추후 회사 사정에 의해 변경될 수 있습니다.) 
8. “콘텐츠”란 회사가 서비스를 위해 회원에게 제공하는 내용물 일체(텍스트, 음성, 영상, 정보 형태의 글(댓글 포함), 사진(이미지), 네트워크 서비스를 포함하되 이에 한정되지 아니 합니다)를 의미합니다.
9. ”예치금”이란 회원이 서비스상에서 직접 결제를 함으로써 또는 회사가 일정한 조건에 따라 회원에게 지급을 결정함으로써 발생한 서비스상의 금액을 말합니다. 예치금은 회원이 챌린지에 참가하기 위해 지불하는 금액, 회원이 결제를 통해 지불한 예치금 중 회사 정책에 따라 환급 받은 금액, 챌스토어 The Smart 서비스 정책에 따라 회사가 회원에게 지급한 금액 등을 포함합니다. “예치금”이라는 용어는 추후 회사 사정에 따라 변경될 수 있습니다. 
10. “참가자”란 예치금을 지불하고 챌린지에 참가중인 회원을 말합니다.
11. “멤버”란 동일 챌린지에 참가하고 있는 참가자를 의미합니다.
12. “수수료”란 회원이 회사의 서비스를 이용하는 과정에서 회사가 정하는 기준에 따라 회원에게 부과하는 비용을 말합니다.
13. “총예치금”이란 하나의 챌린지에 참가중인 모든 참가자들이 지불한 예치금의 총합에 해당하는 금액으로 모인 금액으로 칭할 수 있습니다.
14. “상금”이란 회원의 결제 행위 없이, 회사가 규정한 일정한 조건을 성취한 특정 회원에게 부여되는 서비스 상의 금액을 말합니다. 상금의 적립, 지급, 사용 등과 관련한 구체적인 정책에 대해서는 이용약관 및 앱 내 화면 등으로 별도 고지하는 바에 따릅니다
15. “스토어 포인트”란 회원이 일정한 행위를 마친 때에 회사가 임의로 책정 또는 지급, 조정할 수 있는 서비스 상의 가상 데이터를 의미합니다. 포인트의 적립, 지급, 사용 등과 관련한 구체적인 정책에 대해서는 이용약관 및 챌스토어 상세페이지 등으로 별도 고지하는 바에 따릅니다
16. “챌스토어 The Smart”란 회원이 회사의 서비스에서 생성한 소정의 링크를 통해 타 이용자가 회사의 서비스를 이용한 경우, 회사가 해당 회원 및 이용자에게 혜택을 지급하는 서비스 및 관련 제반 서비스를 의미합니다. 혜택의 지급, 사용 등과 관련한 구체적인 정책은 이용약관 및 챌스토어 서비스 화면 등에서 별도 고지하는 바에 따릅니다. 
17. “상금의 총액”은 챌린지 종료 후 개별 참가자에게 환급되지 않은 예치금의 총합에서 세금과 카드수수료와 챌린저스 수수료를 제외한 금액입니다
18. “미환급금”은 총예치금에서 참가자들에게 환급한 총환급액을 제외한 금액입니다. “미환급금"은 “벌금"이라는 용어로 사용될 수 있습니다.
19. “환급”이란 챌린지 결과 회사의 방침에 따라 예치금의 전부 혹은 일부를 회원에게 돌려주는 활동입니다.
20. “구매비” 란 챌린지 개설자에게 지불하는 돈을 의미합니다. 회사는 해당 거래에 대한 중개수수료만을 매출로 인식합니다. “구매비” 대신 “코칭비”, “모임비” 등으로 다양한 단어를 사용할 수 있습니다.
21. “인증” 이란 회원이 서비스에서 콘텐츠를 업로드하는 행동으로,  1)챌린지의 목표를 정당한 방법으로 수행하거나, 2)챌스토어의 스토어 포인트 적립을 위해 회사가 규정한 미션을 준수하고 있음을 회사가 승인한 것을 의미합니다. 회사는 회원 이 업로드한 콘텐츠를 기준으로 인증 여부를 판단합니다.</textarea>
		<br />
		<label><input type="checkbox" id="check2"  name="agree" value="agree">동의 하시면 체크를 눌러주세요.</label>
		<br />
		<div style="text-align: center;">
			<button class="btn btn-primary px-4 mx-auto my-2" type="button" id="applyBtn" style="align-items: center;">도전 신청하기</button>
		</div>
	</div>

	</div>
	</div>
	</div>
	<script>
    /*<![CDATA[*/
    var header = '[[${_csrf.headerName}]]';
     var token = '[[${_csrf.token}]]';
       console.log(header);
       console.log(token);
     /*]]>*/

		$('#applyBtn').on("click", function(){
			let userId = $('#userId').val();
			let challNo =  $('#challNo').val();	
			let cutChallNo  = challNo.substr(4);
			let challPrice = Number($('#challPrice').val());
			let check1 = $('input:checkbox[id="check1"]').is(":checked")
			let check2 = $('input:checkbox[id="check2"]').is(":checked")
			let myAmt = Number($('#myAmt').val());
			console.log(check1)
			console.log(challNo, userId);
			if( (check1 == true && check2 == true) && myAmt >= challPrice){
				$.ajax({
					url: '/own/chall/applyChall',
					method: 'post',
					data : JSON.stringify({userId: userId, 
										   challNo: challNo}),
					beforeSend : function(xhr){
							     xhr.setRequestHeader(header, token);
					},					   
 					contentType: "application/json",
 					success: function(res){
 						console.log(res)
						//성공시 예치금 - 시키기 
						$.ajax({
							url:'/own/chall/refundAmt',
							method:'post',
							data:JSON.stringify({userId: userId,
												price: challPrice,
												amtType: "도전참가",
												challNo: challNo				
							}),
							beforeSend : function(xhr){
										xhr.setRequestHeader(header, token);
							},
							contentType:"application/json",
							success:function(res){
								alert("참가신청이 완료되었습니다. 승인을 기다려주세요.")
								location.href = '/own/chall/detailChall?challNo=' + cutChallNo;
							},
							error: function(err){
								console.log(err);
							}
						})
 					},
 					error: function(err){
 						console.log(err)
 					}
 				})
			} else if( myAmt < challPrice ){
				alert('예치금이 부족합니다. 마이페이지에서 충전 후 참여바랍니다.');
			} else {
				alert('모든 안내사항을 확인하고, 동의란에 체크 해 주세요.');
			}
		})
	</script>
</body>
</div>
</html>