<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}" lang="ko">

<head>
	<!-- jquery -->
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Free HTML Templates" name="keywords" />

	<!-- Libraries Stylesheet -->
	<link href="/css/chall/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="/css/chall/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

	<!-- JavaScript Libraries -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="/css/chall/lib/easing/easing.min.js"></script>
	<script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/css/chall/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>

	<!-- 내 css들 -->
	<link href="/css/chall/css/chall.css" rel="stylesheet" />
	<style>
	</style>
	<script th:inline="javascript">
		$(document).ready(function () {
			//근데이거 좀따가 생각해서 홈페이지로 이동해야할듯
			/*<![CDATA[*/
			let joinChall = /*[[${joinChall}]]*/
				//도전멤버정보가 없는 경우
				console.log(joinChall);
			if (joinChall != null) {
				console.log('도전 회원 정보 등록하기~! 모달열리나요.');
				$('#joinChall').trigger("click");
			}
			let result = /*[[${result}]]*/
				console.log(result)
			if (result == 1) {
				alert("오운 도전에 오신 것을 환영합니다!");
			} else if (result == 0) {
				alert("오류가 발생하였습니다.")
			}
			/*]]>*/
		})
	</script>
	<meta charset="utf-8">
	<title>OWN _ 도전</title>
</head>
<div layout:fragment="content">
<body>
		<!-- Banner Start -->
		<div class="container-fluid bg-primary mb-3" style="padding: 0">
			<div class="d-flex flex-column align-items-center justify-content-end" style="min-height: 300px; background-color: #6ab0cd">
				<div class="justify-content-center" style="height: 150px; background-color: #6ab0cd">
					<h4 class="text-center" style="color: white; margin-top: 30px;">오늘의 운동</h4>
					<h2 class="text-center" style="color: white;">Challenges</h2>
				</div>
				<div class="container-fluid" style="background-color: #00394f; width: 1100px;height: 130px; padding-top: 40px;
				border-top-left-radius: 25px; border-top-right-radius: 25px;">
						<div class="input-group" style="width: 950px; margin: auto;">
							<input type="text" class="form-control form-control-lg" id="searchWord" placeholder="어떤 운동을 좋아하시나요?" />
							<div class="input-group-append" id="searchBtn">
								<span class="input-group-text bg-transparent text-primary"><i class="fa fa-search"></i></span>
							</div>
						</div>
				</div>
			</div>
		</div>
		<!-- Banner End -->

		<!-- 검색  -->
		<!-- <div class="container-fluid pt-4 mb-4" style="width: 800px">
			<div class="input-group">
				<input type="text" class="form-control form-control-lg" id="searchWord" placeholder="어떤 운동을 좋아하시나요?" />
				<div class="input-group-append" id="searchBtn">
					<span class="input-group-text bg-transparent text-primary"><i class="fa fa-search"></i></span>
				</div>
			</div>
		</div> -->
		<!-- 검색 끝 -->
<!-- 
		<div th:if="${session.loginUser}">
			도전 홈 _ 로그인 중
			<h1 th:text="${session.loginUser.userId}"></h1>
			<input id="userId" type="hidden" th:value="${session.loginUser.userId}">
			<div th:if="${session.loginUser}">
				<a href="/own/chall/mypage">마이페이지</a>
				<a href="/own/chall/insertFormChall">도전만들러고고</a>
				<a href="/own/chall/myChall">내가만든도전보기</a>
			</div>
		</div>
		<div th:if="${session.loginUser} == null">로그인 안한 상태 볼 순 있지만 등록이나 그런건불가능</div> -->

		<!-- 운동카테고리 -->
			<div class="container py-5">
				<div class="row" style="justify-content: center; cursor: pointer;" id="categoryBtn">
					<div style="text-align: center; width: 150px; height:150px">
							<img src="/img/chall/category/add (1).png" style="width: 100px; height: 100px; object-fit: cover"
								picname="chall" />
							<p class="text-primary">도전 만들기</p>
						</div>
					<div style="text-align: center; width: 150px; height:150px">
						<img src="/img/chall/category/걷기.png" style="width: 100px; height: 100px; object-fit: cover"
							picname="걷기" />
						<p class="p-2">걷기</p>
					</div>
<!-- 					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/계단오르기.png" style="width: 100px; height: 100px; object-fit: cover"
							picname="계단오르기" />
						<p class="p-2">계단오르기</p>
					</div> -->
					<div style="text-align: center;cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/골프2.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="골프" />
						<p class="p-2">골프</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/달리기.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="달리기" />
							<p class="p-2">달리기</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/배구.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="배구" />
							<p class="p-2">배구</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/배드민턴.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="배드민턴" />
							<p class="p-2">배드민턴</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/사이클.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="사이클" />
							<p class="p-2">사이클</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/실내자전거.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="실내자전거" />
							<p class="p-2">실내자전거</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/유도.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="유도" />
							<p class="p-2">유도</p>
					</div>
					<div style="text-align: center; cursor: pointer;  width: 150px; height:150px">
						<img src="/img/chall/category/줌바.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="줌바" />
							<p class="p-2">줌바</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/축구.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="축구" />
							<p class="p-2">축구</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/탁구.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="탁구" />
							<p class="p-2">탁구</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/태권도.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="태권도" />
							<p class="p-2">태권도</p>
					</div>
					<div style="text-align: center; cursor: pointer; width: 150px; height:150px">
						<img src="/img/chall/category/하이킹.png" style="width: 100px; height: 100px;  object-fit: cover"
							picname="하이킹" />
							<p class="p-2">하이킹</p>
					</div>
				</div>
			</div>


		<!-- 운동카테고리 끝 -->

		<!-- 도전페이징효과 테스트 -->
		<!-- Testimonial Start -->
		<div th:if="${myChall} !=null">
			<div class="container pb-5">
				<div class="container p-0">
					<div class="text-center pb-2" style="cursor: pointer;"
					 th:onclick="|location.href='@{/own/chall/myChall}'|" >
						<p class="section-title px-5">
							<span class="px-2">My Challenges</span>
						</p>
						<h1 class="mb-4">내가 참여중인 챌린지</h1>
					</div>
					<!-- 한개를 붙여야.. 밑에 점들이 나온다 ㅋ...이유는 모르겠음.. 그리고원래 갯수만큼..나오는데왜안노오-->
					<div class="owl-carousel testimonial-carousel">
						<th:block th:each="my: ${myChall}">
							<div class="testimonial-item px-3">
								<div class="grid" style="padding: 5px ; cursor: pointer;"
								 th:onclick="|location.href='@{/own/chall/detailChall(challNo = ${#strings.substringAfter(my.challNo, 'CHA_')})}'|">
									<div class="card card__one" style="width: 300px; height:350px;">
										<figure class="card__img">
											<img th:src="|/imgView/${my.firstImage}|" style="width: 300px; height:210px; object-fit: cover" />
										</figure>
										<div class="card__desc vldno" style="text-align: center;">
											<h5 style="margin-top: 5px;"th:text="${my.challTitle}"></h5>
											<div class="row" style="justify-content: center;">
												<p style="margin: 5px 5px;">[[${my.challDuration}]]주 동안</p>
												<p style="margin: 5px 5px;">주 [[${my.challFreq}]] 회</p>
												<p style="margin: 5px 5px;">[[${my.challStatus}]]</p>
									</div>
								</div>
								</div>
							</div>	
						</div>
					</th:block>
		  		</div>
			</div>
		</div>
	</div> 
	<!-- Testimonial End -->

<!--  -->
	<div class="container pb-5">
		<div class="container p-0">
			<div class="text-center pb-2">
				<p class="section-title px-5">
					<span class="px-2">Pop Challenges</span>
				</p>
				<h1 class="mb-4">현재 인기있는 도전</h1>
			</div>
			<!-- 한개를 붙여야.. 밑에 점들이 나온다 ㅋ...이유는 모르겠음.. 그리고원래 갯수만큼..나오는데왜안노오-->
			<div class="owl-carousel testimonial-carousel">
				<th:block th:each="cha: ${popChall}">
					<div class="testimonial-item px-3">
						<div class="grid" style="padding: 5px ; cursor: pointer;"
						th:onclick="|location.href='@{/own/chall/detailChall(challNo = ${#strings.substringAfter(cha.challNo, 'CHA_')})}'|">
							<div class="card card__one" style="width: 300px; height:350px;">
								<figure class="card__img">
									<img th:src="|/imgView/${cha.firstImage}|" style="width: 300px; height:210px; object-fit: cover" />
								</figure>
								<div class="card__desc vldno" style="text-align: center;">
									<h5 style="margin-top: 5px;"th:text="${cha.challTitle}"></h5>
									<div class="row" style="justify-content: center;">
										<p style="margin: 5px 5px;">[[${cha.challDuration}]]주 동안</p>
										<p style="margin: 5px 5px;">주 [[${cha.challFreq}]] 회</p>
										<p style="margin: 5px 5px;">[[${#dates.format(cha.challStartdate, 'M/d')}]]시작</p>
							</div>
						</div>
						</div>
					</div>	
				</div>
			</th:block>
		  </div>
	</div>
</div>

	<!-- 나의 도전 -->


	
	<!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top" >
    	<i class="fa fa-angle-double-up"></i></a>

	<!-- 첫번째 modal 모달 버튼 -->
	<h1 class="modalBtn" id="joinChall" style="display: none">MODAL_1</h1>
	<!-- 첫 번째 Modal -->
	<div class="modal">
		<div th:if="${session.loginUser} != null">
		<!-- 첫 번째 Modal의 내용 -->
		<div class="modal-content bg-light p-5" style="width:700px;" >
			<span class="close" style="display: none;">&times;</span>
			<h3>오운 도전은 처음이신가요? </h3>
			<form action="/own/chall/joinChall" method="post" enctype="multipart/form-data" onsubmit="return check()">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<input id="userId" type="hidden" name="userId" th:value="${session.loginUser.userId}">
				<input id="memAccname" type="hidden" name="memAccname" th:value="${session.loginUser.userName}">
				<div class="form-group">
					<label for="memNick">도전 닉네임 NickName *</label>
					<input type="text" class="form-control" id="memNick" name="memNickname" required onchange="nickDouble()"
						placeholder="1-8자의 한글, 영어만 이용가능합니다." />
					<button type="button" id="idchk" style="WIDTH: 70pt; HEIGHT: 45px" value="0">중복체크</button>
					<p class="help-block text-danger"></p>
				</div>
				<div class="form-group">
					<label for="inputFile">도전 프로필 * </label>
					<input name="uploadfile" type="file" id="btnAtt" />
					<div id="att_zone" data-placeholder='사진을 첨부하세요'></div>
					<p class="help-block text-danger"></p>
				</div>
				<div class="form-group">
					<label for="memBank">예치금 환금 은행 *</label>
					<input type="text" class="form-control" id="memBank" name="memBank" style="width: 100px;"/>
					<p class="help-block text-danger"></p>
				</div>
				<div class="form-group">
					<label for="memACC">예치금 계좌번호 *</label>
					<input type="text" class="form-control" id="memACC" name="memACC"  style="width: 400px;"
					placeholder="회원정보의 이름과 동일한 예금주의 계좌를 입력해주세요." />
					<p class="help-block text-danger"></p>
				</div>
				<div class="control-group">
					<label for="memIntro">도전 다짐 *</label>
					<textarea class="form-control" rows="6" placeholder="자신의 도전 다짐을 말해주세요." required="required"
						id="memIntro" name="memIntro"></textarea>
					<p class="help-block text-danger"></p>
				</div>
				<div>
					<button class="btn btn-primary py-2 px-4" type="submit" id="addBtn"> 도전 등록하기 </button>
				</div>
			</form>
		</div>
	</div>
	</div>
		<!-- 두 번째 Modal을 여는 클래스 -->
		<h1 class="modalBtn">MODAL_2</h1>
		<!-- 두 번째 Modal -->
		<div class="modal">
			<!-- 두 번째 Modal의 내용 -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<p>두 번째 Modal</p>
			</div>
		</div>

		<!-- 세 번째 Modal을 여는 클래스 -->
		<h1 class="modalBtn">MODAL_3</h1>
		<!-- 세 번째 Modal -->
		<div class="modal">
			<!-- 세 번째 Modal의 내용 -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<p>세 번째 Modal</p>
			</div>
		</div>

	<script>



	 //카테고리 그림 클릭 시 검색으로 이동
	    $('#categoryBtn div img').click(function(){
	    	console.log(this);
	    	let picname = $(this).attr('picname');
	    	console.log(picname);
			if(picname == "chall"){
				location.href ='/own/chall/insertFormChall'
			}else {				
	 	   		location.href = '/own/chall/searchChall?searchWord=' + picname 
			}
	    	//아작스로 이동
	    })
 		//검색
 		$('#searchBtn').on('click', function(){
 			console.log("헐헐");
 			console.log($('#searchWord').val());
			let searchWord = $('#searchWord').val();
			console.log(searchWord);
			if(searchWord != ''){
				location.href = '/own/chall/searchChall?searchWord=' + searchWord
			} else if(searchWord == ''){
				alert('검색어를 입력해주세요!');
			}
 		})

		//홈에서 옆으로 넘어가는 효과
		 $(".testimonial-carousel").owlCarousel({
				center: true,
				autoplay: true,
				smartSpeed: 2000,
				dots: true,
				loop: true,
				responsive: {
					0:{
						items:1
					},
					576:{
						items:1
					},
					768:{
						items:2
					},
					992:{
						items:3
					}
				}
    	});

		//아이디중복체크
		$('#idchk').on('click',function(){
        	let nick = $('#memNick').val();  
            console.log(nick)
        	var specialRule = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
        	var korean = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
        	var capital = /[A-Z]/;
        	if(nick.length>8 || nick.length<2){
        		alert("2 - 8 자로 입력해주세요.");
        		$('#memNick').val("");
        		$('#memNick').focus();
        		return
        	}
        	if(specialRule.test(nick)) {
                alert("특수문자는 입력 불가합니다");
				$('#memNick').val("");
        		$('#memNick').focus();
        		return
        	}
			$.ajax({
				url: '/own/chall/nickCheck?nick='+nick,
				method: 'get',
				success: function(result){
					if(result == 1){    	  
						//$('#memNick').attr('value',0)
						$("#idchk").attr('value',0)
						alert('중복된 닉네임입니다.')
					}
					else{
						//$('#memNick').attr('value',1)
						$("#idchk").attr('value',1)
						alert('사용 가능한 닉네임입니다.')
					}
				},
				error : function(err){
					console.log(err);
				}
			})
		})

		function nickDouble(){
			$("#idchk").attr('value',0);
		}

		function check(){
			//let idcheck = $("#idchk").val();
            let nickcheck =  $("#idchk").val();
			if( nickcheck == 1){
				//true시 submit 된다.
				return true;
			} else {
				alert('닉네임 중복체크가 누락되었습니다.');
				return false;
			}
		}
		//----------------------------- Modal -----------------------------------------------------

		// Modal을 가져옵니다.
		var modals = document.getElementsByClassName("modal");
		// Modal을 띄우는 클래스 이름을 가져옵니다.
		var btns = document.getElementsByClassName("modalBtn");
		// Modal을 닫는 close 클래스를 가져옵니다.
		var spanes = document.getElementsByClassName("close");
		var funcs = [];
		
		// Modal을 띄우고 닫는 클릭 이벤트를 정의한 함수
		function Modal(num) {
		return function() {
			// 해당 클래스의 내용을 클릭하면 Modal을 띄웁니다.
			btns[num].onclick =  function() {
				modals[num].style.display = "block";
				console.log(num);
			};
		
			// <span> 태그(X 버튼)를 클릭하면 Modal이 닫습니다.
			spanes[num].onclick = function() {
				modals[num].style.display = "none";
			};
		};
		}
		
		// 원하는 Modal 수만큼 Modal 함수를 호출해서 funcs 함수에 정의합니다.
		for(var i = 0; i < btns.length; i++) {
		funcs[i] = Modal(i);
		}
		
		// 원하는 Modal 수만큼 funcs 함수를 호출합니다.
		for(var j = 0; j < btns.length; j++) {
		funcs[j]();
		}
		
		//------------------------------------페이징------------------------------------

		// 인기 도전 페이징 처리..아작스
		$('#pagePopChall').on('click', '.pagePort', function(){
		    //페이지번호 + 밴드식별번호
		    let page = $(this).attr('value');
		    console.log($(this).attr('value'));
		    $.ajax({
		       url: '/own/chall/popChallAjax',
		       method: 'get',
			   data: {page: page,
					  pageUnit:3,
					  pageSize:3}
		    }).then(result => {
		       console.log(result);
				//형태만들기 이미있는애들 없애준다..
				let Chall = $('#rowPopChall')
				let rowname = "rowPopChall";
				$('#rowPopChall').empty();
				//다시 형태 붙이는애 만들어주기..
				result.forEach( cha => {
					makeChallDiv(cha, rowname);
		       	})
				//버튼 다시초기화..비우기
				$('#pagePopChall').empty();
		        let pagingM = result[0].paging;
		         //시작 버튼
		        console.log(result[0]); //첫번째? 가져오기..?
		          let startpageTag = $('<ul class="pagination" />');
		          $('#pagePopChall').append(startpageTag);
		          //이전 버튼만들기
		          if(pagingM.startPage>1){
					let pageBeforTag = `<li class="page-item">
                                 <a class="page-link pagePort" aria-label="Previous" value=${pagingM.startPage-1}>
                                 <span aria-hidden="true"> <-
								 <span class="lnr lnr-chevron-left pagePort"></span></span></a>
                                 </li>`
                    startpageTag.append(pageBeforTag); 
		          }               
		          //페이지목록..
		          for(let pg = pagingM.startPage; pg<=pagingM.endPage; pg++){
		             if(pg != pagingM.page){
		                let pageTag = `<li class="page-item">
		                            <a class="page-link pagePort" value=${pg}>${pg}</a>
		                            </li>`
		                startpageTag.append(pageTag);
		             } else if(pg == pagingM.page ){
						 let pageTag =  `<li class="page-item active">
							<a class="page-link" >${pg}</a>
							</li>`
							startpageTag.append(pageTag);
						}
					}               
					//이후 버튼만들기
					if(pagingM.endPage<pagingM.lastPage){
						let pageAfterTag =`<li class="page-item">
							<a class="page-link pagePort" aria-label="Next" value=${pagingM.endPage+1}>
								<span aria-hidden="true"> ->
								<span class="lnr lnr-chevron-right"></span></span></a>
								</li>`
								startpageTag.append(pageAfterTag);
							}
							$('#pagePopChall').append(startpageTag);
				})
		   })

		// 나의 도전 페이징 처리..아작스
		$('#pageMyChall').on('click', '.pagePort', function(){
		    //페이지번호 + 밴드식별번호
		    let page = $(this).attr('value');
		    console.log($(this).attr('value'));
		    $.ajax({
		       url: '/own/chall/myChallAjax',
		       method: 'get',
			   data:{page: page,
					 pageUnit:3,
					 pageSize:3}
		    }).then(result => {
		       console.log(result);
				//형태만들기
				let Chall = $('#rowMyChall');
				let rowname = "rowMyChall";
				$('#rowMyChall').empty();
				result.forEach( cha => {
					makeChallDiv(cha, rowname);
		       	})
				//페이지버튼 초기화
				$('#pageMyChall').empty();
		        let pagingM = result[0].paging;
		         //시작 버튼
		        console.log(result[0]); //첫번째? 가져오기..?
		          let startpageTag = $('<ul class="pagination" />');
		          $('#pageMyChall').append(startpageTag);
		          //이전 버튼만들기
		          if(pagingM.startPage>1){
					let pageBeforTag = `<li class="page-item">
                                 <a class="page-link pagePort" aria-label="Previous" value=${pagingM.startPage-1}>
                                 <span aria-hidden="true"> <-
								 <span class="lnr lnr-chevron-left pagePort"></span></span></a>
                                 </li>`
                    startpageTag.append(pageBeforTag); 
		          }               
		          //페이지목록..
		          for(let pg = pagingM.startPage; pg<=pagingM.endPage; pg++){
		             if(pg != pagingM.page){
		                let pageTag = `<li class="page-item">
		                            <a class="page-link pagePort" value=${pg}>${pg}</a>
		                            </li>`
		                startpageTag.append(pageTag);
		             } else if(pg == pagingM.page ){
						 let pageTag =  `<li class="page-item active">
							<a class="page-link" >${pg}</a>
							</li>`
							startpageTag.append(pageTag);
						}
					}               
					//이후 버튼만들기
					if(pagingM.endPage<pagingM.lastPage){
						let pageAfterTag =`<li class="page-item">
							<a class="page-link pagePort" aria-label="Next" value=${pagingM.endPage+1}>
								<span aria-hidden="true"> ->
								<span class="lnr lnr-chevron-right"></span></span></a>
								</li>`
								startpageTag.append(pageAfterTag);
							}
					$('#pageMyChall').append(startpageTag);
				})
		   })

		//챌린지 폼 만들기
		function makeChallDiv(cha, rowname){
			let challNo = cha.challNo.substr(4);
			let div1 = $('<div />').addClass("col-lg-4 mb-4");
			let div2 = $('<div />').addClass("card border-0 shadow-sm mb-2");
			let hiddenInput = $('<input />').attr('type', 'hidden').val(cha.challNo);
			let img2_1 = $('<img />').addClass("card-img-top mb-2").attr('src', '/imgView/'+ cha.firstImage).attr('style', 'height:230px; object-fit: cover')
			let div2_2 = $('<div />').addClass("card-body bg-light text-center p-4")
			let h4_3 = $('<h4 />').addClass("card-title"). text(cha.challTitle);
			let div_3 = $('<div />').addClass("d-flex justify-content-center mb-3").append(  ($('<small />').addClass("mr-3").text(cha.nowMem + '참여중')),
																						     ($('<small />').addClass("mr-3").text(cha.challDuration + '주 동안')),
																						     ($('<small />').addClass("mr-3").text('주 '+cha.challFreq + '회'))
																						  );
			let a_3 = $('<a />').addClass("btn btn-primary px-4 mx-auto my-2").attr('href', 'detailChall?challNo=' + challNo).text('도전하러 가기'); 
			div1.append(div2.append(hiddenInput, img2_1, div2_2.append(h4_3, div_3, a_3)));
			let row = $(`#${rowname}`).append(div1);
			// $('#rowPopChall').append(div1);
		}
		
		//----------------------------첨부파일 화면에 띄우기------------------------------------

      	/* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
		  imageView = function imageView(att_zone, btn){
					var attZone = document.getElementById(att_zone);
					var btnAtt = document.getElementById(btn)
					var sel_files = [];

					// 이미지와 체크 박스를 감싸고 있는 div 속성
					var div_style = 'display:inline-block;position:relative;'
								+ 'width:500px;height:auto;margin:5px;z-index:1';
					// 미리보기 이미지 속성
					var img_style = 'width:100%;height:100%;z-index:none';
					// 이미지안에 표시되는 체크박스의 속성
					var chk_style = 'width:40px;height:40px;position:absolute;font-size:30px;'
								+ 'right:0px;bottom:0px;z-index:999;background-color:rgba(255,255,255,0.1);color:blue';

					btnAtt.onchange = function(e){
					var files = e.target.files;
					var fileArr = Array.prototype.slice.call(files)
					for(f of fileArr){
						imageLoader(f);
					}
					}  

					// 탐색기에서 드래그앤 드롭 사용
					attZone.addEventListener('dragenter', function(e){
					e.preventDefault();
					e.stopPropagation();
					}, false)

					attZone.addEventListener('dragover', function(e){
					e.preventDefault();
					e.stopPropagation();

					}, false)

					attZone.addEventListener('drop', function(e){
					var files = {};
					e.preventDefault();
					e.stopPropagation();
					var dt = e.dataTransfer;
					files = dt.files;
					for(f of files){
						imageLoader(f);
					}
					}, false)

					/*첨부된 이미리즐을 배열에 넣고 미리보기 */
					imageLoader = function(file){
					sel_files.push(file);
					var reader = new FileReader();
					reader.onload = function(ee){
						let img = document.createElement('img')
						img.setAttribute('style', img_style)
						img.src = ee.target.result;
						attZone.appendChild(makeDiv(img, file));
					}
					reader.readAsDataURL(file);
					}

					/*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
					makeDiv = function(img, file){
					var div = document.createElement('div')
					div.setAttribute('style', div_style) 
					var btn = document.createElement('input')
					btn.setAttribute('type', 'button')
					btn.setAttribute('value', 'x')
					btn.setAttribute('delFile', file.name);
					btn.setAttribute('style', chk_style);
					btn.onclick = function(ev){
						var ele = ev.srcElement;
						var delFile = ele.getAttribute('delFile');
						for(var i=0 ;i<sel_files.length; i++){
						if(delFile== sel_files[i].name){
							sel_files.splice(i, 1);      
						}
						}
						dt = new DataTransfer();
						for(f in sel_files) {
						var file = sel_files[f];
						dt.items.add(file);
						}
						btnAtt.files = dt.files;
						var p = ele.parentNode;
						attZone.removeChild(p)
					}
					div.appendChild(img)
					div.appendChild(btn)
					return div
					}
			}('att_zone', 'btnAtt')
</script>
</body>
</div>
</html>