<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}" lang="ko">

<head>
<!-- jquery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="Free HTML Templates" name="keywords" />

<!-- Libraries Stylesheet -->
<link href="/css/chall/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet" />
<link href="/css/chall/lib/lightbox/css/lightbox.min.css"
	rel="stylesheet" />

<!-- JavaScript Libraries -->
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/css/chall/lib/easing/easing.min.js"></script>
<script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/css/chall/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>

<!-- 내 css들 -->
<link href="/css/chall/css/chall.css" rel="stylesheet" />

<meta charset="utf-8">
<title>검색결과</title>
</head>
<div layout:fragment="content">
	<body>
 		<!-- Banner Start -->
		 <div class="container-fluid bg-primary mb-3" style="padding: 0">
			<div class="d-flex flex-column align-items-center justify-content-end" style="min-height: 300px; background-color: #6ab0cd">
				<div class="justify-content-center" style="height: 150px; background-color: #6ab0cd">
					<h4 class="text-center" style="color: white; margin-top: 30px;">오늘의 운동</h4>
					<h2 class="text-center" style="color: white;">Challenges</h2>
				</div>
			</div>
		</div>
		<!-- Banner End -->

		<!-- Blog Start -->
		<div class="container-fluid pt-5">


			<div class="container-fluid py-5 mt-2"
				style="margin: auto; width: 1300px;">
				<div style="display: flex;">
					<div class="w-25 mt-1 mt-lg-0">

						<div class="mb-3">
							<form action="">
								<div class="input-group">
									<input type="text" class="form-control form-control-lg"
										placeholder="Keyword" />
									<div class="input-group-append">
										<span class="input-group-text bg-transparent text-primary"><i
											class="fa fa-search"></i></span>
									</div>
								</div>
							</form>
						</div>

						<!-- Category List -->
						<div class="mb-5 bg-light rounded p-5">
							<h2 class="mb-4">Search</h2>
							<ul class="list-group list-group-flush bg-light">
								<li
									class="list-group-item d-flex justify-content-between align-items-center px-0 bg-light">
									<a href="/own/chall/myInfo">도전 찾기</a>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center px-0 bg-light">
									<a href="/own/chall/myAmount">새로운 도전</a>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center px-0 bg-light">
									<a href="/own/chall/myInfo">인기있는 도전</a>
								</li>
							</ul>

						</div>

					</div>

					<div class="ml-5" style="display: inline-block; width: 1300px;">
						<div class="text-center pb-2">
							<p class="section-title px-5">
								<span class="px-2">Search Challenges</span>
							</p>
							<h1 class="mb-4">어떤 도전을 찾으시나요?</h1>
						</div>

						<div class="row" style="justify-content: center;" onchange=findChall()>
							<div class="m-3" style="width: 200px;">
								<select class="form-control" id="cCategory" name="cCategory"
									style="height: 47px">
									<option selected>도전 카테고리</option>
									<th:block th:each="exer:${exersub}">
										<option th:value="${exer.exersubName}" th:text=${exer.exersubName} />
									</th:block>
								</select>
							</div>
							<div class="m-3" style="width: 200px;">
								<select class="form-control" id="cStatus" name="cStatus"
									style="height: 47px">
									<option selected>도전 상태</option>
									<option value="충전">시작 전</option>
									<option value="도전참가">진행 중</option>
									<option value="도전환급">완료</option>
								</select>
							</div>

							<div class="m-3" style="width: 200px;">
								<select class="form-control" id="cDuration" name="cDuration"
									style="height: 47px">
									<option selected>도전 기간</option>
									<option th:each=" i: ${#numbers.sequence(1, 4)}" th:value="${i}" th:text="|${i}주 동안|" />
								</select>
							</div>
							<div class="m-3" style="width: 200px;">
								<select class="form-control" id="cFreq" name="cFreq"
									style="height: 47px" >
									<option selected>도전 횟수</option>
									<th:block th:each=" i: ${#numbers.sequence(1, 7)}"><option th:value="${i}" th:text="|주 ${i}회|"></option>
									</th:block>
									<option value="충전">충전</option>
									<option value="도전참가">도전참가</option>
								</select>
							</div>
						</div>

						<div style="margin:auto;">
							<div class="row pb-3" id="challRow" style="justify-content: center;" >
								<th:block th:each="sl: ${list}">
									<div class="grid m-3" style="padding: 3px; cursor: pointer;"
										th:onclick="|location.href='@{/own/chall/detailChall(challNo = ${#strings.substringAfter(sl.challNo, 'CHA_')})}'|">
										<div class="card card__one"
											style="width: 260px; height: 350px;">
											<figure class="card__img">
												<img th:src="|/imgView/${sl.firstImage}|"
													style="width: 260px; height: 210px; object-fit: cover" />
											</figure>
											<div class="card__desc vldno" style="text-align: center;">
												<h5 style="margin-top: 5px;" th:text="${sl.challTitle}"></h5>
												<div class="row" style="justify-content: center;">
													<p style="margin: 5px 10px;">[[${sl.challDuration}]]주
														동안</p>
													<p style="margin: 5px 10px;">주 [[${sl.challFreq}]] 회</p>
													<p style="margin: 5px 10px;">[[${#dates.format(sl.challStartdate,
														'M/d')}]]시작</p>
												</div>
												<!-- <a th:href="@{/own/chall/detailChall(challNo = ${#strings.substringAfter(sl.challNo, 'CHA_')})}"
											  class="btn btn-primary px-4 mx-auto my-2">상세보기</a> -->
											</div>
										</div>
									</div>
								</th:block>
							</div>

							<!-- 페이징버튼 넣기 -->
							<div id="navPaging">
								<nav class="blog-pagination justify-content-center d-flex"
									id="nowChallPaging" th:if="${!#lists.isEmpty(myChall)}">
									<!--================ 이전  =================-->
									<ul class="pagination">
										<li class="page-item" th:if="${paging.startPage > 1}"><a
											class="page-link" aria-label="Previous"
											th:value="${paging.startPage-1}"> <span
												aria-hidden="true"><span
													class="lnr lnr-chevron-left pagePort"></span></span></a></li>
										<!--================ 페이지 이동 1_2_3_4_5  =================-->
										<th:block
											th:each="pag:${#numbers.sequence(paging.startPage,paging.endPage)}">
											<li class="page-item" th:if="${pag != paging.page}"><a
												class="page-link pagePort" th:value="${pag}"
												th:text="${#numbers.formatInteger(pag,1)}"></a></li>
											<li class="page-item active" th:if="${pag==paging.page}"><a
												class="page-link" th:text="${#numbers.formatInteger(pag,1)}"></a>
											</li>
										</th:block>
										<!--================ 페이지 이동 1_2_3_4_5 끝 =================-->
										<!--================ 이후  =================-->
										<li class="page-item"
											th:if="${paging.endPage<paging.lastPage}"><a
											class="page-link pagePort" aria-label="Next"
											th:value="${paging.endPage+1}"> <span aria-hidden="true"><span
													class="lnr lnr-chevron-right"></span></span></a></li>
									</ul>
								</nav>
								<nav class="blog-pagination justify-content-center d-flex"
									id="likeChallPaging"></nav>
								<nav class="blog-pagination justify-content-center d-flex"
									id="leaderChallPaging"></nav>
								<nav class="blog-pagination justify-content-center d-flex"
									id="doneChallPaging"></nav>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<!-- Blog End -->
		<script type="text/javascript">

	function findChall(){
		console.log("변하나요? 계속?");
	}


	//챌린지 폼 만들기
	function makeChallDiv(cha){
		console.log(cha.challLeader);
		let challNo = cha.challNo.substr(4);
		console.log(challNo);
		let div1 = $('<div />').addClass("col-lg-4 mb-4");
		let div2 = $('<div />').addClass("card border-0 shadow-sm mb-2");
		let hiddenInput = $('<input />').attr('type', 'hidden').val(cha.challNo);
		let img2_1 = $('<img />').addClass("card-img-top mb-2").attr('src', '/imgView/'+ cha.firstImage).attr('style', 'height:230px; object-fit: cover')
		let div2_2 = $('<div />').addClass("card-body bg-light text-center p-4")
		let h4_3 = $('<h4 />').addClass("card-title"). text(cha.challTitle);
		let div_3 = $('<div />').addClass("d-flex justify-content-center mb-3").append(($('<small />').addClass("mr-3").text(cha.challStartdate + '시작')),
																					   ($('<small />').addClass("mr-3").text(cha.challDuration + '주 동안')),
																					   ($('<small />').addClass("mr-3").text('주 '+cha.challFreq + '회'))
																					  );
		let a_3 = $('<a />').addClass("btn btn-primary px-4 mx-auto my-2").attr('href', 'detailChall?challNo=' + challNo); 
		div1.append(div2.append(hiddenInput, img2_1, div2_2.append(h4_3, div_3, a_3)));
		$('#challRow').append(div1);
	}
	
</script>
</div>
</body>
</html>