<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>add_chall</title>
</head>
<div layout:fragment="content">
	<body>
<script th:inline="javascript">
$(function(){
	//근데이거 좀따가 생각해서 홈페이지로 이동해야할듯
	/*<![CDATA[*/
	let sessionId = /*[[${session.loginUser}]]*/
	console.log(sessionId);
	if(sessionId == null){
		alert('아이디없음')
		return location.href = '/own/chall/home';
	}
    /*]]>*/
})
</script>
		<legend>도전을 등록 페이지</legend>
		
		<div th:if="${session.loginUser}">
			오운_도전 홈
			<h1 th:text="${session.loginUser.userId}"></h1>
		<input id ="challLeader" type="hidden" th:value="${session.loginUser.userId}">
		</div>
		<form id="insertChall">
			<ul></ul>
				<li>도전제목:<input id="challTitle">
				<li>카테고리:<select name="challCategory" id="challCategory" >
						<th:block th:each="exer:${exersub}">
							<option th:value="${exer.exersubName}" th:text=${exer.exersubName} />
						</th:block>
				</select>
				<li>태그<input id="challTag">
				<li>도전 시작일<input type="date" id="challStartdate">
				<li>도전기간<select name="challDuration" id="challDuration">
							<option th:each=" i: ${#numbers.sequence(1, 4)}" th:value="${i}" th:text="${i}" />
				</select>
				<li>도전빈도<select name="challFreq" id="challFreq" >
						<th:block th:each=" i: ${#numbers.sequence(1, 7)}">
							주 <option th:value="${i}" th:text="${i}">회</option>
						</th:block>
				</select>
				<li>도전가능인원<input type="number" id="maxMember"
					placeholder="1~20사이로 입력" min:1 max:20>
				<li>도전금액<input type="number" placeholder="1000원 단위로 입력"
					id="challPrice" min:1000>
				<li>* 최소 도전금액은 1000원입니다. 금액 단위는 1000원입니다.
				<li>도전소개<input type="content" id="challIntro">
				<li>인증방법<input id="vldMethod">
<!-- 				<li>도전리더<input id="challLeader"> <br /> -->
					<button type="button" id="addBtn">도전등록</button>
		</ul>
		</form>
		<script>
			$('#addBtn').on("click", function(){
				let challTitle = $('#challTitle').val();
				let challCategory = $('#challCategory').val();
				let challTag = $('#challTag').val();
				let challDuration = $('#challDuration').val();
				let challFreq = $('#challFreq').val();
				let maxMember = $('#maxMember').val();
				let challPrice = $('#challPrice').val();
				let challIntro = $('#challIntro').val();
				let vldMethod = $('#vldMethod').val();
				let challLeader = $('#challLeader').val();
				let startDate = $('#challStartdate').val();
				console.log(challTitle, challCategory, challFreq, challDuration, startDate)
			 $.ajax({
			 url: '/own/chall/insertChall',
			 method: 'post',
			 data : JSON.stringify({challTitle: challTitle, 
				 					challCategory: challCategory, 
				 					challTag: challTag,
				 					challDuration: challDuration,
				 					challFreq: challFreq,
				 					maxMember: maxMember,
				 					challPrice: challPrice,
				 					challIntro: challIntro,
				 					vldMethod: vldMethod,
				 					challStartdate: startDate,
				 					challLeader: challLeader}),
			 contentType: "application/json"
			 }).then(res => {
				 if(res != 0 ){
					 alert('도전 등록 완료. 도전리더가 도전을 신청해야 도전이 시작됩니다.')
					 console.log(res)
					 location.href = '/own/chall/detailChall?challNo='+ res
				 }else{
					 alert('도전 등록 실패')
				 }
			 })
			 }) 
		</script>
	</body>
</div>
</html>