<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}" lang="ko">

<head>
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Free HTML Templates" name="keywords" />

	<!-- Libraries Stylesheet -->
	<link href="/css/chall/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="/css/chall/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

	<!-- JavaScript Libraries -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="/css/chall/lib/easing/easing.min.js"></script>
	<script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/css/chall/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>

	<!-- 내 css들 -->
	<link href="/css/chall/css/chall.css" rel="stylesheet" />
	
	<!-- google chart -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<meta charset="utf-8">
	<title>오늘의 운동 _ OWN 마이페이지</title>
</head>

<div layout:fragment="content">

	<body>

		<!-- Banner Start -->
	 <div class="container-fluid bg-primary mb-3" style="padding: 0">
		<div class="d-flex flex-column align-items-center justify-content-end" style="min-height: 300px; background-color: #6ab0cd">
			<div class="justify-content-center" style="height: 150px; background-color: #6ab0cd">
				<h4 class="text-center" style="color: white; margin-top: 30px;">오늘의 운동</h4>
				<h2 class="text-center" style="color: white;">Challenges</h2>
			</div>
		</div>
	</div>
	<!-- Banner End -->

		<div class="container-fluid py-5 mt-2" style="margin:auto; width: 1300px; ">
			<div style="display: flex;">
				<div class="col-lg-3 mt-1 mt-lg-0">
					<div class="d-flex flex-column text-center rounded mb-5 py-5 px-4"
						style="background-color:  #6ab0cd;">
						<h4 class="text-white mb-3">My Profile</h4>
						<!-- 도전리더 프로필 있는 경우-->
						<img th:src="|/imgView/${memInfo.memImage}|" class="img-fluid rounded-circle mx-auto mb-4"
							style="width: 180px; height:180px ; object-fit: cover" />
						<h5 class="text-secondary mb-3">[[${memInfo.memNickname}]]</h5>
						<p class="text-white m-0" th:text="${memInfo.memIntro}"></p>
					</div>

					<!-- Category List -->
					<div class="mb-5">
						<h2 class="mb-4">My Page</h2>
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex justify-content-between align-items-center px-0">
								<a href="/own/chall/mypage">내 도전정보</a>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center px-0">
								<a href="/own/chall/myInfo">내 정보수정</a>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center px-0">
								<a href="/own/chall/myAmount">내 예치금</a>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center px-0">
								<a href="/own/chall/myChall">내 도전</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="ml-5" style="display: inline-block; width: 800px;" >
					<div class="text-center pb-2">
						<p class="section-title px-5">
							<span class="px-2">My Page</span>
						</p>
						<h1 class="mb-4">나의 도전정보 수정</h1>
					</div>

					<!-- 내 정보보여주기 -->
					<div class="row mb-3" style="justify-content: center">
						<div class="col-lg-3 mb-3" style="text-align: center;">
							<!-- <div class="col-md-5 col-lg-3 text-center team mb-5"> -->
							<div class="position-relative overflow-hidden mb-4"
								style="border-radius: 100%; width: 200px; height: 200px; margin: auto;">
								<div class="w-100 h-100">
									<div th:if="${memInfo.memImage != null}">
										<!-- 도전프로필이 있는경우 -->
										<img class="img-fluid" alt="" th:src="|/imgView/${memInfo.memImage}|"
											style="width: 200px; height: 200px; object-fit: cover" />
									</div>
									<div th:if="${memInfo.memImage == null}">
										<!-- 이미지없을때 기본이미지 -->
										<img class="img-fluid" alt=""
											th:src="|/imgView/d87e37df-45a0-491e-bcf2-28482284c8d0_2513B53E55DB206927.png|"
											style="width: 200px; height: 200px; object-fit: cover" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-3 text-center">
							<h3 class="mt-3 mb-5">[[${memInfo.memNickname}]]</h3>
							<p>[[${memInfo.memIntro}]]</p>
							<p>나의 환불계좌:[[${memInfo.memAcc}]]</p>
						</div>
					</div> <!-- 내 정보보여주기end -->

					<!-- 정보수정란 -->
					<div class="row" style="display: flex; justify-content: center">
						<div class="bg-light rounded">
							<div class="contact-form p-5" style="width: 650px;">
								<div id="success"></div>
								<input id="userId" type="hidden" name="challLeader"
									th:value="${session.loginUser.userId}">
								<div class="control-group">
									<input class="form-control" id="memNick" th:value="${memInfo.memNickname}">
									<p></p>
								</div>
								<div class="control-group">
									계좌번호 * <input class="form-control" id="memAcc" th:value="${memInfo.memAcc}">
									<p></p>
								</div>
								<div class="control-group">
									<textarea class="form-control" rows="6" id="memIntro"
										placeholder="당신의 도전 다짐을 입력해주세요!" th:text="${memInfo.memIntro}"
										data-validation-required-message="Please enter your message"></textarea>
									<p class="help-block text-danger"></p>
								</div>
								<div>
									<form action="/own/chall/updateImg" method="post" enctype="multipart/form-data">
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
										<input type="hidden" th:value="${memInfo.memNo}" id="memNo" name="memNo">
										<label for="inputFile">프로필 사진: <input type="file"
												name="uploadfile"></input></label>
										<button type="submit" class="btn btn-primary py-2 px-4" id="updBtn">수정하기</button>
									</form>
								</div>
							</div>
						</div>
					</div> <!-- 정보수정란 end -->

				</div>
			</div>
		</div>

		<!-- Contact End -->

		<!-- Back to Top -->
		<a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

		<script>
			//토큰있어야 post가능~!
			/*<![CDATA[*/
			var header = '[[${_csrf.headerName}]]';
			var token = '[[${_csrf.token}]]';
			console.log(header);
			console.log(token);
			/*]]>*/
			//

			//아작스로 데이터수정해서다시 화면에뿌려주깅
			$('#updBtn').on("click", function () {
				let nick = $("#memNick").val();
				let intro = $("#memIntro").val();
				let userId = $("#userId").val();
				let memAcc = $("#memAcc").val();
				console.log($("form"));
				console.log(nick, intro, userId);
				$.ajax({
					url: '/own/chall/myprofileUpdate',
					method: 'post',
					data: JSON.stringify({
						userId: userId,
						memNickname: nick,
						memIntro: intro,
						memAcc: memAcc
					}),
					contentType: "application/json",
					beforeSend: function(xhr){
					xhr.setRequestHeader(header,token);
					},
					success: function(res){
						console.log(res);
						$("form").submit();
					},
					error: function(err){
						console.log(err);
						alert("오류 발생. 다시 시도해주세요.");	
					}
				})
			});
		</script>
	</body>
</div>

</html>