<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}" lang="ko">

<head>
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Free HTML Templates" name="keywords" />

	<!-- Libraries Stylesheet -->
	<link href="/css/chall/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="/css/chall/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

	<!-- JavaScript Libraries -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="/css/chall/lib/easing/easing.min.js"></script>
	<script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/css/chall/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>

	<!-- 내 css들 -->
	<link href="/css/chall/css/chall.css" rel="stylesheet" />
	
	<!-- google chart -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<title>OWN _ 도전 _ 마이페이지</title>
</head>

<div layout:fragment="content">

	<body>

 		<!-- Banner Start -->
		 <div class="container-fluid bg-primary mb-3" style="padding: 0">
			<div class="d-flex flex-column align-items-center" style="min-height: 300px; justify-content: space-around; background-image:url(/img/chall/main/yoga.jpg)">
				<div class="justify-content-center" style="height: 150px;">
					<h4 class="text-center" style="color: white; margin-top: 30px;">오늘의 운동</h4>
					<h2 class="text-center" style="color: white;">Challenges</h2>
				</div>
			</div>
		</div>
		<!-- Banner End -->
		
		<div class="container-fluid py-5 mt-2" style="margin:auto; width: 1300px; ">
			<div style="display: flex;">
				<div class="col-lg-3 mt-1 mt-lg-0">
					<div class="d-flex flex-column text-center rounded mb-5 py-5 px-4"
						style="background-color:  #6ab0cd;">
						<h4 class="text-white mb-3">My Profile</h4>
						<!-- 도전리더 프로필 있는 경우-->
						<img th:src="|/imgView/${memInfo.memImage}|" class="img-fluid rounded-circle mx-auto mb-4"
							style="width: 180px; height:180px ; object-fit: cover" />
						<h5 class="text-secondary mb-3">[[${memInfo.memNickname}]]</h5>
						<p class="text-white m-0" th:text="${memInfo.memIntro}"></p>
					</div>

					<!-- Category List -->
					<div class="mb-5">
						<h2 class="mb-4">My Page</h2>
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex justify-content-between align-items-center px-0">
								<a href="/own/chall/mypage">내 도전정보</a>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center px-0">
								<a href="/own/chall/myInfo">내 정보수정</a>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center px-0">
								<a href="/own/chall/myAmount">내 예치금</a>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center px-0">
								<a href="/own/chall/myChall">내 도전</a>
							</li>
						</ul>
					</div>

				</div>

				<div class="ml-5" style="display: inline-block;" >
					<div class="text-center pb-2">
						<p class="section-title px-5">
							<span class="px-2">My Page</span>
						</p>
						<h1 class="mb-4">나의 도전 정보</h1>
					</div>
					<div class="bg-light text-center rounded p-5" style="width: 800px;">
						<div style="width: 700px; display: flex;justify-content: center;">
							<div style="text-align: center;">
								<canvas id="myChart" style="width: 300px; height: 300px; "></canvas>
								<h3 class="m-3">성공률 [[${memResult.avgSR}]] % </h3>
							</div>
							<div style="display: block; text-align: center; width: 300px; height: 300px; 
								padding-bottom: 30px;padding-top: 60px;">
								<h3 class="mb-5">현재까지 획득 상금 <span><h1 class="mt-2" style="color:#6ab0cd"> [[${memResult.sumRP}]] 원</h1></span></h3>
								<h3 class="m-3">완료한 도전 수 <span><h1 class="mt-2"style="color:#6ab0cd;">[[${myEndChall}]] 개</h1></span></h3>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>

		<!-- Back to Top -->
		<a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

		<script th:inline="javascript">
			$(document).ready(function () {
				//근데이거 좀따가 생각해서 홈페이지로 이동해야할듯
				/*<![CDATA[*/
				let avgSuccessRate = /*[[${memResult.avgSR}]]*/
					//도전멤버정보가 없는 경우
					console.log(avgSuccessRate);
				let rest = 100 - avgSuccessRate;
				//아작스로 데이터수정해서다시 화면에뿌려주깅
				var context = document.getElementById('myChart').getContext('2d');
				var myChart = new Chart(context, {
					type: 'doughnut',
					data: {
						datasets: [{
							label: '나의 평균 성공률',
							data: [avgSuccessRate, rest],
							backgroundColor: [
								'rgb(54, 162, 235)',
								'rgba(23, 162, 184, 0.2)'
							],
							hoverOffset: 4
						}]
					}
				});
				/*]]>*/
			});
		</script>
	</body>
</div>

</html>