<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/default_layout}" lang="ko">
<head>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="Free HTML Templates" name="keywords" />

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Libraries Stylesheet -->
<link href="/css/chall/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="/css/chall/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

<!-- JavaScript Libraries -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/css/chall/lib/easing/easing.min.js"></script>
<script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/css/chall/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>

<meta charset="utf-8">
<title>도전_결제하기</title>
</head>
<div layout:fragment="content">
<body>
	<!-- Navbar Start -->
	<div class="container-fluid bg-light position-relative shadow">
		<nav
			class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
			<a href="" class="navbar-brand font-weight-bold text-secondary"
				style="font-size: 50px"> <i class="flaticon-043-teddy-bear"></i>
				<span class="text-primary">OWN</span>
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between"
				id="navbarCollapse">
				<div class="navbar-nav font-weight-bold mx-auto py-0">
					<a href="index.html" class="nav-item nav-link">Home</a> <a
						href="about.html" class="nav-item nav-link">About</a> <a
						href="class.html" class="nav-item nav-link">Classes</a> <a
						href="team.html" class="nav-item nav-link">Teachers</a> <a
						href="gallery.html" class="nav-item nav-link">Gallery</a>
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-toggle="dropdown">Pages</a>
						<div class="dropdown-menu rounded-0 m-0">
							<a href="blog.html" class="dropdown-item">Blog Grid</a> <a
								href="single.html" class="dropdown-item">Blog Detail</a>
						</div>
					</div>
					<a href="contact.html" class="nav-item nav-link active">Contact</a>
				</div>
				<a href="" class="btn btn-primary px-4">Join Class</a>
			</div>
		</nav>
	</div>
	<!-- Navbar End -->

	<!-- Header Start -->
	<div class="container-fluid bg-primary mb-5">
		<div
			class="d-flex flex-column align-items-center justify-content-center"
			style="min-height: 400px">
			<h3 class="display-3 font-weight-bold text-white">Contact Us</h3>
			<div class="d-inline-flex text-white">
				<p class="m-0">
					<a class="text-white" href="">Home</a>
				</p>
				<p class="m-0 px-2">/</p>
				<p class="m-0">Contact Us</p>
			</div>
		</div>
	</div>
	<!-- Header End -->
	<!-- 내 현재 예치금, 내 예금주 .. 등 -> cmemberVO -->
	<!-- 내 충전, 출금 상금 등의 내역  -> CAmountVO -->
	<!-- 두 것을..조인해서 가져와야함. 멤버별로 뽑을땐 cmemeberd에서
	내거에서 내역별로 볼 때는..  -->

	<!-- 결제 부분 -->
	<div>
	<h3>예치금 충전하기</h3>
			
		<ul>
			<li>아이디:<input id="userId" type="text" th:value="${session.loginUser.userId}" readonly></li>
			<li>전화번호:<input id="userPhone" type="text" th:value="${session.loginUser.userPhone}" readonly></li>
			<li>이름:<input id="userName" type="text" th:value="${session.loginUser.userName}" readonly></li>
			<li>이메일:<input id="userEmail" type="text" th:value="${session.loginUser.userEmail}" readonly></li>
			<li>결제방법:<select id="amtMethod">
				<option value="carddd">일반결제</option>
				<option value="kakaopayu">카카오페이</option>
				</select>
			<li>결제금액:<input type="number" min="1000" max="300000" required="required" id="payPrice"></li>
			<li><input type="button" value="충전하기" id=payBtn></li>
		</ul>
	</div>

<script>
	//토큰있어야 post가능~!
	/*<![CDATA[*/
	var header = '[[${_csrf.headerName}]]';
	 var token = '[[${_csrf.token}]]';
	   console.log(header);
	   console.log(token);
	 /*]]>*/
	//이미 저장된 값..
	let userId = $('#userId').val();
	let userPhone = $('#userPhone').val();
	let userName = $('#userName').val();
	let userEmail = $('#userEmail').val();
	let amtType = '충전';
	console.log(userId, userPhone, userName, userEmail);
	//버튼눌러서 가져와야하는 거
	$('#payBtn').on('click',function(){
		let amtMethod = $('#amtMethod option:selected').text();
		console.log(amtMethod);
		let payPrice = $('#payPrice').val();
		  IMP.init('imp43120301'); //iamport 대신 자신의 "가맹점 식별코드"를 사용
		  IMP.request_pay({
		    pg: "kicc",
		    pay_method: "card",
		    merchant_uid : 'merchant_'+new Date().getTime(),
		    name : 'Own 결제',
		    amount : payPrice,
		    buyer_email : userEmail,
		    buyer_name : userName,
		    buyer_tel : userPhone
		  }, function (rsp) { // callback
		      if (rsp.success) {
		        // 결제 성공 시 로직,
		    	console.log("성공");
		        console.log(rsp);
  		        $.ajax({
		        	url: '/own/chall/payAjax',
		        	method: 'post',
		        	data: JSON.stringify({ userId: userId,
							        	   price: payPrice,
							        	   amtMethod: amtMethod,
							        	   amtType: amtType
					}),
					beforeSend : function(xhr){
						         xhr.setRequestHeader(header, token);
					},
					contentType: "application/json",
					success: function(res){
						alert(res);
						alert("충전이 완료되었습니다.")
						console.log(res);
						location.href = '/own/chall/myAmount'
					},
					error: function(err){
						console.log(err)
					}
		        }) 
		      } else {
		        // 결제 실패 시 로직,
		    	console.log("실패");
		        console.log(rsp)
		      }
		  });
	});


</script>
</body>
</div>
</html>