<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}" lang="ko">
<head>
<!-- iamport.payment.js -->
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="Free HTML Templates" name="keywords" />

<!-- jquery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Libraries Stylesheet -->
<link href="/css/chall/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet" />
<link href="/css/chall/lib/lightbox/css/lightbox.min.css"
	rel="stylesheet" />

<!-- JavaScript Libraries -->
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/css/chall/lib/easing/easing.min.js"></script>
<script src="/css/chall/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/css/chall/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/css/chall/lib/lightbox/js/lightbox.min.js"></script>

<meta charset="utf-8">
<title>도전_결제하기</title>
</head>
<div layout:fragment="content">
	<body>

		<!-- Banner Start -->
		<div class="container-fluid bg-primary mb-3" style="padding: 0">
			<div class="d-flex flex-column align-items-center"
				style="min-height: 300px; justify-content: space-around; background-image: url(/img/chall/main/yoga.jpg)">
				<div class="justify-content-center" style="height: 150px;">
					<h4 class="text-center" style="color: white; margin-top: 30px;">오늘의 운동</h4>
					<h2 class="text-center" style="color: white;">Challenges</h2>
				</div>
			</div>
		</div>
		<!-- Banner End -->

		<!-- 내 현재 예치금, 내 예금주 .. 등 -> cmemberVO -->
		<!-- 내 충전, 출금 상금 등의 내역  -> CAmountVO -->
		<!-- 두 것을..조인해서 가져와야함. 멤버별로 뽑을땐 cmemeberd에서
	내거에서 내역별로 볼 때는..  -->

		<!-- 입력 폼 시작 -->
		<!-- Contact Start -->
		<div class="container-fluid pt-5">
			<div class="container">
				<div class="text-center pb-2">
					<p class="section-title px-5">
						<span class="px-2">My Amount</span>
					</p>
					<h1 class="mb-4">예치금 충전</h1>
				</div>
				<div class="row" style="justify-content: center">
					<div class="col-lg-6 mb-5  bg-light p-5">
						<div class="contact-form">
							<div class="form-group">
								<label for="userId" style="width: 100px; text-align: center;">아이디 :</label> 
								<input id="userId" type="text" th:value="${session.loginUser.userId}" readonly>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<label for="userName" style="width: 100px; text-align: center;">이름 :</label> 
								<input id="userName" type="text" th:value="${session.loginUser.userName}" readonly>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<label for="userPhone" style="width: 100px; text-align: center;">전화번호 :</label> <input id="userPhone" type="text" th:value="${session.loginUser.userPhone}" readonly>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<label for="userEmail"  style="width: 100px; text-align: center;">이메일 :</label> 
								<input id="userEmail" type="text" th:value="${session.loginUser.userEmail}" readonly>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<label for="amtMethod"  style="width: 100px; text-align: center;">결제방법 :</label> 
								 	<select id="amtMethod">
										<option value="carddd">일반결제</option>
										<option value="kakaopayu">카카오페이</option>
									</select>
							</div>
							<div class="form-group">
								<label for="payPrice"  style="width: 100px; text-align: center;">결제금액 : </label> 
							<input type="number" min="1000" max="300000" required="required" id="payPrice">
							</div>
							<div style="margin: auto; text-align: center;">
							<button class="btn btn-primary" type="button" id=payBtn>충전하기</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- Contact End -->
<!-- 입력폼 끝 -->


<script>
	//토큰있어야 post가능~!
	/*<![CDATA[*/
	var header = '[[${_csrf.headerName}]]';
	var token = '[[${_csrf.token}]]';
	console.log(header);
	console.log(token);
	/*]]>*/
	//이미 저장된 값..
	let userId = $('#userId').val();
	let userPhone = $('#userPhone').val();
	let userName = $('#userName').val();
	let userEmail = $('#userEmail').val();
	let amtType = '충전';
	console.log(userId, userPhone, userName, userEmail);
	//버튼눌러서 가져와야하는 거
	$('#payBtn').on('click', function() {
		let amtMethod = $('#amtMethod option:selected').text();
		console.log(amtMethod);
		let payPrice = $('#payPrice').val();
		IMP.init('imp43120301'); //iamport 대신 자신의 "가맹점 식별코드"를 사용
		IMP.request_pay({
			pg : "kicc",
			pay_method : "card",
			merchant_uid : 'merchant_' + new Date().getTime(),
			name : 'Own 결제',
			amount : payPrice,
			buyer_email : userEmail,
			buyer_name : userName,
			buyer_tel : userPhone
		}, function(rsp) { // callback
			if (rsp.success) {
				// 결제 성공 시 로직,
				console.log("성공");
				console.log(rsp);
				$.ajax({
					url : '/own/chall/payAjax',
					method : 'post',
					data : JSON.stringify({
						userId : userId,
						price : payPrice,
						amtMethod : amtMethod,
						amtType : amtType
					}),
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					contentType : "application/json",
					success : function(res) {
						alert(res);
						alert("충전이 완료되었습니다.")
						console.log(res);
						location.href = '/own/chall/myAmount'
					},
					error : function(err) {
						console.log(err)
					}
				})
			} else {
				// 결제 실패 시 로직,
				console.log("실패");
				console.log(rsp)
			}
		});
	});
</script>
</body>
</div>
</html>