<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>웹소켓 채팅 테스트</title>
<!-- CSS -->
<link rel="stylesheet" href="/css/chat/css/chatroom.css">
</head>

<body>
	<div class="chat-box">
		<div class="header">
			<div class="avatar-wrapper avatar-big">
				<img src="상대방프로필이나 밴드이미지나 그런거 띄우기" alt="avatar" />
			</div>
			<span class="name">대화방이름</span> <span class="options"> <i
				class="fas fa-ellipsis-h"></i>
			</span>
		</div>
		<!-- =========================== 대화방 =========================== -->
		<div class="chat-room">
			<p style="text-align: center;" id="greetingMessage"></p>
			<!-- 상대방 메세지 -->
			<div class="message message-left">
				<div class="avatar-wrapper avatar-small">
					<img src="상대방프로필사진" alt="avatar" />
				</div>
				<div class="bubble bubble-light"></div>
			</div>
			<!-- 내 메세지 -->
			<div class="message message-right">
				<div class="avatar-wrapper avatar-small">
					<img
						src="https://scontent-xsp1-1.xx.fbcdn.net/v/t1.0-9/s960x960/87853049_2481558942096235_8369025410146500608_o.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_ohc=0dU4W6nYBk0AX-ZHz-P&_nc_ht=scontent-xsp1-1.xx&_nc_tp=7&oh=20d12357dd09465c5ed2526555651580&oe=5EA2FF44"
						alt="avatar" />
				</div>
				<div class="bubble bubble-dark"></div>
			</div>
		</div>
		<!-- =========================== 대화입력 =========================== -->
		<div class="type-area">
			<div class="input-wrapper">
				<input type="text" id="inputText" placeholder="메세지를 입력하세요" />
			</div>
			<span class="button-add"> <i class="fas fa-plus-circle"></i>
				<div class="others">
					<span class="emoji-button"> <i class="far fa-laugh"></i>
						<div class="emoji-box">
							<span>&#x1f604;</span> <span>😀</span> <span>😂</span> <span>😭</span>
							<span>😍</span> <span>🤮</span> <span>🤑</span> <span>😖</span> <span>😷</span>
						</div>
					</span> <span class="image-button"> <i class="far fa-image"></i>
					</span> <span> <i class="fas fa-paperclip"></i>
					</span>
				</div>
			</span>
			<button class="button-send">Send</button>
		</div>

	</div>
	<!-- 웹소켓 cdn -->
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<!-- 폰트어썸 cdn -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
	<script th:inline="javascript">
			/*<![CDATA[*/
			var header = /*[[${_csrf.headerName}]]*/'defalut';
			var token = /*[[${_csrf.token}]]*/'defalut';
			console.log(header);
			console.log(token);
			/*]]>*/
		//Content Loaded
		window.addEventListener("DOMContentLoaded", (e) => {
			var header = document.querySelector(".header");
			var chatRoom = document.querySelector(".chat-room");
			var typeArea = document.querySelector(".type-area");
			var btnAdd = document.querySelector(".button-add");
			var others = document.querySelector(".others");
			var emojiBox = document.querySelector(".emoji-button .emoji-box");
			var emojiButton = document.querySelector(".others .emoji-button");
			var emojis = document.querySelectorAll(".emoji-box span");
			var inputText = document.querySelector("#inputText");
			var btnSend = document.querySelector(".button-send");
			var messageArea = document.querySelector(".message.message-right");
			//Header onclick event
			header.addEventListener("click", (e) => {
				if (typeArea.classList.contains("d-none")) {
					header.style.borderRadius = "20px 20px 0 0";
				} else {
					header.style.borderRadius = "20px";
				}
				typeArea.classList.toggle("d-none");
				chatRoom.classList.toggle("d-none");
			});
			//Button Add onclick event
			btnAdd.addEventListener("click", (e) => {
				others.classList.add("others-show");
			});
			//Emoji onclick event
			emojiButton.addEventListener("click", (e) => {
				emojiBox.classList.add("emoji-show");
			});
			
			for (var emoji of emojis) {
				emoji.addEventListener("click", (e) => {
					e.stopPropagation();
					emojiBox.classList.remove("emoji-show");
					others.classList.remove("others-show");
					inputText.value += e.target.textContent;
				});
			}

			// url에서 채팅방 번호, 메세지보내는 유저의 밴드멤버식별번호 읽어오기
			const link = window.location.href;
			var url = new URL(link);
			const urlParams = url.searchParams;
			let chatroomNo = urlParams.getAll('chatroomNo');
			let userNo = urlParams.getAll('bandMemberNo');
			console.log(chatroomNo)
			console.log(userNo)
			// 웹소켓 구독하기
			var stompClient = null;

			function connect() {
				var socket = new SockJS('/chat');
				stompClient = Stomp.over(socket);
				stompClient.connect({}, function (frame) {
					setConnected(true);
					console.log('Connected: ' + frame);
					//방 구독하기
					stompClient.subscribe('/subscribe/chat/room/' + chatroomNo, function () { 
					// 	if(writer === username){
                    //        str = "<div class='col-6'>";
                    //        str += "<div class='alert alert-secondary'>";
                    //        str += "<b>" + writer + " : " + message + "</b>";
                    //        str += "</div></div>";
                    //        $("#msgArea").append(str);
                    //    }
                    //    else{
                    //        str = "<div class='col-6'>";
                    //        str += "<div class='alert alert-warning'>";
                    //        str += "<b>" + writer + " : " + message + "</b>";
                    //        str += "</div></div>";
                    //        $("#msgArea").append(str);
                    //    }

                    //    $("#msgArea").append(str);
						
						
						// 입장메세지 보내기
						stompClient.send('/publish/chat/enter', {}, JSON.stringify({ 
							chatroomNo: chatroomNo, 
							bandMemberNo: userNo }))
						});
						
					});
			}
			
			// 메세지 보내기
			$('.button-send').click(function sendMessage() {
				stompClient.send("/publish/chat/message", {}, JSON.stringify({
					chatroomNo : chatroomNo,
					bandMemberNo: userNo,
					messageContent: document.querySelector("#inputText").value
				}));
				
				//Button Send onclick event
				var mess = inputText.value;
				var bubble = document.createElement('div');
				bubble.className += " bubble bubble-dark";
				bubble.textContent = mess;
				messageArea.appendChild(bubble);
				inputText.value = "";
			})

			// 웹소켓 연결끊기
			function disconnect() {
				if (stompClient !== null) {
					stompClient.disconnect();
				}
				setConnected(false);
				console.log("Disconnected");
			}
		});

	</script>
</body>

</html>