<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>채팅방</title>
<!-- CSS -->
<link rel="stylesheet" href="/css/chat/css/chatroom.css">
</head>

<body>
	<div class="chat-box">
		<div class="header"> 
			<div class="avatar-wrapper avatar-big">
				<img th:src=|/imgView/${chatInfo[0].profileImg}| alt="avatar" />
			</div>
			<span class="name" th:text="${chatInfo[0].chatroomName}"></span> 
		</div>
		<!-- =========================== 대화방 =========================== -->
		<div class="chat-room" ></div>
		<!-- =========================== 대화입력 =========================== -->
		<div class="type-area">
			<div class="input-wrapper">
				<input type="text" id="inputText" placeholder="메세지를 입력하세요" onkeypress="sendMessage()"/>
			</div>

			<span class="button-add"> <i class="fas fa-plus-circle"></i>
				<div class="others">
					<span class="emoji-button"> <i class="far fa-laugh"></i>
						<div class="emoji-box">
							<span>&#x1f604;</span> 
							<span>😀</span> <span>😂</span> <span>😍</span> <span>😭</span> <span>🤮</span> <span>🤑</span>
							<span>😖</span> <span>😷</span> <span>😎</span> <span>😋</span> <span>😥</span> <span>🙄</span>
							<span>😏</span> <span>🤐</span> <span>🥱</span> <span>😴</span> <span>🤯</span> <span>🤢</span>
							<span>🤮</span> <span>😷</span> <span>🤬</span> <span>💕</span> <span>💞</span> 
						</div>
					</span>
				</div>
			</span>
			<button class="button-send">Send</button>
		</div>

	</div>
	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!-- 웹소켓 cdn -->
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<!-- 폰트어썸 cdn -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
	<script th:inline="javascript">
			/*<![CDATA[*/
			var header = /*[[${_csrf.headerName}]]*/'defalut';
			var token = /*[[${_csrf.token}]]*/'defalut';
			console.log(header);
			console.log(token);
			/*]]>*/
		//Content Loaded
		window.addEventListener("DOMContentLoaded", (e) => {
			var header = document.querySelector(".header");
			var chatRoom = document.querySelector(".chat-room");
			var typeArea = document.querySelector(".type-area");
			var btnAdd = document.querySelector(".button-add");
			var others = document.querySelector(".others");
			var emojiBox = document.querySelector(".emoji-button .emoji-box");
			var emojiButton = document.querySelector(".others .emoji-button");
			var emojis = document.querySelectorAll(".emoji-box span");
			var inputText = document.querySelector("#inputText");
			var btnSend = document.querySelector(".button-send");
			
			// 스크롤 항상 아래로
			var $chatroom = $('.chat-room');
			$chatroom.scrollTop($chatroom[0].scrollHeight);	
			
			
			//Header onclick event
			header.addEventListener("click", (e) => {
				if (typeArea.classList.contains("d-none")) {
					header.style.borderRadius = "20px 20px 0 0";
				} else {
					header.style.borderRadius = "20px";
				}
				typeArea.classList.toggle("d-none");
				chatRoom.classList.toggle("d-none");
			});
			//Button Add onclick event
			btnAdd.addEventListener("click", (e) => {
				if(others.classList.contains("others-show") ){
					others.classList.remove("others-show")
				}else{
					others.classList.add("others-show")
				};
			});
			//Emoji onclick event
			emojiButton.addEventListener("click", (e) => {
				emojiBox.classList.add("emoji-show");
				others.classList.toggle("others-show");
				
			});
			
			for (var emoji of emojis) {
				emoji.addEventListener("click", (e) => {
					e.stopPropagation();
					emojiBox.classList.remove("emoji-show");
					others.classList.remove("others-show");
					inputText.value += e.target.textContent;
				});
			}
		});
			// url에서 채팅방 번호, 메세지보내는 유저의 밴드멤버식별번호 읽어오기
			const link = window.location.href;
			var url = new URL(link);
			const urlParams = url.searchParams;
			let chatroomNo = urlParams.getAll('chatroomNo');
			let userNo = urlParams.getAll('bandMemberNo');
			console.log(chatroomNo[0])
			console.log(userNo[0])
			// 웹소켓 구독하기
			var stompClient = null;

			$(function() {
				connect();
				getMessage();
			});
			
			function connect() {
				var socket = new SockJS('/chat');
				stompClient = Stomp.over(socket);
				stompClient.connect({}, function (frame) {
					console.log('Connected: ' + frame);
					//방 구독하기
					stompClient.subscribe('/subscribe/chat/room/' + chatroomNo[0], function (chat) { 
					var chatRoom = document.querySelector(".chat-room"); 
					var content = JSON.parse(chat.body);
					var writerNo = content.bandMemberNo;
                    var writerNickname = content.bandNickname;
                    var mContent = content.messageContent;
                    var time = content.messageTime;
                 	
					 	if(writerNo === userNo[0]){
					 		var messageDivR = document.createElement('div');
					 		messageDivR.className += "message message-right"
					 		var mess = mContent;
					 		var bubbleD = document.createElement('div');
							bubbleD.className += "bubble bubble-dark";
							bubbleD.textContent = mess;
							chatRoom.appendChild(messageDivR);
							messageDivR.appendChild(bubbleD);
						
							
							var $chatroom = $('.chat-room');
							$chatroom.scrollTop($chatroom[0].scrollHeight);
                        }
                        else{
                        	var messageDivL = document.createElement('div');
                        	messageDivL.className += "message message-left"
                        	var mess = mContent;
                        	var bubbleL = document.createElement('div');
							bubbleL.className += "bubble bubble-light";
							bubbleL.textContent = mess;
							chatRoom.appendChild(messageDivL);
							messageDivL.appendChild(bubbleL);
							
							
							var $chatroom = $('.chat-room');
							$chatroom.scrollTop($chatroom[0].scrollHeight);
                        }							

					});
                    
					// 입장메세지 보내기
					stompClient.send('/publish/chat/room/enter', {}, JSON.stringify({ 
						chatroomNo: chatroomNo[0], 
						bandMemberNo: userNo[0] }))
					});
			}
			
			// 메세지 보내기
			$('.button-send').click(function sendMessage() {
				stompClient.send("/publish/chat/room", {}, JSON.stringify({
					chatroomNo : chatroomNo[0],
					bandMemberNo: userNo[0],
					messageContent: document.querySelector("#inputText").value
				}));
				
				inputText.value = "";
			})
			function sendMessage(){
				stompClient.send("/publish/chat/room", {}, JSON.stringify({
					chatroomNo : chatroomNo[0],
					bandMemberNo: userNo[0],
					messageContent: document.querySelector("#inputText").value
				}));
				
				inputText.value = "";
			}

			// 채팅방의 기존 메세지 불러오기
			function getMessage() {
				$.ajax({
					url : '/getMessage?chatroomNo='+ chatroomNo[0],
					method : 'get',
					dataType : 'json',
					contentType : "application/json"
				}).then(chat => {
					$.each(chat, function(i, e){
						var chatRoom = document.querySelector(".chat-room"); 
						var writerNo = $(this).attr("bandMemberNo");
	                    var mContent = $(this).attr("messageContent");
	                    chatRoom.ScrollTop = chatRoom.scrollHeight;
	                    if(writerNo === userNo[0]){
					 		var messageDivR = document.createElement('div');
					 		messageDivR.className += "message message-right"
					 		var mess = mContent;
					 		var bubbleD = document.createElement('div');
							bubbleD.className += "bubble bubble-dark";
							bubbleD.textContent = mess;
							chatRoom.appendChild(messageDivR);
							messageDivR.appendChild(bubbleD);
							
							
							var $chatroom = $('.chat-room');
							$chatroom.scrollTop($chatroom[0].scrollHeight);
                        }
                        else{
                        	var messageDivL = document.createElement('div');
                        	messageDivL.className += "message message-left"
							
                        		var mess = mContent;
                        	var bubbleL = document.createElement('div');
							bubbleL.className += "bubble bubble-light";
							bubbleL.textContent = mess;
							chatRoom.appendChild(messageDivL);
							messageDivL.appendChild(bubbleL);
						
							var $chatroom = $('.chat-room');
							$chatroom.scrollTop($chatroom[0].scrollHeight);	
                        }						 
					})
                 	
					 	
				})
			}
			
			// 웹소켓 연결끊기
			function disconnect() {
				if (stompClient !== null) {
					stompClient.disconnect();
				}
				setConnected(false);
				console.log("Disconnected");
			}
		

	</script>
</body>

</html>