<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div layout:fragment="content">
	<body>
		<div>
			<div th:each="list : ${memberList}">
				<span
					th:if="${#strings.equals(session.loginUser.userId, list.userId)}">
					<input type="hidden" th:value="${list.bandMemberNo}" id="MybandNo">
					<input type="hidden" th:value="${list.bandNickname}"
					id="MybandNick">
				</span>
			</div>
			<table border="1px soild">
				<thead>
					<th>유저아이디</th>
					<th>밴드닉네임</th>
					<th>밴드번호</th>
					<th>band_member_status</th>
					<th>band_kick_status</th>
					<th>밴드가입날짜</th>
					<th>band_member_no</th>
					<th>band_birth</th>
					<th>band_gender</th>
					<th>채팅방 여부</th>
					<th>채팅하기</th>

				</thead>
				<tbody id="reportList">
					<tr th:each="list : ${memberList}">
						<span
							th:if="${!#strings.equals(session.loginUser.userId, list.userId)}">
							<td th:text="${list.userId}"></td>
							<td th:text="${list.bandNickname}"></td>
							<td th:text="${list.bandNo}"></td>
							<td th:text="${list.bandMemberStatus}"></td>
							<td th:text="${list.bandKickStatus}"></td>
							<td th:text="${list.bandSignupDate}"></td>
							<td th:id="${list.bandMemberNo}" th:text="${list.bandMemberNo}"></td>
							<td th:text="${list.bandBirth}"></td>
							<td th:text="${list.bandGender}"></td>
							<td th:text="${list.chatCheck}"></td>
							<td><button id="oldChatStart" th:if="${list.chatCheck == 1}">기존채팅하기</button></td>
							<td><button id="newChatStart" th:if="${list.chatCheck == 0}">새로채팅하기</button></td>
						</span>

					</tr>
				</tbody>
			</table>
		</div>
		<script src="/webjars/sockjs-client/sockjs.min.js"></script>
		<script src="/webjars/stomp-websocket/stomp.min.js"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var header = /*[[${_csrf.headerName}]]*/'defalut';
			var token = /*[[${_csrf.token}]]*/'defalut';
			console.log(header);
			console.log(token);
			/*]]>*/
			
			//새로운 채팅방 생성
			$(function() {
				$("#newChatStart")
						.click(
								function createChatroom() {
									// 로그인한 유저의 밴드멤버번호와 채팅할 유저의 밴드멤버번호와 닉네임
									let bMemNo1 = $("#MybandNo").val();
									let bMemNo2 = $(this).parent().parent()
											.children().eq(6).text();
									let bMemNick1 = $("#MybandNick").val();
									let bMemNick2 = $(this).parent().parent()
											.children().eq(1).text();
									// 배열에 추가
									let rName = bMemNick1 + ", " + bMemNick2
											+ "의 채팅방";
									let chatroomDataList = new Array();
									let chatroomData1 = {
										chatroomName : rName,
										bandMemberNo : bMemNo1
									};
									chatroomDataList.push(chatroomData1);
									let chatroomData2 = {
										chatroomName : rName,
										bandMemberNo : bMemNo2
									};
									chatroomDataList.push(chatroomData2);
									console.log("chatroomData1"
											+ JSON.stringify(chatroomData1))
									console.log("chatroomData2"
											+ JSON.stringify(chatroomData2))
									console.log("chatroomDataList"
											+ JSON.stringify(chatroomDataList))
									// 채팅방 새로 생성 후 결과값으로 방번호를 받아와 그 번호로 웹소켓에 방 생성하기.
									$
											.ajax({
												url : '/createChatroom',
												method : 'post',
												contentType : "application/json; charset=UTF-8",
												data : JSON
														.stringify(chatroomDataList),
												beforeSend : function(xhr) {
													xhr.setRequestHeader(
															header, token);
												},
												success : function(result) {
													// 결과로 채팅방 시퀀스 번호 받아옴
													console.log("채팅방 번호 시퀀스"
															+ result);
													let url = '/chatroom?chatroomNo=CRN_'
															+ result
															+ '&bandMemberNo='
															+ bMemNo1;
													location.replace(url);
												},
												error : function(error) {
													console.log("error: "
															+ error);
												}
											});

								})
			
			// 기존 채팅방 입장
			$("#oldChatStart").click( function createChatroom() {
					let bMemNo = $("#MybandNo").val();
					let chatroomData = { bandMemberNo : bMemNo };
					// 채팅방번호 받아와서 그 방으로 보내기
					$.ajax({
							url : '/findChatroomNo',
							method : 'post',
							contentType : "application/json; charset=UTF-8",
							data : JSON
									.stringify(chatroomData),
							beforeSend : function(xhr) {
								xhr.setRequestHeader(
										header, token);
							},
							success : function(result) {
								// 결과로 채팅방번호 받아옴
								console.log("채팅방 번호==========================="
										+ result);
							},
							error : function(error) {
								console.log("error: "
										+ error);
							}
						});
				}) 
			});
			
		</script>
	</body>
</div>
</html>
