<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8" />
    <title>thymeleaf layout</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <!-- content script -->
    <!-- Style CSS -->
</head>
<body>
<div th:fragment="headerFragment"></div>
</body>      
<div layout:fragment="content">
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>
	<h3>content</h3>	
</div>
</html>