<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

body {
	color: #2e2e2e;
}
table{
width:100%;
}

div.layout-978 { width: 978px; margin: 0px auto; }

div.tblcontainer {
	padding: 18px;
	border: 1px solid #c0c0c0;
	margin: 20px auto;
	background: url('../images/splitter.png') repeat-x 0 206px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
	width: 93%;	
}



.datagrid {
	border-collapse: collapse;
}

.datagrid thead tr th {
	color: #949494;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	padding: 6px 8px;
	border: 1px solid #c9c9c9;
	background-image: linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
	background-image: -moz-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
	background-image: -webkit-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
	background-image: -ms-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #EEEFF1), color-stop(0.54, #F9F9F9)); 
}
.datagrid tbody tr {
	background: #fff;
}

.datagrid tbody tr td {
	padding: 6px 8px;
	border: 1px solid #c9c9c9;
}

.datagrid tbody tr td.cash {
	text-align: right;
}

#my_modal {
	display: none;
	width: 500px;
	height: 400px;
	padding: 20px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
}

#my_modal .modal_close_btn {
	position: absolute;
	top: 10px;
	right: 10px;
}
</style>
</head>

<div layout:fragment="content">
	<body>
		<div class="container py-5">
        <h1>회원목록</h1>
        </div>
        <div class="container py-2">
            <div class="row g-2">
                <div class="col-lg-2 col-md-6">
                    <h4 class="mb-4"><a href="/own/admin/userList" style="text-decoration:none">회원목록</a></h4>                 
                </div>
                <div class="col-lg-2 col-md-6">
                    <h4 class="mb-4"><a href="/own/admin/question" style="text-decoration:none">질문목록</a></h4>                 
                </div>
                <div class="col-lg-2 col-md-6">
                    <h4 class="mb-4"><a href="/own/admin/reportList" style="text-decoration:none">신고목록</a></h4>                 
                </div>
            </div>
        </div>
        <div class="layout-978">
<div class="tblcontainer">
<table class="datagrid">
    <thead>
	  <th>질문번호</th>
				<th>질문자ID</th>
				<th>제목</th>
				<th>질문날짜</th>
				<th>머리말</th>
				<th>상태</th>
		</thead>
    <tbody id="userList">
			<tr th:each="quest : ${OList}">
				<td th:text="${quest.rn}"></td>
				<td th:text="${quest.userId}"></td>
                <span th:if="${quest.answer==null}">
				<td class="titlemodal" th:text="${quest.title}"
					th:id="${quest.questNo}"></td>
                </span>
                <span th:unless="${quest.answer==null}">
                    <td th:text="${quest.title}"
                        th:id="${quest.questNo}"></td>
                </span>

				<td th:text="${#dates.format(quest.questDate, 'yyyy-MM-dd')}"></td>				
				<td th:text="${quest.header}"></td>
				<td th:text="${quest.status}"></td>
				</tr>
			</tbody>
		</table>
</div>
</div>
		
		<!--================ 이전  =================-->
        <nav class="blog-pagination justify-content-center d-flex" id="pagegation">
		<ul class="pagination">
			<li class="page-item" th:if="${paging.startPage>1}">
				<a class="page-link" aria-label="Previous" th:value="${paging.startPage-1}">
				<span aria-hidden="true"><span class="lnr lnr-chevron-left pagePort"></span></span></a>
			</li>
	<!--================ 페이지 이동 1_2_3_4_5  =================-->
		<th:block th:each="pag:${#numbers.sequence(paging.startPage,paging.endPage)}">
		<li class="page-item" th:if="${pag != paging.page}" >
			<a class="page-link pagePort" th:value="${pag}" th:text ="${#numbers.formatInteger(pag,2)}"></a>
		</li>
  		<li class="page-item active" th:if="${pag==paging.page}" >
			<a class="page-link" th:text ="${#numbers.formatInteger(pag,2)}"></a>
		</li>
       </th:block>
	<!--================ 페이지 이동 1_2_3_4_5 끝 =================-->
	<!--================ 이후  =================-->
			<li class="page-item" th:if="${paging.endPage<paging.lastPage}">
			<a class="page-link pagePort" aria-label="Next" th:value="${paging.endPage+1}">
				<span aria-hidden="true"><span class="lnr lnr-chevron-right"></span></span></a>
			</li>
		</ul>
	</nav>

	
		<!--모달창-->
		<div id="my_modal">
			<form action="/questionUpdate" method="post" id="modalform">
                <input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}">    
				<div class="form-group">
					<label for="recipient-name" class="col-form-label">질문제목</label>
                    <span id="modaltitle"></span>
				</div>
				<div class="form-group">
					<label for="message-text" class="col-form-label">질문내용</label> <span
						id="modalcontent"></span>
				</div>
				<div class="form-group">
					<label for="message-text" class="col-form-label">답변</label>
					<textarea class="form-control" id="message-text" name="answer"></textarea>
				</div>
                <button type="submit">전송</button>
			</form>
			<a class="modal_close_btn">닫기</a>
		</div>


	</body>
	<script th:inline="javascript">
	function modal(id) {
        var zIndex = 9999;
        var modal = document.getElementById(id);

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement('div');
        bg.setStyle({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            // 레이어 색갈은 여기서 바꾸면 됨
            backgroundColor: 'rgba(0,0,0,0.4)'
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        modal.querySelector('.modal_close_btn').addEventListener('click', function() {
            bg.remove();
            modal.style.display = 'none';
        });

        modal.setStyle({
            position: 'fixed',
            display: 'block',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

            // 시꺼먼 레이어 보다 한칸 위에 보이기
            zIndex: zIndex + 1,

            // div center 정렬
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        });
    }
	 Element.prototype.setStyle = function(styles) {
         for (var k in styles) this.style[k] = styles[k];
         return this;
     };

    	    
			$('#userList').on('click','.titlemodal',function(){
			modal('my_modal');
			let qno = $(this).attr('id')
			console.log('id'+$(this).attr('id'));
			$.ajax({
				url : '/own/admin/selectquest',
				method : 'get',
				data : {qno}
			}).then(res=>{
                $('#modalform').append(`<input type="hidden" value="${res.questNo}" name="questNo">`)
                $('#modaltitle').html(res.title);
                $('#modalcontent').html(res.content);
				console.log(res);
			})		
		})
		
		
		function leftPad(value) {
    if (value >= 10) {
        return value;
    }

    return `0${value}`;
}

function toStringByFormatting(source, delimiter = '-') {
    const year = source.getFullYear();
    const month = leftPad(source.getMonth() + 1);
    const day = leftPad(source.getDate());

    return [year, month, day].join(delimiter);
}
		
		$('#pagegation').on('click', '.pagePort', function(){
			//페이지번호 + 밴드식별번호
			let page = $(this).attr('value');
			console.log($(this).attr('value'));
			$.ajax({
				url: '/own/admin/qustionAjax?page='+page,
				method: 'get'
			}).then(result => {
				console.log(result);
				let tbody = $('#userList');
				$(tbody).empty();
				$(result).each(function(idx, ele){
					let newdate = toStringByFormatting(new Date(ele.questDate));
					let answer = "";
					let title = "";
					if(ele.answer){
						answer = `<td>${ele.answer}</td>`
						title = `<td>${ele.title}</td>`
					}else{
						answer = `<td>미처리상태</td>`
						title = `<td class="titlemodal" id="${ele.questNo}">${ele.title}</td>`;
					}

					let tag = `<tr>
								<td>${ele.rn}</td>
								<td>${ele.userId}</td>
								${title}
								<td>${newdate}</td>
								<td>${ele.header}</td>
								<td>${ele.status}</td>
								</tr>`
					tbody.append(tag);
				})
				//페이지 버튼 만들기
				$('#pagegation').empty();
		         let pagingM = result[0].paging;
		         //시작 버튼
				 console.log(result[0]);
		         let startpageTag = $('<ul class="pagination" />');
		         $('#pagegation').append(startpageTag);
		         //이전 버튼만들기
		         if(pagingM.startPage>1){
		            let pageBeforTag = `<li class="page-item">
		                           <a class="page-link" aria-label="Previous" value=${pagingM.startPage-1}>
		                           <span aria-hidden="true"><span class="lnr lnr-chevron-left pagePort"></span></span></a>
		                           </li>`
		               startpageTag.append(pageBeforTag);               
		         }               
		         //페이지목록..
		         for(let pg = pagingM.startPage; pg<=pagingM.endPage; pg++){
		            if(pg != pagingM.page){
		               let pageTag = `<li class="page-item">
		                           <a class="page-link pagePort" value=${pg}>${pg}</a>
		                           </li>`
		               startpageTag.append(pageTag);
		            } else if(pg == pagingM.page ){
		               let pageTag =  `<li class="page-item active">
		                           <a class="page-link" >${pg}</a>
		                           </li>`
		               startpageTag.append(pageTag);
		            }
		         }               
		         //이후 버튼만들기
		         if(pagingM.endPage<pagingM.lastPage){
		            let pageAfterTag =`<li class="page-item">
		                           <a class="page-link pagePort" aria-label="Next" value=${pagingM.endPage+1}>
		                           <span aria-hidden="true"><span class="lnr lnr-chevron-right"></span></span></a>
		                           </li>`
		            startpageTag.append(pageAfterTag);
		         }
		         $('#pagegation').append(startpageTag)
		      })
		})


	</script>
</div>
</html>