<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
	background-color: #f0f0f0;
	font: 12px Arial, Helvetica, sans-serif;
	color: #2e2e2e;
	padding-top: 42px;
}

div.layout-978 { width: 978px; margin: 0px auto; }

div.tblcontainer {
	padding: 18px;
	border: 1px solid #c0c0c0;
	margin: 20px auto;
	background: url('../images/splitter.png') repeat-x 0 206px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
	width: 93%;	
}
.datagrid {
	border-collapse: collapse;
}

.datagrid thead tr th {
	color: #949494;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	padding: 6px 8px;
	border: 1px solid #c9c9c9;
	background-image: linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
	background-image: -moz-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
	background-image: -webkit-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
	background-image: -ms-linear-gradient(bottom, #EEEFF1 50%, #F9F9F9 54%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #EEEFF1), color-stop(0.54, #F9F9F9)); 
}
.datagrid tbody tr {
	background: #fff;
}

.datagrid tbody tr td {
	padding: 6px 8px;
	border: 1px solid #c9c9c9;
}


.datagrid tbody tr td.cash {
	text-align: right;
}
#my_modal {
	display: none;
	width: 500px;
	height: 400px;
	padding: 20px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
}

#my_modal .modal_close_btn {
	position: absolute;
	top: 10px;
	right: 10px;
}
</style>
</head>

<div layout:fragment="content">
	<body>
		<div class="container py-5">
        <h1>신고목록</h1>
        </div>
        <div class="container py-2">
            <div class="row g-2">
                <div class="col-lg-2 col-md-6">
                    <h4 class="mb-4"><a href="/own/admin/userList" style="text-decoration:none">회원목록</a></h4>                 
                </div>
                <div class="col-lg-2 col-md-6">
                    <h4 class="mb-4"><a href="/own/admin/question" style="text-decoration:none">질문목록</a></h4>                 
                </div>
                <div class="col-lg-2 col-md-6">
                    <h4 class="mb-4"><a href="/own/admin/reportList" style="text-decoration:none">신고목록</a></h4>                 
                </div>
            </div>
        </div>
 <div class="layout-978">
<div class="tblcontainer">
<table class="datagrid">
    <thead>
		<th>번호</th>
		<th>신고자</th>
		<th>피신고자</th>
		<th>사유</th>
		<th>신고날짜</th>
		<th>처리상태</th>
		</thead>
    <tbody id="reportList">
			<tr class="titlemodal" th:each="report : ${RList}">
				<td th:name="${report.reportNo}" th:text="${#strings.substring(report.reportNo,4)}"></td>
				<td th:text="${report.reporter}"></td>
				<td th:text="${report.dereporter}"></td>
				<td th:text="${report.reason}"></td>
				<td th:text="${report.reportDate}"></td>
				<td th:text="${report.status}"></td>
			</tr>
		</tbody>
</table>
</div>
</div>
		
		<!--================ 이전  =================-->
        <nav class="blog-pagination justify-content-center d-flex" id="pagegation">
		<ul class="pagination">
			<li class="page-item" th:if="${paging.startPage>1}">
				<a class="page-link" aria-label="Previous" th:value="${paging.startPage-1}">
				<span aria-hidden="true"><span class="lnr lnr-chevron-left pagePort"></span></span></a>
			</li>
	<!--================ 페이지 이동 1_2_3_4_5  =================-->
		<th:block th:each="pag:${#numbers.sequence(paging.startPage,paging.endPage)}">
		<li class="page-item" th:if="${pag != paging.page}" >
			<a class="page-link pagePort" th:value="${pag}" th:text ="${#numbers.formatInteger(pag,2)}"></a>
		</li>
  		<li class="page-item active" th:if="${pag==paging.page}" >
			<a class="page-link" th:text ="${#numbers.formatInteger(pag,2)}"></a>
		</li>
       </th:block>
	<!--================ 페이지 이동 1_2_3_4_5 끝 =================-->
	<!--================ 이후  =================-->
			<li class="page-item" th:if="${paging.endPage<paging.lastPage}">
			<a class="page-link pagePort" aria-label="Next" th:value="${paging.endPage+1}">
				<span aria-hidden="true"><span class="lnr lnr-chevron-right"></span></span></a>
			</li>
		</ul>
	</nav>

	
		<!--모달창-->
		<div id="my_modal">
				<div class="form-group">
					<label for="recipient-name" class="col-form-label">신고사유</label>
                    <span id="modaltitle"></span>
				</div>
				<div class="form-group">
					<label for="message-text" class="col-form-label">신고내용</label>
					<span id="modalcontent"></span>
				</div>
				<div class="form-group">
					<label for="message-text" class="col-form-label">처리</label>
					<select id="modalSelectBtn">
					<option value="reporting">신고처리</option>
					<option value="hold">보류</option>
					</select>
				</div>
                <button type="button" id="modalBtn">처리</button>
			<a class="modal_close_btn">닫기</a>
		</div>


	</body>
	<script th:inline="javascript">
		    /*<![CDATA[*/
			var header = [[${_csrf.headerName}]];
    		 var token = [[${_csrf.token}]];
    	   console.log(header);
    	   console.log(token);
    		/*]]>*/
		$('#modalBtn').on('click',function(){
			let value = $('#modalSelectBtn').val();
			let val;
			if(value=='hold'){
			console.log('보류처리')
			val = "0";
			}else if(value=='reporting'){
			console.log('신고처리')
			val = "1";
			}			
			let rno = $('#my_modal').attr('name');
			let id = $('#my_modal').attr('value')
			console.log(rno);
			console.log(id);			
			$.ajax({
				url : '/own/admin/reportAccess',
				method : 'post',
				data : {rno,id,val},
				beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
				},		
				}).then(res=>{			
					console.log(res);
				})	
		})

	function modal(id) {
        var zIndex = 9999;
        var modal = document.getElementById(id);

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement('div');
        bg.setStyle({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            // 레이어 색갈은 여기서 바꾸면 됨
            backgroundColor: 'rgba(0,0,0,0.4)'
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        modal.querySelector('.modal_close_btn').addEventListener('click', function() {
            bg.remove();
            modal.style.display = 'none';
        });

        modal.setStyle({
            position: 'fixed',
            display: 'block',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

            // 시꺼먼 레이어 보다 한칸 위에 보이기
            zIndex: zIndex + 1,

            // div center 정렬
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        });
    }
	 Element.prototype.setStyle = function(styles) {
         for (var k in styles) this.style[k] = styles[k];
         return this;
     };

			$('#reportList').on('click','.titlemodal',function(){
			modal('my_modal');
			$('#my_modal').attr('value',$(this).children().eq(2).text())
			$('#my_modal').attr('name',$(this).children().eq(0).attr("name"))
			let rno = $(this).children().eq(0).attr("name")
			$.ajax({
				url : '/own/admin/selectReport',
				method : 'get',
				data : {rno}
			}).then(res=>{
                $('#modalform').append(`<input type="hidden" value="${res.reportNo}" name="questNo">`)
                $('#modaltitle').html(res.reason);
                $('#modalcontent').html(`<img src="/imgView/${res.content}" />`);
				console.log(res);
			})	
		})

		$('#pagegation').on('click', '.pagePort', function(){
			//페이지번호 + 밴드식별번호
			let page = $(this).attr('value');
			console.log($(this).attr('value'));
			$.ajax({
				url: '/own/reportListAjax?page='+page,
				method: 'get',
			}).then(result => {
				console.log(result);
				let tbody = $('#reportList');
				$(tbody).empty();
				$(result).each(function(idx, ele){
					let rno = ele.reportNo;
					rno = rno.substr(4);					
					let tag = `<tr class="titlemodal">
					<td name="${ele.reportNo}">${rno}</td>
					<td>${ele.reporter}</td>
					<td>${ele.dereporter}</td>
					<td>${ele.reason}</td>
					<td>${ele.reportDate}</td>
					<td>${ele.status}</td>
					</tr>`
					tbody.append(tag);
				})
				//페이지 버튼 만들기
				$('#pagegation').empty();
		         let pagingM = result[0].paging;
		         //시작 버튼
				 console.log(result[0]);
		         let startpageTag = $('<ul class="pagination" />');
		         $('#pagegation').append(startpageTag);
		         //이전 버튼만들기
		         if(pagingM.startPage>1){
		            let pageBeforTag = `<li class="page-item">
		                           <a class="page-link" aria-label="Previous" value=${pagingM.startPage-1}>
		                           <span aria-hidden="true"><span class="lnr lnr-chevron-left pagePort"></span></span></a>
		                           </li>`
		               startpageTag.append(pageBeforTag);               
		         }               
		         //페이지목록..
		         for(let pg = pagingM.startPage; pg<=pagingM.endPage; pg++){
		            if(pg != pagingM.page){
		               let pageTag = `<li class="page-item">
		                           <a class="page-link pagePort" value=${pg}>${pg}</a>
		                           </li>`
		               startpageTag.append(pageTag);
		            } else if(pg == pagingM.page ){
		               let pageTag =  `<li class="page-item active">
		                           <a class="page-link" >${pg}</a>
		                           </li>`
		               startpageTag.append(pageTag);
		            }
		         }               
		         //이후 버튼만들기
		         if(pagingM.endPage<pagingM.lastPage){
		            let pageAfterTag =`<li class="page-item">
		                           <a class="page-link pagePort" aria-label="Next" value=${pagingM.endPage+1}>
		                           <span aria-hidden="true"><span class="lnr lnr-chevron-right"></span></span></a>
		                           </li>`
		            startpageTag.append(pageAfterTag);
		         }
		         $('#pagegation').append(startpageTag)
		      })
		})


	</script>
</div>
</html>