<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div layout:fragment="content">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    body {
      min-height: 100vh;
    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>
<body>
        <h1>회원가입 홈페이지</h1>
        
       <div id = "container">
        <div class="input-form-backgroud row">
            <div class="input-form col-md-12 mx-auto">
              <h4 class="mb-3">회원가입</h4>
              
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">아이디</label>
                        <input type="text" class="form-control" id="u_id" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            아이디를 입력해주세요.
                        </div>
                    </div>
                    <button type="submit" style="WIDTH: 60pt; HEIGHT: 30px">중복체크</button>
                </div>
                <div class="row">                    
                    <div class="col-md-6 mb-3">
                        <label for="nickname">비밀번호</label>
                        <input type="text" class="form-control" id="u_pw" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            비밀번호를 입력해주세요.
                        </div>
                    </div>      
                    <div class="col-md-6 mb-3">
                        <label for="nickname">비밀번호 확인</label>
                        <input type="text" class="form-control" id="u_pw2" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            비밀번호를 입력해주세요.
                        </div>
                    </div>      
                </div>
      			
                <div class="mb-3">
                    <label for="email">이름</label>
                    <input type="email" class="form-control" id="u_name" placeholder="이름을 입력해 주세요" required>
                    <div class="invalid-feedback">
                      이름을 입력해주세요.
                    </div>
                  </div>

                <div class="mb-3">
                  <label for="email">이메일</label>
                  <input type="email" class="form-control" id="u_email" placeholder="you@example.com" required>
                  <div class="invalid-feedback">
                    이메일을 입력해주세요.
                  </div>
                </div>
      			
                <div class="mb-3">
                  <label for="address">전화번호</label>
                  <input type="text" class="form-control" id="u_tel" placeholder="-없이 입력해주세요.." required>
                  <div class="invalid-feedback">
                    전화번호를 입력해주세요.
                  </div>
                </div>
                
                <div class="column">
                <div class="mb-3">
                  <label for="address2">생년월일</label>
                  <input id="u_birth" type="date">
                </div>
      
                  <div class="col-md-8 mb-3">
                    <label for="root">성별
                        <input type="radio" name="u_gen" value="GD01" checked="checked">남
                        <input type="radio" name="u_gen" value="GD02">여
                    <div class="invalid-feedback">
                      성별을 선택해주세요.
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="code">관심운동</label>
                    <select id="exersub2">
                        <option value="none"></option>
                    </select>
                    <div class="invalid-feedback">
                      관심운동을 선택해주세요.
                    </div>
                  </div>
                </div>
                <hr class="mb-4">
                <div class="mb-4"></div>
                <button type="button" id="btnsignin">가입 완료</button>              
            </div>
        </div>
        </div>
        <script>
        
        
        $.ajax({
			url : '/common/exersub',
			method : 'get',
			//dataType : 'object' ,//응답결과랑 타입이 같아야함
			contentType : "application/json" //json으로 보낼때 타입이 이렇다..
		}).then(res=>{
			for(sub of res){
				$("#exersub").append(makeSub(sub));
                
				$("#exersub2").append(makeSub(sub));
			}
		})
        
		
		function makeSub(sub){
        let tag = `<option value="${sub.exersubNo}">${sub.exersubNo}${sub.exersubName}</option>`

		return tag;
		}
		
        	
    		$('#btnsignin').on("click",function(){
    			let id = $('#u_id').val();
                let passwd = $('#u_pw').val();
                let name = $('#u_name').val();
                let email = $('#u_email').val();
                let tel = $('#u_tel').val();
                let birthday = $('#u_birth').val();
                let gender = $('[name=u_gen]:checked').val();
                console.log(gender);
                $.ajax({
    				url : '/own/userInfo',
    				method : 'post',
    				// json형태면 JSON.stringify ((무조건)) 넣기..
    				data :  JSON.stringify({userId:id,
    									   userPasswd:passwd,
    									   userName:name,
    									   userEmail:email,
    									   userPhone:tel,
    									   userBirthday:birthday,
    									   userGender:gender}),
    				//dataType : 'object' ,//응답결과랑 타입이 같아야함
    				contentType : "application/json" //json으로 보낼때 타입이 이렇다..
    			}).then(res=>{
    				if(res){
    					alert('회원가입 완료')
    					location.href="/own/home"
    				}else{
    					alert('회원가입 실패')
    				}
    			})
    		})
    	
        
        </script>
</body>
</div>
</html>