<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 구글 웹폰트 -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css"> 

        <!-- css, js, jquery -->
        <link rel="stylesheet" type="text/css" href="style.css"> 
        <script type="text/javascript" src="script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
#ui-id-1{
background-color: yellow
}
.profileImg{
	width:100px;
	height:50px;
}
</style>
</head>
<body>
<h2>자동완성 테스트</h2>
<input type="text" id="schoolInput" placeholder="학교를 입력하세요"
               onkeyup="search(this);">
               <div id="schoolList"></div>
        <h1 id="selected"></h1>
</body>
<script>

function search(target){
	  // elementary, middle, high
	    var schoolType = $('input[name="schoolType"]:checked').val(); 

	    $.ajax({
	        type: 'GET',
	        dataType: 'JSON',
	        url: '/own/sns/ListSearch', 
	        error: function(err){
	            console.log(err);
	        },
	        success: function(data){
	        	 var checkWord = $("#schoolInput").val();
	             var schoolList = $("#schoolList");
	             console.log(checkWord);

	             schoolList.empty();
	             console.log(data);
	             data.forEach((school)=>{
	                 if(school['snsNickname'].includes(checkWord)){
	                     schoolList.append(`<img class="profileImg" src="/imgView/${school['mediaServerFile']}">
	                    		 			<span style="cursor: pointer;" onclick="select(this);"> ${school['snsNickname']} </span> <br/>
	                    		 			`	);                
	                 }
	             })
	        }
	    })
	}    

      
</script>
</html>