<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
#ui-id-1{
background-color: yellow
}
</style>
</head>
<body>
<h2>자동완성 테스트</h2>
<input type="text" id="schoolInput" placeholder="학교를 입력하세요"
               onkeyup="search(this);">
</body>
<script>

function search(target){
	  // elementary, middle, high
	    var schoolType = $('input[name="schoolType"]:checked').val(); 

	    $.ajax({
	        type: 'GET',
	        dataType: 'JSON',
	        url: `asset/${schoolType}_school.json`, 
	        error: function(err){
	            console.log(err);
	        },
	        success: function(data){
	            var checkWord = $("#schoolInput").val();
	            var schoolList = $("#schoolList");
	            console.log(checkWord);

	            schoolList.empty();
	            data.forEach((school)=>{
	                if(school['name'].includes(checkWord)){
	                    schoolList.append(`<span style="cursor: pointer;" onclick="select(this);"> ${school['name']} </span> <br/>`);                
	                }
	            })
	        }
	    })
	}    

$(document).ready(function(){
	
	
	$.ajax({
	    url: '/own/sns/ListSearch',
	    method: 'get',
	  }).then(res=>{
		  console.log(res)
		  let array = new Array();
		  for(key in res){
			  array.push(res[key].snsNickname)
		  }
		  console.log(array)
		  $('#inputBox').autocomplete({
	          source : array,
	          minLength : 1,
	          scroll: true,
	          response:function(event,ui){
	        	  console.log(ui)
	        	  
	          },
	          classes : { // 위젯 요소에 추가 할 클래스를 지정
	              'ui-autocomplete' : 'highlight'
	          },	          
	  			select: function(event, ui) {	
	  					
				console.log(ui.item.value);
				//location.href="/own/snsFeed?snsNickname="+ui.item.value;
			}
	      });
		  }
	  )
	
})  
      
</script>
</html>