<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<h2>자동완성 테스트</h2>
<input type="text" id="inputBox">
</body>
<script>

$(document).ready(function(){
	
	$.ajax({
	    url: '/own/sns/ListSearch',
	    method: 'get',
	  }).then(res=>{
		  console.log(res)
		  let array = new Array();
		  for(key in res){
			  array.push(res[key].snsNickname)
		  }
		  console.log(array)
		  $('#inputBox').autocomplete({
	          source : array,
	          minLength : 1,
	          scroll: true,
	  			select: function(event, ui) {   
				console.log(ui.item.value);
				    location.href="/own/snsFeed?snsNickname="+ui.item.value;
			}
	      });
		  }
	  )
	
})  
      
</script>
</html>