<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>thymeleaf layout</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <!-- content script -->
    <!-- Style CSS -->
</head>
<body>
<h1>테스트페이지</h1>
<h1>참여중인 챌린저스명</h1>
<span th:each="chall : ${CList}">
<p th:text="${chall.challNo}"></p>
<p th:text="${chall.challTitle}"></p>
</span>
<h1>참여중인 밴드명</h1>
<span th:each="band : ${BList}">
<p th:text="${band.bandNo}"></p>
<p th:text="${band.bandName}"></p>
</span>
</body>
</html>